
<div class="modal fade" id="warrantyModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Warranty</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Warranty Name<span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtWarranty" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" id="txtDescription" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Duration <span class="danger">*</span></label>

                            <div class="input-group">
                                <input type="text" class="form-control" id="txtDurationNo" placeholder="">
                                <span class="input-group-append">
                                    <select class="form-control" id="ddlDuration">
                                        <option value="Days">Days</option>
                                        <option value="Months">Months</option>
                                        <option value="Years">Years</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertWarranty()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="unitModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Unit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Unit Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtUnitName" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Unit Short Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtUnitShortName" placeholder="">
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertUnit()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="secondaryUnitModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Secondary Unit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Secondary Unit Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtSecondaryUnitName" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Secondary Unit Short Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtSecondaryUnitShortName" placeholder="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertSecondaryUnit()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="tertiaryUnitModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Tertiary Unit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Tertiary Unit Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtTertiaryUnitName" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tertiary Unit Short Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtTertiaryUnitShortName" placeholder="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertTertiaryUnit()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="quaternaryUnitModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Quaternary Unit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Quaternary Unit Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtQuaternaryUnitName" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Quaternary Unit Short Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtQuaternaryUnitShortName" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertQuaternaryUnit()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="brandModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Brand</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label>Brand Code <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Leave blank to auto generate"></i></label>
                                <input type="text" class="form-control" id="txtBrandCode" placeholder="">
                            </div>
                        </div>*@
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Brand Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtBrand" placeholder="">
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertBrand()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="categoryModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label>Category Code <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Leave blank to auto generate"></i></label>
                                <input type="text" class="form-control" id="txtCategoryCode" placeholder="">
                            </div>
                        </div>*@
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Category Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtCategory" placeholder="">
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertCategory()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="subCategoryModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Sub Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!--<div class="col-sm-6">-->
                    <!-- text input -->
                    <!--<div class="form-group">
                            <input type="text" class="form-control" id="txtSubCategoryCode" placeholder="">
                        </div>
                    </div>-->
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label>Category <span class="danger">*</span></label>
                                <div class="input-group">
                                    <select class="form-control select2" style="width: 100%;" id="ddlNewCategory">
                                        @foreach (var item in ViewBag.Categories)
                                        {
                                            <option value="@item.CategoryId">@item.Category</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Sub Category Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtSubCategory" placeholder="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertSubCategory()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="subSubCategoryModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Sub Sub Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label>Sub Sub Category Code <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Leave blank to auto generate"></i></label>
                                <input type="text" class="form-control" id="txtSubSubCategoryCode" placeholder="">
                            </div>
                        </div>*@
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label>Category <span class="danger">*</span></label>
                                <div class="input-group">
                                    <select class="form-control select2" style="width: 100%;" id="ddlModalCategory" onchange="fetchActiveModalSubCategories()">
                                        <option value="0">Select</option>
                                        @foreach (var item in ViewBag.Categories)
                                        {
                                            <option value="@item.CategoryId">@item.Category</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>*@
                    @*<div class="col-sm-6" id="p_ModalSubCategories_Dropdown">
                            <label>Sub Category <span class="danger">*</span></label>
                            <div class="input-group">
                                <select class="form-control select2" style="width: 100%;" id="ddlModalSubCategory">
                                </select>
                            </div>

                        </div>*@
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Sub Sub Category Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtSubSubCategory" placeholder="">
                        </div>
                    </div>
                </div>
                @*<div class="row">

                    </div>*@

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertSubSubCategory()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="variationModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Variation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label>Variation Code  <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Leave blank to auto generate"></i></label>
                                <input type="text" class="form-control" id="txtVariationCode" placeholder="">
                                <small class="text-red font-weight-bold errorText" id="divVariationCode_M"></small>
                            </div>
                        </div>*@
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Variation Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtVariation" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divVariation_M"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="w-50">Variation Values <span class="danger">*</span></label>

                                <span class="input-group-append">
                                    <a href="javascript:vod(0)" class="btn btn-info btn-sm add-new-row"><i class="fas fa-plus"> Add</i></a>
                                </span>
                            </div>
                            <small class="text-red font-weight-bold errorText" id="divVariationDetails_M"></small>
                            <br />
                            <div id="addNewRow">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertVariation()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="taxModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content divTaxModal">
            <div class="modal-header">
                <h4 class="modal-title">Add Tax</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Tax Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtNewTax" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divTax_M"></small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Tax Rate(%) @*<span class="danger">*</span>*@</label>
                            <input type="number" class="form-control" id="txtNewTaxpercent" placeholder="" onkeypress="return onlyDecimalKey(event)">
                            <small class="text-red font-weight-bold errorText" id="divTaxPercent_M"></small>
                        </div>
                    </div>
                    @if (ViewBag.TaxTypes.Count != 0)
                    {
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Tax Type </label>
                                <div class="input-group">
                                    <select class="form-control select2" id="ddlNewTaxType">
                                        @foreach (var item in ViewBag.TaxTypes)
                                        {
                                            <option value="@item.TaxTypeId">@item.TaxType</option>
                                        }
                                    </select>
                                </div>
                                <small class="text-red font-weight-bold errorText" id="divTaxType"></small>
                            </div>
                        </div>
                    }
                    @*<div class="col-sm-4">
                            <div class="form-group">
                                <br />
                                <div class="checkbox icheck-turquoise">
                                    <input type="checkbox" id="chkNewForTaxGroupOnly" onchange="toggleForTaxGroupOnly(1)">
                                    <label for="chkNewForTaxGroupOnly" class="mt-2">
                                        For Tax Group only
                                        <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="If checked, this tax will not be displayed individually in dropdowns, only can be added in tax group"></i>
                                    </label>
                                </div>
                            </div>
                        </div>*@
                </div>
                <hr @((ViewBag.BusinessSetting.CountryId == 2) ? "hidden" : "") />
                <div class="row divNewAccounts" @((ViewBag.BusinessSetting.CountryId == 2) ? "hidden" : "")>
                    <div class="col-sm-4 mt-2" @((ViewBag.IsAccountsAddon == true && ViewBag.IsPurchaseAddon == true) ? "" : "hidden")>
                        <div class="form-group">
                            <label> Tax Account (Purchase) <span class="danger">*</span> <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Choose the account where this Tax will be linked when a purchase is made"></i></label>
                            <div class="input-group">
                                <select class="form-control select2" id="ddlNewPurchaseAccount">
                                    @{
                                        if (ViewBag.AccountSubTypes != null)
                                        {
                                            foreach (var item in ViewBag.AccountSubTypes)
                                            {
                                                if (item.Accounts.Count > 0)
                                                {
                                                    //if (item.Type == "Other Current Asset")
                                                    //{
                                                    <optgroup label="@item.DisplayAs">
                                                        @foreach (var inner in item.Accounts)
                                                        {
                                                            if (inner.Type == "Input Tax")
                                                            {
                                                                <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                            }

                                                        }
                                                    </optgroup>
                                                    //}
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-2" @(ViewBag.IsAccountsAddon == true ? "" : "hidden")>
                        <div class="form-group">
                            <label> Tax Account (Sales) <span class="danger">*</span> <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Choose the account where this Tax will be linked when a sales is made"></i></label>
                            <div class="input-group">
                                <select class="form-control select2" id="ddlNewSalesAccount">
                                    @{
                                        if (ViewBag.AccountSubTypes != null)
                                        {
                                            foreach (var item in ViewBag.AccountSubTypes)
                                            {
                                                if (item.Accounts.Count > 0)
                                                {
                                                    //if (item.Type == "Other Current Liability")
                                                    //{
                                                    <optgroup label="@item.DisplayAs">
                                                        @foreach (var inner in item.Accounts)
                                                        {
                                                            if (inner.Type == "Output Tax")
                                                            {
                                                                <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                            }

                                                        }
                                                    </optgroup>
                                                    //}
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-2" @(ViewBag.IsAccountsAddon == true ? "" : "hidden")>
                        <div class="form-group">
                            <label> Tax Account (Expense) <span class="danger">*</span> <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Choose the account where this Tax will be linked when a expense is made"></i></label>
                            <div class="input-group">
                                <select class="form-control select2" id="ddlNewExpenseAccount">
                                    @{
                                        if (ViewBag.AccountSubTypes != null)
                                        {
                                            foreach (var item in ViewBag.AccountSubTypes)
                                            {
                                                if (item.Accounts.Count > 0)
                                                {
                                                    //if (item.Type == "Other Current Asset")
                                                    //{
                                                    <optgroup label="@item.DisplayAs">
                                                        @foreach (var inner in item.Accounts)
                                                        {
                                                            if (inner.Type == "Input Tax")
                                                            {
                                                                <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                            }

                                                        }
                                                    </optgroup>
                                                    //}
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <a href="javascript:void(0)" onclick="toggleTaxModal('TaxGroup')">Add New Tax Group</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertTax()">Save changes</button>
            </div>
        </div>
        <div class="modal-content divTaxGroupModal hidden">
            <div class="modal-header">
                <h4 class="modal-title">Add Tax Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Tax Group Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtNewTaxGroup" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divTaxGroup_M"></small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Sub Taxes <span class="danger">*</span></label>
                            <div class="input-group">
                                <select id="ddlNewSubTax" class="select2" multiple="multiple" data-placeholder="" onchange="FetchTaxPercent()">
                                    @foreach (var item in ViewBag.TaxsForGroup)
                                    {
                                        if (item.CanDelete == true)
                                        {
                                            <option value="@item.TaxId">@item.Tax</option>
                                        }
                                    }
                                </select>
                                <span class="input-group-append">
                                    <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#taxInnerModal">+ </a>
                                </span>
                            </div>
                            <small class="text-red font-weight-bold errorText" id="divSubTax_M"></small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Tax Rate(%) @*<span class="danger">*</span>*@</label>
                            <input type="number" class="form-control" id="txtNewTaxpercentGroup" disabled>
                        </div>
                    </div>
                </div>
                @*<hr />
                    <div class="row divNewSubTaxAccounts">
                        <div class="col-sm-4 mt-2" @((ViewBag.IsAccountsAddon == true && ViewBag.IsPurchaseAddon == true) ? "" : "hidden")>
                            <div class="form-group">
                                <label> Tax Account (Purchase) <span class="danger">*</span> <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Choose the account where this Tax will be linked when a purchase is made"></i></label>
                                <div class="input-group">
                                    <select class="form-control select2" id="ddlNewSubTaxPurchaseAccount">
                                        @{
                                            if (ViewBag.AccountSubTypes != null)
                                            {
                                                foreach (var item in ViewBag.AccountSubTypes)
                                                {
                                                    if (item.Accounts.Count > 0)
                                                    {
                                                        <optgroup label="@item.DisplayAs">
                                                            @foreach (var inner in item.Accounts)
                                                            {
                                                                if (inner.Type == "Input Tax")
                                                                {
                                                                    <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                                }

                                                            }
                                                        </optgroup>
                                                    }
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mt-2" @(ViewBag.IsAccountsAddon == true ? "" : "hidden")>
                            <div class="form-group">
                                <label> Tax Account (Sales) <span class="danger">*</span> <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Choose the account where this Tax will be linked when a sales is made"></i></label>
                                <div class="input-group">
                                    <select class="form-control select2" id="ddlNewSubTaxSalesAccount">
                                        @{
                                            if (ViewBag.AccountSubTypes != null)
                                            {
                                                foreach (var item in ViewBag.AccountSubTypes)
                                                {
                                                    if (item.Accounts.Count > 0)
                                                    {
                                                        <optgroup label="@item.DisplayAs">
                                                            @foreach (var inner in item.Accounts)
                                                            {
                                                                if (inner.Type == "Output Tax")
                                                                {
                                                                    <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                                }

                                                            }
                                                        </optgroup>
                                                    }
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mt-2" @(ViewBag.IsAccountsAddon == true ? "" : "hidden")>
                            <div class="form-group">
                                <label> Tax Account (Expense) <span class="danger">*</span> <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Choose the account where this Tax will be linked when a expense is made"></i></label>
                                <div class="input-group">
                                    <select class="form-control select2" id="ddlNewSubTaxExpenseAccount">
                                        @{
                                            if (ViewBag.AccountSubTypes != null)
                                            {
                                                foreach (var item in ViewBag.AccountSubTypes)
                                                {
                                                    if (item.Accounts.Count > 0)
                                                    {
                                                        <optgroup label="@item.DisplayAs">
                                                            @foreach (var inner in item.Accounts)
                                                            {
                                                                if (inner.Type == "Input Tax")
                                                                {
                                                                    <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                                }

                                                            }
                                                        </optgroup>
                                                    }
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <a href="javascript:void(0)" onclick="toggleTaxModal('Tax')">Add New Tax </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertTaxGroup()">Save changes</button>
            </div>
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="taxInnerModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Tax</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Tax Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtNewTax_N" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divTax_N"></small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Tax Rate(%) @*<span class="danger">*</span>*@</label>
                            <input type="number" class="form-control" id="txtNewTaxpercent_N" placeholder="" onkeypress="return onlyDecimalKey(event)">
                            <small class="text-red font-weight-bold errorText" id="divTaxPercent_N"></small>
                        </div>
                    </div>
                    @if (ViewBag.TaxTypes.Count != 0)
                    {
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Tax Type </label>
                                <div class="input-group">
                                    <select class="form-control select2" id="ddlTaxType_N">
                                        @foreach (var item in ViewBag.TaxTypes)
                                        {
                                            <option value="@item.TaxTypeId">@item.TaxType</option>
                                        }
                                    </select>
                                </div>
                                <small class="text-red font-weight-bold errorText" id="divTaxType"></small>
                            </div>
                        </div>
                    }
                    <div class="col-sm-4">
                        <div class="form-group">
                            <br />
                            <div class="checkbox icheck-turquoise">
                                <input type="checkbox" id="chkForTaxGroupOnly_N" onchange="toggleForTaxGroupOnly(2)">
                                <label for="chkForTaxGroupOnly_N" class="mt-2">
                                    For Tax Group only
                                    <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="If checked, this tax will not be displayed individually in dropdowns, only can be added in tax group"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr @((ViewBag.BusinessSetting.CountryId == 2) ? "hidden" : "") />
                <div class="row divAccounts_N" @((ViewBag.BusinessSetting.CountryId == 2) ? "hidden" : "")>
                    <div class="col-sm-4 mt-2" @((ViewBag.IsAccountsAddon == true && ViewBag.IsPurchaseAddon == true) ? "" : "hidden")>
                        <div class="form-group">
                            <label> Tax Account (Purchase) <span class="danger">*</span> <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Choose the account where this Tax will be linked when a purchase is made"></i></label>
                            <div class="input-group">
                                <select class="form-control select2" id="ddlPurchaseAccount_N">
                                    @{
                                        if (ViewBag.AccountSubTypes != null)
                                        {
                                            foreach (var item in ViewBag.AccountSubTypes)
                                            {
                                                if (item.Accounts.Count > 0)
                                                {
                                                    //if (item.Type == "Other Current Asset")
                                                    //{
                                                    <optgroup label="@item.DisplayAs">
                                                        @foreach (var inner in item.Accounts)
                                                        {
                                                            if (inner.Type == "Input Tax")
                                                            {
                                                                <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                            }

                                                        }
                                                    </optgroup>
                                                    //}
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-2" @(ViewBag.IsAccountsAddon == true ? "" : "hidden")>
                        <div class="form-group">
                            <label> Tax Account (Sales) <span class="danger">*</span> <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Choose the account where this Tax will be linked when a sales is made"></i></label>
                            <div class="input-group">
                                <select class="form-control select2" id="ddlSalesAccount_N">
                                    @{
                                        if (ViewBag.AccountSubTypes != null)
                                        {
                                            foreach (var item in ViewBag.AccountSubTypes)
                                            {
                                                if (item.Accounts.Count > 0)
                                                {
                                                    //if (item.Type == "Other Current Liability")
                                                    //{
                                                    <optgroup label="@item.DisplayAs">
                                                        @foreach (var inner in item.Accounts)
                                                        {
                                                            if (inner.Type == "Output Tax")
                                                            {
                                                                <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                            }

                                                        }
                                                    </optgroup>
                                                    //}
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-2" @(ViewBag.IsAccountsAddon == true ? "" : "hidden")>
                        <div class="form-group">
                            <label> Tax Account (Expense) <span class="danger">*</span> <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Choose the account where this Tax will be linked when a expense is made"></i></label>
                            <div class="input-group">
                                <select class="form-control select2" id="ddlExpenseAccount_N">
                                    @{
                                        if (ViewBag.AccountSubTypes != null)
                                        {
                                            foreach (var item in ViewBag.AccountSubTypes)
                                            {
                                                if (item.Accounts.Count > 0)
                                                {
                                                    //if (item.Type == "Other Current Asset")
                                                    //{
                                                    <optgroup label="@item.DisplayAs">
                                                        @foreach (var inner in item.Accounts)
                                                        {
                                                            if (inner.Type == "Input Tax")
                                                            {
                                                                <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                            }

                                                        }
                                                    </optgroup>
                                                    //}
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertInnerTax()">Save changes</button>
            </div>
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="itemCodeModal" style="z-index:1050 !important">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add HSN/ SAC Code</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Type</label>
                            <div class="input-group">
                                <select class="form-control select2" id="ddlItemCodeType_N">
                                    <option value="HSN">HSN</option>
                                    <option value="SAC">SAC</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label id="lblCode">HSN Code <span class="danger">*</span></label>
                            <input type="text" class="form-control divCode_N_ctrl" id="txtCode_N" placeholder="Start typing to search">
                            <small class="text-red font-weight-bold errorText" id="divCode_N"></small>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Tax Preference</label>
                            <div class="input-group">
                                <select class="form-control select2" id="ddlTaxPreference_N" onchange="toggleTaxPreference1()">
                                    @foreach (var item in ViewBag.Taxs)
                                    {
                                        if (item.CanDelete == false)
                                        {
                                            <option value="@item.TaxId">@item.Tax</option>
                                        }
                                    }
                                    @*<option value="Taxable">Taxable</option>
                                        <option value="Non-Taxable">Non-Taxable</option>
                                        <option value="Out Of Scope">Out Of Scope</option>
                                        <option value="Non-GST Supply">Non-GST Supply</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 divTaxable_N">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Intra State Tax <span class="danger">*</span></label>
                            <div class="input-group divIntraStateTax_N_ctrl">
                                <select class="form-control select2" id="ddlIntraStateTax_N">
                                    <option value="0">Select</option>
                                    @foreach (var item in ViewBag.Taxs)
                                    {
                                        if (item.CanDelete == true)
                                        {
                                            if (item.TaxTypeId != 3)
                                            {
                                                <option value="@item.TaxId-@item.TaxPercent.ToString("0")">@item.Tax</option>
                                            }
                                        }
                                    }
                                </select>
                                @if (ViewBag.TaxListPermission.IsAdd == true)
                                {
                                    <span class="input-group-append">
                                        <a href="javascript:void(0)" class="btn btn-info" onclick="openTaxModal('IntraStateTax')">+ </a>
                                    </span>
                                }
                            </div>
                        </div>
                        <small class="text-red font-weight-bold errorText" id="divIntraStateTax_N"></small>
                    </div>
                    <div class="col-sm-6 divTaxable_N">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Inter State Tax <span class="danger">*</span></label>
                            <div class="input-group divInterStateTax_N_ctrl">
                                <select class="form-control select2" id="ddlInterStateTax_N">
                                    <option value="0">Select</option>
                                    @foreach (var item in ViewBag.Taxs)
                                    {
                                        if (item.CanDelete == true)
                                        {
                                            if (item.TaxTypeId == 3 || item.TaxTypeId == 5)
                                            {
                                                <option value="@item.TaxId-@item.TaxPercent.ToString("0")">@item.Tax</option>
                                            }
                                        }
                                    }
                                </select>
                                @if (ViewBag.TaxListPermission.IsAdd == true)
                                {
                                    <span class="input-group-append">
                                        <a href="javascript:void(0)" class="btn btn-info" onclick="openTaxModal('InterStateTax')">+ </a>
                                    </span>
                                }
                            </div>
                        </div>
                        <small class="text-red font-weight-bold errorText" id="divInterStateTax_N"></small>
                    </div>
                    <div class="col-sm-6 divNonTaxable_N" style="display:none">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Tax Exemption <span class="danger">*</span></label>
                            <div class="input-group divTaxExemption_N_ctrl">
                                <select class="form-control select2" id="ddlTaxExemption_N">
                                    <option value="0">Select</option>
                                    @foreach (var item in ViewBag.TaxExemptions)
                                    {
                                        <option value="@item.TaxExemptionId">@item.Reason</option>
                                    }
                                </select>
                                @if (ViewBag.TaxExemptionPermission.IsAdd == true)
                                {
                                    <span class="input-group-append">
                                        <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#taxExemptionModal">+ </a>
                                    </span>
                                }
                            </div>
                        </div>
                        <small class="text-red font-weight-bold errorText" id="divTaxExemption_N"></small>
                    </div>
                    <div class="col-sm-12">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="text" class="form-control" id="txtDescription_N" placeholder="Start typing to search"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertItemCode()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="taxExemptionModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Tax Exemption</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Reason <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtReason_TaxExemption" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divReason_TaxExemption"></small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Description </label>
                            <textarea class="form-control" id="txtDescription_TaxExemption"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6" style="display:none">
                        <div class="form-group">
                            <label>Type </label>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="rdbCustomer" name="customRadio">
                                <label for="rdbCustomer" class="custom-control-label">Customer</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="rdbItem" name="customRadio" checked>
                                <label for="rdbItem" class="custom-control-label">Item</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertTaxExemption()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="saltModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Salt</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body pb-0">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Salt Name <span class="danger">*</span></label>
                                <input type="text" class="form-control" id="txtSaltName" placeholder="">
                                <small class="text-red font-weight-bold errorText" id="divSaltName"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-outline collapsed-card m-3">
                    <div class="card-header bg-info" data-card-widget="collapse" title="Collapse">
                        <h3 class="card-title">More Info</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Indication</label>
                                    <textarea id="txtIndication"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Dosage</label>
                                    <textarea id="txtDosage"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Side Effects</label>
                                    <textarea id="txtSideEffects"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Special Precautions</label>
                                    <textarea id="txtSpecialPrecautions"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Drug Interactions</label>
                                    <textarea id="txtDrugInteractions"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Notes</label>
                                    <textarea id="txtNotes"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <label>TB Item <span class="danger service">*</span></label>
                                    <div class="input-group">
                                        <select class="form-control select2" id="ddlTBItem">
                                            <option value="Normal">Normal</option>
                                            <option value="Tb">Tb</option>
                                            <option value="Tramadol">Tramadol</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <div class="checkbox icheck-turquoise">
                                        <input type="checkbox" id="chkIsNarcotic" />
                                        <label for="chkIsNarcotic" class="mt-2">Is Narcotic</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <div class="checkbox icheck-turquoise">
                                        <input type="checkbox" id="chkIsScheduleH" />
                                        <label for="chkIsScheduleH" class="mt-2">Is ScheduleH</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <div class="checkbox icheck-turquoise">
                                        <input type="checkbox" id="chkIsScheduleH1" />
                                        <label for="chkIsScheduleH1" class="mt-2">Is ScheduleH1</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <div class="checkbox icheck-turquoise">
                                        <input type="checkbox" id="chkIsDiscontinued" />
                                        <label for="chkIsDiscontinued" class="mt-2">Is Discontinued</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <div class="checkbox icheck-turquoise">
                                        <input type="checkbox" id="chkIsProhibited" />
                                        <label for="chkIsProhibited" class="mt-2">Is Prohibited</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertSalt()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="faqModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FAQs</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="p-0 pl-2 pr-2">
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">What are Item Categories? How to use them?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    --  Item Categories allow for easier management of items by grouping similar items together. Your item categories will also be displayed in your Online Store to help your customers find what they need easily.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How to add custom item information like Expiry Date, Batch No, Size?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    --  IMS provides default item fields which are applicable for every industry. Incase you require to add custom item fields like Batch, Size, Color etc, you can do that by going to Item Settings and clicking on + Add Custom Field.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How to add MRP or Wholesale Price?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    --  MRP and Wholesale Price(along with minimum wholesale quantity) can be added to your items by enabling these options from Item Settings.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How do I add and update products?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    -- To add a new product, click on the 'Add' button at the top of the screen and then click on ‘Add New Product’.
                                    To update an existing product, click on the name of the product, make your changes and then click the ‘Save’ button.
                                    To delete an existing product, tick the box that is to the left of the product you would like to delete and then click the ‘Delete’ button at the top of the list.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How do I save a copy of a product?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Click on 'Action' button of an existing product.
                                    Click on 'Duplicate the product' button of an existing product.
                                    Edit the product name (this is required), and make any other relevant changes.
                                    Click on the ‘Save’ button.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How do I make a product inactive?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Onsight allows you stop a product from displaying in your catalogue by marking it as inactive. This is sometimes better than deleting a product since all the product information is retained but the product is not shown in the catalogue. To mark a product as inactive, follow these steps:

                                    Click on the name of the product you want to make active.
                                    Uncheck the box next to the ‘Active’ field.
                                    Click the ‘Save’ button at the bottom of the page.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">What are master products and variants?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    --A master product serves as a template for a group of products that are all variants of one another. Onsight uses the Master-Variant model for storing products with many variations.

                                    For each unique version of a product you should create a variant. An example of a variant is a ‘Blue T-shirt’. Another example might be a ‘Small T-shirt’. Variants can have different prices to one another. This allows the ‘Large T-shirt’ to be more expensive than the ‘Small T-shirt’. Or all your variants can be the same price.

                                    To add product variants, you first need to create a new product which will serve as the master product. The master product is never sold. It is just the template that the variants are based on. Add all the info in here that will be common for all the variants. e.g. a common description. Save this master product. Now create a new product to represent the first variation (i.e. a unique colour). When you are creating this second product record, be sure to choose a master product in the first field. All the info will be pre-loaded. You don’t need to type anything unless the variant has some specific information. Add a new image for the variant. Save the variant. Now, load the other variants in the same way.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    // Initialize autocomplete for HSN/SAC Code
    $('#txtCode_N').autocomplete({
        minLength: 2,
        source: function (request, response) {
            $.ajax({
                url: "/othersettings/ItemCodeAutocomplete",
                dataType: "json",
                type: "POST",
                data: {
                    Search: request.term,
                    ItemCodeType: $('#ddlItemCodeType_N').val()
                },
                success: function (data) {
                    if (data.Status == 0) {
                        if (EnableSound == 'True') { document.getElementById('error').play(); }
                        toastr.error(data.Message);
                    }
                    else if (data.Status == 2) {
                        if (EnableSound == 'True') { document.getElementById('error').play(); }
                        toastr.error('Invalid inputs, check and try again !!');
                        data.Errors.forEach(function (res) {
                            $('#' + res.Id).show();
                            $('#' + res.Id).text(res.Message);
                        });
                    }
                    else {
                        response(data.Data.ItemsArray);
                    }
                },
                error: function (xhr) {
                    // Handle error silently
                }
            });
        },
        select: function (event, ui) {
            var selectedValue = ui.item.value;
            var parts = selectedValue.split(' ~ ');
            if (parts.length === 2) {
                $('#txtCode_N').val(parts[0]);
                $('#txtDescription_N').val(parts[1]);
            }
            return false;
        }
    });

    // Initialize autocomplete for Description
    $('#txtDescription_N').autocomplete({
        minLength: 2,
        source: function (request, response) {
            $.ajax({
                url: "/othersettings/ItemCodeAutocomplete",
                dataType: "json",
                type: "POST",
                data: {
                    Search: request.term,
                    ItemCodeType: $('#ddlItemCodeType_N').val()
                },
                success: function (data) {
                    if (data.Status == 0) {
                        if (EnableSound == 'True') { document.getElementById('error').play(); }
                        toastr.error(data.Message);
                    }
                    else if (data.Status == 2) {
                        if (EnableSound == 'True') { document.getElementById('error').play(); }
                        toastr.error('Invalid inputs, check and try again !!');
                        data.Errors.forEach(function (res) {
                            $('#' + res.Id).show();
                            $('#' + res.Id).text(res.Message);
                        });
                    }
                    else {
                        response(data.Data.ItemsArray);
                    }
                },
                error: function (xhr) {
                    // Handle error silently
                }
            });
        },
        select: function (event, ui) {
            var selectedValue = ui.item.value;
            var parts = selectedValue.split(' ~ ');
            if (parts.length === 2) {
                $('#txtCode_N').val(parts[0]);
                $('#txtDescription_N').val(parts[1]);
            }
            return false;
        }
    });
</script>