
<div class="modal-header">
    <h4 class="modal-title">Salt Details</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card-body">
        <div class="card card-primary card-outline">
            <!-- form start -->
            <div id="quickForm">
                <div class="card-body pb-0">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Salt Name <span class="danger">*</span></label>
                                <input type="text" class="form-control" id="txtSaltName" placeholder="" value="@ViewBag.Salt.SaltName">
                                <small class="text-red font-weight-bold errorText" id="divSaltName"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-outline collapsed-card m-3">
                    <div class="card-header bg-info" data-card-widget="collapse" title="Collapse">
                        <h3 class="card-title">More Info</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Indication</label>
                                    <textarea id="txtIndication">@ViewBag.Salt.Indication</textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Dosage</label>
                                    <textarea id="txtDosage">@ViewBag.Salt.Dosage</textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Side Effects</label>
                                    <textarea id="txtSideEffects">@ViewBag.Salt.SideEffects</textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Special Precautions</label>
                                    <textarea id="txtSpecialPrecautions">@ViewBag.Salt.SpecialPrecautions</textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Drug Interactions</label>
                                    <textarea id="txtDrugInteractions">@ViewBag.Salt.DrugInteractions</textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Notes</label>
                                    <textarea id="txtNotes">@ViewBag.Salt.Notes</textarea>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>TB Item <span class="danger service">*</span></label>
                                    <div class="input-group">
                                        <select class="form-control select2" id="ddlTBItem">
                                            @{
                                                if (ViewBag.Salt.TBItem == "Normal")
                                                {
                                                    <option value="Normal" selected>Normal</option>
                                                }
                                                else
                                                {
                                                    <option value="Normal">Normal</option>
                                                }
                                                if (ViewBag.Salt.TBItem == "Tb")
                                                {
                                                    <option value="Tb" selected>Tb</option>
                                                }
                                                else
                                                {
                                                    <option value="Tb">Tb</option>
                                                }
                                                if (ViewBag.Salt.TBItem == "Tramadol")
                                                {
                                                    <option value="Tramadol" selected>Tramadol</option>
                                                }
                                                else
                                                {
                                                    <option value="Tramadol">Tramadol</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox icheck-turquoise">
                                        @if (ViewBag.Salt.IsNarcotic == true)
                                        {
                                            <input type="checkbox" id="chkIsNarcotic" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkIsNarcotic" />
                                        }
                                        <label for="chkIsNarcotic" class="mt-2">Is Narcotic</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox icheck-turquoise">
                                        @if (ViewBag.Salt.IsScheduleH == true)
                                        {
                                            <input type="checkbox" id="chkIsScheduleH" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkIsScheduleH" />
                                        }
                                        <label for="chkIsScheduleH" class="mt-2">Is ScheduleH</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox icheck-turquoise">
                                        @if (ViewBag.Salt.IsScheduleH1 == true)
                                        {
                                            <input type="checkbox" id="chkIsScheduleH1" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkIsScheduleH1" />
                                        }
                                        <label for="chkIsScheduleH1" class="mt-2">Is ScheduleH1</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox icheck-turquoise">
                                        @if (ViewBag.Salt.IsDiscontinued == true)
                                        {
                                            <input type="checkbox" id="chkIsDiscontinued" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkIsDiscontinued" />
                                        }
                                        <label for="chkIsDiscontinued" class="mt-2">Is Discontinued</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox icheck-turquoise">
                                        @if (ViewBag.Salt.IsProhibited == true)
                                        {
                                            <input type="checkbox" id="chkIsProhibited" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkIsProhibited" />
                                        }
                                        <label for="chkIsProhibited" class="mt-2">Is Prohibited</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-outline collapsed-card m-3">
                    <div class="card-header bg-info" data-card-widget="collapse" title="Collapse">
                        <h3 class="card-title">Substitutes</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        @{
                            var count = 1;
                            <div class="row mt-1">
                                <div class="col-sm-12">
                                    <h6 id="divSaltName">
                                        <span class=""></span>
                                    </h6>
                                </div>
                                <div class="col-sm-12 table-responsive">
                                    <table id="tblSaltItemsData" class="table table-bordered table-striped">
                                        <thead id="thead">
                                            <tr>
                                                <th style="">Sln</th>
                                                <th style="">Item Name</th>
                                                <th style="">Sku Code</th>
                                                <th>Stock</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            @foreach (var item in ViewBag.ItemDetails)
                                            {
                                                <tr>
                                                    <td>@(count)</td>
                                                    <td>
                                                        @if (ViewBag.ItemsPermission.IsView)
                                                        {
                                                            <a href="javascript:void(0)" onclick="ViewItem(@item.ItemId)">
                                                                @if (item.VariationName != "" && item.VariationName != null)
                                                                {
                                                                    <span>@item.ItemName (@item.VariationName)</span>
                                                                }
                                                                else
                                                                {
                                                                    @item.ItemName
                                                                }
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            if (item.VariationName != "" && item.VariationName != null)
                                                            {
                                                                <span>@item.ItemName (@item.VariationName)</span>
                                                            }
                                                            else
                                                            {
                                                                @item.ItemName
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (ViewBag.ItemsPermission.IsView)
                                                        {
                                                            <a href="javascript:void(0)" onclick="ViewItem(@item.ItemId)">@item.SKU</a>
                                                        }
                                                        else
                                                        {
                                                            @item.SKU
                                                        }
                                                    </td>
                                                    <td>
                                                        @*<a href="/inventoryreports/stockledger?ItemId=@item.ItemId&ItemDetailsId=@item.ItemDetailsId&BranchId=@ViewBag.BranchId"
                                                               id="Edit" data-toggle="tooltip" data-placement="bottom" title="Edit">
                                                                @(String.Format("{0:0.##}", item.Quantity)) @item.UnitName
                                                            </a>*@
                                                        @(String.Format("{0:0.##}", item.Quantity)) @item.UnitName
                                                    </td>
                                                </tr>
                                                count++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
</div>