
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Edit Warranty";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit warranty</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/settings/index">Settings</a></li>
                        <li class="breadcrumb-item"><a href="/itemsettings/warranties">Warranty List</a></li>
                        <li class="breadcrumb-item active">Edit Warranty</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                <a id="btnBack" href="/itemsettings/warranties" class="btn btn-warning float-sm-right"><i class="fas fa-arrow-left"></i> Back</a>
                @*<a href="javascript:void(0)" data-toggle="modal" data-target="#faqModal" class="btn btn-secondary float-sm-right mr-2">FAQs</a>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                    @*<h5><i class="fas fa-info"></i> Note:</h5>*@
                    Only the fields which are marked with <span class="text-danger">*</span> is mandatory. Rest all fields are optional and can be skipped
                    @*<button class="btn btn-info btn-sm" onclick="insert()"> Check Mandatory Fields</button>*@
                </div>
                <!-- jquery validation -->
                <div class="card card-primary card-outline">

                    <!-- form start -->
                    <div id="quickForm">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Warranty Name <span class="danger">*</span></label>
                                        <input type="text" class="form-control" id="txtWarranty" placeholder="" value="@ViewBag.Warranty.Warranty">
                                        <small class="text-red font-weight-bold errorText" id="divWarranty"></small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Duration <span class="danger">*</span></label>

                                        <div class="input-group">
                                            <input type="number" class="form-control" id="txtDurationNo" placeholder=""
                                                   value="@ViewBag.Warranty.DurationNo" onkeypress="return onlyNumberKey(event)">
                                            <span class="input-group-append">
                                                <select class="form-control" id="ddlDuration" vocab="@ViewBag.Warranty.Duration">
                                                    <option value="Days">Days</option>
                                                    <option value="Months">Months</option>
                                                    <option value="Years">Years</option>
                                                </select>
                                            </span>
                                        </div>
                                        <small class="text-red font-weight-bold errorText" id="divDurationNo"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" id="txtDescription" value="">@ViewBag.Warranty.Description</textarea>
                                        @*<input type="text" class="form-control" id="txtDescription" placeholder="" value="@ViewBag.Warranty.Description">*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right" onclick="update(1)">Submit</button>
                            <button id="btnUpdate_AddAnother" type="submit" class="btn btn-success float-right mr-2" onclick="update(2)"><i class="fas fa-plus-circle"></i> Update & Add Another</button>
                            @*<a id="btnBack" href="/items/warranties" class="btn btn-warning float-sm-right mr-2"><i class="fas fa-arrow-left"></i> Back</a>*@
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<div class="modal fade" id="faqModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FAQs</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="p-0 pl-2 pr-2">
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">What is warranty of a product?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    A warranty is a product manufacturer or service provider's documented guarantee of quality as promised to a customer. Warranties provide customers with legally-ensured service replacement or correction of issues insofar as the warranty stipulates in its conditions, for the duration of its term.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How do product warranties work?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    With a full warranty, a company guarantees to repair or replace a faulty product during the warranty period. If the product is damaged or defective, companies offering a full warranty must repair or replace it within a reasonable time. A limited warranty works similarly, but with greater restrictions.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">What is the importance of product warranties?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    A warranty is a guarantee provided by the manufacturer of a product. It assures you the things you buy are of good quality and don't contain manufacturing defects. Warranties give consumers the right to ask the manufacturer to deal with any issues according to their terms and conditions.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">Warranty vs. Guarantee</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Warranty and guarantee are often used interchangeably, but they have subtle differences. Both require sellers to act on certain promises regarding their offerings. However, the difference lies with the level of confidence expressed by the manufacturer regarding the product's quality and functionality.
                                    A warranty is a guarantee from a seller that if their product fails to meet certain specifications, a remedy is available. A warranty describes the conditions in which the seller is liable, as well as what conditions are excluded. Although the buyer does not pay a separate cost for the warranty, the price of the warranty is included in the price of the product.
                                    A guarantee is a promise or assurance from the manufacturer or seller that the product will work as described or meet certain quality standards. If not, it will be fixed or replaced. Guarantees are of no cost to the buyer and can be offered on products and services.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/JQuery/Customer/Settings/ItemSettings/Warranties.js"></script>