@{
    ViewBag.Title = Request.Cookies["adata"].Value.Split('&')[8].Split('=')[1] + " | Sales Summary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sales Summary</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admindashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Sales Summary</li>
                    </ol>
                </div>
            </div>
            @*<div class="col-sm-6">
                    @if (ViewBag.MenuPermission.IsAdd)
                    {
                        <a id="btnNew" href="/master/cityadd" class="btn btn-primary float-sm-right mr-2"><i class="fas fa-plus"></i> Add New</a>
                    }

                </div>*@
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">

                <!--<div class="card  card-primary card-outline collapsed-card">
                    <div class="card-header" data-card-widget="collapse" title="Collapse">
                        <h3 class="card-title">Filter</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus"></i>
                            </button>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Date Range:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="txtDateRange" value="@(ViewBag.FromDate.ToString(Request.Cookies["aBusinessSetting"].Value.Split('&')[0].Split('=')[1]) +" - "+ViewBag.ToDate.ToString(Request.Cookies["aBusinessSetting"].Value.Split('&')[0].Split('=')[1]))">
                                    </div>
                                </div>
                            </div>-->
                @*<div class="col-sm-3">
                        <div class="form-group">
                            <label>From Date</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="date" class="form-control float-right" id="txtFromDate" value="@(ViewBag.FromDate == null ? ViewBag.FromDate : ViewBag.FromDate.ToString("yyyy-MM-dd"))">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>To Date</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="date" class="form-control float-right" id="txtToDate" value="@(ViewBag.FromDate == null ? ViewBag.FromDate : ViewBag.FromDate.ToString("yyyy-MM-dd"))">
                            </div>
                        </div>
                    </div>*@
                <!--<div class="col-sm-3">
                                <div class="form-group">
                                    <label> Status</label>
                                    <select class="form-control select2" id="ddlPaymentStatus" style="width: 100%;">
                                        <option value="">All</option>
                                        <option value="2">Paid</option>
                                        <option value="1">Unpaid</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Invoice#</label>
                                    <input type="text" class="form-control" id="txtReferenceNo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right mt-2" onclick="fetchList(1)">Search</button>
                        <button type="submit" class="btn btn-warning float-right mt-2 mr-2" onclick="window.location.reload()">Refresh</button>
                    </div>
                </div>-->
                <div class="card  card-primary card-outline">
                    @*<div class="card-header">
                            <h5>
                                <span class="success" id="divTotalCount">
                                    Total : 0
                                </span>

                            </h5>
                        </div>*@
                    <div class="card-body">
                        <div id="tblUserRole_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            @*<div class="dataTables_length noPrint" id="tblUserRole_length">
                                    <label>
                                        Show
                                        <select name="tblUserRole_length" aria-controls="tblUserRole" class="custom-select custom-select-sm form-control form-control-sm"
                                                onchange="fetchList(1)" id="txtPageSize">
                                            @{
                                                if (ViewBag.PageSize == 10)
                                                {
                                                    <option value="10" selected>10</option>
                                                }
                                                else
                                                {
                                                    <option value="10">10</option>
                                                }
                                                if (ViewBag.PageSize == 25)
                                                {
                                                    <option value="25" selected>25</option>
                                                }
                                                else
                                                {
                                                    <option value="25">25</option>
                                                }
                                                if (ViewBag.PageSize == 50)
                                                {
                                                    <option value="50" selected>50</option>
                                                }
                                                else
                                                {
                                                    <option value="50">50</option>
                                                }
                                                if (ViewBag.PageSize == 100)
                                                {
                                                    <option value="100" selected>100</option>
                                                }
                                                else
                                                {
                                                    <option value="100">100</option>
                                                }
                                                if (ViewBag.PageSize == 500)
                                                {
                                                    <option value="500" selected>500</option>
                                                }
                                                else
                                                {
                                                    <option value="500">500</option>
                                                }
                                            }
                                        </select> entries
                                    </label>
                                </div>

                                <div class="dt-buttons btn-group flex-wrap noPrint">
                                    <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToCsv()"><span>CSV</span></button>
                                    <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToExcel()"><span>Excel</span></button>
                                    <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="tblUserRole" type="button" onclick="printDiv('@ViewBag.Title')"><span>Print</span></button>
                                </div>
                                <div id="tblUserRole_filter" class="dataTables_filter noPrint"><label>Search:<input type="text" class="form-control form-control-sm" placeholder="" aria-controls="tblUserRole" id="txtSearch" onkeyup="fetchList(1)"></label></div>*@
                            <div class="row mt-1">
                                <div class="col-sm-12 table-responsive">
                                    <table id="tblData" class="table table-bordered table-striped">
                                        @{
                                            var count = 1;
                                            <thead id="thead">
                                                <tr>
                                                    <th>Sln</th>
                                                    <th>Month </th>
                                                    <th>Total Quantity </th>
                                                    <th>Total Sales</th>
                                                    @if (ViewBag.UserType == "whitelabel reseller")
                                                    {
                                                        <th>EquiBillBook's Commission</th>
                                                        <th>Whitelabel Commission</th>
                                                    }
                                                    <th>Reseller Commission</th>
                                                    <th>Payment Status </th>
                                                    <th class="hide noPrint">View</th>
                                                    @if (ViewBag.canPay == true)
                                                    {
                                                        <th class="hide noPrint">Pay Now</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody class="table-body">
                                                @foreach (var item in ViewBag.Transactions)
                                                {
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>
                                                            @(item.Month == 1 ? "January" : item.Month == 2 ? "February": item.Month == 3 ?"March":
                                                item.Month == 4 ?"April": item.Month == 5 ?"May": item.Month == 6 ?"June":
                                                item.Month == 7 ?"July": item.Month == 8 ?"August": item.Month == 9 ?"September":
                                                item.Month == 10 ?"October": item.Month == 11 ?"November":"December")-@item.Year
                                            </td>
                                            <td>@item.TotalNoOfSales</td>
                                            <td>@(item.CurrencySymbol)@(String.Format("{0:0.##}", item.TotalSales))</td>
                                            @if (ViewBag.UserType == "whitelabel reseller")
                                            {
                                                <td>@(item.CurrencySymbol)@(String.Format("{0:0.##}", item.RootAccountCommission)) @item.RootAccountCommissionPercent</td>
                                                <td>@(item.CurrencySymbol)@(String.Format("{0:0.##}", item.WhitelabelCommission))</td>
                                            }
                                            <td>@(item.CurrencySymbol)@(String.Format("{0:0.##}", item.ResellerCommission))</td>
                                            <td>
                                                @if (item.IsPaid == false)
                                                {
                                                    <span class="bg-danger p-1">Unpaid</span>
                                                }
                                                else
                                                {
                                                    <span class="bg-success p-1">Paid</span>
                                                }
                                            </td>
                                            <td>
                                                <a href="/AdminUser/SalesByMonth?Month=@item.Month&Year=@item.Year&UserId=@item.UserId&Under=@(item.Under)"> View</a>
                                            </td>
                                            @if (ViewBag.canPay == true)
                                            {
                                                <td>
                                                    @if (item.IsPaid == false)
                                                    {
                                                        <a href="javascript:void(0)" onclick="PayNow(@item.Month,@item.Year,@item.UserId,@(String.Format("{0:0.##}", item.PayableCommission)))"> Pay Now</a>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                        count++;
                                    }
                                            </tbody>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script src="~/Content/JQuery/Admin/SalesSummary.js"></script>
