
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Tax List";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Tax Rates</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/settings/index">Settings</a></li>
                        <li class="breadcrumb-item active">Tax List</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                @if (ViewBag.MenuPermission.IsAdd)
                {
                    <div class="btn-group float-sm-right">
                        <a id="btnBack" href="/settings/index" class="btn btn-warning float-sm-right mr-2"><i class="fas fa-arrow-left"></i> Back</a>
                        <button type="button" class="btn btn-primary">Add New</button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="/taxsettings/taxadd"> Tax </a>
                            <a class="dropdown-item" href="/taxsettings/taxgroupadd">Tax Group</a>
                        </div>

                    </div>
                }
                @*<a href="javascript:void(0)" data-toggle="modal" data-target="#faqModal" class="btn btn-secondary float-sm-right mr-2">FAQs</a>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            @if (ViewBag.TaxTypes.Count != 0)
            {
                <div class="col-12">
                    <div class="card  card-primary card-outline collapsed-card">
                        <div class="card-header" data-card-widget="collapse" title="Collapse">
                            <h3 class="card-title">Filter</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">

                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Tax Type</label>
                                        <div class="input-group">
                                            <select class="form-control select2" id="ddlTaxType">
                                                <option value="0">All</option>
                                                @foreach (var item in ViewBag.TaxTypes)
                                                {
                                                    <option value="@item.TaxTypeId">@item.TaxType</option>
                                                }
                                            </select>
                                        </div>
                                        <small class="text-red font-weight-bold errorText" id="divTaxType"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right mt-2" onclick="fetchList(1)">Search</button>
                            <button type="submit" class="btn btn-warning float-right mt-2 mr-2" onclick="window.location.reload()">Refresh</button>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12">
                @*<div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                        <h5><i class="fas fa-info"></i> Note:</h5>
                        This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                    </div>*@
                <!-- /.card -->
                <div class="card  card-primary card-outline">
                    <div class="card-header">
                        <h5>
                            <span class="success" id="divTotalCount">
                                Total : 0
                            </span>
                            |
                            <span class="primary" id="divActiveCount">
                                Active : 0
                            </span>
                            |
                            <span class="danger" id="divInactiveCount">In-Active : 0</span>
                        </h5>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="tblUserRole_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="dataTables_length noPrint" id="tblUserRole_length">
                                <label>
                                    Show
                                    <select name="tblUserRole_length" aria-controls="tblUserRole" class="custom-select custom-select-sm form-control form-control-sm"
                                            onchange="fetchList(1)" id="txtPageSize">
                                        @{
                                            if (ViewBag.PageSize == 10)
                                            {
                                                <option value="10" selected>10</option>
                                            }
                                            else
                                            {
                                                <option value="10">10</option>
                                            }
                                            if (ViewBag.PageSize == 25)
                                            {
                                                <option value="25" selected>25</option>
                                            }
                                            else
                                            {
                                                <option value="25">25</option>
                                            }
                                            if (ViewBag.PageSize == 50)
                                            {
                                                <option value="50" selected>50</option>
                                            }
                                            else
                                            {
                                                <option value="50">50</option>
                                            }
                                            if (ViewBag.PageSize == 100)
                                            {
                                                <option value="100" selected>100</option>
                                            }
                                            else
                                            {
                                                <option value="100">100</option>
                                            }
                                            if (ViewBag.PageSize == 500)
                                            {
                                                <option value="500" selected>500</option>
                                            }
                                            else
                                            {
                                                <option value="500">500</option>
                                            }
                                        }
                                    </select> entries
                                </label>
                            </div>
                            @if (ViewBag.MenuPermission.IsExport)
                            {
                                <div class="dt-buttons btn-group flex-wrap noPrint">
                                    <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToCsv('@ViewBag.Title')"><span>CSV</span></button>
                                    <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToExcel('@ViewBag.Title')"><span>Excel</span></button>
                                    <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToPdf('@ViewBag.Title')"><span>PDF</span></button>
                                    <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="tblUserRole" type="button" onclick="printDiv('@ViewBag.Title')"><span>Print</span></button>
                                </div>
                            }
                            <div id="tblUserRole_filter" class="dataTables_filter noPrint"><label>Search:<input type="text" class="form-control form-control-sm" placeholder="" aria-controls="tblUserRole" id="txtSearch" onkeyup="fetchList(1)"></label></div>
                            <div class="row mt-1">
                                <div class="col-sm-12 table-responsive">
                                    <table id="tblData" class="table table-bordered table-striped">
                                        @Html.Partial("PartialTax")
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<div class="modal fade" id="faqModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FAQs</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="p-0 pl-2 pr-2">
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">What is a tax group?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    A tax group is a collection of taxes that can be applied as a single set of rules. For example, most of the booking events at your property are subject to a state sales tax of 4.0% and a local sales tax of 4.5%

                                    Examples of when to use tax groups:
                                    In the United States, you can combine state tax, transit tax, and city tax into one tax group so that when you create a sales invoice, you can select the tax group to be applied to the transaction.
                                    In Canada, each province has GST and PST, and rates vary for each province. You can create a tax group for each province, combining GST and PST.
                                    In Australia, GST is added after applying wine equalisation tax (WET) to the price of wine. You can combine WET and GST in one tax group.

                                    To create a tax group
                                    Go to Setup > Accounting > Taxes > Tax Groups > New.
                                    On the Tax Group page, enter an abbreviation in the Tax Name field.
                                    Enter a description of the tax group.
                                    Select a tax type.
                                    In the Name column, select a tax code and then click Add. You can select as many tax codes as applicable. The tax code rate and tax type are automatically populated from the selected tax code. The sum of the tax code rates will be the tax group rate and it will appear in the tax group's Rate field.
                                    Important:
                                    To make this tax group available for selection on a sales transaction, make sure that the tax codes in the tax group have Sales or Both in the Available on field of the tax code record. To make this tax group available for selection on a purchase transaction, make sure that the tax codes in the tax group have Purchases or Both in the Available on field of the tax code record.
                                    Enter a value in the Basis column for each tax code. The default value is 100, which represents the full rate. If the tax rate is 10% and the basis is 100, then 10% is added to the tax group rate. But if the tax rate is 10% and the basis is 50, then only 5% is added to the tax group rate.
                                    Click Save. Now, you can select this tax group when you create a transaction record.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/JQuery/Customer/Settings/TaxSettings/Tax.js"></script>
