
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Dashboard";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard </h1>
            </div>

            @*@if (ViewBag.Branchs.Count > 1)
            {*@
                <div class="col-sm-3 @(ViewBag.Branchs.Count >1 ? "":"hidden")"> <label class="float-right mt-2">Business Location</label></div>
                <div class="col-sm-3 @(ViewBag.Branchs.Count >1 ? "":"hidden")">
                    <select class="form-control float-sm-right" id="ddlBranch" onchange="fetchList(1)">
                        <option value="0">All</option>
                        @foreach (var item in ViewBag.Branchs)
                        {
                            <option value="@item.BranchId">@item.Branch</option>
                        }
                    </select>
                </div>
            @*}*@

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content" id="p_div">
    @Html.Partial("PartialDashboard")
</section>
<!-- /.content -->


<script src="~/Content/JQuery/Customer/Dashboard/Dashboard.js"></script>
