
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Stock Adjustments";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

                <h1>Stock Adjustments</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Stock Adjustments</li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-6">
                @if (ViewBag.MenuPermission.IsAdd)
                {
                    <a id="btnNew" href="/stockadjust/add" class="btn btn-primary float-sm-right mr-2"><i class="fas fa-plus"></i> Add New</a>
                    @*<a id="btnImport" href="/stockadjust/stockadjustmentImport" class="btn btn-info float-sm-right mr-2"><i class="fas fa-upload"></i> Import</a>*@
                }
                @*<a href="javascript:void(0)" data-toggle="modal" data-target="#faqModal" class="btn btn-secondary float-sm-right mr-2">FAQs</a>*@
            </div>
            <div class="col-sm-12">
                <span id="divAsof" class="text-gray"></span>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @*<div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                        <h5><i class="fas fa-info"></i> Note:</h5>
                        This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                    </div>*@
                <div class="card  card-primary card-outline collapsed-card">
                    <div class="card-header" data-card-widget="collapse" title="Collapse">
                        <h3 class="card-title">Filter</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus"></i>
                            </button>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            @if (ViewBag.Branchs.Count > 1)
                            {
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Business Location</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlBranch">
                                            <option value="0">All</option>
                                            @foreach (var item in ViewBag.Branchs)
                                            {
                                                if (ViewBag.BranchId == item.BranchId)
                                                {
                                                    <option value="@item.BranchId" selected>@item.Branch</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.BranchId">@item.Branch</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <label>Date Range:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="txtDateRange" value="@(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) +" - "+ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]))">
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control float-right" id="txtFromDate" value="@(ViewBag.FromDate == null ? ViewBag.FromDate : ViewBag.FromDate.ToString("yyyy-MM-dd"))">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control float-right" id="txtToDate" value="@(ViewBag.FromDate == null ? ViewBag.FromDate : ViewBag.FromDate.ToString("yyyy-MM-dd"))">
                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <label>Adjustment Type</label>
                                    <select class="form-control select2" id="ddlAdjustmentType" style="width: 100%;">
                                        <option value="">All</option>
                                        <option value="Credit">Credit</option>
                                        <option value="Debit">Debit</option>
                                    </select>
                                </div>
                            </div>
                            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <label>Stock Deduction Type </label>
                                    <select class="form-control" id="ddlStockDeductionType">
                                        <option value="Normal">Normal</option>
                                        <option value="Abnormal">Abnormal</option>
                                    </select>
                                </div>
                            </div>*@
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                <div class="form-group">
                                    <label>Reference No.</label>
                                    <input type="text" class="form-control" id="txtReferenceNo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right mt-2" onclick="fetchList(1)">Search</button>
                        <button type="submit" class="btn btn-warning float-right mt-2 mr-2" onclick="window.location.reload()">Refresh</button>
                    </div>
                </div>
            </div>
            <div class="col-12">

                <!-- /.card -->
                <div class="card  card-primary card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5>
                                    <span class="success" id="divTotalCount">
                                        Total : 0
                                    </span>
                                    |
                                    <span class="primary" id="divActiveCount">
                                        Active : 0
                                    </span>
                                    |
                                    <span class="danger" id="divInactiveCount">In-Active : 0</span>
                                </h5>
                            </div>
                            @*@if (ViewBag.Branchs.Count > 1)
                                {
                                    <div class="col-sm-6 text-right">
                                        <label>Business Location :</label>
                                        <label class="mb-0 font-weight-normal">
                                            <select class="form-control select2" style="width: 100%;" id="ddlBranch" onchange="fetchList(1)">

                                                @foreach (var item in ViewBag.Branchs)
                                                {
                                                    <option value="@item.BranchId">@item.Branch</option>
                                                }
                                            </select>
                                        </label>
                                    </div>
                                }*@
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="tblUserRole_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="dataTables_length noPrint" id="tblUserRole_length">
                                <label>
                                    Show
                                    <select name="tblUserRole_length" aria-controls="tblUserRole" class="custom-select custom-select-sm form-control form-control-sm"
                                            onchange="fetchList(1)" id="txtPageSize">
                                        @{
                                            if (ViewBag.PageSize == 10)
                                            {
                                                <option value="10" selected>10</option>
                                            }
                                            else
                                            {
                                                <option value="10">10</option>
                                            }
                                            if (ViewBag.PageSize == 25)
                                            {
                                                <option value="25" selected>25</option>
                                            }
                                            else
                                            {
                                                <option value="25">25</option>
                                            }
                                            if (ViewBag.PageSize == 50)
                                            {
                                                <option value="50" selected>50</option>
                                            }
                                            else
                                            {
                                                <option value="50">50</option>
                                            }
                                            if (ViewBag.PageSize == 100)
                                            {
                                                <option value="100" selected>100</option>
                                            }
                                            else
                                            {
                                                <option value="100">100</option>
                                            }
                                            if (ViewBag.PageSize == 500)
                                            {
                                                <option value="500" selected>500</option>
                                            }
                                            else
                                            {
                                                <option value="500">500</option>
                                            }
                                        }
                                    </select> entries
                                </label>
                            </div>
                            @if (ViewBag.MenuPermission.IsExport)
                            {
                               <div class="dt-buttons btn-group flex-wrap noPrint">
                                   <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToCsv('@ViewBag.Title')"><span>CSV</span></button>
                                   <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToExcel('@ViewBag.Title')"><span>Excel</span></button>
                                   <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToPdf('@ViewBag.Title')"><span>PDF</span></button>
                                   <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="tblUserRole" type="button" onclick="printDiv('@ViewBag.Title')"><span>Print</span></button>
                               </div>
                            }
                            <div id="tblUserRole_filter" class="dataTables_filter noPrint invisible"><label>Search:<input type="text" class="form-control form-control-sm" placeholder="" aria-controls="tblUserRole" id="txtSearch" onkeyup="fetchList(1)"></label></div>
                            <div class="row mt-1">
                                <div class="col-sm-12 table-responsive">
                                    <table id="tblData" class="table table-bordered table-striped">
                                        @Html.Partial("PartialStockAdjustment")
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<div class="modal fade" id="faqModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FAQs</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="p-0 pl-2 pr-2">
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">What is stock adjustment?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    A stock adjustment is the increase or reduction made to the stock so that the actual quantity on hand matches the stock shown in the system – basically, a correction in the records so that they agree with the physical count.
                                    Adjustment reasons vary. Positive inventory quantity adjustments are often due to the simplest: the addition of more inventory from production, or excess inventory that remains saleable, but did not sell. On the other hand, negative inventory quantity adjustments are often required to address:
                                    Waste: Expired or obsolete inventory (common in food and consumer goods).
                                    Breakage: Damaged inventory that cannot be legally sold as new.
                                    Shrinkage: Inventory lost to theft. Also called “stockloss.”
                                    Write-offs: Inventory lost to other reasons.
                                    Internal Use: Inventory items put to internal use or consumed by the company instead of being sold to the customer.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">Why Inventory Adjustments Matter</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Inventory fluctuations can wreak havoc on more than just your stockroom. When recorded inventory levels are lower than actual inventory counts (understated), the cost of goods sold rises artificially. Conversely, when actual inventory levels are lower than those recorded (overstated), the inverse occurs, and COGS is artificially lowered.
                                    In both cases, the adjusting entries necessary to reflect the true state of affairs can have a significant impact on your gross and net profits, your income statements, and, by extension, your company’s competitive advantage, financial agility, and overall health. Decision making, reporting, auditing, and budgeting can all be skewed to disastrous levels if your team is operating with incomplete or inaccurate information.
                                    As a result, inventory adjustments are absolutely crucial to responsible and strategically viable accounting practices.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How to Make Inventory Adjustments</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Imagine your company, Widgets, Inc., had a total cost of inventory (drawn from last year’s ending inventory) of $500,000 at the beginning of the accounting year. This amount is “locked in” until year-end, when a physical inventory count is taken. The physical inventory count reveals an actual cost of $570,000 for inventory.
                                    As a result, the accounts team makes an entry to adjust inventory as follows:
                                    The Inventory account is debited for $70,000.
                                    The Inventory Adjustment account is credited for $70,000.
                                    Widgets, Inc. also had a debit balance of $3,500,000 in the temporary account called Purchases for the current year.
                                    The Inventory Adjustment account is a special income statement account—one of the accounts carried forward to the company’s income statement from the general ledger—that, when added to the Purchases account, reveals the company’s cost of goods sold.
                                    To continue with our example, when the $70,000 credit balance in the Inventory Adjustment account is applied to the debit balance of $3,500,000 in Purchases, the result is a COGS total value of $3,430,000.
                                    $3,500,000 – $70,000 = $3,430,000
                                    The next year, Widgets, Inc. conducts another inventory count and finds their actual inventory cost is $320,000. But because their inventory records listed a debit balance of $570,000 last year, another inventory adjustment entry must be made:
                                    The Inventory account is credited for $250,000.
                                    The Inventory Adjustment account is debited for $250,000.
                                    This year, Widgets, Inc. had a debit balance of $3,250,000 in the Purchases account. Adding the debit amount in the Inventory Adjustment to the debit amount in Purchases produces a COGS value of $3,500,000.
                                    $3,250,000 + $250,000 = $3,500,000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="ViewModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="divView">
            @Html.Partial("PartialStockAdjustmentView")
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/JQuery/Customer/Items/StockAdjust.js"></script>