
<thead id="thead">
    <tr>
        <th>Saved As</th>
        @*<th>Online Payment Service</th>*@
        <th>Status</th>
        @*<th>Added By</th>*@
        <th>Added On</th>
        @*<th>Modified By</th>*@
        <th>Modified On</th>
        <th class="hide noPrint">Action</th>
    </tr>
</thead>
<tbody class="table-body">
    @foreach (var item in ViewBag.OnlinePaymentSettings)
    {
    <tr>
        <td>
            @item.SaveAs 
        </td>
        @*<td>
            @(item.OnlinePaymentService == 1 ? "Paypal" :"Razorpay")
        </td>*@
        <td class="hide">
            @if (item.IsDefault)
            {
                <span class="text-success text-decoration-none">Default</span>
            }
        </td>
        @*<td>@item.AddedByCode</td>*@
        <td>@item.AddedOn.ToString(Request.Cookies["aBusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["aBusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
        @*<td>@item.ModifiedByCode</td>*@
        <td>@(item.ModifiedOn != null ? item.ModifiedOn.ToString(Request.Cookies["aBusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["aBusinessSetting"].Value.Split('&')[1].Split('=')[1]) : "")</td>
        <td>
            <button class="btn btn-danger float-right btn-sm ml-2" onclick="DeleteOnlinePayment(@item.OnlinePaymentSettingsId,'@item.SaveAs')"><i class="fas fa-trash-alt"></i></button>
            <button class="btn btn-success float-right btn-sm" onclick="OnlinePaymentSetting(@item.OnlinePaymentSettingsId)"><i class="fas fa-edit"></i></button>
        </td>
    </tr>
        @*<div class="callout callout-success" style="width:100%">
                <h5>
                    @(item.OnlinePaymentService == 1 ? "Paypal" :"Razorpay")
                    <button class="btn btn-danger float-right btn-sm ml-2" onclick="DeleteOnlinePayment(@item.OnlinePaymentSettingsId,@item.OnlinePaymentService)"><i class="fas fa-trash-alt"></i></button>
                    <button class="btn btn-success float-right btn-sm" onclick="OnlinePaymentSetting(@item.OnlinePaymentSettingsId)"><i class="fas fa-edit"></i></button>
                </h5>

                <p>
                    Added By: @item.AddedByCode | Added On: @item.AddedOn.ToString(Request.Cookies["aBusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["aBusinessSetting"].Value.Split('&')[1].Split('=')[1])
                    @if (item.ModifiedByCode != "")
                    {
                        <br /> <span>Modified By: @item.ModifiedByCode | Modified On: @(item.ModifiedOn != null ? item.ModifiedOn.ToString(Request.Cookies["aBusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["aBusinessSetting"].Value.Split('&')[1].Split('=')[1]) : "")</span>
                    }
                    @if (item.IsDefault)
                    {<br /><span class="text-success text-decoration-none font-weight-bold">(Default Online Payment)</span>}
                </p>
            </div>*@
    }
</tbody>