
<div>
    <div class="row mt-3">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Online Payment Service <span class="danger">*</span>  </label>
                <select class="form-control" style="width: 100%;" id="ddlOnlinePaymentService" onchange="toggleOnlinePaymentService()" disabled>
                    @{
                        <option value="0">Select</option>
                        if (ViewBag.OnlinePaymentSetting.OnlinePaymentService == 1)
                        {
                            <option value="1" selected>Paypal</option>
                        }
                        else
                        {
                            <option value="1">Paypal</option>
                        }
                        if (ViewBag.OnlinePaymentSetting.OnlinePaymentService == 2)
                        {
                            <option value="2" selected>Razorpay</option>
                        }
                        else
                        {
                            <option value="2">Razorpay</option>
                        }
                    }
                </select>
                <small class="text-red font-weight-bold errorText" id="divOnlinePaymentService"></small>
            </div>
        </div>
        
    </div>
    @if (ViewBag.OnlinePaymentSetting.OnlinePaymentService == 1)
    {
        <div class="row divPaypal">
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                    <label>Paypal Client Id <span class="danger">*</span> </label>
                    <input type="text" class="form-control" id="txtPaypalClientId_E" placeholder="" value="@ViewBag.OnlinePaymentSetting.PaypalClientId">
                    <small class="text-red font-weight-bold errorText" id="divPaypalClientId_E"></small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Paypal Currency <span class="danger">*</span></label>
                    <div class="input-group">
                        <select class="form-control select2" id="ddlPaypalCurrency_E">
                            <option value="0">Select</option>
                            @foreach (var item in ViewBag.Currencys)
                            {
                                if (ViewBag.OnlinePaymentSetting.PaypalCurrencyId == item.CurrencyId)
                                {
                                    <option value="@item.CurrencyId" selected>@item.CurrencyName (@item.CurrencyCode) </option>
                                }
                                else
                                {
                                    <option value="@item.CurrencyId">@item.CurrencyName (@item.CurrencyCode) </option>
                                }
                            }
                        </select>
                        <span class="input-group-append">
                            <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#currencyModal">+ </a>
                        </span>
                    </div>
                    <small class="text-red font-weight-bold errorText" id="divPaypalCurrency_E"></small>
                </div>
            </div>
        </div>
    }

    @if (ViewBag.OnlinePaymentSetting.OnlinePaymentService == 2)
    {
        <div class="row divRazorpay">
            <div class="col-sm-4">
                <!-- text input -->
                <div class="form-group">
                    <label>Razorpay Key <span class="danger">*</span> </label>
                    <input type="text" class="form-control" id="txtRazorpayKey_E" placeholder="" value="@ViewBag.OnlinePaymentSetting.RazorpayKey">
                    <small class="text-red font-weight-bold errorText" id="divRazorpayKey_E"></small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Razorpay Currency <span class="danger">*</span></label>
                    <div class="input-group">
                        <select class="form-control select2" id="ddlRazorpayCurrency_E">
                            <option value="0">Select</option>
                            @foreach (var item in ViewBag.Currencys)
                            {
                                if (ViewBag.OnlinePaymentSetting.RazorpayCurrencyId == item.CurrencyId)
                                {
                                    <option value="@item.CurrencyId" selected>@item.CurrencyName (@item.CurrencyCode) </option>
                                }
                                else
                                {
                                    <option value="@item.CurrencyId">@item.CurrencyName (@item.CurrencyCode) </option>
                                }
                            }
                        </select>
                        <span class="input-group-append">
                            <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#currencyModal">+ </a>
                        </span>
                    </div>
                    <small class="text-red font-weight-bold errorText" id="divRazorpayCurrency_E"></small>
                </div>
            </div>

        </div>
    }

    <hr />

<div class="pb-2 row">
    <div class="col-sm-4">
        <!-- text input -->
        <div class="form-group">
            <label>Save As <span class="danger">*</span></label>
            <input type="text" class="form-control" id="txtPaymentServiceSaveAs_E" placeholder="" value="@ViewBag.OnlinePaymentSetting.SaveAs">
            <small class="text-red font-weight-bold errorText" id="divPaymentServiceSaveAs_E"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group"><br />
            <div class="checkbox icheck-turquoise">
                @if (ViewBag.OnlinePaymentSetting.IsDefault == true)
                {
                    <input type="checkbox" id="chkPaymentServiceIsDefault_E" checked>
                }
                else
                {
                    <input type="checkbox" id="chkPaymentServiceIsDefault_E">
                }
                <label for="chkPaymentServiceIsDefault_E" class="mt-2">Is Default</label>
            </div>
        </div>
    </div>
</div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary float-right ml-2" onclick="UpdateOnlinePaymentSettings()"><i class="fas fa-edit"></i> Update</button>
        <a id="btnBack" href="javascript:void(0)" class="btn btn-warning float-sm-right" onclick="toggleOnlinePayment(2)"><i class="fas fa-arrow-left"></i> Back</a>
    </div>
</div>
