
<div class="row mt-3">
    <div class="col-sm-4">
        <!-- text input -->
        <div class="form-group">
            <label>Mail Driver <span class="danger">*</span></label>
            <input type="text" class="form-control" value="SMTP" disabled>
        </div>
    </div>
    <div class="col-sm-4">
        <!-- text input -->
        <div class="form-group">
            <label>Server <span class="danger">*</span></label>
            <input type="text" class="form-control" id="txtSmtpServer_E" placeholder="" value="@ViewBag.EmailSetting.SmtpServer">
            <small class="text-red font-weight-bold errorText" id="divSmtpServer_E"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <!-- text input -->
        <div class="form-group">
            <label>Port <span class="danger">*</span></label>
            <input type="number" class="form-control" id="txtSmtpPort_E" placeholder="" value="@ViewBag.EmailSetting.SmtpPort">
            <small class="text-red font-weight-bold errorText" id="divSmtpPort_E"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <!-- text input -->
        <div class="form-group">
            <label>Username <span class="danger">*</span></label>
            <input type="text" class="form-control" id="txtSmtpUser_E" placeholder="" value="@ViewBag.EmailSetting.SmtpUser">
            <small class="text-red font-weight-bold errorText" id="divSmtpUser_E"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <!-- text input -->
        <div class="form-group">
            <label>Password <span class="danger">*</span></label>
            <input type="password" class="form-control" id="txtSmtpPass_E" placeholder="" value="@ViewBag.EmailSetting.SmtpPass">
            <small class="text-red font-weight-bold errorText" id="divSmtpPass_E"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <br>
        <div class="form-group">
            <div class="checkbox icheck-turquoise">
                @if (ViewBag.EmailSetting.EnableSsl == true)
                {
                    <input type="checkbox" id="chkEnableSsl_E" checked>
                }
                else
                {
                    <input type="checkbox" id="chkEnableSsl_E">
                }
                <label for="chkEnableSsl_E" class="mt-2">Enable Ssl</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <!-- text input -->
        <div class="form-group">
            <label>From Name <span class="danger">*</span></label>
            <input type="text" class="form-control" id="txtFromName_E" placeholder="" value="@ViewBag.EmailSetting.FromName">
            <small class="text-red font-weight-bold errorText" id="divFromName_E"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <!-- text input -->
        <div class="form-group">
            <label>Test Email <span class="danger">*</span></label>
            <input type="text" class="form-control" id="txtTestEmailId_E" placeholder="" value="@ViewBag.EmailSetting.TestEmailId">
            <small class="text-red font-weight-bold errorText" id="divTestEmailId_E"></small>
        </div>
    </div>
</div>
<hr />
<div class="pb-2 row">
    <div class="col-sm-4">
        <!-- text input -->
        <div class="form-group">
            <label>Save As <span class="danger">*</span></label>
            <input type="text" class="form-control" id="txtEmailSaveAs_E" placeholder="" value="@ViewBag.EmailSetting.SaveAs">
            <small class="text-red font-weight-bold errorText" id="divEmailSaveAs_E"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <br />
            <div class="checkbox icheck-turquoise">
                @if (ViewBag.EmailSetting.IsDefault == true)
                {
                    <input type="checkbox" id="chkEmailIsDefault_E" checked>
                }
                else
                {
                    <input type="checkbox" id="chkEmailIsDefault_E">
                }
                <label for="chkEmailIsDefault_E" class="mt-2">Is Default</label>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    @*<button type="submit" class="btn btn-secondary float-right ml-2" onclick="sendTestEmail()">Send Test Email</button>*@
    <button type="submit" class="btn btn-primary float-right ml-2" onclick="UpdateEmailSettings()"><i class="fas fa-edit"></i> Update</button>
    <a id="btnBack" href="javascript:void(0)" class="btn btn-warning float-sm-right" onclick="toggleEmailSetting(2)"><i class="fas fa-arrow-left"></i> Back</a>
</div>