

<thead id="thead">
    <tr>
        <th>Domain</th>
        @*<th>Status</th>*@
        <th>Added By</th>
        <th>Added On</th>
        <th>Modified By</th>
        <th>Modified On</th>
        <th class="hide noPrint">Action</th>
    </tr>
</thead>
<tbody class="table-body">
    @foreach (var item in ViewBag.PwaSettings)
    {
        <tr>
            <td>
                @item.Domain
            </td>
            @*<td class="hide">
                    @if (item.IsDefault)
                    {
                        <span class="text-success text-decoration-none">Default</span>
                    }
                </td>*@
            <td>@item.AddedByCode</td>
            <td>@item.AddedOn.ToString(Request.Cookies["aBusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["aBusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
            <td>@item.ModifiedByCode</td>
            <td>@(item.ModifiedOn != null ? item.ModifiedOn.ToString(Request.Cookies["aBusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["aBusinessSetting"].Value.Split('&')[1].Split('=')[1]) : "")</td>
            <td>
                <button class="btn btn-success float-right btn-sm" onclick="PwaSetting(@item.PwaSettingsId)"><i class="fas fa-edit"></i></button>
            </td>
        </tr>
    }
</tbody>
