
<div class="row mt-3">
    <div class="col-sm-4">
        <div class="form-group">
            <label>App Name (Long) <span class="danger">*</span> </label>
            <input type="text" class="form-control" id="txtPwaName" placeholder="" value="@ViewBag.PwaSetting.PwaName">
            <small class="text-red font-weight-bold errorText" id="divPwaName"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>App Name (Short) <span class="danger">*</span></label>
            <input type="text" class="form-control" id="txtPwaShortName" placeholder="" value="@ViewBag.PwaSetting.PwaShortName">
            <small class="text-red font-weight-bold errorText" id="divPwaShortName"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Background Color <span class="danger">*</span> </label>
            <input type="color" class="form-control" id="txtBackgroundColor" placeholder="" value="@ViewBag.PwaSetting.BackgroundColor">
            <small class="text-red font-weight-bold errorText" id="divBackgroundColor"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Theme Color <span class="danger">*</span> </label>
            <input type="color" class="form-control" id="txtThemeColor" placeholder="" value="@ViewBag.PwaSetting.ThemeColor">
            <small class="text-red font-weight-bold errorText" id="divThemeColor"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Image (48X48) <span class="danger">*</span> </label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="Image_48_48" accept='.png,.jpg,.jpeg' onchange="getPwaImageBase64('Image_48_48')">
                <label class="custom-file-label" for="Image_48_48">Choose file</label>
            </div>
            <img id="blahImage_48_48" src="@ViewBag.PwaSetting.Image_48_48" alt="" height="60" style="padding-top:10px;">
            <small class="text-red font-weight-bold errorText" id="divImage_48_48"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Image (72X72) <span class="danger">*</span> </label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="Image_72_72" accept='.png,.jpg,.jpeg' onchange="getPwaImageBase64('Image_72_72')">
                <label class="custom-file-label" for="Image_72_72">Choose file</label>
            </div>
            <img id="blahImage_72_72" src="@ViewBag.PwaSetting.Image_72_72" alt="" height="60" style="padding-top:10px;">
            <small class="text-red font-weight-bold errorText" id="divImage_72_72"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Image (96X96) <span class="danger">*</span> </label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="Image_96_96" accept='.png,.jpg,.jpeg' onchange="getPwaImageBase64('Image_96_96')">
                <label class="custom-file-label" for="Image_96_96">Choose file</label>
            </div>
            <img id="blahImage_96_96" src="@ViewBag.PwaSetting.Image_96_96" alt="" height="60" style="padding-top:10px;">
            <small class="text-red font-weight-bold errorText" id="divImage_96_96"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Image (128X128) <span class="danger">*</span> </label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="Image_128_128" accept='.png,.jpg,.jpeg' onchange="getPwaImageBase64('Image_128_128')">
                <label class="custom-file-label" for="Image_128_128">Choose file</label>
            </div>
            <img id="blahImage_128_128" src="@ViewBag.PwaSetting.Image_128_128" alt="" height="60" style="padding-top:10px;">
            <small class="text-red font-weight-bold errorText" id="divImage_128_128"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Image (144X144) <span class="danger">*</span> </label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="Image_144_144" accept='.png,.jpg,.jpeg' onchange="getPwaImageBase64('Image_144_144')">
                <label class="custom-file-label" for="Image_144_144">Choose file</label>
            </div>
            <img id="blahImage_144_144" src="@ViewBag.PwaSetting.Image_144_144" alt="" height="60" style="padding-top:10px;">
            <small class="text-red font-weight-bold errorText" id="divImage_144_144"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Image (152X152) <span class="danger">*</span> </label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="Image_152_152" accept='.png,.jpg,.jpeg' onchange="getPwaImageBase64('Image_152_152')">
                <label class="custom-file-label" for="Image_152_152">Choose file</label>
            </div>
            <img id="blahImage_152_152" src="@ViewBag.PwaSetting.Image_152_152" alt="" height="60" style="padding-top:10px;">
            <small class="text-red font-weight-bold errorText" id="divImage_152_152"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Image (192X192) <span class="danger">*</span> </label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="Image_192_192" accept='.png,.jpg,.jpeg' onchange="getPwaImageBase64('Image_192_192')">
                <label class="custom-file-label" for="Image_192_192">Choose file</label>
            </div>
            <img id="blahImage_192_192" src="@ViewBag.PwaSetting.Image_192_192" alt="" height="60" style="padding-top:10px;">
            <small class="text-red font-weight-bold errorText" id="divImage_192_192"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Image (284X284) <span class="danger">*</span> </label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="Image_284_284" accept='.png,.jpg,.jpeg' onchange="getPwaImageBase64('Image_284_284')">
                <label class="custom-file-label" for="Image_284_284">Choose file</label>
            </div>
            <img id="blahImage_284_284" src="@ViewBag.PwaSetting.Image_284_284" alt="" height="60" style="padding-top:10px;">
            <small class="text-red font-weight-bold errorText" id="divImage_284_284"></small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Image (512X512) <span class="danger">*</span> </label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="Image_512_512" accept='.png,.jpg,.jpeg' onchange="getPwaImageBase64('Image_512_512')">
                <label class="custom-file-label" for="Image_512_512">Choose file</label>
            </div>
            <img id="blahImage_512_512" src="@ViewBag.PwaSetting.Image_512_512" alt="" height="60" style="padding-top:10px;">
            <small class="text-red font-weight-bold errorText" id="divImage_512_512"></small>
        </div>
    </div>
</div>
<hr />
<div class="card-footer text-right">
    <a id="btnBack" href="javascript:void(0)" class="btn btn-warning " onclick="togglePwaSetting(2)"><i class="fas fa-arrow-left"></i> Back</a>
    <button type="submit" class="btn btn-primary ml-1 mt-2 mt-sm-0" onclick="updatePwaSettings()"><i class="fas fa-edit"></i> Update</button>
</div>