<div class="form-group">
    <label>City <span class="danger">*</span></label>
    <div class="input-group">
        <select class="form-control select2" id="ddlCity">
            @{
                if (ViewBag.Citys != null)
                {
                    foreach (var item in ViewBag.Citys)
                    {
                        if (ViewBag.Branch == null)
                        {
                            <option value="@item.CityId">@item.City</option>
                        }
                        else
                        {
                            if (ViewBag.Branch.CityId == item.CityId)
                            {
                                <option value="@item.CityId" selected>@item.City</option>
                            }
                            else
                            {
                                <option value="@item.CityId">@item.City</option>
                            }
                        }
                    }
                }
            }
        </select>
        <span class="input-group-append">
            <a href="javascript:void(0)" class="btn btn-info" onclick="openCityModal()">+ </a>
        </span>
    </div>
    <small class="text-red font-weight-bold errorText" id="divCity"></small>
</div>

