

<thead id="thead">
    <tr>
        <th>Saved As</th>
        <th>Status</th>
        @*<th>Added By</th>*@
        <th>Added On</th>
        @*<th>Modified By</th>*@
        <th>Modified On</th>
        <th class="hide noPrint">Action</th>
    </tr>
</thead>
<tbody class="table-body">
    @foreach (var item in ViewBag.EmailSettings)
    {
        <tr>
            <td>
                @item.SaveAs
            </td>
            <td class="hide">
                @if (item.IsDefault)
                {
                    <span class="text-success text-decoration-none">Default</span>
                }
            </td>
            @*<td>@item.AddedByCode</td>*@
            <td>@item.AddedOn.ToString(Request.Cookies["aBusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["aBusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
            @*<td>@item.ModifiedByCode</td>*@
            <td>@(item.ModifiedOn != null ? item.ModifiedOn.ToString(Request.Cookies["aBusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["aBusinessSetting"].Value.Split('&')[1].Split('=')[1]) : "")</td>
            <td>
                <button type="submit" class="btn btn-secondary float-right btn-sm ml-2" onclick="sendTestEmail(@item.EmailSettingsId)">Send Test Email</button>
                <button class="btn btn-danger float-right btn-sm ml-2" onclick="DeleteEmailSetting(@item.EmailSettingsId,'@item.SaveAs')"><i class="fas fa-trash-alt"></i></button>
                <button class="btn btn-success float-right btn-sm" onclick="EmailSetting(@item.EmailSettingsId)"><i class="fas fa-edit"></i></button>
                
            </td>
        </tr>
    }
</tbody>