
@{
    ViewBag.Title = Request.Cookies["adata"].Value.Split('&')[8].Split('=')[1] + " | Profile Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Profile Update</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admindashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Profile Update</li>
                    </ol>
                </div>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                @*<div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                        <h5><i class="fas fa-info"></i> Note:</h5>
                        This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                    </div>*@
                <!-- jquery validation -->
                <div class="card card-primary card-outline">

                    <!-- form start -->

                    <div id="quickForm">
                        <div class="card-body">
                            <div class="row">
                                <!--<div class="col-sm-3">-->
                                <!-- text input -->
                                <!--<div class="form-group">
            <label>User Code</label>
            <input disabled type="text" class="form-control" id="txtUsername" placeholder="" value="@ViewBag.User.Username">
        </div>
    </div>-->
                                @if (ViewBag.UserType == "Reseller")
                                {
                                    <div class="col-sm-12">
                                        <div class="">
                                            <label>Joining Link: </label> <span class="p-1 lblMarketingLink"> @(ViewBag.User.MarketingLink) </span>
                                            <a href="javascript:void(0)" class="bg-primary p-2" onclick="copyText('@(ViewBag.User.MarketingLink)')">COPY</a>
                                            @*<input disabled type="text" class="form-control" id="txtMarketingLink" placeholder="" value="@(ViewBag.User.MarketingLink)">*@
                                        </div>
                                    </div>
                                }

                                <div class="col-sm-12">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label class="text-danger">Commission: @(String.Format("{0:0.##}", ViewBag.User.CommissionPercent))%</label>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Name <span class="danger">*</span></label>
                                        <input type="text" class="form-control" id="txtName" placeholder="" value="@ViewBag.User.Name">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Mobile <span class="danger">*</span></label>
                                        <div class="input-group">
                                            @*<span class="input-group-append">
                        <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                    </span>*@
                                            <input type="text" class="form-control" id="txtMobileNo" placeholder="" value="@ViewBag.User.MobileNo"
                                                   onkeypress="return onlyNumberKey(event)" maxlength="10">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Alternative Mobile</label>
                                        <div class="input-group">
                                            @*<span class="input-group-append">
                        <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                    </span>*@
                                            <input type="text" class="form-control" id="txtAltMobileNo" placeholder="" value="@ViewBag.User.AltMobileNo"
                                                   onkeypress="return onlyNumberKey(event)" maxlength="10">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" disabled class="form-control" id="txtEmailId" placeholder="" value="@ViewBag.User.EmailId">
                                    </div>
                                </div>
                                @*<div class="col-sm-3">
            <div class="form-group">
                <label>Gender</label>
                <input disabled type="text" class="form-control" id="txtAltMobileNo" placeholder="" value="@ViewBag.User.Gender">
            </div>
        </div>*@
                                @*<div class="col-sm-3">
            <div class="form-group">
                <label>Date of Birth</label>
                <div class="input-group date" id="_DOB" data-target-input="nearest">
                    <input disabled id="txtDOB" value="@(ViewBag.User.DOB == null ? ViewBag.User.DOB : ViewBag.User.DOB.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]))" type="text" class="form-control datetimepicker-input" data-target="#_DOB" />
                    <div class="input-group-append" data-target="#_DOB" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>*@
                                <div class="col-sm-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Joining Date</label>
                                        <div class="input-group date" id="_JoiningDate" data-target-input="nearest">
                                            <input disabled id="txtJoiningDate" value="@(ViewBag.User.JoiningDate == null ? ViewBag.User.JoiningDate :ViewBag.User.JoiningDate.ToString(Request.Cookies["aBusinessSetting"].Value.Split('&')[0].Split('=')[1]))" type="text" class="form-control datetimepicker-input" data-target="#_JoiningDate" />
                                            <div class="input-group-append" data-target="#_JoiningDate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                        @*<input type="date" disabled class="form-control" id="txtJoiningDate" value="@(ViewBag.User.JoiningDate == null ? ViewBag.User.JoiningDate :ViewBag.User.JoiningDate.ToString("yyyy-MM-dd"))">*@
                                    </div>
                                </div>

                                @*<div class="col-sm-3">
            <div class="form-group">
                <label>Religion</label>
                <input disabled type="text" class="form-control" id="txtAltMobileNo" placeholder=""
                       value="@ViewBag.User.ReligionName">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Role </label>
                <div class="input-group">
                    <input disabled type="text" class="form-control" id="txtAltMobileNo"
                           placeholder="" value="@ViewBag.User.RoleName">
                </div>
            </div>
        </div>*@
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Valid Id Proof</label>
                                        @*<div class="custom-file">
                    <input type="file" id="ProfilePic" class="custom-file-input" accept='image/*' onchange="getProfileBase64()">
                    <label class="custom-file-label" for="Logo">Choose file</label>
                </div>*@
                                        <div></div>
                                        <img id="blah" src="@ViewBag.User.ProfilePic" alt="" height="60" style="padding-top:10px;">
                                    </div>
                                </div>
                                @*<div class="col-sm-3">
            <div class="form-group">
                <label>Business Location </label>
                <select class="select2" multiple="multiple" data-placeholder="" style="width: 100%;" id="ddlBranch" disabled>
                    <option value="0">Select</option>
                    @foreach (var item in ViewBag.Branchs)
                    {
                        <option value="@item.BranchId">@item.Branch</option>
                    }
                </select>
            </div>
        </div>*@
                            </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button id="btnUpdate" type="submit" class="btn btn-primary float-right" onclick="ProfileUpdate()"><i class="fas fa-edit"></i> Update</button>
                        </div>
                    </div>

                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script src="~/Content/JQuery/Admin/user.js"></script>
@*<script>
                $('#ddlBranch').val(@Html.Raw(Json.Encode(ViewBag.User.Branchs)));
    </script>*@
