
@{
    var count = 1;
    <thead id="thead">
        <tr>
            <th>Sln</th>
            <th>Item</th>
            <th>SKU</th>
            @*<th>Product Type</th>*@
            <th>Supplier Name</th>
            @*<th>Email Id</th>*@
            <th>Supplier Mobile No</th>
            <th>Reference No</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Total Unit Adjusted</th>
            <th>Unit Purchase Price (Inc. Tax)</th>
            <th>Sub Total (Inc. Tax)</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var item in ViewBag.PurchaseDetails)
        {

            <tr>
                <td>@(ViewBag.PageSize * (ViewBag.PageIndex - 1) + count)</td>
                <td>
                    @if (ViewBag.ItemsPermission.IsView)
                    {
                        <a href="javascript:void(0)" onclick="ViewItem(@item.ItemId)">
                            @item.ItemName
                            @if (item.VariationName != null)
                            {
                                <br /><span> Variation: @item.VariationName</span>
                            }
                        </a>
                    }
                    else
                    {
                        @item.ItemName
                        if (item.VariationName != null)
                        {
                            <br /><span> Variation: @item.VariationName</span>
                        }
                    }
                </td>
                <td>
                    @if (ViewBag.ItemsPermission.IsView)
                    {
                        <a href="javascript:void(0)" onclick="ViewItem(@item.ItemId)">@item.SKU</a>
                    }
                    else
                    {
                        @item.SKU
                    }
                </td>
                @*<td>@item.ProductType</td>*@
                @*<td>@item.emailid</td>*@
                <td>
                    @if (ViewBag.SuppliersPermission.IsView)
                    {
                        <a href="javascript:void(0)" onclick="ViewSupplier(@item.SupplierId)">@item.Name</a>
                    }
                    else
                    {
                        @item.Name
                    }
                </td>
                <td>
                    @if (ViewBag.SuppliersPermission.IsView)
                    {
                        <a href="javascript:void(0)" onclick="ViewSupplier(@item.SupplierId)">@item.MobileNo</a>
                    }
                    else
                    {
                        @item.MobileNo
                    }
                </td>
                <td>
                    @if (ViewBag.PurchasePermission.IsView)
                    {
                        <a href="javascript:void(0)" onclick="ViewPurchase(@item.PurchaseId)">@item.ReferenceNo</a>
                    }
                    else
                    {
                        @item.ReferenceNo
                    }
                </td>
                <td>@item.PurchaseDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
                <td>
                    @*@(String.Format("{0:0.##}", item.Quantity))*@
                    @if (Math.Round(item.Quantity) > 0)
                    {
                        @(String.Format("{0:0.##}", item.Quantity)) @item.UnitName
                    }
                    else
                    {
                        @(String.Format("{0:0.####}", item.Quantity)) @item.UnitName
                    }
                    @*@if (item.FreeQuantity != 0)
                        {
                            <span> + @(String.Format("{0:0.##}", item.FreeQuantity))</span>
                        }*@
                </td>
                <td>
                    <span class="danger">
                        Debit:
                        @if (Math.Round(item.AdjustedQuantityDebit) > 0)
                        {
                            @(String.Format("{0:0.##}", item.AdjustedQuantityDebit)) @item.UnitName
                        }
                        else
                        {
                            @(String.Format("{0:0.####}", item.AdjustedQuantityDebit)) @item.UnitName
                        } <br />
                    </span>
                    <span class="success">
                        Credit:
                        @if (Math.Round(item.AdjustedQuantityCredit) > 0)
                        {
                            @(String.Format("{0:0.##}", item.AdjustedQuantityCredit)) @item.UnitName
                        }
                        else
                        {
                            @(String.Format("{0:0.####}", item.AdjustedQuantityCredit)) @item.UnitName
                        }
                    </span>
                </td>
                <td>
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.PurchaseIncTax))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", item.PurchaseIncTax))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>
                <td>
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.AmountIncTax))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", item.AmountIncTax))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>

            </tr>
            count++;

        }
    </tbody>
    <tbody>
        <tr>
            <td colspan="9" data-title="Total" class="text-right"><b>Total</b></td>
            @*<td>
                    @(String.Format("{0:0.##}", ViewBag.TotalQuantity))
                    @if (ViewBag.TotalFreeQuantity != 0)
                    {
                        <span> + @(String.Format("{0:0.##}", ViewBag.TotalFreeQuantity))</span>
                    }
                </td>
                <td data-title="Total Amount">
                    @(String.Format("{0:0.##}", ViewBag.TotalAdjustedQuantity))
                </td>*@
            <td data-title="Total Amount">
                @{
                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                    {
                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalUnitCost))
                    }
                    else
                    {
                        @(String.Format("{0:0.##}", ViewBag.TotalUnitCost))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                    }
                }
            </td>
            <td data-title="Total Amount">
                @{
                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                    {
                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalAmountIncTax))
                    }
                    else
                    {
                        @(String.Format("{0:0.##}", ViewBag.TotalAmountIncTax))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                    }
                }
            </td>
            @*<td colspan="5"></td>*@
        </tr>
    </tbody>
    <tbody class="hide noPrint">
        <tr></tr>
        <tr>
            <td colspan="14">
                <div class="dataTables_info" id="tblUserRole_info_custom" role="status" aria-live="polite">Showing @(ViewBag.PageSize * (ViewBag.PageIndex - 1) + 1) to @(ViewBag.PageSize * ViewBag.CurrentPageIndex) of @ViewBag.TotalCount entries</div>
                @if (ViewBag.PageCount > 1)
                {
                    int j = 0;
                    <div class="dataTables_paginate paging_simple_numbers" id="tblUserRole_paginate_custom" style="float:right">
                        <ul class="pagination">
                            @if (ViewBag.CurrentPageIndex > 1)
                            {
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                                </li>
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = ViewBag.CurrentPageIndex; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                    <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                                </li>
                                if (j == 10)
                                {
                                    i = ViewBag.PageCount + 1;
                                }
                                j++;
                            }
                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                            {
                                <li class="paginate_button page-item next" id="tblUserRole_next">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    </tbody>

}

<script type="text/javascript">
    $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    @*$('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>
