



@{
    var Count = 1;
    <thead id="thead" class="thead">
        <tr>
            <th>Sln</th>
            <th>Brand</th>
            @*<th>Quantity Remaining</th>
                <th>Total Unit Purchased</th>*@
            <th>Total Purchase</th>
            <th>Total Debit Note</th>
        </tr>
    </thead>
    <tbody id="tbodyid" class="table-body">
        @foreach (var item in ViewBag.PurchaseDetails)
        {

            <tr>
                <td>@(ViewBag.PageSize * (ViewBag.PageIndex - 1) + Count)</td>

                <td>
                    @item.Name
                </td>
                @*<td>
                        @(String.Format("{0:0.##}", item.QuantityRemaining)) @item.UnitName
                    </td>
                    <td>@(String.Format("{0:0.##}", item.Quantity)) @item.UnitName</td>*@
                <td>
                    <a href="/purchasereports/PurchaseDetailsByBrand?BrandName=@(item.Name)&BrandId=@(item.BrandId)&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">
                        @{
                            if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                            {
                                @*@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", (item.AmountIncTax - item.ReturnedAmountIncTax)))*@
                                @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.AmountIncTax))
                            }
                            else
                            {
                                @*@(String.Format("{0:0.##}", (item.AmountIncTax - item.ReturnedAmountIncTax)))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]*@
                                @(String.Format("{0:0.##}", item.AmountIncTax))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                            }
                        }
                    </a>
                </td>
                <td>
                    <a href="/purchasereports/PurchaseReturnDetailsByBrand?BrandName=@(item.Name)&BrandId=@(item.BrandId)&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">
                        @{
                            if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                            {
                                @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.ReturnedAmountIncTax))
                            }
                            else
                            {
                                @(String.Format("{0:0.##}", item.ReturnedAmountIncTax))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                            }
                        }
                    </a>
                </td>
            </tr>
            Count++;
        }
    </tbody>
    <tbody class="hide noPrint">
        <tr></tr>
        <tr>
            <td colspan="7">
                <div class="dataTables_info" id="tblUserRole_info_custom" role="status" aria-live="polite">Showing @(ViewBag.PageSize * (ViewBag.PageIndex - 1)+1) to @(ViewBag.PageSize* ViewBag.CurrentPageIndex) of @ViewBag.TotalCount entries</div>
                @if (ViewBag.PageCount > 1)
                {
                    int j = 0;
                    <div class="dataTables_paginate paging_simple_numbers" id="tblUserRole_paginate_custom" style="float:right">
                        <ul class="pagination">
                            @if (ViewBag.CurrentPageIndex > 1)
                            {
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                                </li>
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = ViewBag.CurrentPageIndex; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                    <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                                </li>
                                if (j == 10)
                                {
                                    i = ViewBag.PageCount + 1;
                                }
                                j++;
                            }
                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                            {
                                <li class="paginate_button page-item next" id="tblUserRole_next">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    </tbody>
}
<script type="text/javascript">
    $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    @*$('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>



