



@{
    var count = 1;
    <thead id="thead">
        <tr>
            <th>Sln</th>
            <th>Download</th>
            <th>Import No</th>
            <th>Type</th>
            <th>Status</th>
            @*<th>Remarks</th>*@
            <th>Name</th>
            <th>Mobile No</th>
            <th>Email Id</th>
            @*<th>Added By</th>*@
            <th>Added On</th>
            @*<th>Modified By</th>
        <th>Modified On</th>*@
            <th class="hide noPrint">Action</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var item in ViewBag.OtherSoftwareImports)
        {
            <tr>
                <td>@(ViewBag.PageSize * (ViewBag.PageIndex - 1)+count)</td>
                <td><a href="@item.UploadPath" target="_blank">Download</a></td>
                <td>@item.ImportNo</td>
                <td>@item.Type</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="bg-warning p-1">Pending</span>
                    }
                    else if (item.Status == 2)
                    {
                        <span class="bg-success p-1">Uploaded</span>
                    }
                    else
                    {
                        <span class="bg-danger p-1">Rejected</span>
                    }
                </td>
                @*<td>@item.Remarks</td>*@
                <td>@item.Name</td>
                <td>@item.MobileNo</td>
                <td>@item.EmailId</td>
                @*<td>@item.AddedByCode</td>*@
                <td>@item.AddedOn.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
                <td class="hide noPrint">
                    @if (item.Status == 1)
                    {
                        <a href="javascript:void(0)" onclick="UpdateStatus(@item.OtherSoftwareImportId,2)" class="btn btn-success btn-sm" id="Edit" data-toggle="tooltip" data-placement="bottom" title="Edit"> Upload</a>
                        <a href="javascript:void(0)" onclick="UpdateStatus(@item.OtherSoftwareImportId,3)" class="btn btn-danger btn-sm" id="Delete" data-toggle="tooltip" data-placement="bottom" title="Delete">Reject</a>
                    }
                </td>
            </tr>
            count++;
        }
    </tbody>
    <tbody class="hide noPrint">
        <tr></tr>
        <tr>
            <td colspan="14">
                <div class="dataTables_info" id="tblUserRole_info_custom" role="status" aria-live="polite">Showing @(ViewBag.PageSize * (ViewBag.PageIndex - 1)+1) to @(ViewBag.PageSize* ViewBag.CurrentPageIndex) of @ViewBag.TotalCount entries</div>
                @if (ViewBag.PageCount > 1)
                {
                    int j = 0;
                    <div class="dataTables_paginate paging_simple_numbers" id="tblUserRole_paginate_custom" style="float:right">
                        <ul class="pagination">
                            @if (ViewBag.CurrentPageIndex > 1)
                            {
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                                </li>
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = ViewBag.CurrentPageIndex; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                    <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                                </li>
                                if (j == 10)
                                {
                                    i = ViewBag.PageCount + 1;
                                }
                                j++;
                            }
                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                            {
                                <li class="paginate_button page-item next" id="tblUserRole_next">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    </tbody>
}
<script type="text/javascript">
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    $('#divPendingCount').text('Pending : '+@Html.Raw(Json.Encode(ViewBag.PendingCount)));
    $('#divUploadedCount').text('Uploaded : ' +@Html.Raw(Json.Encode(ViewBag.UploadedCount)));
    $('#divRejectedCount').text('Rejected : '+@Html.Raw(Json.Encode(ViewBag.RejectedCount)));
</script>



