
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(ViewBag.PageTitle ?? ViewBag.BusinessSetting.BusinessName + " | Reset Password")</title>
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="@(ViewBag.MetaDescription ?? "Create a new password for your EquiBillBook GST billing software account. Secure password reset process with token validation.")">
    <meta name="keywords" content="@(ViewBag.MetaKeywords ?? "reset password EquiBillBook, create new password, password reset token")">
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="@(ViewBag.OgTitle ?? "Reset Password - EquiBillBook GST Billing Software")">
    <meta property="og:description" content="@(ViewBag.OgDescription ?? "Create a new password for your EquiBillBook account. Secure token-based password reset process.")">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@(ViewBag.CanonicalUrl ?? "https://equibillbook.com/resetpassword")">
    <meta property="og:image" content="@(ViewBag.OgImage ?? "https://equibillbook.com/Content/web-assets/images/innerbanner.png")">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@(ViewBag.TwitterTitle ?? "Reset Password - EquiBillBook")">
    <meta name="twitter:description" content="@(ViewBag.TwitterDescription ?? "Create a new password for your EquiBillBook GST billing software account. Secure password reset process.")">
    <meta name="twitter:image" content="@(ViewBag.TwitterImage ?? "https://equibillbook.com/Content/web-assets/images/innerbanner.png")">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="@(ViewBag.CanonicalUrl ?? "https://equibillbook.com/resetpassword")">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/assets/css/adminlte.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/Content/plugins/toastr/toastr.min.css">
    <link href="~/Content/assets/css/admin.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.jpeg" type="image/x-icon">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/home"><b>@ViewBag.BusinessSetting.BusinessName</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Reset Password</p>
                <div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="New Password" id="txtPassword">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="New Confirm Password" id="txtCPassword">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-8">
                <div class="icheck-primary">
                    <input type="checkbox" id="chkIsRememberMe">
                    <label for="chkIsRememberMe">
                        Remember Me
                    </label>
                </div>
            </div>*@
                        <div class="col-8">
                            @*<a href="/login" class="" onclick="login()">I remember my password</a>*@
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <a href="javascript:void(0)" class="btn btn-primary btn-block" onclick="ResetPassword()">Submit</a>
                        </div>
                        <!-- /.col -->
                    </div>
                    @*<p class="mb-0">
            <a href="/login" class="" onclick="login()">I already have a membership</a>
        </p>*@
                </div>

                <!-- /.social-auth-links -->
                @*<p class="mb-1">
                        <a href="/login">Login In</a>
                    </p>*@

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

    <!-- /.login-box -->

    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001; opacity: 0.8;display:none">
        <div class="overlay-wrapper">
            <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>
        </div>
    </div>

    <audio id="success"><source src="~/Content/Audio/success.mp3"></audio>
    <audio id="error"><source src="~/Content/Audio/error.mp3"></audio>

    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="~/Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/Content/plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/assets/js/adminlte.min.js"></script>
    <script src="~/Content/JQuery/Customer/Authentication/ForgotPassword.js"></script>
</body>
</html>