



@{
    <table id="tblData" class="table table-bordered">
        <thead id="thead">
            <tr>
                <th>Description</th>
                <th>Taxable Amount (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>IGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>CGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>SGST/ UTGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>CESS (@ViewBag.BusinessSetting.CurrencySymbol)</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td><a href="/taxreports/Gstr4Details?TaxSettingId=@ViewBag.TaxSettingId&Title=4A - Inward supplies received from a registered supplier(other than supplies attracting reverse charge)&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">4A - Inward supplies received from a registered supplier(other than supplies attracting reverse charge)</a></td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4ATotalTaxableValue))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4ATotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4ATotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4ATotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4ATotalCESS))
                </td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr4Details?TaxSettingId=@ViewBag.TaxSettingId&Title=4B - Inward supplies received from a registered supplier (attracting reverse charge)&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">4B - Inward supplies received from a registered supplier (attracting reverse charge)</a> </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4BTotalTaxableValue))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4BTotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4BTotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4BTotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4BTotalCESS))
                </td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr4Details?TaxSettingId=@ViewBag.TaxSettingId&Title=4C - Inward supplies received from an unregistered supplier&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">4C - Inward supplies received from an unregistered supplier</a> </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4CTotalTaxableValue))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4CTotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4CTotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4CTotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4CTotalCESS))
                </td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr4Details?TaxSettingId=@ViewBag.TaxSettingId&Title=4D - Import of services&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">4D - Import of services</a> </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec4DTotalTaxableValue))
                </td>
                <td>@(String.Format("{0:0.##}", ViewBag.Sec4DTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.Sec4DTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.Sec4DTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.Sec4DTotalCESS))</td>
            </tr>
            <tr>
                <td>5 - Summary of self-assessed liability as per FORM GST CMP-08 (Net of advances, credit and debit notes and any other adjustment due to amendments etc).</td>
                <td colspan="5" class="text-center">Auto-populated in the GST Portal</td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr4InvoiceDetails?TaxSettingId=@ViewBag.TaxSettingId&Title=6 - Tax rate wise details of outward supplies/inward supplies attracting reverse charge during the year (Net of advances, credit and debit notes and any other adjustment due to amendments etc).&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">6 - Tax rate wise details of outward supplies/inward supplies attracting reverse charge during the year (Net of advances, credit and debit notes and any other adjustment due to amendments etc).</a> </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec6TotalTaxableValue))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec6TotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec6TotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec6TotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.Sec6TotalCESS))
                </td>
            </tr>
            <tr>
                <td>7 - TDS/TCS credit received</td>
                <td colspan="5" class="text-center">Auto-populated in the GST Portal</td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">
    $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
        @*$('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
        $('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
        $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>
