
<table id="tblData4A" class="table table-bordered">
    <thead id="thead">
        <tr>
            <th>GSTIN </th>
            <th>Place of Supply</th>
            <th>Supply Type</th>
            <th>Taxable Value (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>Rate</th>
            <th>IGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>CGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>SGST/ UTGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>CESS (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var sale in ViewBag.Sales4A)
        {
            foreach (var item in sale.SalesDetails)
            {
                <tr>
                    <td>@sale.BusinessRegistrationNo </td>
                    <td>@sale.StateCode - @sale.DestinationOfSupply </td>
                    <td>@sale.SupplyType</td>
                    <td>@(String.Format("{0:0.##}", item.AmountExcTax)) </td>
                    <td>@(String.Format("{0:0.##}", item.TaxPercent)) </td>
                    <td>@(String.Format("{0:0.##}", item.IGST)) </td>
                    <td>@(String.Format("{0:0.##}", item.CGST)) </td>
                    <td> @(String.Format("{0:0.##}", item.SGST))</td>
                    <td>@(String.Format("{0:0.##}", item.CESS))</td>
                </tr>
            }
        }
    </tbody>
</table>

<table id="tblData4B" class="table table-bordered">
    <thead id="thead">
        <tr>
            <th>GSTIN </th>
            <th>Place of Supply</th>
            <th>Supply Type</th>
            <th>Taxable Value (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>Rate</th>
            <th>IGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>CGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>SGST/ UTGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>CESS (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var sale in ViewBag.Sales4B)
        {
            foreach (var item in sale.SalesDetails)
            {
                <tr>
                    <td>@sale.BusinessRegistrationNo </td>
                    <td>@sale.StateCode - @sale.DestinationOfSupply </td>
                    <td>@sale.SupplyType</td>
                    <td>@(String.Format("{0:0.##}", item.AmountExcTax)) </td>
                    <td>@(String.Format("{0:0.##}", item.TaxPercent)) </td>
                    <td>@(String.Format("{0:0.##}", item.IGST)) </td>
                    <td>@(String.Format("{0:0.##}", item.CGST)) </td>
                    <td> @(String.Format("{0:0.##}", item.SGST))</td>
                    <td>@(String.Format("{0:0.##}", item.CESS))</td>
                </tr>
            }
        }
    </tbody>
</table>

<table id="tblData4C" class="table table-bordered">
    <thead id="thead">
        <tr>
            <th>PAN </th>
            <th>Reverse Charge </th>
            <th>Place of Supply</th>
            <th>Supply Type</th>
            <th>Taxable Value (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>Rate</th>
            <th>IGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>CGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>SGST/ UTGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>CESS (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var sale in ViewBag.Sales4C)
        {
            foreach (var item in sale.SalesDetails)
            {
                <tr>
                    <td>@sale.PanNo </td>
                    <td>@(sale.IsReverseCharge == 1 ? "Yes" :"No")</td>
                    <td>@sale.StateCode - @sale.DestinationOfSupply </td>
                    <td>@sale.SupplyType</td>
                    <td>@(String.Format("{0:0.##}", item.AmountExcTax)) </td>
                    <td>@(String.Format("{0:0.##}", item.TaxPercent)) </td>
                    <td>@(String.Format("{0:0.##}", item.IGST)) </td>
                    <td>@(String.Format("{0:0.##}", item.CGST)) </td>
                    <td> @(String.Format("{0:0.##}", item.SGST))</td>
                    <td>@(String.Format("{0:0.##}", item.CESS))</td>
                </tr>
            }
        }
    </tbody>
</table>

<table id="tblData4D" class="table table-bordered">
    <thead id="thead">
        <tr>
            <th>Place of Supply</th>
            <th>Taxable Value (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>Rate</th>
            <th>IGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>CESS (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var sale in ViewBag.Sales4D)
        {
            foreach (var item in sale.SalesDetails)
            {
                <tr>
                    <td>@sale.StateCode - @sale.DestinationOfSupply </td>
                    <td>@(String.Format("{0:0.##}", item.AmountExcTax)) </td>
                    <td>@(String.Format("{0:0.##}", item.TaxPercent)) </td>
                    <td>@(String.Format("{0:0.##}", item.IGST)) </td>
                    <td>@(String.Format("{0:0.##}", item.CESS))</td>
                </tr>
            }
        }
    </tbody>
</table>
<table id="tblData6" class="table table-bordered">
    <thead id="thead">
        <tr>
            <th>Rate</th>
            <th>Value (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>CGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
            <th>SGST/ UTGST (@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1])</th>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr>
            <td>@(String.Format("{0:0.##}", ViewBag.Sec6TaxPercent)) </td>
            <td>@(String.Format("{0:0.##}", ViewBag.Sec6TotalTaxableValue)) </td>
            <td>@(String.Format("{0:0.##}", ViewBag.Sec6TotalCGST)) </td>
            <td> @(String.Format("{0:0.##}", ViewBag.Sec6TotalSGST))</td>
        </tr>
    </tbody>
</table>