


@{
    <br />
    <div>
        <h6>3.1 Details of Outward Supplies and inward supplies liable to reverse charge</h6>
    </div>
    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr>
                <th>Nature of Supply </th>
                <th>Taxable Value (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>Integrated Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>Central Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>State/UT Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>CESS Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr class="bg-secondary">
                <td>1 </td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr3BDetails?title=Outward taxable supplies (other than zero rated, nil rated and exempted)&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">(a) Outward taxable supplies (other than zero rated, nil rated and exempted)</a> </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableTotalTaxableValue))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableTotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableTotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableTotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableTotalCESS))
                </td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr3BDetails?title=Outward taxable supplies (zero rated)&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">(b) Outward taxable supplies (zero rated) </a></td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableZeroRatedotalTaxableValue))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableZeroRatedTotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableZeroRatedTotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableZeroRatedTotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableZeroRatedTotalCESS))
                </td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr3BDetails?title=Other outward supplies (Nil rated, exempted)&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">(c) Other outward supplies (Nil rated, exempted)</a></td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OtherOutwardNilRatedotalTaxableValue))
                </td>
                <td>@(String.Format("{0:0.##}", ViewBag.OtherOutwardNilRatedTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.OtherOutwardNilRatedTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.OtherOutwardNilRatedTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.OtherOutwardNilRatedTotalCESS))</td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr3BDetails?title=Inward supplies (liable to reverse charge)&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">(d) Inward supplies (liable to reverse charge)</a></td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.InwardReverseChargeTotalTaxableValue))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.InwardReverseChargeTotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.InwardReverseChargeTotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.InwardReverseChargeTotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.InwardReverseChargeTotalCESS))
                </td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr3BDetails?title=Non-GST outward supplies&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">(e) Non-GST outward supplies</a></td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardNonGstTotalTaxableValue))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardNonGstTotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardNonGstTotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardNonGstTotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardNonGstTotalCESS))
                </td>
            </tr>
            <tr>
                <td class="text-bold">Total value</td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableTotalTaxableValue + ViewBag.OutwardTaxableZeroRatedotalTaxableValue + ViewBag.OtherOutwardNilRatedotalTaxableValue
    + ViewBag.InwardReverseChargeTotalTaxableValue + ViewBag.OutwardNonGstTotalTaxableValue))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableTotalIGST + ViewBag.OutwardTaxableZeroRatedTotalIGST + ViewBag.OtherOutwardNilRatedTotalIGST
    + ViewBag.InwardReverseChargeTotalIGST+ ViewBag.OutwardNonGstTotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableTotalCGST+ ViewBag.OutwardTaxableZeroRatedTotalCGST+ ViewBag.OtherOutwardNilRatedTotalCGST
    + ViewBag.InwardReverseChargeTotalCGST+ ViewBag.OutwardNonGstTotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableTotalSGST+ ViewBag.OutwardTaxableZeroRatedTotalSGST+ ViewBag.OtherOutwardNilRatedTotalSGST
    + ViewBag.InwardReverseChargeTotalSGST+ ViewBag.OutwardNonGstTotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.OutwardTaxableTotalCESS+ ViewBag.OutwardTaxableZeroRatedTotalCESS+ ViewBag.OtherOutwardNilRatedTotalCESS
    + ViewBag.InwardReverseChargeTotalCESS+ ViewBag.OutwardNonGstTotalCESS))
                </td>
            </tr>
        </tbody>
    </table>

    @*<br />
        <div>
            <h6>3.1.1 Details of supplies notified under sub-section (5) of section 9 of the Central Goods and Services Tax Act</h6>
        </div>
        <table id="tblData" class="table table-bordered ">
            <thead id="thead">
                <tr>
                    <th>Description </th>
                    <th>Taxable Value (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                    <th>Integrated Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                    <th>Central Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                    <th>State/UT Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                    <th>CESS Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr class="bg-secondary">
                    <td>1 </td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>
                        (i) Taxable supplies on which electronic commerce operator pays tax under<br /> Sub-section (5) of Section 9<br />
                        [To be furnished by the electronic commerce operator]
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        (ii) Taxable supplies made by the registered person through electronic<br /> commerce operator, on which
                        electronic commerce operator is required to<br /> pay tax under Sub-section (5) of Section 9<br />
                        [To be furnished by the registered person making supplies through electronic<br /> commerce operator]
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>*@

    <br />
    <div>
        <h6>3.2 Of the supplies shown in 3.1 (a) above, details of inter-State supplies made to unregistered persons, composition taxable persons and UIN holders</h6>
    </div>
    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr>
                <th> </th>
                <th>Place Of Supply</th>
                <th>Taxable Value (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>Integrated Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr class="bg-secondary">
                <td>1 </td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td colspan="4">
                    Supplies made to Unregistered Persons
                </td>
            </tr>
            @foreach (var item in ViewBag.InterStateUnregistered)
            {
                <tr onclick="window.location.href='/taxreports/Gstr3BDetails?title=Supplies made to Unregistered Persons&PlaceOfSupply=@item.PlaceOfSupply';" style="cursor: pointer;">
                    <td></td>
                    <td>@item.PlaceOfSupply</td>
                    <td>
                        @(String.Format("{0:0.##}", item.AmountExcTax))
                    </td>
                    <td>
                        @(String.Format("{0:0.##}", item.TotalIgstValue))
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4">
                    Supplies made to Composition Taxable Persons
                </td>
            </tr>
            @foreach (var item in ViewBag.InterStateComposition)
            {
                <tr onclick="window.location.href='/taxreports/Gstr3BDetails?title=Supplies made to Composition Taxable Persons&PlaceOfSupply=@item.PlaceOfSupply';" style="cursor: pointer;">
                    >
                    <td></td>
                    <td>@item.PlaceOfSupply</td>
                    <td>
                        @(String.Format("{0:0.##}", item.AmountExcTax))
                    </td>
                    <td>
                        @(String.Format("{0:0.##}", item.TotalIgstValue))
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4">
                    Supplies made to UIN holders
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">We are not tracking supplies made to UIN holders</td>
            </tr>
        </tbody>
    </table>

    <br />
    <div>
        <h6>
            4. Eligible ITC
        </h6>
    </div>
    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr>
                <th>Details </th>
                <th>Integrated Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>Central Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>State/UT Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>CESS Tax (@ViewBag.BusinessSetting.CurrencySymbol)</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr class="bg-secondary">
                <td>1 </td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td colspan="5">
                    (A) ITC Available (whether in full or part)
                </td>
            </tr>
            <tr>
                <td class="pl-4">
                    <a href="/taxreports/Gstr3BDetails?title=Import of Goods&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")""> (1) Import of Goods</a>
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.ImportOfGoodsTotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.ImportOfGoodsTotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.ImportOfGoodsTotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.ImportOfGoodsTotalCESS))
                </td>
            </tr>
            <tr>
                <td class="pl-4">
                    <a href="/taxreports/Gstr3BDetails?title=Import of Services&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")""> (2) Import of Services</a>
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.ImportOfServicesTotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.ImportOfServicesTotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.ImportOfServicesTotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.ImportOfServicesTotalCESS))
                </td>
            </tr>
            <tr>
                <td class="pl-4">
                    <a href="/taxreports/Gstr3BDetails?title=Inward supplies liable to reverse charge ( other than 1 & 2 above)&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")""> (3) Inward supplies liable to reverse charge ( other than 1 & 2 above)</a>
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.InwardLiableToReverseChargeTotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.InwardLiableToReverseChargeTotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.InwardLiableToReverseChargeTotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.InwardLiableToReverseChargeTotalCESS))
                </td>
            </tr>
            <tr>
                <td class="pl-4">
                    (4) Inward supplies from ISD
                </td>
                <td colspan="4" class="text-center">- - -We do not support in EquibillBook- - -</td>
            </tr>
            <tr>
                <td class="pl-4">
                    <a href="/taxreports/Gstr3BDetails?title=All other ITC&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")""> (5) All other ITC</a>
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.AllOtherItcTotalIGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.AllOtherItcTotalCGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.AllOtherItcTotalSGST))
                </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.AllOtherItcTotalCESS))
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div>
        <h6>
            5. Values of exempt, nil-rated and non-GST inward supplies
        </h6>
    </div>
    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr>
                <th>Nature of Supply </th>
                <th>Inter-State Supplies</th>
                <th>Intra-State Supplies</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr class="bg-secondary">
                <td>1 </td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>
                    From a supplier under composition scheme, Exempt  and Nil rated supply
                </td>
                <td>
                    <a href="/taxreports/Gstr3BDetails?title=Composition Scheme, Exempted, Nil Rated (Inter-State Supplies)&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")"> @(String.Format("{0:0.##}", ViewBag.InwardInterCompositionTotalTaxableValue))</a>
                </td>
                <td>
                    <a href="/taxreports/Gstr3BDetails?title=Composition Scheme, Exempted, Nil Rated (Intra-State Supplies)&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")"> @(String.Format("{0:0.##}", ViewBag.InwardIntraCompositionTotalTaxableValue))</a>
                </td>
            </tr>
            <tr>
                <td>
                    Non-GST supply
                </td>
                <td>
                    <a href="/taxreports/Gstr3BDetails?title=Non-GST supply (Inter-State Supplies)&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")"> @(String.Format("{0:0.##}", ViewBag.InwardInterNonGstTotalTaxableValue))</a>
                </td>
                <td>
                    <a href="/taxreports/Gstr3BDetails?title=Non-GST supply (Intra-State Supplies)&TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")"> @(String.Format("{0:0.##}", ViewBag.InwardIntraNonGstTotalTaxableValue))</a>
                </td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">
    $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
        @*$('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
        $('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
        $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>
