
@{
    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr>
                <th>Document Details </th>
                <th>No. of Record</th>
                <th>Total Invoice Value (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>Total Taxable Value (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>IGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>CGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>SGST/ UTGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>CESS (@ViewBag.BusinessSetting.CurrencySymbol)</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td><a href="/taxreports/Gstr1B2B?TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")"> B2B Invoices-4A,4B,6B,6C </a></td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.B2BTotalCount))
                </td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2BTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2BTotalTaxableValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2BTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2BTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2BTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2BTotalCESS))</td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr1B2CLarge?TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">B2C(Large) Invoices-5A,5B </a></td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.B2CLargeTotalCount))
                </td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CLargeTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CLargeTotalTaxableValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CLargeTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CLargeTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CLargeTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CLargeTotalCESS))</td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr1B2CSmall?TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">B2C(Small) Details-7 </a> </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.B2CSmallTotalCount))
                </td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CSmallTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CSmallTotalTaxableValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CSmallTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CSmallTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CSmallTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.B2CSmallTotalCESS))</td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr1Exports?TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">Exports Invoices-6A </a> </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.ExportsTotalCount))
                </td>
                <td>@(String.Format("{0:0.##}", ViewBag.ExportsTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.ExportsTotalTaxableValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.ExportsTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.ExportsTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.ExportsTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.ExportsTotalCESS))</td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr1CDRegistered?TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">Credit /Debit Notes(Registered)-9B </a> </td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitRegisteredTotalCount))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitRegisteredTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitRegisteredTotalTaxableValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitRegisteredTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitRegisteredTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitRegisteredTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitRegisteredTotalCESS))</td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr1CDUnRegistered?TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">Credit /Debit Notes(Unregistered)-9B </a> </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.CreditDebitUnRegisteredTotalCount))
                </td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitUnRegisteredTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitUnRegisteredTotalTaxableValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitUnRegisteredTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitUnRegisteredTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitUnRegisteredTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.CreditDebitUnRegisteredTotalCESS))</td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr1AdvancesReceived?TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">Tax Liability(Advances Received)-11A(1),11A(2) </a> </td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdvancesReceivedTotalCount))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdvancesReceivedTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdvancesReceivedTotalTaxableValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdvancesReceivedTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdvancesReceivedTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdvancesReceivedTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdvancesReceivedTotalCESS))</td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr1AdjustmentOfAdvances?TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">Adjustment of Advances-11B(1),11B(2) </a> </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.AdjustmentOfAdvancesTotalCount))
                </td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdjustmentOfAdvancesTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdjustmentOfAdvancesTotalTaxableValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdjustmentOfAdvancesTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdjustmentOfAdvancesTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdjustmentOfAdvancesTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.AdjustmentOfAdvancesTotalCESS))</td>
            </tr>
            <tr>
                <td><a href="/taxreports/Gstr1HsnWiseSummary?TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">HSN-wise Summary of Outward Supplies-12 </a> </td>
                <td>@(String.Format("{0:0.##}", ViewBag.HsnWiseSummaryTotalCount))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.HsnWiseSummaryTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.HsnWiseSummaryTotalTaxableValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.HsnWiseSummaryTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.HsnWiseSummaryTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.HsnWiseSummaryTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.HsnWiseSummaryTotalCESS))</td>
            </tr>
        </tbody>
    </table>

    <table id="tblData" class="table table-bordered">
        <thead id="thead">
            <tr>
                <th>Document Details </th>
                <th>No. of Record</th>
                <th>Total Nil Amount (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>Total Exempted Amount (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>Total Non-GST Amount (@ViewBag.BusinessSetting.CurrencySymbol)</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td><a href="/taxreports/Gstr1NilRated?TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">Nil rated, exempted and non GST outward Supplies-8A, 8B, 8C, 8D </a> </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.NilRatedTotalCount))
                </td>
                <td>@(String.Format("{0:0.##}", ViewBag.NilRatedTotalNilAmount))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.NilRatedTotalExemptedAmount))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.NilRatedTotalNonGstAmount))</td>
            </tr>
        </tbody>
    </table>

    <table id="tblData" class="table table-bordered " style="display:none">
        <thead id="thead">
            <tr>
                <th>Document Details </th>
                <th>Total Number</th>
                <th>Total Cancelled</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td><a href="/taxreports/Gstr1SummaryOfDocuments?TaxSettingId=@ViewBag.TaxSettingId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">Summary of documents issued during the tax period-13 </a> </td>
                <td>
                    @(String.Format("{0:0.##}", ViewBag.SummaryOfDocumentsTotalCount))
                </td>
                <td>@(String.Format("{0:0.##}", ViewBag.SummaryOfDocumentsTotalCancelled))</td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">
    $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
        @*$('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
        $('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
        $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>
