


@{
    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr class="bg-secondary">
                <th>Pt. I </th>
                <th colspan="2" class="text-center">Basic Details</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td>1 </td>
                <td>Financial Year</td>
                <td>2017-2018</td>
            </tr>
            <tr>
                <td>2</td>
                <td>GSTIN</td>
                <td>@ViewBag.TaxSetting.BusinessRegistrationNo</td>
            </tr>
            <tr>
                <td> 3</td>
                <td>Trade Name (if any)</td>
                <td>@ViewBag.TaxSetting.BusinessTradeName</td>
            </tr>
        </tbody>
    </table>

    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr class="bg-secondary">
                <th>Pt. II	 </th>
                <th colspan="6" class="text-center">Details of Outward and inward supplies declared during the financial year</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td rowspan="3"> </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5" class="text-center">(Amount in ₹ in all tables)</td>
            </tr>
            <tr>
                <td> Nature of Supplies</td>
                <td>Taxable Value</td>
                <td>Central Tax</td>
                <td>State Tax / UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
            </tr>
            <tr>
                <td> </td>
                <td> 1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr class="bg-secondary">
                <td>4</td>
                <td colspan="6">Details of advances, inward and outward supplies on which tax is payable as declared in returns filed during the financial year</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=4A';" style="cursor: pointer;">
                <td> A</td>
                <td>Supplies made to un-registered persons (B2C)</td>
                <td>@ViewBag.Gstr9_4ATotalTaxableValue</td>
                <td>@ViewBag.Gstr9_4ATotalCGST</td>
                <td>@ViewBag.Gstr9_4ATotalSGST</td>
                <td>@ViewBag.Gstr9_4ATotalIGST</td>
                <td>@ViewBag.Gstr9_4ATotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=4B';" style="cursor: pointer;">
                <td> B</td>
                <td>Supplies made to registered persons (B2B)</td>
                <td>@ViewBag.Gstr9_4BTotalTaxableValue</td>
                <td>@ViewBag.Gstr9_4BTotalCGST</td>
                <td>@ViewBag.Gstr9_4BTotalSGST</td>
                <td>@ViewBag.Gstr9_4BTotalIGST</td>
                <td>@ViewBag.Gstr9_4BTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=4C';" style="cursor: pointer;">
                <td> C</td>
                <td>Zero rated supply (Export) on payment of tax (except<br /> supplies to SEZs)</td>
                <td>@ViewBag.Gstr9_4CTotalTaxableValue</td>
                <td></td>
                <td></td>
                <td>@ViewBag.Gstr9_4CTotalIGST</td>
                <td>@ViewBag.Gstr9_4CTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=4D';" style="cursor: pointer;">
                <td> D</td>
                <td>Supply to SEZs on payment of tax</td>
                <td>@ViewBag.Gstr9_4DTotalTaxableValue</td>
                <td></td>
                <td></td>
                <td>@ViewBag.Gstr9_4DTotalIGST</td>
                <td>@ViewBag.Gstr9_4DTotalCESS</td>
            </tr>
            <tr>
                <td> E</td>
                <td>Deemed Exports</td>
                <td colspan="5" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=4F';" style="cursor: pointer;">
                <td> F</td>
                <td>Advances on which tax has been paid but invoice has<br /> not been issued (not covered under (A) to (E) above)	</td>
                <td>@ViewBag.Gstr9_4FTotalTaxableValue</td>
                <td>@ViewBag.Gstr9_4FTotalCGST</td>
                <td>@ViewBag.Gstr9_4FTotalSGST</td>
                <td>@ViewBag.Gstr9_4FTotalIGST</td>
                <td>@ViewBag.Gstr9_4FTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=4G';" style="cursor: pointer;">
                <td> G</td>
                <td>Inward supplies on which tax is to be paid on reverse<br /> charge basis</td>
                <td>@ViewBag.Gstr9_4GTotalTaxableValue</td>
                <td>@ViewBag.Gstr9_4GTotalCGST</td>
                <td>@ViewBag.Gstr9_4GTotalSGST</td>
                <td>@ViewBag.Gstr9_4GTotalIGST</td>
                <td>@ViewBag.Gstr9_4GTotalCESS</td>
            </tr>
            <tr style="background:#eee">
                <td> H</td>
                <td>Sub-total (A to G above)</td>
                <td>
                    @(ViewBag.Gstr9_4ATotalTaxableValue + ViewBag.Gstr9_4BTotalTaxableValue + ViewBag.Gstr9_4CTotalTaxableValue +
        ViewBag.Gstr9_4DTotalTaxableValue+ ViewBag.Gstr9_4FTotalTaxableValue+ ViewBag.Gstr9_4GTotalTaxableValue)
                </td>
                <td>
                    @(ViewBag.Gstr9_4ATotalCGST + ViewBag.Gstr9_4BTotalCGST+ ViewBag.Gstr9_4CTotalCGST+
        ViewBag.Gstr9_4DTotalCGST+ ViewBag.Gstr9_4FTotalCGST+ ViewBag.Gstr9_4GTotalCGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_4ATotalSGST+ ViewBag.Gstr9_4BTotalSGST+ ViewBag.Gstr9_4CTotalSGST+
        ViewBag.Gstr9_4DTotalSGST+ ViewBag.Gstr9_4FTotalSGST+ ViewBag.Gstr9_4GTotalSGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_4ATotalIGST+ ViewBag.Gstr9_4BTotalIGST+ ViewBag.Gstr9_4CTotalIGST+
        ViewBag.Gstr9_4DTotalIGST+ ViewBag.Gstr9_4FTotalIGST+ ViewBag.Gstr9_4GTotalIGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_4ATotalCESS+ ViewBag.Gstr9_4BTotalCESS+ ViewBag.Gstr9_4CTotalCESS+
        ViewBag.Gstr9_4DTotalCESS+ ViewBag.Gstr9_4FTotalCESS+ ViewBag.Gstr9_4GTotalCESS)
                </td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=4I';" style="cursor: pointer;">
                <td>I</td>
                <td>Credit Notes issued in respect of transactions specified<br /> in (B) to (E) above (-)</td>
                <td>@ViewBag.Gstr9_4ITotalTaxableValue</td>
                <td>@ViewBag.Gstr9_4ITotalCGST</td>
                <td>@ViewBag.Gstr9_4ITotalSGST</td>
                <td>@ViewBag.Gstr9_4ITotalIGST</td>
                <td>@ViewBag.Gstr9_4ITotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=4J';" style="cursor: pointer;">
                <td>J</td>
                <td>Debit Notes issued in respect of transactions specified<br /> in (B) to (E) above (+)</td>
                <td>@ViewBag.Gstr9_4JTotalTaxableValue</td>
                <td>@ViewBag.Gstr9_4JTotalCGST</td>
                <td>@ViewBag.Gstr9_4JTotalSGST</td>
                <td>@ViewBag.Gstr9_4JTotalIGST</td>
                <td>@ViewBag.Gstr9_4JTotalCESS</td>
            </tr>
            <tr>
                <td>K</td>
                <td>Supplies / tax declared through Amendments (+)</td>
                <td colspan="5" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>L</td>
                <td>Supplies / tax reduced through Amendments (-)</td>
                <td colspan="5" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr style="background:#eee">
                <td>M</td>
                <td>Sub-total (I to L above)</td>
                <td>@(ViewBag.Gstr9_4ITotalTaxableValue+ ViewBag.Gstr9_4JTotalTaxableValue)</td>
                <td>@(ViewBag.Gstr9_4ITotalCGST+ ViewBag.Gstr9_4JTotalCGST)</td>
                <td>@(ViewBag.Gstr9_4ITotalSGST + ViewBag.Gstr9_4JTotalSGST)</td>
                <td>@(ViewBag.Gstr9_4ITotalIGST+ ViewBag.Gstr9_4JTotalIGST)</td>
                <td>@(ViewBag.Gstr9_4ITotalCESS+ ViewBag.Gstr9_4JTotalCESS)</td>
            </tr>
            <tr style="background:#eee">
                <td>N</td>
                <td>Supplies and advances on which tax is to be paid (H + M) above</td>
                <td>
                    @(ViewBag.Gstr9_4ATotalTaxableValue + ViewBag.Gstr9_4BTotalTaxableValue + ViewBag.Gstr9_4CTotalTaxableValue +
ViewBag.Gstr9_4DTotalTaxableValue+ ViewBag.Gstr9_4FTotalTaxableValue+ ViewBag.Gstr9_4GTotalTaxableValue+
ViewBag.Gstr9_4ITotalTaxableValue + ViewBag.Gstr9_4JTotalTaxableValue)
                </td>
                <td>
                    @(ViewBag.Gstr9_4ATotalCGST + ViewBag.Gstr9_4BTotalCGST+ ViewBag.Gstr9_4CTotalCGST+
ViewBag.Gstr9_4DTotalCGST+ ViewBag.Gstr9_4FTotalCGST+ ViewBag.Gstr9_4GTotalCGST+
ViewBag.Gstr9_4ITotalCGST + ViewBag.Gstr9_4JTotalCGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_4ATotalSGST+ ViewBag.Gstr9_4BTotalSGST+ ViewBag.Gstr9_4CTotalSGST+
ViewBag.Gstr9_4DTotalSGST+ ViewBag.Gstr9_4FTotalSGST+ ViewBag.Gstr9_4GTotalSGST+
ViewBag.Gstr9_4ITotalSGST + ViewBag.Gstr9_4JTotalSGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_4ATotalIGST+ ViewBag.Gstr9_4BTotalIGST+ ViewBag.Gstr9_4CTotalIGST+
ViewBag.Gstr9_4DTotalIGST+ ViewBag.Gstr9_4FTotalIGST+ ViewBag.Gstr9_4GTotalIGST+
ViewBag.Gstr9_4ITotalIGST + ViewBag.Gstr9_4JTotalIGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_4ATotalCESS+ ViewBag.Gstr9_4BTotalCESS+ ViewBag.Gstr9_4CTotalCESS+
ViewBag.Gstr9_4DTotalCESS+ ViewBag.Gstr9_4FTotalCESS+ ViewBag.Gstr9_4GTotalCESS+
ViewBag.Gstr9_4ITotalCESS + ViewBag.Gstr9_4JTotalCESS)
                </td>
            </tr>
            <tr class="bg-secondary">
                <td>5</td>
                <td colspan="6" class="text-center">Details of Outward supplies on which tax is not payable as declared in returns filed during the financial year</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=5A';" style="cursor: pointer;">
                <td> A</td>
                <td>Zero rated supply (Export) without payment of tax</td>
                <td>@ViewBag.Gstr9_5ATotalTaxableValue</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=5B';" style="cursor: pointer;">
                <td> B</td>
                <td>Supply to SEZs without payment of tax</td>
                <td>@ViewBag.Gstr9_5BTotalTaxableValue</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=5C';" style="cursor: pointer;">
                <td> C</td>
                <td>Supplies on which tax is to be paid by the recipient on<br /> reverse charge basis</td>
                <td>@ViewBag.Gstr9_5CTotalTaxableValue</td>
                <td>@ViewBag.Gstr9_5CTotalCGST</td>
                <td>@ViewBag.Gstr9_5CTotalSGST</td>
                <td>@ViewBag.Gstr9_5CTotalIGST</td>
                <td>@ViewBag.Gstr9_5CTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=5D';" style="cursor: pointer;">
                <td> D</td>
                <td>Exempted</td>
                <td>@ViewBag.Gstr9_5DTotalTaxableValue</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=5E';" style="cursor: pointer;">
                <td> E</td>
                <td>Nil Rated</td>
                <td>@ViewBag.Gstr9_5ETotalTaxableValue</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=5F';" style="cursor: pointer;">
                <td> F</td>
                <td>Non-GST supply	</td>
                <td>@ViewBag.Gstr9_5FTotalTaxableValue</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="background:#eee">
                <td> G</td>
                <td>Sub-total (A to F above)</td>
                <td>
                    @(ViewBag.Gstr9_5ATotalTaxableValue + ViewBag.Gstr9_5BTotalTaxableValue + ViewBag.Gstr9_5CTotalTaxableValue +
ViewBag.Gstr9_5DTotalTaxableValue + ViewBag.Gstr9_5ETotalTaxableValue + ViewBag.Gstr9_5FTotalTaxableValue)
                </td>
                <td>
                    @(ViewBag.Gstr9_5CTotalCGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_5CTotalSGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_5CTotalIGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_5CTotalCESS)
                </td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=5H';" style="cursor: pointer;">
                <td> H</td>
                <td>Credit Notes issued in respect of transactions specified<br /> in A to F above (-)</td>
                <td>@ViewBag.Gstr9_5HTotalTaxableValue</td>
                <td>@ViewBag.Gstr9_5HTotalCGST</td>
                <td>@ViewBag.Gstr9_5HTotalSGST</td>
                <td>@ViewBag.Gstr9_5HTotalIGST</td>
                <td>@ViewBag.Gstr9_5HTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=5I';" style="cursor: pointer;">
                <td>I</td>
                <td>Debit Notes issued in respect of transactions specified<br /> in A to F above (+)</td>
                <td>@ViewBag.Gstr9_5ITotalTaxableValue</td>
                <td>@ViewBag.Gstr9_5ITotalCGST</td>
                <td>@ViewBag.Gstr9_5ITotalSGST</td>
                <td>@ViewBag.Gstr9_5ITotalIGST</td>
                <td>@ViewBag.Gstr9_5ITotalCESS</td>
            </tr>
            <tr>
                <td>J</td>
                <td>Supplies / tax declared through Amendments (+)</td>
                <td colspan="5" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>K</td>
                <td>Supplies / tax reduced through Amendments (-)</td>
                <td colspan="5" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr style="background:#eee">
                <td>L</td>
                <td>Sub-Total (H to K above)</td>
                <td>@(ViewBag.Gstr9_5HTotalTaxableValue+ ViewBag.Gstr9_5ITotalTaxableValue)</td>
                <td>@(ViewBag.Gstr9_5HTotalCGST+ ViewBag.Gstr9_5ITotalCGST)</td>
                <td>@(ViewBag.Gstr9_5HTotalSGST+ ViewBag.Gstr9_5ITotalSGST)</td>
                <td>@(ViewBag.Gstr9_5HTotalIGST+ ViewBag.Gstr9_5ITotalIGST)</td>
                <td>@(ViewBag.Gstr9_5HTotalCESS+ ViewBag.Gstr9_5ITotalCESS)</td>
            </tr>
            <tr style="background:#eee">
                <td>M</td>
                <td>Turnover onwhich tax is not to be paid (G + L above)</td>
                <td>
                    @(ViewBag.Gstr9_5ATotalTaxableValue + ViewBag.Gstr9_5BTotalTaxableValue + ViewBag.Gstr9_5CTotalTaxableValue +
ViewBag.Gstr9_5DTotalTaxableValue + ViewBag.Gstr9_5ETotalTaxableValue + ViewBag.Gstr9_5FTotalTaxableValue+
ViewBag.Gstr9_5HTotalTaxableValue + ViewBag.Gstr9_5ITotalTaxableValue)
                </td>
                <td>
                    @(ViewBag.Gstr9_5CTotalCGST+ ViewBag.Gstr9_5HTotalCGST + ViewBag.Gstr9_5ITotalCGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_5CTotalSGST+ ViewBag.Gstr9_5HTotalSGST + ViewBag.Gstr9_5ITotalSGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_5CTotalIGST+ ViewBag.Gstr9_5HTotalIGST + ViewBag.Gstr9_5ITotalIGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_5CTotalCESS+ ViewBag.Gstr9_5HTotalCESS + ViewBag.Gstr9_5ITotalCESS)
                </td>
            </tr>
            <tr style="background:#eee">
                <td>N</td>
                <td>Total Turnover (including advances) (4N + 5M -4G above)</td>
                <td>
                    @(((ViewBag.Gstr9_4ATotalTaxableValue + ViewBag.Gstr9_4BTotalTaxableValue + ViewBag.Gstr9_4CTotalTaxableValue +
ViewBag.Gstr9_4DTotalTaxableValue+ ViewBag.Gstr9_4FTotalTaxableValue+ ViewBag.Gstr9_4GTotalTaxableValue+
ViewBag.Gstr9_4ITotalTaxableValue + ViewBag.Gstr9_4JTotalTaxableValue) +
(ViewBag.Gstr9_5ATotalTaxableValue + ViewBag.Gstr9_5BTotalTaxableValue + ViewBag.Gstr9_5CTotalTaxableValue +
ViewBag.Gstr9_5DTotalTaxableValue + ViewBag.Gstr9_5ETotalTaxableValue + ViewBag.Gstr9_5FTotalTaxableValue +
ViewBag.Gstr9_5HTotalTaxableValue + ViewBag.Gstr9_5ITotalTaxableValue))- ViewBag.Gstr9_4GTotalTaxableValue)
                </td>
                <td>
                    @(((ViewBag.Gstr9_4ATotalCGST + ViewBag.Gstr9_4BTotalCGST+ ViewBag.Gstr9_4CTotalCGST+
ViewBag.Gstr9_4DTotalCGST+ ViewBag.Gstr9_4FTotalCGST+ ViewBag.Gstr9_4GTotalCGST+
ViewBag.Gstr9_4ITotalCGST + ViewBag.Gstr9_4JTotalCGST) +
(ViewBag.Gstr9_5CTotalCGST + ViewBag.Gstr9_5HTotalCGST + ViewBag.Gstr9_5ITotalCGST)
)- ViewBag.Gstr9_4GTotalCGST)
                </td>
                <td>
                    @(((ViewBag.Gstr9_4ATotalSGST+ ViewBag.Gstr9_4BTotalSGST+ ViewBag.Gstr9_4CTotalSGST+
ViewBag.Gstr9_4DTotalSGST+ ViewBag.Gstr9_4FTotalSGST+ ViewBag.Gstr9_4GTotalSGST+
ViewBag.Gstr9_4ITotalSGST + ViewBag.Gstr9_4JTotalSGST) +
(ViewBag.Gstr9_5CTotalSGST + ViewBag.Gstr9_5HTotalSGST + ViewBag.Gstr9_5ITotalSGST))- ViewBag.Gstr9_4GTotalSGST)
                </td>
                <td>
                    @(((ViewBag.Gstr9_4ATotalIGST+ ViewBag.Gstr9_4BTotalIGST+ ViewBag.Gstr9_4CTotalIGST+
ViewBag.Gstr9_4DTotalIGST+ ViewBag.Gstr9_4FTotalIGST+ ViewBag.Gstr9_4GTotalIGST+
ViewBag.Gstr9_4ITotalIGST + ViewBag.Gstr9_4JTotalIGST) +
(ViewBag.Gstr9_5CTotalIGST + ViewBag.Gstr9_5HTotalIGST + ViewBag.Gstr9_5ITotalIGST))- ViewBag.Gstr9_4GTotalIGST)
                </td>
                <td>
                    @(((ViewBag.Gstr9_4ATotalCESS+ ViewBag.Gstr9_4BTotalCESS+ ViewBag.Gstr9_4CTotalCESS+
ViewBag.Gstr9_4DTotalCESS+ ViewBag.Gstr9_4FTotalCESS+ ViewBag.Gstr9_4GTotalCESS+
ViewBag.Gstr9_4ITotalCESS + ViewBag.Gstr9_4JTotalCESS) +
(ViewBag.Gstr9_5CTotalCESS + ViewBag.Gstr9_5HTotalCESS + ViewBag.Gstr9_5ITotalCESS))- ViewBag.Gstr9_4GTotalCESS)
                </td>
            </tr>
        </tbody>
    </table>

    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr class="bg-secondary">
                <th>Pt. III  </th>
                <th colspan="6" class="text-center">Details of ITC as declared in returns filed during the financial year</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td rowspan="3"> </td>
            </tr>
            <tr>
                <td> Description</td>
                <td>Type</td>
                <td>Central Tax</td>
                <td>State Tax / UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
            </tr>
            <tr>
                <td> 1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr class="bg-secondary">
                <td>6</td>
                <td colspan="6">Details of ITC availed as declared in returns filed during the financial year</td>
            </tr>
            <tr>
                <td> A</td>
                <td colspan="2">Total amount of input tax credit availed through FORM GSTR-3B (sum<br /> total of Table 4A of FORM GSTR-3B)</td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td rowspan="4"> B</td>
                <td rowspan="4">
                    Inward supplies (other than imports and inward supplies<br />
                    liable to reverse charge but includes services received<br />
                    from SEZs)
                </td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6BInputs';" style="cursor: pointer;">
                <td>Inputs</td>
                <td>@ViewBag.Gstr9_6BInputsTotalCGST</td>
                <td>@ViewBag.Gstr9_6BInputsTotalSGST</td>
                <td>@ViewBag.Gstr9_6BInputsTotalIGST</td>
                <td>@ViewBag.Gstr9_6BInputsTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6BCapitalGoods';" style="cursor: pointer;">
                <td>Capital Goods</td>
                <td>@ViewBag.Gstr9_6BCapitalGoodsTotalCGST</td>
                <td>@ViewBag.Gstr9_6BCapitalGoodsTotalSGST</td>
                <td>@ViewBag.Gstr9_6BCapitalGoodsTotalIGST</td>
                <td>@ViewBag.Gstr9_6BCapitalGoodsTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6BInputServices';" style="cursor: pointer;">
                <td>Input Services</td>
                <td>@ViewBag.Gstr9_6BInputServicesTotalCGST</td>
                <td>@ViewBag.Gstr9_6BInputServicesTotalSGST</td>
                <td>@ViewBag.Gstr9_6BInputServicesTotalIGST</td>
                <td>@ViewBag.Gstr9_6BInputServicesTotalCESS</td>
            </tr>
            <tr>
                <td rowspan="4"> C</td>
                <td rowspan="4">
                    Inward supplies received from unregistered persons<br />
                    liable to reverse charge (other than B above) on which<br />
                    tax is paid & ITC availed
                </td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6CInputs';" style="cursor: pointer;">
                <td>Inputs</td>
                <td>@ViewBag.Gstr9_6CInputsTotalCGST</td>
                <td>@ViewBag.Gstr9_6CInputsTotalSGST</td>
                <td>@ViewBag.Gstr9_6CInputsTotalIGST</td>
                <td>@ViewBag.Gstr9_6CInputsTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6CCapitalGoods';" style="cursor: pointer;">
                <td>Capital Goods</td>
                <td>@ViewBag.Gstr9_6CCapitalGoodsTotalCGST</td>
                <td>@ViewBag.Gstr9_6CCapitalGoodsTotalSGST</td>
                <td>@ViewBag.Gstr9_6CCapitalGoodsTotalIGST</td>
                <td>@ViewBag.Gstr9_6CCapitalGoodsTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6CInputServices';" style="cursor: pointer;">
                <td>Input Services</td>
                <td>@ViewBag.Gstr9_6CInputServicesTotalCGST</td>
                <td>@ViewBag.Gstr9_6CInputServicesTotalSGST</td>
                <td>@ViewBag.Gstr9_6CInputServicesTotalIGST</td>
                <td>@ViewBag.Gstr9_6CInputServicesTotalCESS</td>
            </tr>
            <tr>
                <td rowspan="4"> D</td>
                <td rowspan="4">
                    Inward supplies received from registered persons liable<br />
                    to reverse charge (other than B above) on which tax is<br />
                    paid and ITC availed
                </td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6DInputs';" style="cursor: pointer;">
                <td>Inputs</td>
                <td>@ViewBag.Gstr9_6DInputsTotalCGST</td>
                <td>@ViewBag.Gstr9_6DInputsTotalSGST</td>
                <td>@ViewBag.Gstr9_6DInputsTotalIGST</td>
                <td>@ViewBag.Gstr9_6DInputsTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6DCapitalGoods';" style="cursor: pointer;">
                <td>Capital Goods</td>
                <td>@ViewBag.Gstr9_6DCapitalGoodsTotalCGST</td>
                <td>@ViewBag.Gstr9_6DCapitalGoodsTotalSGST</td>
                <td>@ViewBag.Gstr9_6DCapitalGoodsTotalIGST</td>
                <td>@ViewBag.Gstr9_6DCapitalGoodsTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6DInputServices';" style="cursor: pointer;">
                <td>Input Services</td>
                <td>@ViewBag.Gstr9_6DInputServicesTotalCGST</td>
                <td>@ViewBag.Gstr9_6DInputServicesTotalSGST</td>
                <td>@ViewBag.Gstr9_6DInputServicesTotalIGST</td>
                <td>@ViewBag.Gstr9_6DInputServicesTotalCESS</td>
            </tr>
            <tr>
                <td rowspan="3"> E</td>
                <td rowspan="3">
                    Import of goods (including supplies from SEZs)
                </td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6EInputs';" style="cursor: pointer;">
                <td>Inputs</td>
                <td></td>
                <td></td>
                <td>@ViewBag.Gstr9_6EInputsTotalIGST</td>
                <td>@ViewBag.Gstr9_6EInputsTotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6ECapitalGoods';" style="cursor: pointer;">
                <td>Capital Goods</td>
                <td></td>
                <td></td>
                <td>@ViewBag.Gstr9_6ECapitalGoodsTotalIGST</td>
                <td>@ViewBag.Gstr9_6ECapitalGoodsTotalCESS</td>
            </tr>
            @*<tr>
                    <td>Input Services</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>*@
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=6F';" style="cursor: pointer;">
                <td> F</td>
                <td colspan="2">
                    Import of services (excluding inward supplies from SEZs)
                </td>
                <td></td>
                <td></td>
                <td>@ViewBag.Gstr9_6FTotalIGST</td>
                <td>@ViewBag.Gstr9_6FTotalCESS</td>
            </tr>
            <tr>
                <td> G</td>
                <td colspan="2">
                    Input Tax credit received from ISD
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> H</td>
                <td colspan="2">
                    Amount of ITC reclaimed (other than B above) under the provisions of<br />
                    the Act
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr style="background:#eee">
                <td> I</td>
                <td colspan="2">
                    Sub-total (B to H above)
                </td>
                <td>
                    @(ViewBag.Gstr9_6BInputsTotalCGST+ ViewBag.Gstr9_6BCapitalGoodsTotalCGST+ ViewBag.Gstr9_6BInputServicesTotalCGST
    + ViewBag.Gstr9_6CInputsTotalCGST+ ViewBag.Gstr9_6CCapitalGoodsTotalCGST+ ViewBag.Gstr9_6CInputServicesTotalCGST
    +ViewBag.Gstr9_6DInputsTotalCGST+ ViewBag.Gstr9_6DCapitalGoodsTotalCGST+ ViewBag.Gstr9_6DInputServicesTotalCGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_6BInputsTotalSGST+ ViewBag.Gstr9_6BCapitalGoodsTotalSGST+ ViewBag.Gstr9_6BInputServicesTotalSGST
    + ViewBag.Gstr9_6CInputsTotalSGST+ ViewBag.Gstr9_6CCapitalGoodsTotalSGST+ ViewBag.Gstr9_6CInputServicesTotalSGST
    +ViewBag.Gstr9_6DInputsTotalSGST+ ViewBag.Gstr9_6DCapitalGoodsTotalSGST+ ViewBag.Gstr9_6DInputServicesTotalSGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_6BInputsTotalIGST+ ViewBag.Gstr9_6BCapitalGoodsTotalIGST+ ViewBag.Gstr9_6BInputServicesTotalIGST
    + ViewBag.Gstr9_6CInputsTotalIGST+ ViewBag.Gstr9_6CCapitalGoodsTotalIGST+ ViewBag.Gstr9_6CInputServicesTotalIGST
    +ViewBag.Gstr9_6DInputsTotalIGST+ ViewBag.Gstr9_6DCapitalGoodsTotalIGST+ ViewBag.Gstr9_6DInputServicesTotalIGST
    + ViewBag.Gstr9_6EInputsTotalIGST+ ViewBag.Gstr9_6ECapitalGoodsTotalIGST+ ViewBag.Gstr9_6FTotalIGST)
                </td>
                <td>
                    @(ViewBag.Gstr9_6BInputsTotalCESS+ ViewBag.Gstr9_6BCapitalGoodsTotalCESS+ ViewBag.Gstr9_6BInputServicesTotalCESS
    + ViewBag.Gstr9_6CInputsTotalCESS+ ViewBag.Gstr9_6CCapitalGoodsTotalCESS+ ViewBag.Gstr9_6CInputServicesTotalCESS
    +ViewBag.Gstr9_6DInputsTotalCESS+ ViewBag.Gstr9_6DCapitalGoodsTotalCESS+ ViewBag.Gstr9_6DInputServicesTotalCESS
    + ViewBag.Gstr9_6EInputsTotalCESS+ ViewBag.Gstr9_6ECapitalGoodsTotalCESS+ ViewBag.Gstr9_6FTotalCESS)
                </td>
            </tr>
            <tr style="background:#eee">
                <td> J</td>
                <td colspan="2">
                    Difference (I-A above)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> K</td>
                <td colspan="2">
                    Transition Credit through TRAN-I (including revisions if any)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> L</td>
                <td colspan="2">
                    Transition Credit through TRAN-II
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr style="background:#eee">
                <td> M</td>
                <td colspan="2">
                    Any other ITC availed but not specified above
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr style="background:#eee">
                <td> N</td>
                <td colspan="2">
                    Sub-total (K to M above)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr style="background:#eee">
                <td> O</td>
                <td colspan="2">
                    Total ITC availed (I+ N above)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr class="bg-secondary">
                <td>7</td>
                <td colspan="6">Details of ITC availed as declared in returns filed during the financial year</td>
            </tr>
            <tr>
                <td> A</td>
                <td colspan="2">
                    As per Rule 37
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> B</td>
                <td colspan="2">
                    As per Rule 39
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> C</td>
                <td colspan="2">
                    As per Rule 42
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> D</td>
                <td colspan="2">
                    As per Rule 43
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> E</td>
                <td colspan="2">
                    As per section 17(5)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> F</td>
                <td colspan="2">
                    Reversal of TRAN-I credit
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> G</td>
                <td colspan="2">
                    Reversal of TRAN-II credit
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> H</td>
                <td colspan="2">
                    Other reversals (pl. specify)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr style="background:#eee">
                <td> I</td>
                <td colspan="2">
                    Total ITC Reversed (A to H above)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr style="background:#eee">
                <td> J</td>
                <td colspan="2">
                    Net ITC Available for Utilization (6O - 7I)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr class="bg-secondary">
                <td>8</td>
                <td colspan="6">Other ITC related information</td>
            </tr>
            <tr>
                <td> A</td>
                <td colspan="2">
                    ITC as per GSTR-2A (Table 3 & 5 thereof)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> B</td>
                <td colspan="2">
                    ITC as per sum total of 6(B) and 6(H) above
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> C</td>
                <td colspan="2">
                    ITC on inward supplies (other than imports and inward supplies liable<br />
                    to reverse charge but includes services received from SEZs) received<br />
                    during 2017-18 but availed during April to September, 2018
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> D</td>
                <td colspan="2">
                    Difference [A-(B+C)]
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> E</td>
                <td colspan="2">
                    ITC available but not availed (out of D)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> F</td>
                <td colspan="2">
                    ITC available but ineligible (out of D)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> G</td>
                <td colspan="2">
                    IGST paid on import of goods (including supplies from SEZ)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> H</td>
                <td colspan="2">
                    IGST credit availed on import of goods (as per 6(E) above)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> I</td>
                <td colspan="2">
                    Difference (G-H)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td> J</td>
                <td colspan="2">
                    ITC available but not availed on import of goods (Equal to I)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr style="background:#eee">
                <td> K</td>
                <td colspan="2">
                    Total ITC to be lapsed in current financial year (E + F + J)
                </td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
        </tbody>
    </table>

    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr class="bg-secondary">
                <th>Pt. IV</th>
                <th colspan="7" class="text-center">Details of tax paid as declared in returns filed during the financial year</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td rowspan="2"> 9</td>
                <td rowspan="2">Description</td>
                <td rowspan="2">Tax Payable</td>
                <td rowspan="2">Paid through cash</td>
                <td colspan="5" class="text-center">Paid through ITC</td>
            </tr>
            <tr>
                <td>Central Tax</td>
                <td>State Tax / UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
            </tr>
            <tr>
                <td rowspan="2"> </td>
            </tr>
            <tr>
                <td> 1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Integrated Tax</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>Central Tax</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>State/UT Tax</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>Cess</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>Interest</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>Late fee</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>Penalty</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>Other</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
        </tbody>
    </table>

    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr class="bg-secondary">
                <th>Pt. V</th>
                <th colspan="7" class="text-center">
                    Particulars of the transactions for the previous FY declared in returns of April to
                    September of current FY or upto date of filing of annual return of previous FY whichever is earlier
                </th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td rowspan="3"> </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>Taxable Value</td>
                <td>Central Tax</td>
                <td>State Tax / UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
            </tr>
            <tr>
                <td> 1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=10';" style="cursor: pointer;">
                <td>10</td>
                <td>Supplies / tax declared through Amendments (+) (net of debit notes)</td>
                <td>@ViewBag.Gstr9_10TotalTaxableValue</td>
                <td>@ViewBag.Gstr9_10TotalCGST</td>
                <td>@ViewBag.Gstr9_10TotalSGST</td>
                <td>@ViewBag.Gstr9_10TotalIGST</td>
                <td>@ViewBag.Gstr9_10TotalCESS</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=11';" style="cursor: pointer;">
                <td>11</td>
                <td>Supplies / tax reduced through Amendments (-) (net of credit notes)</td>
                <td>@ViewBag.Gstr9_11TotalTaxableValue</td>
                <td>@ViewBag.Gstr9_11TotalCGST</td>
                <td>@ViewBag.Gstr9_11TotalSGST</td>
                <td>@ViewBag.Gstr9_11TotalIGST</td>
                <td>@ViewBag.Gstr9_11TotalCESS</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Reversal of ITC availed during previous financial year</td>
                <td colspan="5">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>13</td>
                <td>ITC availed for the previous financial year</td>
                <td colspan="5">- - - - Not Supported - - - -</td>
            </tr>
            <tr class="bg-secondary">
                <td>14</td>
                <td colspan="6" class="text-center">Differential tax paid on account of declaration in 10 & 11 above</td>
            </tr>
            <tr>
                <td rowspan="8"></td>
            </tr>
            <tr>
                <td colspan="3">Description</td>
                <td colspan="2">Payable</td>
                <td colspan="2">Paid</td>
            </tr>
            <tr>
                <td colspan="3">1</td>
                <td colspan="2">2</td>
                <td colspan="2">3</td>
            </tr>
            <tr>
                <td colspan="3">Integrated Tax</td>
                <td colspan="2">@(ViewBag.Gstr9_14TotalIGST - ViewBag.Gstr9_10TotalIGST )</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="3">Central Tax</td>
                <td colspan="2">@(ViewBag.Gstr9_14TotalCGST- ViewBag.Gstr9_10TotalCGST)</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="3">State/UT Tax</td>
                <td colspan="2">@(ViewBag.Gstr9_14TotalSGST- ViewBag.Gstr9_10TotalSGST)</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="3">Cess</td>
                <td colspan="2">@(ViewBag.Gstr9_14TotalCESS- ViewBag.Gstr9_10TotalCESS)</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="3">Interest</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>

    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr class="bg-secondary">
                <th>Pt. VI</th>
                <th colspan="8" class="text-center">
                    Other Information
                </th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr class="bg-secondary">
                <td>15 </td>
                <td colspan="8" class="text-center">Particulars of Demands and Refunds</td>
            </tr>
            <tr>
                <td rowspan="3"> </td>
            </tr>
            <tr>
                <td>Details</td>
                <td>Central Tax</td>
                <td>State Tax / UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
                <td>Interest</td>
                <td>Penalty</td>
                <td>Late Fee / Others</td>
            </tr>
            <tr>
                <td> 1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>A</td>
                <td>Total Refund claimed</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>B</td>
                <td>Total Refund sanctioned</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>C</td>
                <td>Total Refund Rejected</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>D</td>
                <td>Total Refund Pending</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>E</td>
                <td>Total demand of taxes</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>F</td>
                <td>Total taxes paid in respect of E above</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>G</td>
                <td>Total demands pending out of E above</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr class="bg-secondary">
                <td>16 </td>
                <td colspan="8" class="text-center">Information on supplies received from composition taxpayers, deemed supply under section 143 and goods sent on approval basis</td>
            </tr>
            <tr>
                <td rowspan="3"> </td>
            </tr>
            <tr>
                <td colspan="3">Details</td>
                <td>Taxable Value</td>
                <td>Central Tax</td>
                <td>State Tax / UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
            </tr>
            <tr>
                <td colspan="3"> 1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=16A';" style="cursor: pointer;">
                <td>A</td>
                <td colspan="3">Supplies received from Composition taxpayers</td>
                <td>@ViewBag.Gstr9_16ATotalTaxableValue</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>B</td>
                <td colspan="3">Deemed supply under Section 143</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>C</td>
                <td colspan="3">Goods sent on approval basis but not returned	</td>
                <td colspan="7" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr class="bg-secondary">
                <td>17 </td>
                <td colspan="8" class="text-center">HSN Wise Summary of outward supplies</td>
            </tr>
            <tr>
                <td>HSN Code</td>
                <td>UQC</td>
                <td>Total Quantity</td>
                <td>Taxable Value</td>
                <td>Rate of Tax</td>
                <td>Central Tax</td>
                <td>State Tax / UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
            </tr>
            <tr>
                <td> 1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>
            @foreach (var item in ViewBag.Gstr9_17)
            {
                decimal cgst = 0, sgst = 0, igst = 0, cess = 0;

                foreach (var inner in item.TaxTypes)
                {
                    if (inner.TaxType == "CGST")
                    {
                        cgst = inner.TaxAmount;
                    }
                    else if (inner.TaxType == "SGST" || inner.TaxType == "UTGST")
                    {
                        sgst = sgst + inner.TaxAmount;
                    }
                    else if (inner.TaxType == "IGST")
                    {
                        igst = inner.TaxAmount;
                    }
                    else if (inner.TaxType == "CESS")
                    {
                        cess = inner.TaxAmount;
                    }
                }
                <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=17&Unit=@item.Unit&Code=@item.Code&TaxPercent=@item.TaxPercent';" style="cursor: pointer;">
                    <td> @item.Code</td>
                    <td>@item.Unit</td>
                    <td>@item.Quantity</td>
                    <td>@item.AmountExcTax</td>
                    <td>@item.TaxPercent</td>
                    <td>@cgst</td>
                    <td>@sgst</td>
                    <td>@igst</td>
                    <td>@cess</td>
                </tr>
            }
            <tr class="bg-secondary">
                <td>18 </td>
                <td colspan="8" class="text-center">HSN Wise Summary of Inward supplies</td>
            </tr>
            <tr>
                <td>HSN Code</td>
                <td>UQC</td>
                <td>Total Quantity</td>
                <td>Taxable Value</td>
                <td>Rate of Tax</td>
                <td>Central Tax</td>
                <td>State Tax / UT Tax</td>
                <td>Integrated Tax</td>
                <td>Cess</td>
            </tr>
            <tr>
                <td> 1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>
            @foreach (var item in ViewBag.Gstr9_17)
            {
                decimal cgst = 0, sgst = 0, igst = 0, cess = 0;

                foreach (var inner in item.TaxTypes)
                {
                    if (inner.TaxType == "CGST")
                    {
                        cgst = inner.TaxAmount;
                    }
                    else if (inner.TaxType == "SGST" || inner.TaxType == "UTGST")
                    {
                        sgst = sgst + inner.TaxAmount;
                    }
                    else if (inner.TaxType == "IGST")
                    {
                        igst = inner.TaxAmount;
                    }
                    else if (inner.TaxType == "CESS")
                    {
                        cess = inner.TaxAmount;
                    }
                }
                <tr onclick="window.location.href='/taxreports/Gstr9Details?Type=18&Unit=@item.Unit&Code=@item.Code&TaxPercent=@item.TaxPercent';" style="cursor: pointer;">
                    <td> @item.Code</td>
                    <td>@item.Unit</td>
                    <td>@item.Quantity</td>
                    <td>@item.AmountExcTax</td>
                    <td>@item.TaxPercent</td>
                    <td>@cgst</td>
                    <td>@sgst</td>
                    <td>@igst</td>
                    <td>@cess</td>
                </tr>
            }
            <tr class="bg-secondary">
                <td>19 </td>
                <td colspan="8" class="text-center">Late fee payable and paid</td>
            </tr>
            <tr>
                <td rowspan="3"></td>
            </tr>
            <tr>
                <td colspan="4">Description</td>
                <td colspan="2">Payable</td>
                <td colspan="2">Paid</td>
            </tr>
            <tr>
                <td colspan="4">1</td>
                <td colspan="2">2</td>
                <td colspan="2">3</td>
            </tr>
            <tr>
                <td>A</td>
                <td colspan="4">Central Tax</td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
            <tr>
                <td>B</td>
                <td colspan="4">State Tax</td>
                <td colspan="4" class="text-center">- - - - Not Supported - - - -</td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">
    $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
        @*$('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
        $('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
        $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>

