

@{
    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr>
                <th>Document Details </th>
                <th>No. of Record</th>
                <th>Total Invoice Value (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>Total Taxable Value (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>CGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>SGST/ UTGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>IGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>CESS (@ViewBag.BusinessSetting.CurrencySymbol)</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td>Inward supplies received from registered person<br /> including reverse charge supplies-3, 4A </td>
                <td>@ViewBag.B2BTotalCount</td>
                <td>@ViewBag.B2BTotalInvoiceValue</td>
                <td>@ViewBag.B2BTotalTaxableValue</td>
                <td>@ViewBag.B2BTotalCGST</td>
                <td>@ViewBag.B2BTotalSGST</td>
                <td>@ViewBag.B2BTotalIGST</td>
                <td>@ViewBag.B2BTotalCESS</td>
            </tr>
            <tr>
                <td>Import of Inputs/ Capital Goods and Supplies<br /> received from SEZ-5</td>
                <td>@ViewBag.B2CLargeTotalCount</td>
                <td>@ViewBag.B2CLargeTotalInvoiceValue</td>
                <td>@ViewBag.B2CLargeTotalTaxableValue</td>
                <td>@ViewBag.B2CLargeTotalCGST</td>
                <td>@ViewBag.B2CLargeTotalSGST</td>
                <td>@ViewBag.B2CLargeTotalIGST</td>
                <td>@ViewBag.B2CLargeTotalCESS</td>
            </tr>
            <tr>
                <td>Import of Service-4C </td>
                <td>@ViewBag.B2CSmallTotalCount</td>
                <td>@ViewBag.B2CSmallTotalInvoiceValue</td>
                <td>@ViewBag.B2CSmallTotalTaxableValue</td>
                <td>@ViewBag.B2CSmallTotalCGST</td>
                <td>@ViewBag.B2CSmallTotalSGST</td>
                <td>@ViewBag.B2CSmallTotalIGST</td>
                <td>@ViewBag.B2CSmallTotalCESS</td>
            </tr>
            <tr>
                <td>Debit/Credit Notes for supplies from <br /> registered person-6C </td>
                <td>@ViewBag.ExportsTotalCount</td>
                <td>@ViewBag.ExportsTotalInvoiceValue</td>
                <td>@ViewBag.ExportsTotalTaxableValue</td>
                <td>@ViewBag.ExportsTotalCGST</td>
                <td>@ViewBag.ExportsTotalSGST</td>
                <td>@ViewBag.ExportsTotalIGST</td>
                <td>@ViewBag.ExportsTotalCESS</td>
            </tr>
            <tr>
                <td>Inward supplies from an unregistered supplier-4B </td>
                <td>@ViewBag.CreditDebitRegisteredTotalCount</td>
                <td>@ViewBag.CreditDebitRegisteredTotalInvoiceValue</td>
                <td>@ViewBag.CreditDebitRegisteredTotalTaxableValue</td>
                <td>@ViewBag.CreditDebitRegisteredTotalCGST</td>
                <td>@ViewBag.CreditDebitRegisteredTotalSGST</td>
                <td>@ViewBag.CreditDebitRegisteredTotalIGST</td>
                <td>@ViewBag.CreditDebitRegisteredTotalCESS</td>
            </tr>
            <tr>
                <td>Debit Notes/Credit Notes for Unregistered Supplier-6C </td>
                <td>@ViewBag.CreditDebitUnRegisteredTotalCount</td>
                <td>@ViewBag.CreditDebitUnRegisteredTotalInvoiceValue</td>
                <td>@ViewBag.CreditDebitUnRegisteredTotalTaxableValue</td>
                <td>@ViewBag.CreditDebitUnRegisteredTotalCGST</td>
                <td>@ViewBag.CreditDebitUnRegisteredTotalSGST</td>
                <td>@ViewBag.CreditDebitUnRegisteredTotalIGST</td>
                <td>@ViewBag.CreditDebitUnRegisteredTotalCESS</td>
            </tr>
            <tr>
                <td>Supplies from composition taxable person and other<br /> exempt, nil rated, and non GST supplies-7 </td>
                <td>@ViewBag.AdvancesReceivedTotalCount</td>
                <td>@ViewBag.AdvancesReceivedTotalInvoiceValue</td>
                <td>@ViewBag.AdvancesReceivedTotalTaxableValue</td>
                <td>@ViewBag.AdvancesReceivedTotalCGST</td>
                <td>@ViewBag.AdvancesReceivedTotalSGST</td>
                <td>@ViewBag.AdvancesReceivedTotalIGST</td>
                <td>@ViewBag.AdvancesReceivedTotalCESS</td>
            </tr>
            <tr>
                <td>Advance Amount paid for<br /> reverse charge supplies-10A </td>
                <td>@ViewBag.AdjustmentOfAdvancesTotalCount</td>
                <td>@ViewBag.AdjustmentOfAdvancesTotalInvoiceValue</td>
                <td>@ViewBag.AdjustmentOfAdvancesTotalTaxableValue</td>
                <td>@ViewBag.AdjustmentOfAdvancesTotalCGST</td>
                <td>@ViewBag.AdjustmentOfAdvancesTotalSGST</td>
                <td>@ViewBag.AdjustmentOfAdvancesTotalIGST</td>
                <td>@ViewBag.AdjustmentOfAdvancesTotalCESS</td>
            </tr>
            <tr>
                <td>Adjustment of advance amount paid earlier<br /> for reverse charge supplies-10B </td>
                <td>@ViewBag.HsnWiseSummaryTotalCount</td>
                <td>@ViewBag.HsnWiseSummaryTotalInvoiceValue</td>
                <td>@ViewBag.HsnWiseSummaryTotalTaxableValue</td>
                <td>@ViewBag.HsnWiseSummaryTotalCGST</td>
                <td>@ViewBag.HsnWiseSummaryTotalSGST</td>
                <td>@ViewBag.HsnWiseSummaryTotalIGST</td>
                <td>@ViewBag.HsnWiseSummaryTotalCESS</td>
            </tr>
            <tr>
                <td>HSN summary of inward supplies-13 </td>
                <td>@ViewBag.HsnWiseSummaryTotalCount</td>
                <td>@ViewBag.HsnWiseSummaryTotalInvoiceValue</td>
                <td>@ViewBag.HsnWiseSummaryTotalTaxableValue</td>
                <td>@ViewBag.HsnWiseSummaryTotalCGST</td>
                <td>@ViewBag.HsnWiseSummaryTotalSGST</td>
                <td>@ViewBag.HsnWiseSummaryTotalIGST</td>
                <td>@ViewBag.HsnWiseSummaryTotalCESS</td>
            </tr>
            <tr>
                <td>Input Tax Credit Reversal/ Reclaim-11 </td>
                <td>@ViewBag.HsnWiseSummaryTotalCount</td>
                <td>@ViewBag.HsnWiseSummaryTotalInvoiceValue</td>
                <td>@ViewBag.HsnWiseSummaryTotalTaxableValue</td>
                <td>@ViewBag.HsnWiseSummaryTotalCGST</td>
                <td>@ViewBag.HsnWiseSummaryTotalSGST</td>
                <td>@ViewBag.HsnWiseSummaryTotalIGST</td>
                <td>@ViewBag.HsnWiseSummaryTotalCESS</td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">
    $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
        @*$('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
        $('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
        $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>
