


@{
    <table id="tblData" class="table table-bordered ">
        <thead id="thead">
            <tr>
                <th>S.No </th>
                <th>Description</th>
                <th>Value (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>IGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>CGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>SGST/ UTGST (@ViewBag.BusinessSetting.CurrencySymbol)</th>
                <th>CESS (@ViewBag.BusinessSetting.CurrencySymbol)</th>
            </tr>
        </thead>
        <tbody class="table-body">
            @*<tr onclick="window.location.href='/taxreports/GstrCmp08Details?TaxSettingId=@ViewBag.TaxSettingId&title=Outward supplies (including exempt supplies)';" style="cursor: pointer;">*@
            <tr>
                <td>1</td>
                <td><a href="/taxreports/GstrCmp08Details?TaxSettingId=@ViewBag.TaxSettingId&title=Outward supplies (including exempt supplies)&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">Outward supplies (including exempt supplies)</a> </td>
                <td>@(String.Format("{0:0.##}", ViewBag.OutwardTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.OutwardTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.OutwardTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.OutwardTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.OutwardTotalCESS))</td>
            </tr>
            @*<tr onclick="window.location.href='/taxreports/GstrCmp08Details?TaxSettingId=@ViewBag.TaxSettingId&title=Inward supplies attracting reverse charge including import of services';" style="cursor: pointer;">*@
            <tr>
                <td>2</td>
                <td><a href="/taxreports/GstrCmp08Details?TaxSettingId=@ViewBag.TaxSettingId&title=Inward supplies attracting reverse charge including import of services&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">Inward supplies attracting reverse charge including import of services </a> </td>
                <td>@(String.Format("{0:0.##}", ViewBag.InwardTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.InwardTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.InwardTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.InwardTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.InwardTotalCESS))</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Tax payable (1+2) </td>
                <td>@(String.Format("{0:0.##}", ViewBag.OutwardTotalInvoiceValue + ViewBag.InwardTotalInvoiceValue))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.OutwardTotalIGST + ViewBag.InwardTotalIGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.OutwardTotalCGST + ViewBag.InwardTotalCGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.OutwardTotalSGST + ViewBag.InwardTotalSGST))</td>
                <td>@(String.Format("{0:0.##}", ViewBag.OutwardTotalCESS + ViewBag.InwardTotalCESS))</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Interest payable, if any</td>
                <td colspan="5" class="text-center">Auto-populated in the GST Portal</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Tax and interest paid </td>
                <td colspan="5" class="text-center">Auto-populated in the GST Portal</td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">
    $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
        @*$('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
        $('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
        $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>
