@{
    if (ViewBag.Account != null)
    {
        <div class="modal-header">
            <h4 class="modal-title">Bank/ Credit Card Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <div class="card card-outline">
                    @*<div class="card-header">
                            <h3 class="card-title">Parent Purchase Info</h3>
                        </div>*@
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Account Type </label>
                                    <div class="input-group">
                                        @if (ViewBag.Account.Type == "Bank")
                                        {
                                            <span>Bank</span>
                                        }
                                        else
                                        {
                                            <span>Credit Card</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Account Name </label>
                                    <span class="input-group">@ViewBag.Account.AccountName</span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    @if (ViewBag.Account.Type == "Bank")
                                    {
                                        <label id="lblAccountNumber">Account Number </label>
                                    }
                                    else
                                    {
                                        <label id="lblAccountNumber">Card Number </label>
                                    }
                                    <span class="input-group">@ViewBag.Account.AccountNumber</span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Bank Name</label>
                                    <span class="input-group">@ViewBag.Account.BankName</span>
                                </div>
                            </div>
                            @if (ViewBag.CurrencyPermission.IsView == true)
                            {
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Currency</label>
                                        <div class="input-group">
                                            @foreach (var item in ViewBag.Currencys)
                                            {
                                                if (ViewBag.Account.CurrencyId == item.CurrencyId)
                                                {
                                                    <span>@item.CurrencyName (@item.CurrencyCode) </span>
                                                }
                                            }
                                        </div>
                                    </div>

                                </div>
                            }
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Notes </label>
                                    <span class="input-group">@ViewBag.Account.Notes</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="w-50">Account Values </label>
                                        @*<span class="input-group-append">
                                            <a href="javascript:void(0)" class="btn btn-info btn-sm add-row"><i class="fas fa-plus"> Add</i></a>
                                        </span>*@
                                    </div>
                                    <div id="addrow">
                                        @{
                                            foreach (var item in ViewBag.Account.AccountDetails)
                                            {
                                                <div class="input-group mb-1 divAccountDetails" id="row@(item.AccountDetailsId)">
                                                    <span>@item.Label : @item.Value </span>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    }
}



