
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Stock Transfer List";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Stock Transfer List</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Stock Transfer List</li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-6">
                @if (ViewBag.MenuPermission.IsAdd)
                {
                    <a id="btnNew" href="/stocktransfer/add" class="btn btn-primary float-sm-right mr-2"><i class="fas fa-plus"></i> Add New</a>
                    @*<a id="btnImport" href="/stocktransfer/stocktransferImport" class="btn btn-info float-sm-right mr-2"><i class="fas fa-upload"></i> Import</a>*@
                }
                @*<a href="javascript:void(0)" data-toggle="modal" data-target="#faqModal" class="btn btn-secondary float-sm-right mr-2">FAQs</a>*@
            </div>
            <div class="col-sm-12">
                <span id="divAsof" class="text-gray"></span>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">

    <div class="container-fluid">
        <div class="row">
            @*<div class="col-12 noPrint">
                    <div class="card  card-primary card-outline">
                        <div class="card-header" data-card-widget="collapse" title="Collapse">
                            <h3 class="card-title">Filter</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-plus"></i>
                                </button>

                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                @if (ViewBag.Branchs.Count > 1)
                                {
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <label>From Business Location</label>
                                            <select class="form-control select2" style="width: 100%;" id="ddlBranch">
                                                @foreach (var item in ViewBag.Branchs)
                                                {
                                                    if (ViewBag.BranchId == item.BranchId)
                                                    {
                                                        <option value="@item.BranchId" selected>@item.Branch</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.BranchId">@item.Branch</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <label>To Business Location</label>
                                            <select class="form-control select2" style="width: 100%;" id="ddlBranch">
                                                @foreach (var item in ViewBag.Branchs)
                                                {
                                                    if (ViewBag.BranchId == item.BranchId)
                                                    {
                                                        <option value="@item.BranchId" selected>@item.Branch</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.BranchId">@item.Branch</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }

                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control float-right" id="txtFromDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control float-right" id="txtToDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right mt-2" onclick="fetchList(1)">Search</button>
                        </div>
                    </div>
                </div>*@
            <div class="col-12">
                @*<div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                        <h5><i class="fas fa-info"></i> Note:</h5>
                        This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                    </div>*@
                <div class="card  card-primary card-outline collapsed-card">
                    <div class="card-header" data-card-widget="collapse" title="Collapse">
                        <h3 class="card-title">Filter</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus"></i>
                            </button>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            @if (ViewBag.Branchs.Count > 1)
                            {
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>From Business Location</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlFromBranch">
                                            <option value="">All</option>
                                            @foreach (var item in ViewBag.Branchs)
                                            {
                                                if (ViewBag.BranchId == item.BranchId)
                                                {
                                                    <option value="@item.BranchId" selected>@item.Branch</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.BranchId">@item.Branch</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.Branchs.Count > 1)
                            {
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>To Business Location</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlToBranch">
                                            <option value="">All</option>
                                            @foreach (var item in ViewBag.Branchs)
                                            {
                                                <option value="@item.BranchId">@item.Branch</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <label>Date Range:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="txtDateRange" value="@(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) +" - "+ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]))">
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control float-right" id="txtFromDate" value="@(ViewBag.FromDate == null ? ViewBag.FromDate : ViewBag.FromDate.ToString("yyyy-MM-dd"))">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control float-right" id="txtToDate" value="@(ViewBag.FromDate == null ? ViewBag.FromDate : ViewBag.FromDate.ToString("yyyy-MM-dd"))">
                                        </div>
                                    </div>
                                </div>*@

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control select2" id="ddlStatus" style="width:100%">
                                        <option value="0">All</option>
                                        <option value="1">Pending</option>
                                        <option value="2">In Transit</option>
                                        <option value="3">Completed</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                <div class="form-group">
                                    <label>Reference No.</label>
                                    <input type="text" class="form-control" id="txtReferenceNo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right mt-2" onclick="fetchList(1)">Search</button>
                        <button type="submit" class="btn btn-warning float-right mt-2 mr-2" onclick="window.location.reload()">Refresh</button>
                    </div>
                </div>
            </div>
            <div class="col-12">

                <!-- /.card -->
                <div class="card  card-primary card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5>
                                    <span class="success" id="divTotalCount">
                                        Total : 0
                                    </span>
                                    |
                                    <span class="primary" id="divActiveCount">
                                        Active : 0
                                    </span>
                                    |
                                    <span class="danger" id="divInactiveCount">In-Active : 0</span>
                                </h5>
                            </div>
                            @*@if (ViewBag.Branchs.Count > 1)
                                {
                                    <div class="col-sm-6 text-right">
                                        <label>Business Location :</label>
                                        <label class="mb-0 font-weight-normal">
                                            <select class="form-control select2" style="width: 100%;" id="ddlBranch" onchange="fetchList(1)">

                                                @foreach (var item in ViewBag.Branchs)
                                                {
                                                    <option value="@item.BranchId">@item.Branch</option>
                                                }
                                            </select>
                                        </label>
                                    </div>
                                }*@
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="tblUserRole_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="dataTables_length noPrint" id="tblUserRole_length">
                                <label>
                                    Show
                                    <select name="tblUserRole_length" aria-controls="tblUserRole" class="custom-select custom-select-sm form-control form-control-sm"
                                            onchange="fetchList(1)" id="txtPageSize">
                                        @{
                                            if (ViewBag.PageSize == 10)
                                            {
                                                <option value="10" selected>10</option>
                                            }
                                            else
                                            {
                                                <option value="10">10</option>
                                            }
                                            if (ViewBag.PageSize == 25)
                                            {
                                                <option value="25" selected>25</option>
                                            }
                                            else
                                            {
                                                <option value="25">25</option>
                                            }
                                            if (ViewBag.PageSize == 50)
                                            {
                                                <option value="50" selected>50</option>
                                            }
                                            else
                                            {
                                                <option value="50">50</option>
                                            }
                                            if (ViewBag.PageSize == 100)
                                            {
                                                <option value="100" selected>100</option>
                                            }
                                            else
                                            {
                                                <option value="100">100</option>
                                            }
                                            if (ViewBag.PageSize == 500)
                                            {
                                                <option value="500" selected>500</option>
                                            }
                                            else
                                            {
                                                <option value="500">500</option>
                                            }
                                        }
                                    </select> entries
                                </label>
                            </div>
                            @if (ViewBag.MenuPermission.IsExport)
                            {
                               <div class="dt-buttons btn-group flex-wrap noPrint">
                                   <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToCsv('@ViewBag.Title')"><span>CSV</span></button>
                                   <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToExcel('@ViewBag.Title')"><span>Excel</span></button>
                                   <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToPdf('@ViewBag.Title')"><span>PDF</span></button>
                                   <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="tblUserRole" type="button" onclick="printDiv('@ViewBag.Title')"><span>Print</span></button>
                               </div>
                            }
                            <div id="tblUserRole_filter" class="dataTables_filter noPrint invisible"><label>Search:<input type="text" class="form-control form-control-sm" placeholder="" aria-controls="tblUserRole" id="txtSearch" onkeyup="fetchList(1)"></label></div>
                            <div class="row mt-1">
                                <div class="col-sm-12 table-responsive">
                                    <table id="tblData" class="table table-bordered table-striped">
                                        @Html.Partial("PartialStockTransfer")
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<div class="modal fade" id="faqModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FAQs</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="p-0 pl-2 pr-2">
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">Can I track my stock in multiple locations?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Yes, you can track your inventory levels at multiple locations through this software. Besides checking the system, the software also notifies you about any disruption in the supply chain so you can resolve the problem efficiently.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">What are various types of stock transfer?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    •	Stock transfers can occur at three different levels:
                                    •	Stock transfer from company code to company code.
                                    •	Stock transfer from plant to plant.
                                    •	Stock transfer from storage location to storage location (in the plant)
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">What does it mean to transfer stock?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Stock transfer is the act of moving goods from one part of the distribution chain to another. An internal purchase order is created for stock transfer between branches and warehouses.<br />
                                    A stock transport order, generated by converting a stock transport requisition, exists in SAP ERP. The goods issue for delivery is posted to the issuing plant. The booked-out quantity is then managed in the stock in transit of the receiving plant.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">What is the difference between transfer posting and stock transfer?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Transfer postings differ from stock transfers, in that transfer postings are not connected with a physical goods movement. They usually involve a change in stock type, batch number, or material number. An example of transfer posting is the release from inspection into the company's own stock.
                                    Types of stock transfer:
                                    Intercompany transfer
                                    In this process, inventory is transferred between two companies with the involvement of many departments in both parties such as sales, logistics or procurement. The process may become more complicated if identification codes used by the two parties are different.
                                    Intra-company transfer
                                    In this type of stock transferring process, two particular locations belonging to the same company participate in the inventory transferring process. The intra-company transfer is considered less complicated than intercompany transfer thanks to the involvement of departments in only one entity.
                                    One-step transferring process
                                    In this process, inventory is transferred from one to another location through a single Stock Transfer Order (STO). Companies are recommended to use this method only in case it is an intra-company transferring process and the locations should not be too far from each other.
                                    Two-step transferring process
                                    This is a more efficient process in terms of tracking stock transferring and inventory management since STO is issued by both ends.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">Why should retail businesses document stock transfer?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Retail businesses have to annually carry out stock transfers numerous times. And following are highlight benefits that retailers may get from an efficient transferring process.
                                    Stock transfers enable businesses to maintain their inventory records through documentation.
                                    Businesses can also manage unexpected damage which may be caused by improper transferring processes.
                                    With transferring documentation, retailers can assure their audit processes are accurate and reliable.
                                    Transferring documentation also supports retailers to keep their businesses on track.
                                    STOs document used in transferring processes simplifies the intercompany transfer.
                                    Companies can also aid taxation and compliance audits
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="ViewModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="divView">
            @Html.Partial("PartialStockTransferView")
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/JQuery/Customer/Items/StockTransfer.js"></script>
