@model EquiBillBook.Models.ClsInvoiceTemplatesMaster

@{
    ViewBag.Title = "Create Pre-defined Template";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create Pre-defined Template</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admindashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/admintemplatemaster/index">Template Masters</a></li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        @using (Html.BeginForm("CreatePreDefinedTemplate", "AdminTemplateMaster", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.InvoiceType) <span class="text-danger">*</span>
                        @Html.TextBoxFor(m => m.InvoiceType, new { @class = "form-control divInvoiceType_ctrl", id = "txtInvoiceType" })
                        <small class="text-red font-weight-bold errorText" id="divInvoiceType"></small>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.TemplateKey) <span class="text-danger">*</span>
                        @Html.TextBoxFor(m => m.TemplateKey, new { @class = "form-control divTemplateKey_ctrl", id = "txtTemplateKey" })
                        <small class="text-red font-weight-bold errorText" id="divTemplateKey"></small>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.TemplateName) <span class="text-danger">*</span>
                        @Html.TextBoxFor(m => m.TemplateName, new { @class = "form-control divTemplateName_ctrl", id = "txtTemplateName" })
                        <small class="text-red font-weight-bold errorText" id="divTemplateName"></small>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 3, id = "txtDescription" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PreviewColor)
                        @Html.TextBoxFor(m => m.PreviewColor, new { @class = "form-control", id = "txtPreviewColor" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Icon)
                        @Html.TextBoxFor(m => m.Icon, new { @class = "form-control", id = "txtIcon" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PreviewImageUrl)
                        @Html.TextBoxFor(m => m.PreviewImageUrl, new { @class = "form-control", id = "txtPreviewImageUrl" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.TemplateHtmlPath)
                        @Html.TextBoxFor(m => m.TemplateHtmlPath, new { @class = "form-control", id = "txtTemplateHtmlPath" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.TemplateConfig)
                        @Html.TextAreaFor(m => m.TemplateConfig, new { @class = "form-control", rows = 4, id = "txtTemplateConfig" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.SortOrder)
                        @Html.TextBoxFor(m => m.SortOrder, new { @class = "form-control", id = "txtSortOrder" })
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-check-input" })
                            Active
                        </label>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="btnSave" type="submit" class="btn btn-primary float-right" onclick="insert(1)"><i class="fas fa-save"></i> Save</button>
                    <button id="btnSave_AddAnother" type="submit" class="btn btn-success float-right mr-2" onclick="insert(2)"><i class="fas fa-plus-circle"></i> Save & Add Another</button>
                    @*<a id="btnBack" href="/admintemplatemaster/index" class="btn btn-warning float-sm-right mr-2"><i class="fas fa-arrow-left"></i> Back</a>*@
                </div>
            </div>
        }
    </div>
</section>

<script src="~/Content/JQuery/Admin/AdminTemplateMaster.js"></script>
