<div class="form-group">
    <label>Sub Sub Category </label>
    <div class="input-group">
        <select class="form-control select2" id="ddlSubSubCategory">
            @{
                if (ViewBag.SubSubCategories != null)
                {
                    <option value="0">Select</option>
                    foreach (var item in ViewBag.SubSubCategories)
                    {
                        if (ViewBag.Item == null)
                        {
                            <option value="@item.SubSubCategoryId">@item.SubSubCategory</option>
                        }
                        else
                        {
                            if (ViewBag.Item.SubSubCategoryId == item.SubSubCategoryId)
                            {
                                <option value="@item.SubSubCategoryId" selected>@item.SubSubCategory</option>
                            }
                            else
                            {
                                <option value="@item.SubSubCategoryId">@item.SubSubCategory</option>
                            }
                        }

                    }
                }
            }
        </select>
        @if (ViewBag.SubSubCategoriesPermission.IsAdd == true)
        {
            <span class="input-group-append hideButton">
                <a href="javascript:void(0)" class="btn btn-info" onclick="openSubSubCategoryModal()">+ </a>
            </span>
        }
        </div>

    </div>

