 


@{
    var count = 1;
    <thead id="thead">
        <tr>
            <th>Sln</th>
            <th>Is Quick Link</th>
            <th>Quick Link Parent Menu</th>
            <th>Parent Menu</th>
            <th>Menu</th>
            <th>Title</th>
            <th>Class</th>
            <th>Url</th>
            <th>Sequence</th>
            <th>Icon</th>
            <th>Has Children</th>
            <th>Menu Type</th>
            <th>Report Section</th>
            <th>Is Menu</th>
            <th>Is View</th>
            <th>Is Add</th>
            <th>Is Edit</th>
            <th>Is Delete</th>
            <th>Is Export</th>
            <th>Is Active</th>
            <th>Is Deleted</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="table-body divCombo">
        @foreach (var item in ViewBag.Menus)
        {
        <tr id="divCombo@(count)">
            <td>
                @(count)
                <input type="hidden" id="hdnMenu@(count)" value="@item.MenuId" />
            </td>
            <td><input type="checkbox" @(item.IsQuickLink == true ? "checked" : "") id="chkIsQuickLink@(count)" /></td>
            <td>
                <select class="form-control" style="min-width:150px" id="ddlQuickLinkParent@(count)">
                    <option value="0">None</option>
                    @foreach (var menu in ViewBag.Menus)
                    {
                        if (item.QuickLinkParentId == menu.MenuId)
                        {
                            <option value="@menu.MenuId" selected>@menu.Menu</option>
                        }
                        else
                        {
                            <option value="@menu.MenuId">@menu.Menu</option>
                        }
                    }
                </select>
            </td>
            <td>
                <select class="form-control" style="min-width:150px" id="ddlParent@(count)">
                    <option value="0">None</option>
                    @foreach (var menu in ViewBag.ParentMenus)
                    {
                        if (item.ParentId == menu.MenuId)
                        {
                            <option value="@menu.MenuId" selected>@menu.Menu</option>
                        }
                        else
                        {
                            <option value="@menu.MenuId">@menu.Menu</option>
                        }
                    }
                </select>
            </td>
            <td><input class="form-control" type="text" value="@item.Menu" style="min-width:180px" id="txtMenu@(count)" /> </td>
            <td><input class="form-control" type="text" value="@item.Title" style="min-width:180px" id="txtTitle@(count)" /></td>
            <td><textarea class="form-control" style="min-width:200px" id="txtClass@(count)">@item.Class</textarea></td>
            <td><input class="form-control" type="text" value="@item.Url" style="min-width:200px" id="txtUrl@(count)" /></td>
            <td><input class="form-control" type="number" value="@item.Sequence" id="txtSequence@(count)" /> </td>
            <td><input class="form-control" type="text" value="@item.Icon" style="min-width:120px" id="txtIcon@(count)" /></td>
            <td><input type="checkbox" @(item.HasChildren == true ? "checked" : "") id="chkHasChildren@(count)" /> </td>
            <td>
                <select class="form-control" style="min-width:180px" id="ddlMenuType@(count)">
                    @if (item.MenuType == "Base Plan")
                    {
                        <option value="Base Plan" selected>Base Plan</option>
                    }
                    else
                    {
                        <option value="Base Plan">Base Plan</option>
                    }
                    @if (item.MenuType == "Purchase")
                    {
                        <option value="Purchase" selected>Purchase</option>
                    }
                    else
                    {
                        <option value="Purchase">Purchase</option>
                    }
                    @if (item.MenuType == "Customer Group")
                    {
                        <option value="Customer Group" selected>Customer Group</option>
                    }
                    else
                    {
                        <option value="Customer Group">Customer Group</option>
                    }
                    @if (item.MenuType == "Pos")
                    {
                        <option value="Pos" selected>Pos</option>
                    }
                    else
                    {
                        <option value="Pos">Pos</option>
                    }
                    @if (item.MenuType == "Stock Transfer")
                    {
                        <option value="Stock Transfer" selected>Stock Transfer</option>
                    }
                    else
                    {
                        <option value="Stock Transfer">Stock Transfer</option>
                    }
                    @if (item.MenuType == "Expense Tracking")
                    {
                        <option value="Expense Tracking" selected>Expense Tracking</option>
                    }
                    else
                    {
                        <option value="Expense Tracking">Expense Tracking</option>
                    }
                    @if (item.MenuType == "Accounts")
                    {
                        <option value="Accounts" selected>Accounts</option>
                    }
                    else
                    {
                        <option value="Accounts">Accounts</option>
                    }
                    @if (item.MenuType == "Activity Log")
                    {
                        <option value="Activity Log" selected>Activity Log</option>
                    }
                    else
                    {
                        <option value="Activity Log">Activity Log</option>
                    }
                    @if (item.MenuType == "Income Tracking")
                    {
                        <option value="Income Tracking" selected>Income Tracking</option>
                    }
                    else
                    {
                        <option value="Income Tracking">Income Tracking</option>
                    }
                    @if (item.MenuType == "Selling Price Group")
                    {
                        <option value="Selling Price Group" selected>Selling Price Group</option>
                    }
                    else
                    {
                        <option value="Selling Price Group">Selling Price Group</option>
                    }
                    @if (item.MenuType == "Domain")
                    {
                        <option value="Domain" selected>Domain</option>
                    }
                    else
                    {
                        <option value="Domain">Domain</option>
                    }
                    @if (item.MenuType == "Multiple Currency")
                    {
                        <option value="Multiple Currency" selected>Multiple Currency</option>
                    }
                    else
                    {
                        <option value="Multiple Currency">Multiple Currency</option>
                    }
                    @if (item.MenuType == "Sms")
                    {
                        <option value="Sms" selected>Sms</option>
                    }
                    else
                    {
                        <option value="Sms">Sms</option>
                    }
                    @if (item.MenuType == "Email")
                    {
                        <option value="Email" selected>Email</option>
                    }
                    else
                    {
                        <option value="Email">Email</option>
                    }
                    @if (item.MenuType == "Payment Attachment")
                    {
                        <option value="Payment Attachment" selected>Payment Attachment</option>
                    }
                    else
                    {
                        <option value="Payment Attachment">Payment Attachment</option>
                    }
                    @*@if (item.MenuType == "Reports")
                {
                    <option value="Payment Attachment" selected>Rep</option>
                }
                else
                {
                    <option value="Payment Attachment">Payment Attachment</option>
                }*@
                </select>
            </td>
            <td>
                <select class="form-control" style="min-width:150px" id="ddlHeader@(count)">
                    <option value="0">None</option>
                    @foreach (var menu in ViewBag.Headers)
                    {
                        if (item.HeaderId == menu.HeaderId)
                        {
                            <option value="@menu.HeaderId" selected>@menu.HeaderName</option>
                        }
                        else
                        {
                            <option value="@menu.HeaderId">@menu.HeaderName</option>
                        }
                    }
                </select>
            </td>
            <td><input type="checkbox" @(item.IsMenu == true ? "checked" : "") id="chkIsMenu@(count)" /></td>
            <td><input type="checkbox" @(item.IsView == true ? "checked" : "") id="chkIsView@(count)" /></td>
            <td><input type="checkbox" @(item.IsAdd == true ? "checked" : "") id="chkIsAdd@(count)" /></td>
            <td><input type="checkbox" @(item.IsEdit == true ? "checked" : "") id="chkIsEdit@(count)" /></td>
            <td><input type="checkbox" @(item.IsDelete == true ? "checked" : "") id="chkIsDelete@(count)" /></td>
            <td><input type="checkbox" @(item.IsExport == true ? "checked" : "") id="chkIsExport@(count)" /></td>
            <td><input type="checkbox" @(item.IsActive == true ? "checked" : "") id="chkIsActive@(count)" /></td>
            <td><input type="checkbox" @(item.IsDeleted == true ? "checked" : "") id="chkIsDeleted@(count)" /></td>
            <td></td>
        </tr>
            count++;
        }
    </tbody>
}
<script type="text/javascript">
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    $('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));
</script>



