@{
    if (ViewBag.Account != null)
    {
        <div class="modal-header">
            <h4 class="modal-title">Account Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <div class="card card-outline">
                    @*<div class="card-header">
                            <h3 class="card-title">Parent Purchase Info</h3>
                        </div>*@
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Account Group</label>
                                    <div class="input-group">
                                        @{
                                            if (ViewBag.AccountTypes != null)
                                            {
                                                foreach (var item in ViewBag.AccountTypes)
                                                {
                                                    if (item.AccountSubTypes.Count > 0)
                                                    {
                                                        foreach (var inner in item.AccountSubTypes)
                                                        {
                                                            //if (inner.Type != "Bank" && inner.Type != "Credit Card")
                                                            //{
                                                            if (ViewBag.Account.AccountSubTypeId == inner.AccountSubTypeId)
                                                            {
                                                                <span>@inner.DisplayAs</span>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @*<select class="form-control select2" id="ddlAccountType" onchange="fetchActiveAccountSubTypes()">
                                                <option value="0">Select</option>
                                                @foreach (var item in ViewBag.AccountTypes)
                                                {
                                                    if (ViewBag.Account.AccountTypeId == item.AccountTypeId)
                                                    {
                                                        <option value="@item.AccountTypeId" selected>@item.AccountType</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.AccountTypeId">@item.AccountType</option>
                                                    }
                                                }
                                            </select>*@
                                    </div>
                                    <small class="text-red font-weight-bold errorText" id="divAccountType"></small>
                                </div>
                            </div>
                            @*<div class="col-sm-3" id="p_SubCategories_Dropdown">
                                    <div class="form-group">
                                        <label>Account Sub Type </label>
                                        <div class="input-group">
                                            <select tabindex="2" class="form-control select2" id="ddlAccountSubType">
                                                <option value="0">Select</option>
                                                @foreach (var item in ViewBag.AccountSubTypes)
                                                {
                                                    if (item.Type != "Bank" && item.Type != "Credit Card")
                                                    {
                                                        if (ViewBag.Account.AccountSubTypeId == item.AccountSubTypeId)
                                                        {
                                                            <option value="@item.AccountSubTypeId" selected>@item.AccountSubType</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.AccountSubTypeId">@item.AccountSubType</option>
                                                        }
                                                    }

                                                }
                                            </select>
                                            @if (ViewBag.AccountSubTypePermission.IsAdd == true)
                                            {
                                                <span class="input-group-append hideButton">
                                                    <a href="javascript:void(0)" class="btn btn-info" onclick="openAccountSubTypeModal()">+ </a>
                                                </span>
                                            }
                                        </div>
                                        <small class="text-red font-weight-bold errorText" id="divAccountSubType"></small>
                                    </div>
                                </div>*@
                            <div class="col-sm-3 divAccount @((ViewBag.Account.AccountSubType == "Bank" || ViewBag.Account.AccountSubType == "Credit Card") ? "hidden":"")">
                                <div class="form-group">
                                    <label>Parent Account </label>
                                    <div class="input-group" id="divParentAccount">
                                            @{
                                                if (ViewBag.AccountSubTypes != null)
                                                {
                                                    foreach (var item in ViewBag.AccountSubTypes)
                                                    {
                                                        if (item.Accounts.Count > 0)
                                                        {
                                                                foreach (var inner in item.Accounts)
                                                                {
                                                                    if (ViewBag.Account.AccountId != inner.AccountId)
                                                                    {
                                                                        if (ViewBag.Account.ParentId == inner.AccountId)
                                                                        {
                                                                            <span>@inner.DisplayAs</span>
                                                                        }
                                                                    }
                                                                }
                                                        }
                                                    }
                                                }
                                            }
                                    </div>
                                </div>
                                @*@Html.Partial("PartialAccountSubTypeDropdown")*@
                            </div>
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Account Name</label>
                                    <span class="input-group">@ViewBag.Account.AccountName</span>
                                    <small class="text-red font-weight-bold errorText" id="divAccountName"></small>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">

                                    @if ((ViewBag.Account.AccountSubType == "Bank" || ViewBag.Account.AccountSubType == "Credit Card"))
                                    {
                                        <label id="lblAccountNumber">Account Number</label>
                                    }
                                    else
                                    {
                                        <label id="lblAccountNumber">General Ledger (GL) Code</label>
                                    }
                                <span class="input-group">@ViewBag.Account.AccountNumber</span>
                                    <small class="text-red font-weight-bold errorText" id="divAccountNumber"></small>
                                </div>
                            </div>
                            <div class="col-sm-3 divBank @((ViewBag.Account.AccountSubType == "Bank" || ViewBag.Account.AccountSubType == "Credit Card") ? "":"hidden")">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Bank Name</label>
                                    <span class="input-group">@ViewBag.Account.BankName</span>
                                    <small class="text-red font-weight-bold errorText" id="divBankName"></small>
                                </div>
                            </div>
                            @*<div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Opening Balance </label>
                                        <input type="text" class="form-control" id="txtOpeningBalance" placeholder=""
                                               value="@ViewBag.Account.OpeningBalance" onkeypress="return onlyDecimalKey(event)">
                                    </div>
                                </div>*@
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Notes </label>
                                    <span class="input-group">@ViewBag.Account.Notes</span>
                                    @*<input type="text" class="form-control" id="txtNotes" placeholder="" value="@ViewBag.Account.Notes">*@
                                </div>
                            </div>
                        </div>
                        <div class="row divBank @((ViewBag.Account.AccountSubType == "Bank" || ViewBag.Account.AccountSubType == "Credit Card") ? "":"hidden")">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="w-50">Account Values</label>
                                        @*<span class="input-group-append">
                                            <a href="javascript:void(0)" class="btn btn-info btn-sm add-row"><i class="fas fa-plus"> Add</i></a>
                                        </span>*@
                                    </div>
                                    <div id="addrow">
                                        @{
                                            foreach (var item in ViewBag.Account.AccountDetails)
                                            {
                                                <div class="input-group mb-1 divAccountDetails" id="row@(item.AccountDetailsId)">
                                                    <span>@item.Label</span>
                                                    <span>@item.Value</span>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
}




