
@{
    var count = 1;
    <thead id="thead">
        <tr>
            <th>Sln</th>
            <th>Date</th>
            <th>Description</th>
            <th>Added By</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Balance</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var item in ViewBag.AccountsPayments)
        {
            <tr>
                <td>@(ViewBag.PageSize * (ViewBag.PageIndex - 1) + count)</td>
                <td>@item.PaymentDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
                <td>
                    @item.Type
                    @if (item.Type == "Deposit" || item.Type == "Fund Transfer" || item.Type == "Withdraw")
                    {
                        <span> (@item.From_ToAccount)</span>
                    }
                    @if (item.Type != "Deposit" && item.Type != "Fund Transfer" && item.Type != "Withdraw" && item.Type != "Account Opening Balance" && item.Type != "Supplier Payment" && item.Type != "Customer Payment")
                    {
                        <br />
                        <span>Reference No: @item.InvoiceNo</span>
                    }

                    <br /><span>Payment Ref No: @item.ReferenceNo</span>

                </td>
                <td>@item.AddedByCode</td>
                <td>
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.Credit))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", item.Credit))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>
                <td>
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.Debit))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", item.Debit))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>
                <td>
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.Balance))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", item.Balance))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>
                <td>
                    @if (item.Type == "Deposit" || item.Type == "Fund Transfer" || item.Type == "Withdraw")
                    {
                        <a href="javascript:void(0)" onclick="deletePayment(@item.PaymentId)" class="btn btn-danger btn-sm" id="Delete" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="far fa-trash-alt"></i></a>
                    }
                </td>
            </tr>
            count++;
        }
    </tbody>
    <tbody>
        <tr>
            <td colspan="4" data-title="Total" class="text-right"><b>Total</b></td>
            <td data-title="Due Amount">
                @{
                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                    {
                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalCredit))
                    }
                    else
                    {
                        @(String.Format("{0:0.##}", ViewBag.TotalCredit))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                    }
                }
            </td>
            <td data-title="Due Amount">
                @{
                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                    {
                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalDebit))
                    }
                    else
                    {
                        @(String.Format("{0:0.##}", ViewBag.TotalDebit))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                    }
                }
            </td>
            <td colspan="8"></td>
        </tr>
    </tbody>
   
    <tfoot class="hide noPrint">
        <tr></tr>
        <tr>
            <td colspan="11">
                <div class="dataTables_info" id="tblUserRole_info_custom" role="status" aria-live="polite">Showing @(ViewBag.PageSize * (ViewBag.PageIndex - 1) + 1) to @(ViewBag.PageSize * ViewBag.CurrentPageIndex) of @ViewBag.TotalCount entries</div>
                @if (ViewBag.PageCount > 1)
                {
                    int j = 0;
                    <div class="dataTables_paginate paging_simple_numbers" id="tblUserRole_paginate_custom" style="float:right">
                        <ul class="pagination">
                            @if (ViewBag.CurrentPageIndex > 1)
                            {
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                                </li>
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = ViewBag.CurrentPageIndex; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                    <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                                </li>
                                if (j == 10)
                                {
                                    i = ViewBag.PageCount + 1;
                                }
                                j++;
                            }
                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                            {
                                <li class="paginate_button page-item next" id="tblUserRole_next">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    </tfoot>
}
<script type="text/javascript">
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    @*$('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>



