
@{
    var count = 1;
    <thead id="thead">
        <tr>
            <th>Sln</th>
            <th>Date</th>
            <th>Payment Reference No</th>
            <th>Invoice No/ Reference No</th>
            <th>Payment Type</th>
            <th>Account</th>
            <th>Amount</th>
            <th>Added By</th>
            <th>Added On</th>
            <th class="hide noPrint">Action</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var item in ViewBag.AccountsPayments)
        {
        <tr>
            <td>@(ViewBag.PageSize * (ViewBag.PageIndex - 1) + count)</td>
            <td style=" min-width: 200px;">@item.PaymentDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
            <td>@item.ReferenceNo</td>
            <td>@item.InvoiceNo</td>
            <td style=" min-width: 200px;">@item.Type</td>
            <td style=" min-width: 200px;">@item.AccountName - @item.AccountNumber</td>
            <td>
                @{
                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                    {
                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.Amount))
                    }
                    else
                    {
                        @(String.Format("{0:0.##}", item.Amount))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                    }
                }
            </td>
            <td>@item.AddedByCode</td>
            <td>@item.AddedOn.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
            <td class="hide noPrint" style=" min-width: 200px;">
                @if (ViewBag.MenuPermission.IsEdit)
                {
                    <a href="javascript:void(0)" class="btn btn-info" onclick="openAccountLinkModal(@item.PaymentId,'@item.Type')">Link Account </a>
                }
                @* <a href="javascript:void(0)" class="btn btn-success btn-sm" id="Edit" data-toggle="tooltip" data-placement="bottom" title="Edit">Link Account</a>*@
            </td>
        </tr>
            count++;
        }
    </tbody>
    <tbody>
        <tr>
            <td colspan="6" data-title="Total" class="text-right"><b>Total</b></td>
            <td data-title="Due Amount">
                @{
                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                    {
                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalAmount))
                    }
                    else
                    {
                        @(String.Format("{0:0.##}", ViewBag.TotalAmount))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                    }
                }
            </td>
            <td colspan="8"></td>
        </tr>
    </tbody>
    <tfoot class="hide noPrint">
        <tr></tr>
        <tr>
            <td colspan="11">
                <div class="dataTables_info" id="tblUserRole_info_custom" role="status" aria-live="polite">Showing @(ViewBag.PageSize * (ViewBag.PageIndex - 1) + 1) to @(ViewBag.PageSize * ViewBag.CurrentPageIndex) of @ViewBag.TotalCount entries</div>
                @if (ViewBag.PageCount > 1)
                {
                    int j = 0;
                    <div class="dataTables_paginate paging_simple_numbers" id="tblUserRole_paginate_custom" style="float:right">
                        <ul class="pagination">
                            @if (ViewBag.CurrentPageIndex > 1)
                            {
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                                </li>
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = ViewBag.CurrentPageIndex; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                    <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                                </li>
                                if (j == 10)
                                {
                                    i = ViewBag.PageCount + 1;
                                }
                                j++;
                            }
                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                            {
                                <li class="paginate_button page-item next" id="tblUserRole_next">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    </tfoot>
}
<script type="text/javascript">
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    @*$('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>


