
@{
    <thead id="thead">
        <tr>
            @*<th>Sln</th>*@
            <th>Account</th>
            <th>Account Code</th>
            <th>Opening Balance</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var item in ViewBag.Accounts)
        {
            <tr>
                <td>@item.AccountName</td>
                <td>@item.AccountNumber</td>
                <td>
                    @{
                        if (item.OpeningBalanceDebit > 0)
                        {
                            <a href="/accountsreports/AccountTransactions?AccountId=@item.AccountId&AccountName=@item.AccountName&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")&Page=general ledger&SubPage=@ViewBag.Page&AccountSubTypeId=@ViewBag.AccountSubTypeId">
                                @(String.Format("{0:0.##}", item.OpeningBalanceDebit)) Dr
                            </a>
                        }
                        else
                        {
                            <a href="/accountsreports/AccountTransactions?AccountId=@item.AccountId&AccountName=@item.AccountName&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")&Page=general ledger&SubPage=@ViewBag.Page&AccountSubTypeId=@ViewBag.AccountSubTypeId">
                                @(String.Format("{0:0.##}", item.OpeningBalanceCredit)) Cr
                            </a>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.Debit > 0)
                        {
                            <a href="/accountsreports/AccountTransactions?AccountId=@item.AccountId&AccountName=@item.AccountName&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")&Page=general ledger&SubPage=@ViewBag.Page&AccountSubTypeId=@ViewBag.AccountSubTypeId">
                                @String.Format("{0:0.##}", item.Debit)
                            </a>
                        }
                        else
                        {
                            <a href="/accountsreports/AccountTransactions?AccountId=@item.AccountId&AccountName=@item.AccountName&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")&Page=general ledger&SubPage=@ViewBag.Page&AccountSubTypeId=@ViewBag.AccountSubTypeId">
                                0
                            </a>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.Credit > 0)
                        {
                            <a href="/accountsreports/AccountTransactions?AccountId=@item.AccountId&AccountName=@item.AccountName&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")&Page=general ledger&SubPage=@ViewBag.Page&AccountSubTypeId=@ViewBag.AccountSubTypeId">
                                @String.Format("{0:0.##}", item.Credit)
                            </a>
                        }
                        else
                        {
                            <a href="/accountsreports/AccountTransactions?AccountId=@item.AccountId&AccountName=@item.AccountName&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")&Page=general ledger&SubPage=@ViewBag.Page&AccountSubTypeId=@ViewBag.AccountSubTypeId">
                                0
                            </a>
                        }
                    }
                </td>
                <td>
                    @{
                        if ((item.Debit + item.OpeningBalanceDebit) > (item.Credit + item.OpeningBalanceCredit))
                        {
                            <a href="/accountsreports/AccountTransactions?AccountId=@item.AccountId&AccountName=@item.AccountName&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")&Page=general ledger&SubPage=@ViewBag.Page&AccountSubTypeId=@ViewBag.AccountSubTypeId">
                                @String.Format("{0:0.##}", ((item.Debit + item.OpeningBalanceDebit) - (item.Credit + item.OpeningBalanceCredit))) Dr
                            </a>
                        }
                        else if ((item.Credit + item.OpeningBalanceCredit) > (item.Debit + item.OpeningBalanceDebit))
                        {
                            <a href="/accountsreports/AccountTransactions?AccountId=@item.AccountId&AccountName=@item.AccountName&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")&Page=general ledger&SubPage=@ViewBag.Page&AccountSubTypeId=@ViewBag.AccountSubTypeId">
                                @String.Format("{0:0.##}", ((item.Credit + item.OpeningBalanceCredit) - (item.Debit + item.OpeningBalanceDebit))) Cr
                            </a>
                        }
                        else
                        {
                            <a href="/accountsreports/AccountTransactions?AccountId=@item.AccountId&AccountName=@item.AccountName&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")&Page=general ledger&SubPage=@ViewBag.Page&AccountSubTypeId=@ViewBag.AccountSubTypeId">
                                0
                            </a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
}
<script type="text/javascript">
     $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    @*$('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>