

@{
    <thead id="thead">
        <tr>
            @*<th>Sln</th>*@
            <th>Account</th>
            <th>Opening Balance</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td>
                    @if (ViewBag.SuppliersPermission.IsView)
                    {
                        <a href="javascript:void(0)" onclick="ViewSupplier(@item.UserId)">@item.Name (@item.MobileNo)</a>
                    }
                    else
                    {
                        @item.Name(@item.MobileNo)
                    }
                </td>
                <td>
                    @{
                        if (item.OpeningBalanceDebit > 0)
                        {
                            <a href="/accountsreports/sundrycreditordetails?SupplierId=@(item.UserId)&SupplierName=@item.Name&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">
                                @String.Format("{0:0.##}", (item.OpeningBalanceDebit)) Dr
                            </a>
                        }
                        else
                        {
                            <a href="/accountsreports/sundrycreditordetails?SupplierId=@(item.UserId)&SupplierName=@item.Name&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">
                                @String.Format("{0:0.##}", (item.OpeningBalanceCredit)) Cr
                            </a>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.Debit > 0)
                        {
                            <a href="/accountsreports/sundrycreditordetails?SupplierId=@(item.UserId)&SupplierName=@item.Name&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">
                                @String.Format("{0:0.##}", item.Debit)
                            </a>
                        }
                        else
                        {
                            <a href="/accountsreports/sundrycreditordetails?SupplierId=@(item.UserId)&SupplierName=@item.Name&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">
                                0
                            </a>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.Credit > 0)
                        {
                            <a href="/accountsreports/sundrycreditordetails?SupplierId=@(item.UserId)&SupplierName=@item.Name&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">
                                @String.Format("{0:0.##}", item.Credit)
                            </a>
                        }
                        else
                        {
                            <a href="/accountsreports/sundrycreditordetails?SupplierId=@(item.UserId)&SupplierName=@item.Name&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">
                                0
                            </a>
                        }
                    }
                </td>
                <td>
                    @{
                        if ((item.Debit + item.OpeningBalanceDebit) > (item.Credit + item.OpeningBalanceCredit))
                        {
                            <a href="/accountsreports/sundrycreditordetails?SupplierId=@(item.UserId)&SupplierName=@item.Name&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">
                                @String.Format("{0:0.##}", ((item.Debit + item.OpeningBalanceDebit) - (item.Credit + item.OpeningBalanceCredit))) Dr
                            </a>
                        }
                        else if ((item.Credit + item.OpeningBalanceCredit) > (item.Debit + item.OpeningBalanceDebit))
                        {
                            <a href="/accountsreports/sundrycreditordetails?SupplierId=@(item.UserId)&SupplierName=@item.Name&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">
                                @String.Format("{0:0.##}", ((item.Credit + item.OpeningBalanceCredit) - (item.Debit + item.OpeningBalanceDebit))) Cr
                            </a>
                        }
                        else
                        {
                            <a href="/accountsreports/sundrycreditordetails?SupplierId=@(item.UserId)&SupplierName=@item.Name&BranchId=@ViewBag.BranchId&FromDate=@ViewBag.FromDate.ToString("MM-dd-yyyy")&ToDate=@ViewBag.ToDate.ToString("MM-dd-yyyy")">
                                0
                            </a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
    <tbody class="hide noPrint">
        <tr></tr>
        <tr>
            <td colspan="20">
                <div class="dataTables_info" id="tblUserRole_info_custom" role="status" aria-live="polite">Showing @(ViewBag.PageSize * (ViewBag.PageIndex - 1)+1) to @(ViewBag.PageSize* ViewBag.CurrentPageIndex) of @ViewBag.TotalCount entries</div>
                @if (ViewBag.PageCount > 1)
                {
                    int j = 0;
                    <div class="dataTables_paginate paging_simple_numbers" id="tblUserRole_paginate_custom" style="float:right">
                        <ul class="pagination">
                            @if (ViewBag.CurrentPageIndex > 1)
                            {
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                                </li>
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = ViewBag.CurrentPageIndex; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                    <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                                </li>
                                if (j == 10)
                                {
                                    i = ViewBag.PageCount + 1;
                                }
                                j++;
                            }
                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                            {
                                <li class="paginate_button page-item next" id="tblUserRole_next">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    </tbody>
}
<script type="text/javascript">
     $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    @*$('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>