
<div class="form-group">
    <label>State </label>
    <div class="input-group">
        <select class="form-control select2" id="ddlAltState" onchange="fetchActiveCitys('alt')">
            @{
                if (ViewBag.AltStates != null)
                {
                    <option value="0">Select</option>
                    foreach (var item in ViewBag.AltStates)
                    {
                        if (ViewBag.User == null)
                        {
                            <option value="@item.StateId">@item.State</option>
                        }
                        else
                        {
                            if (ViewBag.User.Addresses[1].StateId == item.StateId)
                            {
                                <option value="@item.StateId" selected>@item.State</option>
                            }
                            else
                            {
                                <option value="@item.StateId">@item.State</option>
                            }
                        }
                    }
                }
            }
        </select>
        @*@if (ViewBag.StatePermission.IsAdd == true)
        {
            <span class="input-group-append">
                <a href="javascript:void(0)" class="btn btn-info" onclick="openStateModal('ddlAltState')">+ </a>
            </span>
        }*@
        </div>

    </div>
