<div class="form-group">
    <label>Sub Category @*<span class="danger">*</span>*@</label>
    <div class="input-group">
        <select tabindex="2" class="form-control select2" id="ddlSubCategory" onchange="fetchActiveSubSubCategories()">
            @{
                if (ViewBag.SubCategories != null)
                {
                    <option value="0">Select</option>
                    foreach (var item in ViewBag.SubCategories)
                    {
                        if (ViewBag.SubSubCategory == null && ViewBag.Branch == null && ViewBag.Item == null)
                        {
                            <option value="@item.SubCategoryId">@item.SubCategory</option>
                        }
                        else if (ViewBag.SubSubCategory != null && ViewBag.Branch == null && ViewBag.Item == null)
                        {
                            if (ViewBag.SubSubCategory.SubCategoryId == item.SubCategoryId)
                            {
                                <option value="@item.SubCategoryId" selected>@item.SubCategory</option>
                            }
                            else
                            {
                                <option value="@item.SubCategoryId">@item.SubCategory</option>
                            }
                        }
                        else if (ViewBag.SubSubCategory == null && ViewBag.Branch != null && ViewBag.Item == null)
                        {
                            if (ViewBag.Branch.SubCategoryId == item.SubCategoryId)
                            {
                                <option value="@item.SubCategoryId" selected>@item.SubCategory</option>
                            }
                            else
                            {
                                <option value="@item.SubCategoryId">@item.SubCategory</option>
                            }
                        }
                        else if (ViewBag.SubSubCategory == null && ViewBag.Branch == null && ViewBag.Item != null)
                        {
                            if (ViewBag.Item.SubCategoryId == item.SubCategoryId)
                            {
                                <option value="@item.SubCategoryId" selected>@item.SubCategory</option>
                            }
                            else
                            {
                                <option value="@item.SubCategoryId">@item.SubCategory</option>
                            }
                        }
                    }
                }
            }
        </select>
        @if (ViewBag.SubCategoriesPermission.IsAdd == true)
        {
            <span class="input-group-append hideButton">
                <a href="javascript:void(0)" class="btn btn-info" onclick="openSubCategoryModal()">+ </a>
            </span>
        }
    </div>
    <small class="text-red font-weight-bold errorText" id="divSubCategory"></small>
</div>
