
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Add Existing Supplier";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Existing Supplier</h1>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                <a id="btnBack" href="/supplier/index" class="btn btn-warning float-sm-right"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                @*<div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                        <h5><i class="fas fa-info"></i> Note:</h5>
                        This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                    </div>*@
                <!-- jquery validation -->
                <div class="card card-primary card-outline">

                    <!-- form start -->
                    <div id="quickForm">
                        <div class="card-body">
                            <div class="card card-outline">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Supplier Code</label>
                                                <input disabled type="text" class="form-control" id="txtUsername" placeholder="" value="@ViewBag.User.Username">
                                                <small class="text-red font-weight-bold errorText" id="divUsername"></small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Name <span class="danger">*</span></label>
                                                <input type="text" class="form-control" id="txtName" placeholder="" value="@ViewBag.User.Name">
                                                <small class="text-red font-weight-bold errorText" id="divName"></small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Mobile <span class="danger">*</span></label>
                                                <div class="input-group">
                                                    @*<span class="input-group-append">
                                                            <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                                                        </span>*@
                                                    <input type="text" min="0" class="form-control" id="txtMobileNo" placeholder=""
                                                           value="@ViewBag.User.MobileNo" onkeypress="return onlyNumberKey(event)" maxlength="10">
                                                </div>
                                                <small class="text-red font-weight-bold errorText" id="divMobileNo"></small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" id="txtEmailId" placeholder="" value="@ViewBag.User.EmailId">
                                                <small class="text-red font-weight-bold errorText" id="divEmailId"></small>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Alternative Mobile</label>
                                                <div class="input-group">
                                                    @*<span class="input-group-append">
                                                            <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                                                        </span>*@
                                                    <input type="text" min="0" class="form-control" id="txtAltMobileNo" placeholder=""
                                                           value="@ViewBag.User.AltMobileNo" onkeypress="return onlyNumberKey(event)" maxlength="10">
                                                </div>
                                                <small class="text-red font-weight-bold errorText" id="divAltMobileNo"></small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Business Name </label>
                                                <input type="text" class="form-control" id="txtBusinessName" placeholder="" value="@ViewBag.User.BusinessName">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Date of Birth</label>
                                                <div class="input-group date" id="_DOB" data-target-input="nearest">
                                                    <input id="txtDOB" value="@(ViewBag.User.DOB!= null ? ViewBag.User.DOB.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]))" type="text" class="form-control datetimepicker-input" data-target="#_DOB" />
                                                    <div class="input-group-append" data-target="#_DOB" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                                @*<input type="date" class="form-control" id="txtDOB" value="@(ViewBag.User.DOB!= null ? ViewBag.User.DOB.ToString("yyyy-MM-dd"):"")">*@
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Joining Date</label>
                                                <div class="input-group date" id="_JoiningDate" data-target-input="nearest">
                                                    <input id="txtJoiningDate" value="@(ViewBag.User.JoiningDate!= null ? ViewBag.User.JoiningDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]))" type="text" class="form-control datetimepicker-input" data-target="#_JoiningDate" />
                                                    <div class="input-group-append" data-target="#_JoiningDate" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                                @*<input type="date" class="form-control" id="txtJoiningDate" value="@(ViewBag.User.JoiningDate!= null ? ViewBag.User.JoiningDate.ToString("yyyy-MM-dd"):"")">*@
                                            </div>
                                        </div>
                                        @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 @(ViewBag.Branchs.Count > 1?"":"hidden")">
                                                <div class="form-group">
                                                    <label>Business Location <span class="danger">*</span></label>
                                                    <select class="select2" multiple="multiple" data-placeholder="" style="width: 100%;" id="ddlBranch">
                                                        <option value="0">Select</option>
                                                        @foreach (var item in ViewBag.Branchs)
                                                        {
                                                            <option value="@item.BranchId">@item.Branch</option>
                                                        }
                                                    </select>
                                                    <small class="text-red font-weight-bold errorText" id="divBranch"></small>
                                                </div>
                                            </div>*@
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="form-group">
                                                <label>Tax</label>
                                                <div class="input-group">
                                                    <select class="form-control select2" id="ddlTax">
                                                        @*<option value="0" selected>Select </option>*@
                                                        @foreach (var item in ViewBag.Taxs)
                                                        {
                                                            if (ViewBag.User.TaxId == item.TaxId)
                                                            {
                                                                <option value="@item.TaxId" selected>@item.Tax</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.TaxId">@item.Tax</option>
                                                            }
                                                        }
                                                    </select>
                                                    <span class="input-group-append">
                                                        <a href="javascript:void(0)" class="btn btn-info" onclick="openTaxModal()">+ </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Tax Number</label>
                                                <input type="text" class="form-control" id="txtTaxNo" placeholder="" value="@ViewBag.User.TaxNo">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Credit Limit</label>
                                                <input type="number" class="form-control" id="txtCreditLimit" placeholder="" value="@ViewBag.User.CreditLimit">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Opening Balance</label>
                                                <input type="number" class="form-control" id="txtOpeningBalance" placeholder="" value="@ViewBag.User.OpeningBalance">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Pay Term</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="txtPayTermNo" placeholder="" value="@ViewBag.User.PayTermNo" style="width:50%">
                                                    <select class="form-control select2" style="width: 50%;" id="ddlPayTerm">
                                                        @if (ViewBag.User.PayTerm == "0")
                                                        {
                                                            <option value="0" selected="selected">Select</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="0">Select</option>
                                                        }
                                                        @if (ViewBag.User.PayTerm == "Weekly")
                                                        {
                                                            <option value="Weekly" selected>Weekly</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="Weekly">Weekly</option>
                                                        }
                                                        @if (ViewBag.User.PayTerm == "Monthly")
                                                        {
                                                            <option value="Monthly" selected>Monthly</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="Monthly">Monthly</option>
                                                        }
                                                        @if (ViewBag.User.PayTerm == "Quaterly")
                                                        {
                                                            <option value="Quaterly" selected>Quaterly</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="Quaterly">Quaterly</option>
                                                        }
                                                        @if (ViewBag.User.PayTerm == "Yearly")
                                                        {
                                                            <option value="Yearly" selected>Yearly</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="Yearly">Yearly</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        @if (ViewBag.CurrencyPermission.IsView == true)
                                        {
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                                <div class="form-group">
                                                    <label>Currency</label>
                                                    <div class="input-group">
                                                        <select class="form-control select2" id="ddlUserCurrency">
                                                            <option id="0">Select</option>
                                                            @foreach (var item in ViewBag.Currencys)
                                                            {
                                                                if (ViewBag.User.CurrencyId == item.CurrencyId)
                                                                {
                                                                    <option value="@item.CurrencyId" selected>@item.CurrencyName (@item.CurrencyCode) </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.CurrencyId">@item.CurrencyName (@item.CurrencyCode) </option>
                                                                }
                                                            }
                                                        </select>
                                                        <span class="input-group-append">
                                                            <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#currencyModal">+ </a>
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 @(ViewBag.Branchs.Count > 1?"":"hidden")">
                                            <div class="form-group">
                                                <label>Business Location <span class="danger">*</span></label>
                                                <select class="select2" multiple="multiple" data-placeholder="" style="width: 100%;" id="ddlBranch">
                                                    <option value="0">Select</option>
                                                    @foreach (var item in ViewBag.Branchs)
                                                    {
                                                        <option value="@item.BranchId">@item.Branch</option>
                                                    }
                                                </select>
                                                <small class="text-red font-weight-bold errorText" id="divBranch"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card card-outline collapsed-card m-3">
                            <div class="card-header  bg-info" data-card-widget="collapse" title="Expand/Collapse">
                                <h3 class="card-title">More Info</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool">
                                        <i class="fas fa-plus"></i>
                                    </button>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Address</label>
                                            <textarea class="form-control" id="txtAddress" rows="2" placeholder="Enter Address"> @ViewBag.User.Addresses[0].Address</textarea>
                                            <input type="hidden" value="@ViewBag.User.Addresses[0].AddressId" id="txtAddressId" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Country</label>
                                            <div class="input-group">
                                                <select class="form-control select2" id="ddlCountry" onchange="fetchActiveStates('')">
                                                    <option value="0">Select</option>
                                                    @foreach (var item in ViewBag.Countrys)
                                                    {
                                                        if (ViewBag.User.Addresses[0].CountryId == item.CountryId)
                                                        {
                                                            <option value="@item.CountryId" selected>@item.Country</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.CountryId">@item.Country</option>
                                                        }
                                                    }
                                                </select>
                                                @*<span class="input-group-append">
                                                        <a href="javascript:void(0)" class="btn btn-info" onclick="openCountryModal('ddlCountry')">+ </a>
                                                    </span>*@
                                            </div>
                                            <small class="text-red font-weight-bold errorText" id="divCountry"></small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="p_States_Dropdown">
                                        @Html.Partial("PartialStatesDropdown")
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="p_Citys_Dropdown">
                                        @Html.Partial("PartialCitysDropdown")
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Pincode</label>
                                            <input type="text" class="form-control" id="txtZipcode" placeholder="" value="@ViewBag.User.Addresses[0].Zipcode">
                                        </div>
                                    </div>

                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Alternative Address</label>
                                            <textarea class="form-control" id="txtAltAddress" rows="2" placeholder=""> @ViewBag.User.Addresses[1].Address</textarea>
                                            <input type="hidden" value="@ViewBag.User.Addresses[1].AddressId" id="txtAltAddressId" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Country</label>
                                            <div class="input-group">
                                                <select class="form-control select2" id="ddlAltCountry" onchange="fetchActiveStates('alt')">
                                                    <option value="0">Select</option>
                                                    @foreach (var item in ViewBag.Countrys)
                                                    {
                                                        if (ViewBag.User.Addresses[1].CountryId == item.CountryId)
                                                        {
                                                            <option value="@item.CountryId" selected>@item.Country</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.CountryId">@item.Country</option>
                                                        }
                                                    }
                                                </select>
                                                @*<span class="input-group-append">
                                                        <a href="javascript:void(0)" class="btn btn-info" onclick="openCountryModal('ddlAltCountry')">+ </a>
                                                    </span>*@
                                            </div>
                                            <small class="text-red font-weight-bold errorText" id="divAltCountry"></small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="p_Alt_States_Dropdown">
                                        @Html.Partial("PartialAltStatesDropdown")
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="p_Alt_Citys_Dropdown">
                                        @Html.Partial("PartialAltCitysDropdown")
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Pincode</label>
                                            <input type="text" class="form-control" id="txtAltZipcode" placeholder="" value="@ViewBag.User.Addresses[1].Zipcode">
                                        </div>
                                    </div>
                                </div>
                                @*<hr />
                                    <div class="row">

                                    </div>*@
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right" onclick="AddExisting()">Submit</button>
                            @*<a id="btnBack" href="/supplier/index" class="btn btn-warning float-sm-right mr-2"><i class="fas fa-arrow-left"></i> Back</a>*@
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<div class="modal fade" id="taxModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content divTaxModal">
            <div class="modal-header">
                <h4 class="modal-title">Add Tax</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Tax Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtNewTax" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divTax_M"></small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tax Rate(%) @*<span class="danger">*</span>*@</label>
                            <input type="number" class="form-control" id="txtNewTaxpercent" placeholder="" onkeypress="return onlyDecimalKey(event)">
                            <small class="text-red font-weight-bold errorText" id="divTaxPercent_M"></small>
                        </div>
                    </div>
                    @if (ViewBag.TaxTypes.Count != 0)
                    {
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Tax Type<span class="danger">*</span> </label>
                                <div class="input-group">
                                    <select class="form-control select2" id="ddlNewTaxType">
                                        @foreach (var item in ViewBag.TaxTypes)
                                        {
                                            <option value="@item.TaxTypeId">@item.TaxType</option>
                                        }
                                    </select>
                                </div>
                                <small class="text-red font-weight-bold errorText" id="divTaxType"></small>
                            </div>
                        </div>
                    }
                    <div class="col-sm-6">
                        <div class="form-group">
                            <a href="javascript:void(0)" onclick="toggleTaxModal('TaxGroup')">Add New Tax Group</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertTax()">Save changes</button>
            </div>
        </div>
        <div class="modal-content divTaxGroupModal hidden">
            <div class="modal-header">
                <h4 class="modal-title">Add Tax Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Tax Group Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtNewTaxGroup" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divTaxGroup_M"></small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Sub Taxes <span class="danger">*</span></label>
                            <div class="input-group">
                                <select id="ddlNewSubTax" class="select2" multiple="multiple" data-placeholder="" onchange="FetchTaxPercent()">
                                    @foreach (var item in ViewBag.Taxs)
                                    {
                                        if (item.CanDelete == true)
                                        {
                                        <option value="@item.TaxId">@item.Tax (@(String.Format("{0:0.##}", item.TaxPercent))%)</option>
                                        }
                                    }
                                </select>
                                <span class="input-group-append">
                                    <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#taxInnerModal">+ </a>
                                </span>
                            </div>
                            <small class="text-red font-weight-bold errorText" id="divSubTax_M"></small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Tax Rate(%) @*<span class="danger">*</span>*@</label>
                            <input type="number" class="form-control" id="txtNewTaxpercentGroup" disabled>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <a href="javascript:void(0)" onclick="toggleTaxModal('Tax')">Add New Tax </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertTaxGroup()">Save changes</button>
            </div>
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="taxInnerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Tax</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Tax Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtNewTax_N" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divTax_N"></small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tax Rate(%) @*<span class="danger">*</span>*@</label>
                            <input type="number" class="form-control" id="txtNewTaxpercent_N" placeholder="" onkeypress="return onlyDecimalKey(event)">
                            <small class="text-red font-weight-bold errorText" id="divTaxPercent_N"></small>
                        </div>
                    </div>
                    @if (ViewBag.TaxTypes.Count != 0)
                    {
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Tax Type<span class="danger">*</span> </label>
                                <div class="input-group">
                                    <select class="form-control select2" id="ddlTaxType_N">
                                        @foreach (var item in ViewBag.TaxTypes)
                                        {
                                            <option value="@item.TaxTypeId">@item.TaxType</option>
                                        }
                                    </select>
                                </div>
                                <small class="text-red font-weight-bold errorText" id="divTaxType"></small>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertInnerTax()">Save changes</button>
            </div>
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="countryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Country</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Country Code <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Leave blank to auto generate"></i></label>
                            <input type="text" class="form-control" id="txtCountryCode" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Country Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtCountry" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertCountry()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="stateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add State</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-sm-6">
                        <div class="form-group">
                            <label>State Code <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Leave blank to auto generate"></i></label>
                            <input type="text" class="form-control" id="txtStateCode" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divStateCode_M"></small>
                        </div>
                    </div>*@
                    @*<div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Country <span class="danger">*</span></label>
                                <div class="input-group">
                                    <select class="form-control select2" style="width: 100%;" id="ddlNewCountry">
                                        @foreach (var item in ViewBag.Countrys)
                                        {
                                            <option value="@item.CountryId">@item.Country</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>State Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtState" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divState_M"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertState()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="cityModal">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add City</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-sm-6">
                        <div class="form-group">
                            <label>City Code <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Leave blank to auto generate"></i></label>
                            <input type="text" class="form-control" id="txtCityCode" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divCityCode_M"></small>
                        </div>
                    </div>*@
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label>Country <span class="danger">*</span></label>
                                <div class="input-group">
                                    <select class="form-control select2" style="width: 100%;" id="ddlCityModalCountry" onchange="fetchCityModalActiveStates()">
                                        <option value="0">Select</option>
                                        @foreach (var item in ViewBag.Countrys)
                                        {
                                            <option value="@item.CountryId">@item.Country</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>*@

                    @*<div class="col-sm-6" id="p_CityModalStates_Dropdown">
                            <label>State <span class="danger">*</span></label>
                            <select class="form-control select2" id="ddlCityModalState" style="width: 100%;">
                            </select>
                        </div>*@
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>City Name <span class="danger">*</span></label>
                            <input type="text" class="form-control" id="txtCity" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divCity_M"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertCity()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="faqModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FAQs</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="p-0 pl-2 pr-2">
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">Why should I create Supplier?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Parties are your Customers and Suppliers. To make bills for them, you need to add them as a party first.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">I have too many suppliers. How to add them easily?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    IMS provides the option to import your parties data from Excel. To start uploading your parties in bulk
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How to see Supplier Ledger/Statement?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    A supplier's ledger can be seen in two ways:
                                    1. Select the party in the suppliers table and then click on the "Ledger(Statement)" tab given at top in the new screen that opens.
                                    2. You can also open Supplier Statement by going to Reports from the side navigation menu and selecting "Supplier Statement (Ledger)". After that, you can select the party whose Supplier Statement you want to see.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How is Supplier balance calculated?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Supplier balance is the outstanding amount of money that you need to collect from or pay to the party. It is calculated based on the Opening Balance you entered while creating the supplier, the invoices(both sales and purchase) you made against the supplier and the payments you made to/received from the supplier.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How to send Invoice SMS to Supplier?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    For every Invoice that you create, an SMS is sent automatically to your party with a link to that Invoice. Incase you want to turn this feature off, you can do that by going to Reminder inside Settings and disabling the "Send billing SMS to Supplier" option. To manually send SMS to Party, open the Invoice and click on the SMS button.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How to create GST/Non-GST supplier? </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    While creating a party, enter their GSTIN. Accordingly that party will be counted as GST/Non-GST Party. GSTIN along with Place of Supply of supplier will determine whether an Invoice will have IGST or CGST/SGST so make sure you fill this information.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">What is Opening Balance of supplier? </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    Opening balance is the amount of money that is deposited by the supplier to the branch. From which the purchase amount is deducted from opening balance with the consignee of the supplier.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="currencyModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Currency</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Currency <span class="danger">*</span></label>
                            <div class="input-group">
                                <select class="form-control select2" id="ddlCurrency" onchange="setCurrencyName()">
                                    <option value="0">Select Currency</option>
                                    @foreach (var item in ViewBag.AllCurrencys)
                                    {
                                        <option value="@item.CurrencyId">@item.CurrencyName (@item.CurrencyCode) </option>
                                    }
                                </select>
                            </div>
                            <small class="text-red font-weight-bold errorText" id="divCurrency"></small>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Exchange Rate</label>
                            <div class="input-group">
                                <span class="input-group-append">
                                    <a href="javascript:void(0)" class="btn bg-gray">1 @ViewBag.Currency.CurrencyCode = </a>
                                </span>
                                <input type="number" class="form-control" id="txtExchangeRate" placeholder="Conversion Rate"
                                       onkeypress="return onlyDecimalKey(event)">
                                <span class="input-group-append">
                                    <a href="javascript:void(0)" class="btn bg-gray " id="txtCurrency"> </a>
                                </span>
                            </div>
                            <small class="text-red font-weight-bold errorText" id="divExchangeRate"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertCurrency()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/JQuery/Customer/Purchase/Supplier.js"></script>
<script>
$('#ddlBranch').val(@Html.Raw(Json.Encode(ViewBag.User.Branchs)));

    $("input").prop("disabled", true);
    $("select").prop("disabled", true);
    $("textarea").prop("disabled", true);
    $('#ddlBranch').prop('disabled', false);
</script>
