
    <table id="tblPayments" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Purchase Date</th>
                <th>Reference No</th>
                <th>Invoice Amount</th>
                <th>Invoice Due</th>
                <th>Payment Amount</th>
            </tr>
        </thead>
        <tbody id="divCombo" class="rows">
            @{
                if (ViewBag.Purchases != null)
                {
                    var index = 1;
                    foreach (var item in ViewBag.Purchases)
                    {
                        <tr id="divCombo@(item.PurchaseId)">
                            <td>@index</td>
                            <td>
                                @item.PurchaseDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])
                            </td>
                            <td>
                                @(item.Type == "Supplier Opening Balance Payment" ? "Supplier Opening Balance" : item.InvoiceNo)
                            </td>
                            <td>
                                @item.GrandTotal
                            </td>
                            <td>
                                @item.Due
                            </td>
                            <td>
                                <div class="input-group" style="min-width:180px">
                                    <input type="number" class="form-control divAmount@(item.PurchaseId)_M_ctrl" id="txtAmount@(item.PurchaseId)" onkeypress="return onlyDecimalKey(event)" onchange="setIndividualAmounts(@item.PurchaseId)">
                                    <input type="hidden" id="hdnSalesAmount@(item.PurchaseId)" value="@item.GrandTotal" />
                                    <input type="hidden" id="hdnPurchaseId@(item.PurchaseId)" value="@item.PurchaseId" />
                                    <input type="hidden" id="hdnType@(item.PurchaseId)" value="@item.Type" />
                                    <input type="hidden" id="hdnCustomerId@(item.PurchaseId)" value="@item.SupplierId" />
                                    <input type="hidden" id="hdnDue@(item.PurchaseId)" value="@item.Due" />

                                </div>
                                <small class="text-red font-weight-bold errorText" id="divAmount@(item.PurchaseId)_M"></small>
                            </td>
                        </tr>
                        index++;
                    }
                }
            }

        </tbody>
    </table>
    <div class="col-sm-12">

        <div class="col-md-4 float-right">
            <div class="row" id="divCalculationSummary">
                <div class="col-12">
                    <div class="row">
                        <label for="inputEmail3" class="col-8 col-form-label text-right">Amount Received :</label>
                        <label for="inputEmail3" class="col-4 col-form-label text-left" id="divAmountReceived">
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <label for="inputEmail3" class="col-8 col-form-label text-right">Amount Used For Payments :</label>
                        <label for="inputEmail3" class="col-4 col-form-label text-left" id="divAmountUsedForPayments"></label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <label for="inputEmail3" class="col-8 col-form-label text-right text-danger">Amount In Excess :</label>
                        <label for="inputEmail3" class="col-4 col-form-label text-left text-danger" id="divAmountInExcess"></label>
                    </div>
                </div>
            </div>
        </div>

    </div>