<div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="">
                <label>Reference No</label>
                <span id="txtAdvBalance">
                    @if (ViewBag.SupplierPayment.PurchaseReturnId == 0)
                    {
                        @ViewBag.SupplierPayment.ReferenceNo
                    }
                    else
                    {
                        @ViewBag.SupplierPayment.PurchaseReturnReferenceNo
                    }
                </span>
                <input type="hidden" id="hdnSupplierPaymentId" value="@ViewBag.SupplierPayment.SupplierPaymentId" />
                <input type="hidden" id="hdnAmountRemaining" value="@ViewBag.SupplierPayment.AmountRemaining" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="text-danger">
                <label>Balance</label>
                <span id="txtAdvBalance">
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@ViewBag.SupplierPayment.AmountRemaining
                        }
                        else
                        {
                            @ViewBag.SupplierPayment.AmountRemaining@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <!-- text input -->
            <div class="form-group">
                <label>Paid On <span class="danger">*</span></label>
                <div class="input-group date" id="_PaymentDate" data-target-input="nearest">
                    <input id="txtPaymentDate" type="text" class="form-control datetimepicker-input divPaymentDate_M_ctrl" data-target="#_PaymentDate" />
                    <div class="input-group-append" data-target="#_PaymentDate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                @*<input type="datetime-local" class="form-control" id="txtPaymentDate">*@
                <small class="text-red font-weight-bold errorText" id="divPaymentDate_M"></small>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table id="tblPayments" class="table table-bordered table-striped divCredits_M_ctrl">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Purchase Date</th>
                    <th>Invoice No</th>
                    <th>Amount</th>
                    <th>Due</th>
                    <th>Credits To Apply</th>
                </tr>
            </thead>
            <tbody id="divCombo" class="rows">
                @{
                    if (ViewBag.Purchases != null)
                    {
                        var index = 1;
                        foreach (var item in ViewBag.Purchases)
                        {
                            <tr id="divCombo@(item.PurchaseId)">
                                <td>@index</td>
                                <td>
                                    @item.PurchaseDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])
                                </td>
                                <td>
                                    @(item.Type == "Customer Opening Balance Payment" ? "Customer Opening Balance" : item.ReferenceNo)
                                </td>
                                <td>
                                    @item.GrandTotal
                                </td>
                                <td>
                                    @item.Due
                                </td>
                                <td>
                                    <div class="input-group" style="min-width:180px">
                                        <input type="number" class="form-control divAmount@(item.PurchaseId)_M_ctrl" id="txtAmount@(item.PurchaseId)" onkeypress="return onlyDecimalKey(event)" onchange="updateTotal()">
                                        <input type="hidden" id="hdnPurchaseAmount@(item.PurchaseId)" value="@item.GrandTotal" />
                                        <input type="hidden" id="hdnPurchaseId@(item.PurchaseId)" value="@item.PurchaseId" />
                                        <input type="hidden" id="hdnType@(item.PurchaseId)" value="@item.Type" />
                                        <input type="hidden" id="hdnIsReverseCharge@(item.PurchaseId)" value="@item.IsReverseCharge" />
                                    </div>
                                    <small class="text-red font-weight-bold errorText" id="divAmount@(item.PurchaseId)_M"></small>
                                </td>

                            </tr>
                            index++;
                        }
                    }
                }

            </tbody>

        </table>
        <small class="text-red font-weight-bold errorText" id="divCredits_M"></small>

    </div>
    <div class="col-sm-12">

        <div class="col-12 col-sm-6 col-md-8 col-lg-4 col-xl-3 float-right">
            <div class="row" id="divCalculationSummary">
                <div class="col-12">
                    <div class="row">
                        <label for="inputEmail3" class="col-8 col-form-label text-right">Amount To Credit :</label>
                        <label for="inputEmail3" class="col-4 col-form-label text-left" id="divAmountToCredit">
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <label for="inputEmail3" class="col-8 col-form-label text-right text-danger">Remaining Credits :</label>
                        <label for="inputEmail3" class="col-4 col-form-label text-left text-danger" id="divRemainingCredits"></label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

