
@{
    Layout = null;
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Invoice | @ViewBag.Purchase.Payment.ReferenceNo</title>
<link rel="shortcut icon" href="favicon.jpeg" type="image/x-icon">
<link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="~/Content/assets/css/adminlte.min.css">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<style>
    @@media print {
        .noPrint {
            display: none;
        }
    }
    @@page {
        size: auto;
    }
</style>
@*<section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Invoice </h1>
                    <div class="float-left">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/Purchase/index">Purchase List</a></li>
                            <li class="breadcrumb-item active">Invoice</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="printableArea">
                            <div class="row">
                                <div class="col-12">
                                    <h5>
                                        <img src="@ViewBag.BusinessSetting.BusinessLogo" height="60" />
                                        @*<i class="fas fa-globe"></i> AdminLTE, Inc.*@
                                        <small class="float-right" style="line-height:24px">
                                            <b>Payment Date: </b>@ViewBag.Purchase.Payment.PaymentDate.ToString(ViewBag.BusinessSetting.DateFormat + " " + ViewBag.BusinessSetting.TimeFormat)<br>
                                            <b>Reference No: </b>@ViewBag.Purchase.Payment.ReferenceNo<br>
                                            <b>Payment Mode: </b>@ViewBag.Purchase.Payment.PaymentType<br>
                                        </small>
                                    </h5>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- info row -->
                            <div class="row invoice-info">
                                <!-- /.col -->
                                <div class="col-sm-4 invoice-col">
                                    <i>Business Location</i>
                                    <address>
                                        <strong>@ViewBag.BusinessSetting.BusinessName @*(@ViewBag.Purchase.Branch.Branch)*@</strong><br>
                                        @ViewBag.Purchase.Branch.Address<br />@ViewBag.Purchase.Branch.City, @ViewBag.Purchase.Branch.State,
                                        @ViewBag.Purchase.Branch.Country, @ViewBag.Purchase.Branch.Zipcode <br />
                                        Phone: @ViewBag.Purchase.Branch.Mobile<span class="@(ViewBag.Purchase.Branch.AltMobileNo == null?"hidden":"")">,@ViewBag.Purchase.Branch.AltMobileNo</span><br />
                                        @if (ViewBag.Purchase.Branch.Email != null)
                                        {
                                            <span>Email: @ViewBag.Purchase.Branch.Email</span><br>
                                        }
                                        @if (ViewBag.Purchase.Branch.Tax != null)
                                        {
                                            <span>@ViewBag.Purchase.Branch.Tax: @ViewBag.Purchase.Branch.TaxNo</span><br />
                                        }
                                    </address>
                                </div>
                                <div class="col-sm-4 invoice-col">
                                    <i>Payment To<br></i>
                                    <address>
                                        <strong>@ViewBag.Purchase.User.Name</strong><br>
                                        @if (ViewBag.Purchase.User.Addresses[0].Address != null && ViewBag.Purchase.User.Addresses[0].Address != "")
                                        {
                                            @ViewBag.Purchase.User.Addresses[0].Address<br>
                                            <span>
                                                @ViewBag.Purchase.User.Addresses[0].City, @ViewBag.Purchase.User.Addresses[0].State,
                                                @ViewBag.Purchase.User.Addresses[0].Country, @ViewBag.Purchase.User.Addresses[0].Zipcode
                                            </span><br />
                                        }
                                        @if (ViewBag.Purchase.User.MobileNo != null)
                                        {
                                            <span> Phone: @ViewBag.Purchase.User.MobileNo</span><br />
                                        }
                                        @if (ViewBag.Purchase.User.EmailId != null)
                                        {
                                            <span>Email: @ViewBag.Purchase.User.EmailId</span><br>
                                        }
                                        @if (ViewBag.Purchase.User.TaxNo != null)
                                        {
                                            <span> @ViewBag.Purchase.User.Tax: @ViewBag.Purchase.User.TaxNo</span><br />
                                        }

                                    </address>
                                </div>
                                <!-- /.col -->
                                @*@if (ViewBag.Purchase.IsShippingAddressDifferent == true)
                                    {
                                        <div class="col-sm-4 invoice-col">
                                            <i>Customer Shipping Address<br></i>
                                            <address>
                                                <strong>@ViewBag.Purchase.Addresses[0].Name</strong><br>
                                                @ViewBag.Purchase.Addresses[0].Address<br>
                                                Phone: @ViewBag.Purchase.Addresses[0].MobileNo<br />
                                                Email: @ViewBag.Purchase.Addresses[0].EmailId <br>
                                            </address>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-4 invoice-col">
                                            <i>Customer Shipping Address<br></i>
                                            <address>
                                                <strong>@ViewBag.Purchase.Addresses[1].Name</strong><br>
                                                @ViewBag.Purchase.Addresses[1].Address<br>
                                                Phone: @ViewBag.Purchase.Addresses[1].MobileNo<br />
                                                Email: @ViewBag.Purchasew.Addresses[1].EmailId <br>
                                            </address>
                                        </div>
                                    }*@

                                @*<div class="col-sm-4 invoice-col">
                                        <b>Invoice#: </b>@ViewBag.Purchase.Payment.InvoiceNo<br>
                                        <b>Status :</b>@ViewBag.Purchase.Payment.Status<br>
                                    </div>*@
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <!-- Table row -->
                            <div class="row">
                                <div class="col-xs-12 table-responsive">
                                    <table class="table table-striped records_table table-bordered">
                                        <thead class="bg-gray-active">
                                            <tr>
                                                <th>#</th>
                                                <th>Invoice No</th>
                                                <th>Invoice Date</th>
                                                <th>Invoice Amount</th>
                                                <th>Payment Amount</th>
                                                <th>Balance Due</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        @ViewBag.Purchase.ReferenceNo
                                                    </td>
                                                    <td>@ViewBag.Purchase.PurchaseDate.ToString(ViewBag.BusinessSetting.DateFormat + " " + ViewBag.BusinessSetting.TimeFormat)</td>
                                                    <td>
                                                        @{
                                                            if (ViewBag.BusinessSetting.CurrencySymbolPlacement == 1)
                                                            {
                                                                @ViewBag.BusinessSetting.CurrencySymbol@ViewBag.Purchase.GrandTotal
                                                            }
                                                            else
                                                            {
                                                                @ViewBag.Purchase.GrandTotal@ViewBag.BusinessSetting.CurrencySymbol
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (ViewBag.BusinessSetting.CurrencySymbolPlacement == 1)
                                                            {
                                                                @ViewBag.BusinessSetting.CurrencySymbol@ViewBag.Purchase.Payment.Amount
                                                            }
                                                            else
                                                            {
                                                                @ViewBag.Purchase.Payment.Amount@ViewBag.BusinessSetting.CurrencySymbol
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (ViewBag.BusinessSetting.CurrencySymbolPlacement == 1)
                                                            {
                                                                @ViewBag.BusinessSetting.CurrencySymbol@ViewBag.Purchase.Due
                                                            }
                                                            else
                                                            {
                                                                @ViewBag.Purchase.Due@ViewBag.BusinessSetting.CurrencySymbol
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        @*<tfoot class="text-right text-bold bg-gray">
                                                <tr>
                                                    <td colspan="2" class="text-center">Total</td>
                                                    <td>₹ @ViewBag.TotalUnitPrice</td>
                                                    <td class="text-left">@(String.Format("{0:0.##}",ViewBag.TotalQuantity))</td>
                                                    <td>₹ @ViewBag.TotalAmount</td>
                                                </tr>
                                            </tfoot>*@
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-muted well well-sm shadow-none text-center" style="margin-top: 10px;">
                                        This is computer generated invoice no signature required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer noPrint">
                        <a href="javacript:void(0)" onclick="printInvoice()" class="btn btn-warning float-right ml-2">
                            <i class="fa fa-print"></i>
                            Print
                        </a>
                        <a href="javascript:void(0)" onclick="exportInvoiceToPdf()" class="btn btn-primary float-right ml-2 d-none d-md-block">
                            <i class="fa fa-file-pdf"></i>
                            PDF
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script>
    function printInvoice() {
        //$('.noPrint').css('display', 'none');
        //$('.content-wrapper').css('background-color', '#fff');
        window.print();
        //$('.noPrint').css('display', 'block');
        //$('.content-wrapper').css('background-color', '#f4f6f9');
    }

    function exportInvoiceToPdf() {
        $('.hidden').show();
        $('.hide').hide();
        $('.responsive-table').css('height', '100%');
        html2canvas($('.printableArea')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };

                pdfMake.createPdf(docDefinition).download("PaymentReceipt.pdf");
                $('.responsive-table').css('height', '400px');
                $('.hide').show();
                $('.hidden').hide();
            }
        });
    }

</script>
