@{
    if (ViewBag.User != null)
    {
        <div class="modal-header">
            <h4 class="modal-title">User Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <div class="card card-outline">
                    @*<div class="card-header">
                            <h3 class="card-title">Parent Purchase Info</h3>
                        </div>*@
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <img src="@ViewBag.User.ProfilePic" class="img-thumbnail" />
                            </div>
                            <div class="col-sm-10">
                                <div class="row m-2">
                                    <div class="col-sm-4">
                                        <label>User Code :</label>
                                        <span>@ViewBag.User.Username</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Name :</label>
                                        <span> @ViewBag.User.Name</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Mobile :</label>
                                        <span> @ViewBag.User.MobileNo</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Email :</label>
                                        <span> @ViewBag.User.EmailId</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Alternative Mobile :</label>
                                        <span> @ViewBag.User.AltMobileNo</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Gender :</label>
                                        <span> @ViewBag.User.Gender</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Date of Birth :</label>
                                        <span> @(ViewBag.User.DOB == null ? ViewBag.User.DOB : ViewBag.User.DOB.ToString("yyyy-MM-dd"))</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Joining Date :</label>
                                        <span> @(ViewBag.User.JoiningDate == null ? ViewBag.User.JoiningDate :ViewBag.User.JoiningDate.ToString("yyyy-MM-dd"))</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Religion :</label>
                                        <span> @ViewBag.User.ReligionName</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Role :</label>
                                        <span> @(ViewBag.User.IsCompany == true ? "Super Admin" :ViewBag.User.RoleName)</span>
                                    </div>
                                    <div class="col-sm-3 @(ViewBag.Branchs.Count > 1?"":"hidden")">
                                        <label>Business Location </label>
                                        @foreach (var item in ViewBag.Branchs)
                                        {
                                            <span>@item.Branch,</span>
                                        }
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card card-outline">
                    <div class="card-header">
                        <h3 class="card-title">More Info</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row m-2">

                                    <div class="col-sm-4">
                                        <label>Address :</label>
                                        <span> @ViewBag.User.Addresses[0].Address</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Country :</label>
                                        <span> @ViewBag.User.Addresses[0].Country</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>State :</label>
                                        <span> @ViewBag.User.Addresses[0].State</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>City :</label>
                                        <span> @ViewBag.User.Addresses[0].City</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Pincode :</label>
                                        <span> @ViewBag.User.Addresses[0].Zipcode</span>
                                    </div>
                                </div>
                                <hr />
                                <div class="row m-2">
                                    <div class="col-sm-4">
                                        <label>Alternative Address :</label>
                                        <span> @ViewBag.User.Addresses[1].Address</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Country :</label>
                                        <span> @ViewBag.User.Addresses[1].Country</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>State :</label>
                                        <span> @ViewBag.User.Addresses[1].State</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>City :</label>
                                        <span> @ViewBag.User.Addresses[1].City</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Pincode :</label>
                                        <span> @ViewBag.User.Addresses[1].Zipcode</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
