<div class="form-group">
    <label>City </label>
    <div class="input-group">
        <select class="form-control select2" id="ddlAltCity">
            @{
                if (ViewBag.AltCitys != null)
                {
                    foreach (var item in ViewBag.AltCitys)
                    {
                        if (ViewBag.User == null)
                        {
                            <option value="@item.CityId">@item.City</option>
                        }
                        else
                        {
                            if (ViewBag.User.Addresses[1].CityId == item.CityId)
                            {
                                <option value="@item.CityId" selected>@item.City</option>
                            }
                            else
                            {
                                <option value="@item.CityId">@item.City</option>
                            }
                        }
                    }
                }
            }
        </select>
        @if (ViewBag.CityPermission.IsAdd == true)
        {
            <span class="input-group-append">
                <a href="javascript:void(0)" class="btn btn-info" onclick="openCityModal('ddlAltCity')">+ </a>
            </span>
        }
        </div>
    </div>


