
@{
    if (ViewBag.Branch != null)
    {
        <div class="modal-header">
            <h4 class="modal-title">Business Location Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3" style="display:none">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Location Code</label>
                                <div class="input-group">
                                    <span>@ViewBag.Branch.BranchCode</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-group">
                                <label>Location Name</label>
                                <div class="input-group">
                                    <span>@ViewBag.Branch.Branch</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-group">
                                <label>Contact No </label>
                                <div class="input-group">
                                    <span>@ViewBag.Branch.Mobile</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-group">
                                <label>Alt Contact No </label>
                                <div class="input-group">
                                    <span>@ViewBag.Branch.AltMobileNo</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-group">
                                <label>Email Id </label>
                                <div class="input-group">
                                    <span>@ViewBag.Branch.Email</span>
                                </div>
                                </div>
                            </div>
                        @if (ViewBag.BusinessSetting.IsBusinessRegistered == 1)
                        {
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="form-group">
                                    @if (ViewBag.BusinessRegistrationNames.Count == 1)
                                    {
                                        <label>@ViewBag.BusinessRegistrationNames[0].Name </label>
                                    }
                                    else
                                    {
                                        <label>Business Registration Name </label>
                                    }
                                    <div class="input-group divTaxSetting_ctrl">
                                        @foreach (var item in ViewBag.TaxSettings)
                                        {
                                            if (ViewBag.Branch.TaxSettingId == item.TaxSettingId)
                                            {
                                                <span>@item.TaxSettingId</span>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-group">
                                <label>Transaction Series </label>
                                <div class="input-group">
                                    @foreach (var item in ViewBag.Prefixs)
                                    {
                                        if (ViewBag.Branch.PrefixId == item.PrefixId)
                                        {
                                            <span>@item.PrefixName</span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-group">
                                <label>Country </label>
                                <div class="input-group divCountry_ctrl">
                                    @foreach (var item in ViewBag.Countrys)
                                    {
                                        if (ViewBag.Branch.CountryId == item.CountryId)
                                        {
                                            <span>@item.Country</span>
                                        }
                                    }
                                </div>
                                <small class="text-red font-weight-bold errorText" id="divCountry"></small>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3" id="p_States_Dropdown">
                            <div class="form-group">
                                <label>State </label>
                                <div class="input-group divState_ctrl">
                                    @if (ViewBag.States != null)
                                    {
                                        foreach (var item in ViewBag.States)
                                        {
                                            if (ViewBag.Branch.StateId == item.StateId)
                                            {
                                                <span>@item.State</span>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        @*</div>
                            <div class="row">*@
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3" id="p_Citys_Dropdown">
                            <div class="form-group">
                                <label>City </label>
                                <div class="input-group divCity_ctrl">
                                    @if (ViewBag.Citys != null)
                                    {
                                        foreach (var item in ViewBag.Citys)
                                        {
                                            if (ViewBag.Branch.CityId == item.CityId)
                                            {
                                                <span>@item.City</span>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-group">
                                <label>Zipcode </label>
                                <div class="input-group">
                                    <span>@ViewBag.Branch.Zipcode</span>
                                </div>
                                </div>
                            </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address </label>
                                <div class="input-group">
                                    <span> @ViewBag.Branch.Address</span>
                                </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Payment Options <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Enable or disable payment methods for this location"></i></label>
                        </div>
                        <div class="col-sm-6 mb-3">
                            @*@if (ViewBag.PaymentMethodsPermission.IsAdd == true)
                            {
                                <a href="javascript:void(0)" class="btn btn-info float-sm-right" data-toggle="modal" data-target="#paymentTypeModal">+ Add</a>
                            }*@
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-sm-12 table-responsive">
                            @*<input type="hidden" id="hdnAccountPermission" value="@ViewBag.AccountsPermission.IsView" />*@
                            <input type="hidden" id="hdnPosPermission" value="@ViewBag.PosPermission.IsView" />
                            <table id="" class="table table-bordered table-striped divPaymentType_ctrl">
                                @{
                                    var count = 1;
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="checkbox icheck-turquoise">
                                                    @*<input disabled type="checkbox" id="chkSelectAll" onchange="selectedSelectAll('chkSelectAll')" />*@
                                                    <label for="chkSelectAll"></label>
                                                </div>
                                            </th>
                                            <th>Payment Method</th>
                                            @*@if (ViewBag.AccountsPermission.IsView)
                                                {
                                                    <th>Default Account</th>
                                                }*@
                                            @if (ViewBag.PosPermission.IsView == true)
                                            {
                                                <th>
                                                    <div class="checkbox icheck-turquoise">
                                                        @*<input disabled type="checkbox" id="chkIsPosSeen" onchange="selectedSelectAll('chkIsPosSeen')" />*@
                                                        <label for="chkIsPosSeen">Show on pos screen as a quick checkout button</label>
                                                    </div>
                                                </th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody class="table-body" id="divCombo">
                                        @foreach (var item in ViewBag.Branch.PaymentTypes)
                                        {
                                            <tr id="@item.PaymentTypeId">

                                                <td>
                                                    <div class="form-group">
                                                        <div class="checkbox icheck-turquoise">
                                                            @if (item.IsChecked == true)
                                                            {
                                                                <input class="chkSelectAll" disabled checked type="checkbox" id="chkIsPaymentTypeChecked@(item.PaymentTypeId)" />
                                                            }
                                                            else
                                                            {
                                                                <input class="chkSelectAll" disabled type="checkbox" id="chkIsPaymentTypeChecked@(item.PaymentTypeId)" />
                                                            }

                                                            <label for="chkIsPaymentTypeChecked@(item.PaymentTypeId)" class="mt-2"></label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>@item.PaymentType</td>
                                                @*@if (ViewBag.AccountsPermission.IsView)
                                                    {
                                                        <td>
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <select class="form-control select2" id="ddlAccount@(item.PaymentTypeId)">
                                                                        <option value="0">Select</option>
                                                                        @foreach (var account in ViewBag.Accounts)
                                                                        {
                                                                            if (item.AccountId == account.AccountId)
                                                                            {
                                                                                <option selected value="@account.AccountId">@account.AccountName</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@account.AccountId">@account.AccountName</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    }*@
                                                @if (ViewBag.PosPermission.IsView == true)
                                                {
                                                    {
                                                        <td>
                                                            <div class="form-group">
                                                                <div class="checkbox icheck-turquoise">
                                                                    @if (item.IsPosShown == true)
                                                                    {
                                                                        <input class="chkIsPosSeen" disabled checked type="checkbox" id="chkIsPosShown@(item.PaymentTypeId)" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input class="chkIsPosSeen" disabled type="checkbox" id="chkIsPosShown@(item.PaymentTypeId)" />
                                                                    }

                                                                    <label for="chkIsPosShown@(item.PaymentTypeId)" class="mt-2"></label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                            count++;
                                        }
                                    </tbody>

                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
}


