<div class="form-group">
    <label>State <span class="danger">*</span></label>
    <div class="input-group divState_ctrl">
        <select class="form-control select2" id="ddlState" onchange="fetchActiveCitys()">
            @{
                if (ViewBag.States != null)
                {
                    <option value="0">Select</option>
                    foreach (var item in ViewBag.States)
                    {
                        if (ViewBag.City == null && ViewBag.Branch == null)
                        {
                            <option value="@item.StateId">@item.State</option>
                        }
                        else if (ViewBag.City != null && ViewBag.Branch == null)
                        {
                            if (ViewBag.City.StateId == item.StateId)
                            {
                                <option value="@item.StateId" selected>@item.State</option>
                            }
                            else
                            {
                                <option value="@item.StateId">@item.State</option>
                            }
                        }
                        else if (ViewBag.Branch != null && ViewBag.City == null)
                        {
                            if (ViewBag.Branch.StateId == item.StateId)
                            {
                                <option value="@item.StateId" selected>@item.State</option>
                            }
                            else
                            {
                                <option value="@item.StateId">@item.State</option>
                            }
                        }
                    }
                }
            }
        </select>
        @*@if (ViewBag.StatePermission.IsAdd == true)
        {
            <span class="input-group-append">
                <a href="javascript:void(0)" class="btn btn-info" onclick="openStateModal()">+ </a>
            </span>
        }*@

    </div>
    <small class="text-red font-weight-bold errorText" id="divState"></small>
</div>
