<div class="form-group">
    <label>Sub Category @*<span class="danger">*</span>*@</label>
    <div class="input-group">
        <select tabindex="2" class="form-control select2" id="ddlExpenseSubCategory">
            @{
                if (ViewBag.ExpenseSubCategories != null)
                {
                    <option value="0">Select</option>
                    foreach (var item in ViewBag.ExpenseSubCategories)
                    {
                        if (ViewBag.Expense == null)
                        {
                            <option value="@item.ExpenseSubCategoryId">@item.ExpenseSubCategory</option>
                        }
                        else if (ViewBag.Expense != null)
                        {
                            if (ViewBag.Expense.ExpenseSubCategoryId == item.ExpenseSubCategoryId)
                            {
                                <option value="@item.ExpenseSubCategoryId" selected>@item.ExpenseSubCategory</option>
                            }
                            else
                            {
                                <option value="@item.ExpenseSubCategoryId">@item.ExpenseSubCategory</option>
                            }
                        }
                    }
                }
            }
        </select>
        @if (ViewBag.ExpenseSubCategoriesPermission.IsAdd == true)
        {
            <span class="input-group-append hideButton">
                <a href="javascript:void(0)" class="btn btn-info" onclick="openSubCategoryModal()">+ </a>
            </span>
        }

    </div>

</div>
