
@if (ViewBag.AccountsPayment != null)
{
    <div class="modal-header">
        <h4 class="modal-title">Payment Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card-body">
            <div class="card card-outline">
                <div class="card-body">
                    <div class="paymentAdd">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Amount </label>
                                <span>@ViewBag.AccountsPayment.Amount</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Paid On </label>
                                <span>@ViewBag.AccountsPayment.PaymentDate</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Payment Method </label>
                                @if (ViewBag.AccountsPaymentTypes != null)
                                {
                                    foreach (var item in ViewBag.AccountsPaymentTypes)
                                    {
                                        if (item.PaymentTypeId == ViewBag.AccountsPayment.PaymentTypeId)
                                        {
                                            <span>@item.PaymentType</span>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            @if (ViewBag.AccountsPermission.IsView == true)
                            {
                                <div class="col-sm-4 divLAccount">
                                    <label>Account </label>
                                    @{
                                        if (ViewBag.Accounts != null)
                                        {
                                            foreach (var item in ViewBag.Accounts)
                                            {
                                                if (item.AccountId == ViewBag.AccountsPayment.AccountId)
                                                {
                                                    <span>@item.AccountName - @item.AccountNumber</span>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            }
                           
                                <div class="col-sm-4">
                                    <label>Attach Document</label>
                                    <img id="blahPaymentAttachDocument" src="@ViewBag.AccountsPayment.AttachDocument" alt="" height="60" style="padding-top:10px;">
                                </div>
                            <div class="col-sm-4">
                                <label>Reference No </label>
                                <span>@ViewBag.AccountsPayment.ReferenceNo</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Notes</label>
                                <span>@ViewBag.AccountsPayment.Notes</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
