
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | POS Settings";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>POS Settings</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/settings/index">Settings</a></li>
                        <li class="breadcrumb-item active">POS Settings</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                <a id="btnBack" href="/settings/index" class="btn btn-warning float-sm-right"><i class="fas fa-arrow-left"></i> Back</a>
                @*<a href="javascript:void(0)" data-toggle="modal" data-target="#faqModal" class="btn btn-secondary float-sm-right mr-2">FAQs</a>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                    @*<h5><i class="fas fa-info"></i> Note:</h5>*@
                    Only the fields which are marked with <span class="text-danger">*</span> is mandatory. Rest all fields are optional and can be skipped
                    @*<button class="btn btn-info btn-sm" onclick="insert()"> Check Mandatory Fields</button>*@
                </div>
                <!-- jquery validation -->
                <div class="card card-primary card-outline">

                    <!-- form start -->
                    <div id="quickForm">
                        <div class="card-body">
                            <div class="row mt-3">

                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.DisableDraft)
                    {
                        <input type="checkbox" id="chkDisableDraft" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkDisableDraft">
                    }
                    <label for="chkDisableDraft" class="mt-2">
                        Disable Draft
                    </label>
                </div>
            </div>
        </div>*@
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.DisableQuotation)
                    {
                        <input type="checkbox" id="chkDisableQuotation" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkDisableQuotation">
                    }
                    <label for="chkDisableQuotation" class="mt-2">
                        Disable Quotation
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.DisableProforma)
                    {
                        <input type="checkbox" id="chkDisableProforma" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkDisableProforma">
                    }
                    <label for="chkDisableProforma" class="mt-2">
                        Disable Proforma
                    </label>
                </div>
            </div>
        </div>*@
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.DisableCreditSale)
                                            {
                                                <input type="checkbox" id="chkDisableCreditSale" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkDisableCreditSale">
                                            }
                                            <label for="chkDisableCreditSale" class="mt-2">
                                                Disable Credit Sale
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.DisableHold)
                                            {
                                                <input type="checkbox" id="chkDisableHold" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkDisableHold">
                                            }
                                            <label for="chkDisableHold" class="mt-2">
                                                Disable Hold
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.DisableMultiplePay)
                                            {
                                                <input type="checkbox" id="chkDisableMultiplePay" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkDisableMultiplePay">
                                            }
                                            <label for="chkDisableMultiplePay" class="mt-2">
                                                Disable Multiple Pay
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.DisableExpressCheckout)
                                            {
                                                <input type="checkbox" id="chkDisableExpressCheckout" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkDisableExpressCheckout">
                                            }
                                            <label for="chkDisableExpressCheckout" class="mt-2">
                                                Disable Express Checkout
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.DontShowProductSuggestion)
                    {
                        <input type="checkbox" id="chkDontShowProductSuggestion" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkDontShowProductSuggestion">
                    }
                    <label for="chkDontShowProductSuggestion" class="mt-2">
                        Don't Show Product Suggestion
                    </label>
                </div>
            </div>
        </div>*@
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.DontShowRecentTransactions)
                                            {
                                                <input type="checkbox" id="chkDontShowRecentTransactions" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkDontShowRecentTransactions">
                                            }
                                            <label for="chkDontShowRecentTransactions" class="mt-2">
                                                Don't Show recent Transactions
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.DisableDicount)
                    {
                        <input type="checkbox" id="chkDisableDicount" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkDisableDicount">
                    }
                    <label for="chkDisableDicount" class="mt-2">
                        Disable Discount
                    </label>
                </div>
            </div>
        </div>*@
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.DisableOrderTax)
                    {
                        <input type="checkbox" id="chkDisableOrderTax" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkDisableOrderTax">
                    }
                    <label for="chkDisableOrderTax" class="mt-2">
                        Disable Order Tax
                    </label>
                </div>
            </div>
        </div>*@
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.SubTotalEditable)
                    {
                        <input type="checkbox" id="chkSubTotalEditable" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkSubTotalEditable">
                    }
                    <label for="chkSubTotalEditable" class="mt-2">
                        Subtotal Editable
                    </label>
                </div>
            </div>
        </div>*@

                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.EnableTransactionDate)
                                            {
                                                <input type="checkbox" id="chkEnableTransactionDate" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkEnableTransactionDate">
                                            }
                                            <label for="chkEnableTransactionDate" class="mt-2">
                                                Enable Transaction Date
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.EnableServiceStaff)
                    {
                        <input type="checkbox" id="chkEnableServiceStaff" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkEnableServiceStaff">
                    }
                    <label for="chkEnableServiceStaff" class="mt-2">
                        Enable Service Staff In Producct Licne
                    </label>
                </div>
            </div>
        </div>*@
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.IsServiceStaffRequired)
                    {
                        <input type="checkbox" id="chkIsServiceStaffRequired" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkIsServiceStaffRequired">
                    }
                    <label for="chkIsServiceStaffRequired" class="mt-2">
                        Is Servicce Staff Required
                    </label>
                </div>
            </div>
        </div>*@

                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.EnableWeighingScale)
                    {
                        <input type="checkbox" id="chkEnableWeighingScale" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkEnableWeighingScale">
                    }
                    <label for="chkEnableWeighingScale" class="mt-2">
                        Enable Weighing Scale
                    </label>
                </div>
            </div>
        </div>*@
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.ShowInvoiceScheme)
                    {
                        <input type="checkbox" id="chkShowInvoiceScheme" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkShowInvoiceScheme">
                    }
                    <label for="chkShowInvoiceScheme" class="mt-2">
                        Show Invoice Scheme
                    </label>
                </div>
            </div>
        </div>*@
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.ShowInvoiceLayoutDropdown)
                    {
                        <input type="checkbox" id="chkShowInvoiceLayoutDropdown" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkShowInvoiceLayoutDropdown">
                    }
                    <label for="chkShowInvoiceLayoutDropdown" class="mt-2">
                        Show Invoice Layout Dropdown
                    </label>
                </div>
            </div>
        </div>*@
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.PrintInvoiceOnHold)
                    {
                        <input type="checkbox" id="chkPrintInvoiceOnHold" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkPrintInvoiceOnHold">
                    }
                    <label for="chkPrintInvoiceOnHold" class="mt-2">
                        Print Invoice On Hold
                    </label>
                </div>
            </div>
        </div>*@
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Invoice Type</label>
                                        <select class="form-control" style="width: 100%;" id="ddlPosInvoiceType">
                                            @if (ViewBag.PosSetting.InvoiceType == 1)
                                            {
                                                <option selected value="1">Regular Invoice</option>
                                            }
                                            else
                                            {
                                                <option value="1">Regular Invoice</option>
                                            }
                                            @if (ViewBag.PosSetting.InvoiceType == 2)
                                            {
                                                <option selected value="2">Thermal Invoice</option>
                                            }
                                            else
                                            {
                                                <option value="2">Thermal Invoice</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.EnableNotes)
                    {
                        <input type="checkbox" id="chkEnableNotes" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkEnableNotes">
                    }
                <label for="chkEnableNotes" class="mt-2">
                    Enable Notes
                </label>
                </div>
            </div>
        </div>*@
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.ShowPricingOnProductSuggestionTooltip)
                    {
                        <input type="checkbox" id="chkShowPricingOnProductSuggestionTooltip" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkShowPricingOnProductSuggestionTooltip">
                    }
                    <label for="chkShowPricingOnProductSuggestionTooltip" class="mt-2">
                        Show Pricing On Product Suggestion Tooltip
                    </label>
                </div>
            </div>
        </div>*@
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.SalePriceIsMinSellingPrice)
                                            {
                                                <input type="checkbox" id="chkPosPriceIsMinSellingPrice" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkPosPriceIsMinSellingPrice">
                                            }
                                            <label for="chkPosPriceIsMinSellingPrice" class="mt-2">
                                                Sales Price is Minimum Selling Price
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hidden">

                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.AllowOnlinePayment)
                                            {
                                                <input type="checkbox" id="chkAllowOnlinePaymentPos" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkAllowOnlinePaymentPos">
                                            }
                                            <label for="chkAllowOnlinePaymentPos" class="mt-2">
                                                Enable Payment Link
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 divLot @(ViewBag.ItemSetting.EnableLotNo == false?"hidden":"")">*@
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.EnableFreeQuantity == true)
                                            {
                                                <input type="checkbox" id="chkPosEnableFreeQuantity" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkPosEnableFreeQuantity">
                                            }
                                            <label for="chkPosEnableFreeQuantity" class="mt-2">
                                                Enable Free Quantity
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.EnableSms)
                    {
                        <input type="checkbox" id="chkPosEnableSms" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkPosEnableSms">
                    }
                    <label for="chkPosEnableSms" class="mt-2">
                        Enable Sms
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.EnableEmail)
                    {
                        <input type="checkbox" id="chkPosEnableEmail" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkPosEnableEmail">
                    }
                    <label for="chkPosEnableEmail" class="mt-2">
                        Enable Email
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.EnableWhatsapp)
                    {
                        <input type="checkbox" id="chkPosEnableWhatsapp" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkPosEnableWhatsapp">
                    }
                    <label for="chkPosEnableWhatsapp" class="mt-2">
                        Enable Whatsapp
                    </label>
                </div>
            </div>
        </div>*@
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.EnableSpecialDiscount)
                                            {
                                                <input type="checkbox" id="chkPosEnableSpecialDiscount" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkPosEnableSpecialDiscount">
                                            }
                                            <label for="chkPosEnableSpecialDiscount" class="mt-2">
                                                Enable Special Discount
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.EnableRoundOff)
                                            {
                                                <input type="checkbox" id="chkPosEnableRoundOff" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkPosEnableRoundOff">
                                            }
                                            <label for="chkPosEnableRoundOff" class="mt-2">
                                                Enable Round Off
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @if (ViewBag.BusinessSetting.CountryId == 2)
                                {
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <div class="checkbox icheck-turquoise">
                                                @if (ViewBag.PosSetting.EnablePlaceOfSupply)
                                                {
                                                    <input type="checkbox" id="chkPosEnablePlaceOfSupply" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="chkPosEnablePlaceOfSupply">
                                                }
                                                <label for="chkPosEnablePlaceOfSupply" class="mt-2">
                                                    Enable Place Of Supply
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.ItemSetting.EnableSellingPriceGroup == true)
                                {
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <div class="checkbox icheck-turquoise">
                                                @if (ViewBag.PosSetting.EnableSellingPriceGroup)
                                                {
                                                    <input type="checkbox" id="chkPosEnableSellingPriceGroup" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="chkPosEnableSellingPriceGroup">
                                                }
                                                <label for="chkPosEnableSellingPriceGroup" class="mt-2">
                                                    Enable Selling Price Group
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.ItemSetting.EnableItemImage == true)
                                {
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <div class="checkbox icheck-turquoise">
                                                @if (ViewBag.PosSetting.ShowItemImage)
                                                {
                                                    <input type="checkbox" id="chkPosShowItemImage" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="chkPosShowItemImage">
                                                }
                                                <label for="chkPosShowItemImage" class="mt-2">
                                                    Show Item Images
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hidden">
                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.ShowItemSellingPrice)
                                            {
                                                <input type="checkbox" id="chkPosShowItemSellingPrice" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkPosShowItemSellingPrice">
                                            }
                                            <label for="chkPosShowItemSellingPrice" class="mt-2">
                                                Show Item Selling Price
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @if (ViewBag.ItemSetting.EnableMrp == true)
                                {
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hidden">
                                        <div class="form-group">
                                            <div class="checkbox icheck-turquoise">
                                                @if (ViewBag.PosSetting.ShowItemMrp)
                                                {
                                                    <input type="checkbox" id="chkPosShowItemMrp" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="chkPosShowItemMrp">
                                                }
                                                <label for="chkPosShowItemMrp" class="mt-2">
                                                    Show Item Mrp
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.AutoPrintInvoiceFinal)
                                            {
                                                <input type="checkbox" id="chkPosAutoPrintInvoiceFinal" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkPosAutoPrintInvoiceFinal">
                                            }
                                            <label for="chkPosAutoPrintInvoiceFinal" class="mt-2">
                                                Auto Print (POS)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- KOT Settings Section -->
                                <div class="col-12 mt-3 mb-2">
                                    <hr />
                                    <br />
                                    <h4>KOT (Kitchen Order Ticket) Settings</h4>
                                    <p class="help-block">Enable KOT integration to use restaurant features. Other KOT options require this to be enabled.</p>
                                </div>
                                
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.EnableKot)
                                            {
                                                <input type="checkbox" id="chkPosEnableKot" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkPosEnableKot">
                                            }
                                            <label for="chkPosEnableKot" class="mt-2">
                                                Enable KOT
                                                <small class="d-block text-muted">Master switch for KOT features</small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 kot-dependent-setting">
                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.EnableTableBooking)
                                            {
                                                <input type="checkbox" id="chkPosEnableTableBooking" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkPosEnableTableBooking">
                                            }
                                            <label for="chkPosEnableTableBooking" class="mt-2">
                                                Enable Table Booking
                                                <small class="d-block text-muted">Requires Enable KOT</small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 kot-dependent-setting">
                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.AutoCreateKot)
                                            {
                                                <input type="checkbox" id="chkPosAutoCreateKot" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkPosAutoCreateKot">
                                            }
                                            <label for="chkPosAutoCreateKot" class="mt-2">
                                                Auto Create KOT
                                                <small class="d-block text-muted">Requires Enable KOT</small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 kot-dependent-setting">
                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.PosSetting.AllowLinkExistingKot)
                                            {
                                                <input type="checkbox" id="chkPosAllowLinkExistingKot" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkPosAllowLinkExistingKot">
                                            }
                                            <label for="chkPosAllowLinkExistingKot" class="mt-2">
                                                Allow Link Existing KOT
                                                <small class="d-block text-muted">Requires Enable KOT</small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.AutoPrintInvoiceDraft)
                    {
                        <input type="checkbox" id="chkPosAutoPrintInvoiceDraft" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkPosAutoPrintInvoiceDraft">
                    }
                    <label for="chkPosAutoPrintInvoiceDraft" class="mt-2">
                        Auto Print Invoice (Draft)
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.AutoPrintInvoiceQuotation)
                    {
                        <input type="checkbox" id="chkPosAutoPrintInvoiceQuotation" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkPosAutoPrintInvoiceQuotation">
                    }
                    <label for="chkPosAutoPrintInvoiceQuotation" class="mt-2">
                        Auto Print Invoice (Quotation)
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.AutoPrintInvoiceProforma)
                    {
                        <input type="checkbox" id="chkPosAutoPrintInvoiceProforma" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkPosAutoPrintInvoiceProforma">
                    }
                    <label for="chkPosAutoPrintInvoiceProforma" class="mt-2">
                        Auto Print Invoice (Proforma)
                    </label>
                </div>
            </div>
        </div>*@
                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <div class="checkbox icheck-turquoise">
                    @if (ViewBag.PosSetting.AutoPrintInvoiceSalesReturn)
                    {
                        <input type="checkbox" id="chkPosAutoPrintInvoiceSalesReturn" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="chkPosAutoPrintInvoiceSalesReturn">
                    }
                    <label for="chkPosAutoPrintInvoiceSalesReturn" class="mt-2">
                        Auto Print (POS Return)
                    </label>
                </div>
            </div>
        </div>*@
                            </div>
                            @*<hr />
                                <h4>Link Pos With Accounts</h4>
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <label>Change Return <span class="danger">*</span> <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Select a default account to track change return from POS Screen"></i></label>
                                            <select class="form-control select2" id="ddlChangeReturnAccount" style="width:100%">
                                                @{
                                                    if (ViewBag.AccountSubTypes != null)
                                                    {
                                                        foreach (var item in ViewBag.AccountSubTypes)
                                                        {
                                                            if (item.Accounts.Count > 0)
                                                            {
                                                                if (item.Type == "Other Current Asset")
                                                                {
                                                                <optgroup label="@item.DisplayAs">
                                                                    @foreach (var inner in item.Accounts)
                                                                    {
                                                                        if (ViewBag.PosSetting.ChangeReturnAccountId == inner.AccountId)
                                                                        {
                                                                            <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                                        }
                                                                    }
                                                                </optgroup>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                            </select>
                                        </div>
                                    </div>
                                </div>*@
                            <hr />
                            <br />
                            <h4>POS Shortcut Keys</h4>
                            <p class="help-block">Shortcut should be the names of the keys separated by '+'; Example: <b>ctrl+shift+b</b>, <b>ctrl+h</b></p>
                            <p class="help-block">
                                <b>Available key names are:</b>
                                shift, ctrl, alt, backspace, tab, enter, return, capslock, esc, escape, space, pageup, pagedown, end, home, left, up, right, down, ins, del, and plus
                            </p>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="row">
                                        @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                                <div class="form-group">
                                                    <label>Draft</label>
                                                    <input type="text" class="form-control" id="txtDraft" placeholder="" value="@ViewBag.PosSetting.Draft">
                                                </div>
                                            </div>*@
                                        @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                                <div class="form-group">
                                                    <label>Quotation</label>
                                                    <input type="text" class="form-control" id="txtQuotation" placeholder="" value="@ViewBag.PosSetting.Quotation">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                                <div class="form-group">
                                                    <label>Proforma</label>
                                                    <input type="text" class="form-control" id="txtProforma" placeholder="" value="@ViewBag.PosSetting.Proforma">
                                                </div>
                                            </div>*@
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Credit Sale</label>
                                                <input type="text" class="form-control" id="txtCreditSale" placeholder="" value="@ViewBag.PosSetting.CreditSale">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Multiple</label>
                                                <input type="text" class="form-control" id="txtMultiple" placeholder="" value="@ViewBag.PosSetting.Multiple">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Hold</label>
                                                <input type="text" class="form-control" id="txtHold" placeholder="" value="@ViewBag.PosSetting.Hold">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Cancel</label>
                                                <input type="text" class="form-control" id="txtCancel" placeholder="" value="@ViewBag.PosSetting.Cancel">
                                            </div>
                                        </div>
                                        @*<div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Go To Product Quantity</label>
                                                    <input type="text" class="form-control" id="txtGoToProductQuantity" placeholder="" value="@ViewBag.PosSetting.GoToProductQuantity">
                                                </div>
                                            </div>*@
                                        @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                                <div class="form-group">
                                                    <label>Weighing Scale</label>
                                                    <input type="text" class="form-control" id="txtWeighingScale" placeholder="" value="@ViewBag.PosSetting.WeighingScale">
                                                </div>
                                            </div>*@
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Edit Discount</label>
                                                <input type="text" class="form-control" id="txtEditDiscount" placeholder="" value="@ViewBag.PosSetting.EditDiscount">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Edit Special Discount</label>
                                                <input type="text" class="form-control" id="txtEditSpecialDiscount" placeholder="" value="@ViewBag.PosSetting.EditSpecialDiscount">
                                            </div>
                                        </div>
                                        @*<div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Edit Order Tax</label>
                                                    <input type="text" class="form-control" id="txtEditOrderTax" placeholder="" value="@ViewBag.PosSetting.EditOrderTax">
                                                </div>
                                            </div>*@
                                        @*<div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Edit Shipping Charge</label>
                                                    <input type="text" class="form-control" id="txtEditShippingCharge" placeholder="" value="@ViewBag.PosSetting.EditShippingCharge">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Edit Packaging Charge</label>
                                                    <input type="text" class="form-control" id="txtEditPackagingCharge" placeholder="" value="@ViewBag.PosSetting.EditPackagingCharge">
                                                </div>
                                            </div>*@
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Add Payment Row</label>
                                                <input type="text" class="form-control" id="txtAddPaymentRow" placeholder="" value="@ViewBag.PosSetting.AddPaymentRow">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Finalise Payment</label>
                                                <input type="text" class="form-control" id="txtFinalisePayment" placeholder="" value="@ViewBag.PosSetting.FinalisePayment">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Add New Product</label>
                                                <input type="text" class="form-control" id="txtAddNewProduct" placeholder="" value="@ViewBag.PosSetting.AddNewProduct">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Recent Transactions</label>
                                                <input type="text" class="form-control" id="txtRecentTransactions" placeholder="" value="@ViewBag.PosSetting.RecentTransactions">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Hold List</label>
                                                <input type="text" class="form-control" id="txtHoldList" placeholder="" value="@ViewBag.PosSetting.HoldList">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Calculator</label>
                                                <input type="text" class="form-control" id="txtCalculator" placeholder="" value="@ViewBag.PosSetting.Calculator">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Full Screen</label>
                                                <input type="text" class="form-control" id="txtFullScreen" placeholder="" value="@ViewBag.PosSetting.FullScreen">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Register Details</label>
                                                <input type="text" class="form-control" id="txtRegisterDetails" placeholder="" value="@ViewBag.PosSetting.RegisterDetails">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Pos Exit</label>
                                                <input type="text" class="form-control" id="txtPosExit" placeholder="" value="@ViewBag.PosSetting.PosExit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <table id="tblData" class="table table-bordered table-striped">

                                        @{
                                            var additionalCount = 1;
                                            <thead>
                                                <tr>
                                                    @*<th>Sln</th>*@
                                                    @*<th>Show on Pos as quick checkout button</th>*@
                                                    <th>Additional Charge</th>
                                                    <th>Shortcut key</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-body" id="divAdditionalCharges">
                                                @foreach (var item in ViewBag.AdditionalCharges)
                                                {
                                                    <tr id="@item.AdditionalChargeId">
                                                        @*<td>@(additionalCount)</td>*@
                                                        <td>@item.Name</td>
                                                        <td>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="txtAdditionalShortCutkey@(item.AdditionalChargeId)" placeholder="" value="@item.ShortCutKey">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    additionalCount++;
                                                }
                                            </tbody>

                                        }
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <table id="tblData" class="table table-bordered table-striped">

                                        @{
                                            var posCount = 1;
                                            <thead>
                                                <tr>
                                                    @*<th>Sln</th>*@
                                                    @*<th>Show on Pos as quick checkout button</th>*@
                                                    <th>Payment Method</th>
                                                    <th>Shortcut key</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-body" id="divCombo">
                                                @foreach (var item in ViewBag.PaymentTypes)
                                                {
                                                    <tr id="@item.PaymentTypeId">
                                                        @*<td>@(posCount)</td>*@
                                                        @*<td>
                                                                <div class="form-group">
                                                                    <div class="checkbox icheck-turquoise">
                                                                        @if (item.IsPosShown == true)
                                                                        {
                                                                            <input type="checkbox" checked id="chkIsPosShown@(item.PaymentTypeId)" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="checkbox" id="chkIsPosShown@(item.PaymentTypeId)" />
                                                                        }

                                                                        <label for="chkIsPosShown@(item.PaymentTypeId)" class="mt-2"></label>
                                                                    </div>
                                                                </div>
                                                            </td>*@
                                                        <td>@item.PaymentType</td>
                                                        <td>
                                                            <div class="form-group">
                                                                @*<label>Alert Quantity</label>*@
                                                                <input type="text" class="form-control" id="txtShortCutkey@(item.PaymentTypeId)" placeholder="" value="@item.ShortCutKey">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    posCount++;
                                                }
                                            </tbody>

                                        }
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-sm-12 table-responsive">

                                </div>
                            </div>

                            <!--<hr />
                            <h4>Weighing Scale Barcode Setting</h4>
                            <small>Configure barcode as per your weighing scale</small>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">-->
                            <!-- text input -->
                            <!--<div class="form-group">
                                        <label>Prefix <span class="danger">*</span></label>
                                        <input type="text" class="form-control" id="txtWeighingScaleBarcodePrefix" placeholder="" value="@ViewBag.PosSetting.WeighingScaleBarcodePrefix">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Product SKU Length</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtProductSkuLength" placeholder="" value="@ViewBag.PosSetting.ProductSkuLength">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Quantity Integer Part Length</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtQuantityIntegerPartLength" placeholder="" value="@ViewBag.PosSetting.QuantityIntegerPartLength">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Quantity Fractional Part Length</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtQuantityFractionalPartLength" placeholder="" value="@ViewBag.PosSetting.QuantityFractionalPartLength">
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right" onclick="posUpdate()"><i class="fas fa-edit"></i> Update</button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<div class="modal fade" id="faqModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FAQs</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="p-0 pl-2 pr-2">
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How do I add and update product categories?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    •	To add a new product category, click on the ‘Add New’ button at the top of the screen
                                    •	To update an existing product category, click on 'Edit' button beside the name of product category you want to change, make your changes and then click the ‘Save’ button at the bottom of the screen.
                                    •	To delete an existing product category, tick the box that is to the left of the product category you would like to delete and then click the ‘Delete’ button at the top of the list.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How do I make a product category inactive?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    IMS allows you stop an entire product category from displaying in your catalogue, by marking it as inactive. This is sometimes better than deleting all those products since all the product information is retained but the products are not shown in the catalogue. To mark a product category as inactive, follow these steps:

                                    •	Click on the name of the product category that you want to make active.
                                    •	Change the status field from ‘Active’ to ‘Inactive’.
                                    •	Click the ‘Save’ button at the bottom of the page.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/JQuery/Customer/Settings/SalesSettings/PosSettings.js"></script>

<style>
    .kot-dependent-setting {
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
</style>

<script>
    $(document).ready(function () {
        // Function to toggle KOT dependent settings visibility
        function toggleKotDependentSettings() {
            var enableKot = $('#chkPosEnableKot').is(':checked');
            var dependentSettings = $('.kot-dependent-setting');
            
            if (enableKot) {
                dependentSettings.show();
                dependentSettings.find('input[type="checkbox"]').prop('disabled', false);
            } else {
                // Uncheck dependent settings when master is disabled
                dependentSettings.find('input[type="checkbox"]').prop('checked', false);
                dependentSettings.hide();
            }
        }
        
        // Initialize on page load
        toggleKotDependentSettings();
        
        // Handle Enable KOT checkbox change
        $('#chkPosEnableKot').on('change', function () {
            toggleKotDependentSettings();
        });
    });
</script>


