<div class="paymentAdd hide">
    <div class="row">
        <div class="col-sm-6">
            <div class="text-danger">
                <label>Due</label>
                <span id="txtAdvBalance">
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@ViewBag.Due
                        }
                        else
                        {
                            @ViewBag.Due@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </span>
            </div>
        </div>
    </div>
    <div class="row divAdvanceBalance">
        <div class="col-sm-6">
            <div class="text-success">
                <label>Unused Credits</label>
                <span id="txtAdvBalance">
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@ViewBag.AdvanceBalance
                        }
                        else
                        {
                            @ViewBag.AdvanceBalance@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                    @if (ViewBag.Booking != null)
                    {
                        <a onclick="applyCreditsToBooking(@ViewBag.Booking.BookingId,@ViewBag.Booking.CustomerId,@ViewBag.Booking.DepositAmount,@ViewBag.Due,'@ViewBag.Booking.BookingNo')" href="javascript:void(0)" class="btn-sm btn-info">Apply Credits</a>
                    }
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <!-- text input -->
            <div class="form-group">
                <label>Amount <span class="danger">*</span></label>
                <input type="number" class="form-control divAmount_M_ctrl" id="txtAmount">
                <small class="text-red font-weight-bold errorText" id="divAmount_M"></small>
            </div>
        </div>
        <div class="col-sm-3">
            <!-- text input -->
            <div class="form-group">
                <label>Paid On <span class="danger">*</span></label>
                <div class="input-group date" id="_PaymentDate" data-target-input="nearest">
                    <input id="txtPaymentDate" type="text" class="form-control datetimepicker-input divPaymentDate_M_ctrl" data-target="#_PaymentDate" />
                    <div class="input-group-append" data-target="#_PaymentDate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <small class="text-red font-weight-bold errorText" id="divPaymentDate_M"></small>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group divPaymentType_M_ctrl">
                <label>Payment Method <span class="danger">*</span></label>
                <select class="form-control select2" style="width: 100%;" id="ddlPaymentType" onchange="checkPaymentType()">
                    @{
                        <option value="0">Select</option>
                        if (ViewBag.PaymentTypes != null)
                        {
                            foreach (var item in ViewBag.PaymentTypes)
                            {
                                if (item.IsDefault == true)
                                {
                                    <option value="@item.PaymentTypeId" selected>@item.PaymentType</option>
                                }
                                else
                                {
                                    <option value="@item.PaymentTypeId">@item.PaymentType</option>
                                }
                            }
                        }
                    }
                </select>
                <small class="text-red font-weight-bold errorText" id="divPaymentType_M"></small>
            </div>
        </div>
        <div class="col-sm-3 divLAccount @(ViewBag.IsAccountsAddon == true ? "" : "hidden")">
            <!-- text input -->
            <div class="form-group">
                <label>Deposit To <span class="danger">*</span></label>
                <div class="input-group divAccount_M_ctrl">
                    <select class="form-control select2" id="ddlLAccount">
                        @*<option value="0">Select</option>*@
                        @{
                            if (ViewBag.AccountSubTypes != null)
                            {
                                foreach (var item in ViewBag.AccountSubTypes)
                                {
                                    if (item.Accounts.Count > 0)
                                    {
                                        <optgroup label="@item.DisplayAs">
                                            @foreach (var inner in item.Accounts)
                                            {
                                                if (inner.Type == "Petty Cash")
                                                {
                                                    <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                }
                                                else
                                                {
                                                    <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                }
                                            }
                                        </optgroup>
                                    }
                                }
                            }
                        }
                    </select>
                </div>
                <small class="text-red font-weight-bold errorText" id="divAccount_M"></small>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Attach Document</label>
                <div class="custom-file">
                    <input type="file" id="PaymentAttachDocument" class="custom-file-input" accept='image/*' onchange="getBookingPaymentAttachDocumentBase64()">
                    <label class="custom-file-label" for="Logo">Choose file</label>
                </div>
                <img id="blahBookingPaymentAttachDocument" alt="" height="60" style="padding-top:10px;">
            </div>
        </div>
        <div class="col-sm-3 divReferenceNo">
            <!-- text input -->
            <div class="form-group">
                <label>Reference No <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Leave blank to auto generate"></i></label>
                <input type="text" class="form-control" id="txtMReferenceNo" />
            </div>
        </div>
        <div class="col-sm-3">
            <!-- text input -->
            <div class="form-group">
                <label>Notes</label>
                <textarea rows="2" class="form-control" id="txtPaymentNotes" placeholder="Enter Notes"></textarea>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>

<div class="paymentList hide">
    <div class="table-responsive">
        <table id="tblBookingPayments" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Paid On</th>
                    <th>Reference No</th>
                    <th>Amount</th>
                    <th>Payment Method</th>
                    <th>Status</th>
                    <th>Added By</th>
                    <th>Added On</th>
                    @if (ViewBag.MenuPermission != null && ViewBag.MenuPermission.IsDelete)
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody id="booking_payment_table" class="rows">
                @{
                    if (ViewBag.BookingPayments != null)
                    {
                        var index = 1;
                        foreach (var item in ViewBag.BookingPayments)
                        {
                            <tr id="tr_@(item.BookingPaymentId)">
                                <td>@index</td>
                                <td>
                                    @item.PaymentDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])
                                </td>
                                <td>@item.ReferenceNo</td>
                                <td>
                                    @{
                                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                                        {
                                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@item.Amount
                                        }
                                        else
                                        {
                                            @item.Amount@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                                        }
                                    }
                                </td>
                                <td>@item.PaymentType</td>
                                <td>
                                    @if (item.IsRefund == true)
                                    {
                                        <span class="badge badge-warning">Refunded</span>
                                    }
                                    else if (item.PaymentStatus == "Paid")
                                    {
                                        <span class="badge badge-success">@item.PaymentStatus</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-info">@item.PaymentStatus</span>
                                    }
                                </td>
                                <td>@item.AddedByCode</td>
                                <td>@item.AddedOn.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
                                @if (ViewBag.MenuPermission != null && ViewBag.MenuPermission.IsDelete)
                                {
                                    <td>
                                        @if (item.IsRefund == false && item.PaymentStatus == "Paid")
                                        {
                                            <a href="javascript:void(0)" onclick="deleteBookingPayment(@item.BookingPaymentId)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="far fa-trash-alt"></i></a>
                                            <a href="javascript:void(0)" onclick="openBookingRefundModal(true, @item.BookingPaymentId, 'Record Refund')" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="bottom" title="Refund"><i class="fas fa-undo"></i></a>
                                            <a href="javascript:void(0)" onclick="openBookingRefundModal(false, @item.BookingPaymentId, 'View Refunds')" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="View Refunds"><i class="fas fa-list"></i></a>
                                        }
                                    </td>
                                }
                            </tr>
                            index++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

