
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Expiring Points Report";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Expiring Points Report</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/reports/index">Reports</a></li>
                        <li class="breadcrumb-item active">Expiring Points Report</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                <a id="btnBack" href="/reports" class="btn btn-warning float-sm-right"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
            <div class="col-sm-12">
                <span id="divAsof" class="text-gray"></span>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline collapsed-card">
                    <div class="card-header" data-card-widget="collapse" title="Collapse">
                        <h3 class="card-title">Filter</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <label>Expiring Within (Days)</label>
                                    <input type="number" class="form-control" id="txtExpiryPeriod" value="@ViewBag.ExpiryPeriod" min="1" max="365">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right mt-2" onclick="fetchList(1)">Search</button>
                        <button type="submit" class="btn btn-warning float-right mt-2 mr-2" onclick="window.location.reload()">Refresh</button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <div id="tblUserRole_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="dataTables_length noPrint" id="tblUserRole_length">
                                <label>
                                    Show
                                    <select name="tblUserRole_length" aria-controls="tblUserRole" class="custom-select custom-select-sm form-control form-control-sm"
                                            onchange="fetchList(1)" id="txtPageSize">
                                        @{
                                            if (ViewBag.PageSize == 10)
                                            {
                                                <option value="10" selected>10</option>
                                            }
                                            else
                                            {
                                                <option value="10">10</option>
                                            }
                                            if (ViewBag.PageSize == 25)
                                            {
                                                <option value="25" selected>25</option>
                                            }
                                            else
                                            {
                                                <option value="25">25</option>
                                            }
                                            if (ViewBag.PageSize == 50)
                                            {
                                                <option value="50" selected>50</option>
                                            }
                                            else
                                            {
                                                <option value="50">50</option>
                                            }
                                            if (ViewBag.PageSize == 100)
                                            {
                                                <option value="100" selected>100</option>
                                            }
                                            else
                                            {
                                                <option value="100">100</option>
                                            }
                                        }
                                    </select> entries
                                </label>
                            </div>
                            @if (ViewBag.MenuPermission != null && ViewBag.MenuPermission.IsExport)
                            {
                                <div class="dt-buttons btn-group flex-wrap noPrint">
                                    <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToCsv('@ViewBag.Title')"><span>CSV</span></button>
                                    <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToExcel('@ViewBag.Title')"><span>Excel</span></button>
                                    <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToPdf('@ViewBag.Title')"><span>PDF</span></button>
                                    <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="tblUserRole" type="button" onclick="printDiv('@ViewBag.Title')"><span>Print</span></button>
                                </div>
                            }
                            <div id="tblUserRole_filter" class="dataTables_filter noPrint" style="visibility:hidden"><label>Search:<input type="text" class="form-control form-control-sm" placeholder="" aria-controls="tblUserRole" id="txtSearch" onkeyup="fetchList(1)"></label></div>
                            <div class="row mt-1">
                                <div class="col-sm-12 table-responsive">
                                    <table id="tblData" class="table table-bordered table-striped">
                                        @Html.Partial("PartialExpiringPoints")
                                    </table>
                                </div>
                            </div>
                            <div class="row noPrint">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="tblUserRole_info" role="status" aria-live="polite">Showing @((ViewBag.CurrentPageIndex - 1) * ViewBag.PageSize + 1) to @(Math.Min(ViewBag.CurrentPageIndex * ViewBag.PageSize, ViewBag.TotalCount)) of @ViewBag.TotalCount entries</div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="tblUserRole_paginate">
                                        <ul class="pagination">
                                            @if (ViewBag.CurrentPageIndex > 1)
                                            {
                                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                                    <a href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link" onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))">Previous</a>
                                                </li>
                                            }
                                            @for (int i = 1; i <= ViewBag.PageCount; i++)
                                            {
                                                <li class="paginate_button page-item @(i == ViewBag.CurrentPageIndex ? "active" : "")">
                                                    <a href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="@i" tabindex="0" class="page-link" onclick="fetchList(@i)">@i</a>
                                                </li>
                                            }
                                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                                            {
                                                <li class="paginate_button page-item next" id="tblUserRole_next">
                                                    <a href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="@(ViewBag.PageCount)" tabindex="0" class="page-link" onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))">Next</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/JQuery/Customer/Reports/RewardPointsReports/ExpiringPoints.js"></script>

