

@{
    var count = 1;
    <thead id="thead">
        <tr>
            <th>Sln</th>
            <th>SKU</th>
            <th>Item</th>
            <th>Current Stock</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var item in ViewBag.Items)
        {
        <tr>
            <td>@(count)</td>
            <td>
                @if (ViewBag.ItemsPermission.IsView)
                {
                    <a href="javascript:void(0)" onclick="ViewItem(@item.ItemId)">@item.SKU</a>
                }
                else
                {
                    @item.SKU
                }
                    </td>
            <td>
                @if (ViewBag.ItemsPermission.IsView)
                {
                    <a href="javascript:void(0)" onclick="ViewItem(@item.ItemId)">
                        @if (item.ItemName.Length > 15)
                        {
                            <span><b>Name:</b> @item.ItemName.Substring(0, 15)...</span>
                        }
                        else
                        {
                            <span><b>Name:</b> @item.ItemName</span>
                        }

                        @if (item.VariationName != null)
                        {
                            <br /><span> <b>Variation:</b> @item.VariationName</span>
                        }
                        @*<br /><span><b>SKU:</b> @item.SKU</span>*@
                    </a>
                }
                else
                {
                    if (item.ItemName.Length > 15)
                    {
                        <span><b>Name:</b> @item.ItemName.Substring(0, 15)...</span>
                    }
                    else
                    {
                        <span><b>Name:</b> @item.ItemName</span>
                    }

                    if (item.VariationName != null)
                    {
                        <br /><span> <b>Variation:</b> @item.VariationName</span>
                    }
                    @*<br /><span><b>SKU:</b> @item.SKU</span>*@
                }
            </td>
            <td>
                @(String.Format("{0:0.##}", item.Quantity)) @item.UnitName
            </td>
        </tr>
            count++;

        }
    </tbody>

    @*<tbody>
            <tr>
                <td colspan="3" data-title="Total" class="text-right"><b>Total</b></td>
                <td data-title="Total Amount">@ViewBag.grandtotal</td>
                <td data-title="Paid Amount">@ViewBag.totalpaid</td>
                <td data-title="Due Amount">@ViewBag.totaldue</td>

            </tr>
        </tbody>*@
    <tbody class="hide noPrint">
        <tr></tr>
        <tr>
            <td colspan="11">
                <div class="dataTables_info" id="tblUserRole_info_custom" role="status" aria-live="polite">Showing @(ViewBag.PageSize * (ViewBag.PageIndex - 1) + 1) to @(ViewBag.PageSize * ViewBag.CurrentPageIndex) of @ViewBag.TotalCount entries</div>
                @if (ViewBag.PageCount > 1)
                {
                    int j = 0;
                    <div class="dataTables_paginate paging_simple_numbers" id="tblUserRole_paginate_custom" style="float:right">
                        <ul class="pagination">
                            @if (ViewBag.CurrentPageIndex > 1)
                            {
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                                </li>
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = ViewBag.CurrentPageIndex; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                    <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                                </li>
                                if (j == 10)
                                {
                                    i = ViewBag.PageCount + 1;
                                }
                                j++;
                            }
                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                            {
                                <li class="paginate_button page-item next" id="tblUserRole_next">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    </tbody>
}
<script type="text/javascript">
    @*$('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');*@
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    @*$('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>


