


@{
    var count = 1;
    <thead id="thead">
        <tr>
            <th style="">Sln</th>
            <th style="">Item Name</th>
            <th style="">Sku Code</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @foreach (var item in ViewBag.ItemDetails)
        {

            <tr>
                <td>@(ViewBag.PageSize * (ViewBag.PageIndex - 1)+count)</td>
                <td>
                    @if (ViewBag.ItemsPermission.IsView)
                    {
                        <a href="javascript:void(0)" onclick="ViewItem(@item.ItemId)">
                            @if (item.VariationName != "" && item.VariationName != null)
                            {
                                <span>@item.ItemName (@item.VariationName)</span>
                            }
                            else
                            {
                                @item.ItemName
                            }
                        </a>
                    }
                    else
                    {
                        if (item.VariationName != "" && item.VariationName != null)
                        {
                            <span>@item.ItemName (@item.VariationName)</span>
                        }
                        else
                        {
                            @item.ItemName
                        }
                    }
                </td>
                <td>
                    @if (ViewBag.ItemsPermission.IsView)
                    {
                        <a href="javascript:void(0)" onclick="ViewItem(@item.ItemId)">@item.SKU</a>
                    }
                    else
                    {
                        @item.SKU
                    }
                </td>
                <td>
                    <a href="/inventoryreports/stockledger?ItemId=@item.ItemId&ItemDetailsId=@item.ItemDetailsId&BranchId=@ViewBag.BranchId"
                       id="Edit" data-toggle="tooltip" data-placement="bottom" title="Edit">
                        @(String.Format("{0:0.##}", item.Quantity)) @item.UnitName
                    </a>
                </td>
            </tr>
            count++;

        }
    </tbody>
    <tbody class="hide noPrint">
        <tr></tr>
        <tr>
            <td colspan="12">
                <div class="dataTables_info" id="tblUserRole_info_custom" role="status" aria-live="polite">Showing @(ViewBag.PageSize * (ViewBag.PageIndex - 1)+1) to @(ViewBag.PageSize* ViewBag.CurrentPageIndex) of @ViewBag.TotalCount entries</div>
                @if (ViewBag.PageCount > 1)
                {
                    int j = 0;
                    <div class="dataTables_paginate paging_simple_numbers" id="tblUserRole_paginate_custom" style="float:right">
                        <ul class="pagination">
                            @if (ViewBag.CurrentPageIndex > 1)
                            {
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                                </li>
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = ViewBag.CurrentPageIndex; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                    <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                                </li>
                                if (j == 10)
                                {
                                    i = ViewBag.PageCount + 1;
                                }
                                j++;
                            }
                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                            {
                                <li class="paginate_button page-item next" id="tblUserRole_next">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    </tbody>
}
<script type="text/javascript">
    $('#divAsof').text('Showing Results: (As of: ' + @Html.Raw(Json.Encode(ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    @*$('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));*@
</script>
