
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Edit Online Payment Setting";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit Online Payment Setting</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/settings/index">Settings</a></li>
                        <li class="breadcrumb-item"><a href="/onlinepaymentsettings/onlinepaymentsettings">Online Payment Setting List</a></li>
                        <li class="breadcrumb-item active">Edit Online Payment Setting</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                <a id="btnBack" href="/onlinepaymentsettings/onlinepaymentsettings" class="btn btn-warning float-sm-right"><i class="fas fa-arrow-left"></i> Back</a>
                @*<a href="javascript:void(0)" data-toggle="modal" data-target="#faqModal" class="btn btn-secondary float-sm-right mr-2">FAQs</a>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                    @*<h5><i class="fas fa-info"></i> Note:</h5>*@
                    Only the fields which are marked with <span class="text-danger">*</span> is mandatory. Rest all fields are optional and can be skipped
                    @*<button class="btn btn-info btn-sm" onclick="insert()"> Check Mandatory Fields</button>*@
                </div>
                <!-- jquery validation -->
                <div class="card card-primary card-outline">

                    <!-- form start -->
                    <div id="quickForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group divOnlinePaymentService_ctrl">
                                        <label>Online Payment Service <span class="danger">*</span>  </label>
                                        <select class="form-control" style="width: 100%;" id="ddlOnlinePaymentService" onchange="toggleOnlinePaymentService()" disabled>
                                            @{
                                                <option value="0">Select</option>
                                                if (ViewBag.OnlinePaymentSetting.OnlinePaymentService == 1)
                                                {
                                                    <option value="1" selected>Paypal</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Paypal</option>
                                                }
                                                if (ViewBag.OnlinePaymentSetting.OnlinePaymentService == 2)
                                                {
                                                    <option value="2" selected>Razorpay</option>
                                                }
                                                else
                                                {
                                                    <option value="2">Razorpay</option>
                                                }
                                            }
                                        </select>
                                        <small class="text-red font-weight-bold errorText" id="divOnlinePaymentService"></small>
                                    </div>
                                </div>

                            </div>
                            @if (ViewBag.OnlinePaymentSetting.OnlinePaymentService == 1)
                            {
                                <div class="row divPaypal">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Paypal Client Id <span class="danger">*</span> </label>
                                            <input type="text" class="form-control divPaypalClientId_ctrl" id="txtPaypalClientId" placeholder="" value="@ViewBag.OnlinePaymentSetting.PaypalClientId">
                                            <small class="text-red font-weight-bold errorText" id="divPaypalClientId"></small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <label>Paypal Currency <span class="danger">*</span></label>
                                            <div class="input-group divPaypalCurrency_ctrl">
                                                <select class="form-control select2" id="ddlPaypalCurrency">
                                                    <option value="0">Select</option>
                                                    @foreach (var item in ViewBag.Currencys)
                                                    {
                                                        if (ViewBag.OnlinePaymentSetting.PaypalCurrencyId == item.CurrencyId)
                                                        {
                                                            <option value="@item.CurrencyId" selected>@item.CurrencyName (@item.CurrencyCode) </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.CurrencyId">@item.CurrencyName (@item.CurrencyCode) </option>
                                                        }
                                                    }
                                                </select>
                                                @*@if (ViewBag.CurrencyPermission.IsAdd == true)
                                                {*@
                                                    <span class="input-group-append">
                                                        <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#currencyModal">+ </a>
                                                    </span>
                                                @*}*@
                                            </div>
                                            <small class="text-red font-weight-bold errorText" id="divPaypalCurrency"></small>
                                        </div>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.OnlinePaymentSetting.OnlinePaymentService == 2)
                            {
                                <div class="row divRazorpay">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Razorpay Key <span class="danger">*</span> </label>
                                            <input type="text" class="form-control divRazorpayKey_ctrl" id="txtRazorpayKey" placeholder="" value="@ViewBag.OnlinePaymentSetting.RazorpayKey">
                                            <small class="text-red font-weight-bold errorText" id="divRazorpayKey"></small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <label>Razorpay Currency <span class="danger">*</span></label>
                                            <div class="input-group divRazorpayCurrency_ctrl">
                                                <select class="form-control select2" id="ddlRazorpayCurrency">
                                                    <option value="0">Select</option>
                                                    @foreach (var item in ViewBag.Currencys)
                                                    {
                                                        if (ViewBag.OnlinePaymentSetting.RazorpayCurrencyId == item.CurrencyId)
                                                        {
                                                            <option value="@item.CurrencyId" selected>@item.CurrencyName (@item.CurrencyCode) </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.CurrencyId">@item.CurrencyName (@item.CurrencyCode) </option>
                                                        }
                                                    }
                                                </select>
                                                @*@if (ViewBag.CurrencyPermission.IsAdd == true)
                                                {*@
                                                    <span class="input-group-append">
                                                        <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#currencyModal">+ </a>
                                                    </span>
                                                @*}*@
                                            </div>
                                            <small class="text-red font-weight-bold errorText" id="divRazorpayCurrency"></small>
                                        </div>
                                    </div>

                                </div>
                            }

                            <hr />

                            <div class="pb-2 row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Save As <span class="danger">*</span></label>
                                        <input type="text" class="form-control divPaymentServiceSaveAs_ctrl" id="txtPaymentServiceSaveAs" placeholder="" value="@ViewBag.OnlinePaymentSetting.SaveAs">
                                        <small class="text-red font-weight-bold errorText" id="divPaymentServiceSaveAs"></small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <br />
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.OnlinePaymentSetting.IsDefault == true)
                                            {
                                                <input type="checkbox" id="chkPaymentServiceIsDefault" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkPaymentServiceIsDefault">
                                            }
                                            <label for="chkPaymentServiceIsDefault" class="mt-2">Is Default</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button id="btnUpdate" type="submit" class="btn btn-primary float-right" onclick="update(1)"><i class="fas fa-edit"></i> Update</button>
                            <button id="btnUpdate_AddAnother" type="submit" class="btn btn-success float-right mr-2" onclick="update(2)"><i class="fas fa-plus-circle"></i> Update & Add Another</button>
                            @*<a id="btnBack" href="/items/category" class="btn btn-warning float-sm-right mr-2"><i class="fas fa-arrow-left"></i> Back</a>*@
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal fade" id="currencyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Currency</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Currency <span class="danger">*</span></label>
                            <div class="input-group divCurrency_ctrl">
                                <select class="form-control select2" id="ddlCurrency">
                                    <option value="0">Select</option>
                                    @foreach (var item in ViewBag.AllCurrencys)
                                    {
                                        <option value="@item.CurrencyId">@item.CurrencyName (@item.CurrencyCode) </option>
                                    }
                                </select>
                            </div>
                            <small class="text-red font-weight-bold errorText" id="divCurrency"></small>
                        </div>
                    </div>

                    <div class="col-sm-4 hidden">
                        <div class="form-group">
                            <label>Exchange Rate</label>
                            <div class="input-group">
                                <span class="input-group-append">
                                    <a href="javascript:void(0)" class="btn bg-gray">1 @ViewBag.Currency.CurrencyCode = </a>
                                </span>
                                <input type="number" class="form-control divExchangeRate_ctrl" id="txtExchangeRate" placeholder="Conversion Rate"
                                       onkeypress="return onlyDecimalKey(event)">
                                <span class="input-group-append">
                                    <a href="javascript:void(0)" class="btn bg-gray " id="txtCurrency"> </a>
                                </span>
                            </div>
                            <small class="text-red font-weight-bold errorText" id="divExchangeRate"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertCurrency()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="faqModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FAQs</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="p-0 pl-2 pr-2">
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How do I add and update product categories?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    •	To add a new product category, click on the ‘Add New’ button at the top of the screen
                                    •	To update an existing product category, click on 'Edit' button beside the name of product category you want to change, make your changes and then click the ‘Save’ button at the bottom of the screen.
                                    •	To delete an existing product category, tick the box that is to the left of the product category you would like to delete and then click the ‘Delete’ button at the top of the list.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How do I make a product category inactive?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    IMS allows you stop an entire product category from displaying in your catalogue, by marking it as inactive. This is sometimes better than deleting all those products since all the product information is retained but the products are not shown in the catalogue. To mark a product category as inactive, follow these steps:

                                    •	Click on the name of the product category that you want to make active.
                                    •	Change the status field from ‘Active’ to ‘Inactive’.
                                    •	Click the ‘Save’ button at the bottom of the page.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/JQuery/Customer/Settings/OnlinePaymentSettings/OnlinePaymentSettings.js"></script>
