
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style>
    /*body {
        margin: 0;*/ /* Remove default margin */
    /*}*/

    iframe {
        /*display: block;*/ /* iframes are inline by default */
        height: 100vh; /* Set height to 100% of the viewport height */
        width: 100vw; /* Set width to 100% of the viewport width */
        /*border: none;*/ /* Remove default border */
    }
</style>*@

<!-- Inner Banner -->
<section class="banner pt-3 pb-0" style="background: #6c3fb5;">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 text-md-start text-center wow zoomInLeft">
                <h2 class="mb-3">Pricing</h2>
                <h5 class="text-white">Track your business anytime, anywhere</h5>
                @*<a href="#" class="btnetech mt-3">Enquiry Now</a>*@
            </div>
            <div class="col-md-3 wow zoomInRight">
                <img src="~/Content/web-assets/images/innerbanner.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!-- // -->
@*<iframe src="http://localhost:56257/Pricing/Whitelabel" style="width:100%;height:100vh;"></iframe>*@
@*<iframe src="https://equitechsoftwares.in/Pricing/Whitelabel" style="width:100%;height:100vh;"></iframe>*@
@*<iframe src="https://equibillbook.com/pricing/Whitelabel" style="width:100%;height:100vh;"></iframe>*@
<section class="subcription">
    <div class="container">
        <div class="row" style="display:none">
            <div class="col-md-7 wow fadeInLeft">
                @*<div class="title text-center pb-4">
                        <h5>Pricing</h5>
                        <h1 class="mb-0">Upgrade Your Plan</h1>
                    </div>*@
                <div class="text-center mx-auto w-50 mb-3 dropMain">
                    <h6>Choose Your Country</h6>
                    <select id="ddlCountry" onchange="fetchPricing()">
                        @{
                            foreach (var item in ViewBag.Countrys)
                            {
                                if (item.IsMain == true)
                                {
                                    <option selected value="@item.CountryId">@item.Country </option>
                                }
                                else
                                {
                                    <option value="@item.CountryId">@item.Country </option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="divPricing">
            @Html.Partial("PartialPricing")
            @*<div class="col-md-5 ps-md-5 wow fadeInRight mt-5 mt-md-0">
                    <div class="title text-center pb-4">
                        <h5>FAQs</h5>
                        <h1 class="fs-3">Frequently Asked Questions</h1>
                    </div>
                    <div class="faqPanel p-4 bg-white shadow rounded">
                        <div class="accordion" id="accordionFaq">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                        Is this online, or do I download software?
                                    </button>
                                </h2>
                                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                                     data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        EquiBillBook is an online cloud based accounting software. Few advantages are below :
                                        <ul>
                                            <li>Pay As You Go</li>
                                            <li>Watertight security and no time-consuming back-ups</li>
                                            <li>Accessibility Anywhere, Anytime and on any Device</li>
                                            <li>Multi-Location Accounting with Real-Time Consolidation and Reporting</li>
                                            <li>Ease of Communication between locations</li>
                                            <li>Reduces paperwork and is more sustainable</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How will EquiBillBook help me in getting my account ready?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        EquiBillBook is all set to provide you with a content-rich platform, designed just the way you want it.
                                        Visit our website, and then create an account by uploading the necessary credentials.
                                        Once done, update your business name and logo and then you are all set to start and create your first invoice.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        How much time does it take to create my account at EquiBillBook?
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Creating your account at EquiBillBook will not take more than 2 minutes since it involves entering just a
                                        few basic details.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Will I be charged for this service?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        No, not at all. We provide 30 days of an extensive free trial of our base plan, where users can use it
                                        and if the user is satisfied with our service then only they can buy it.<br />
                                        However, if the user wants to see the full software demo they can click the <a href="/home/demo">demo link</a>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        How safe is my data with you?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Please relax, your data has been securely put into code by our experts and stowed
                                        carefully in our system. Information that you share online through EquiBillBook also has an extra
                                        fortification of HTTPs layer, giving it a shield against every sort of cyber threat.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        How can I share my invoices with my customers?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        There are plenty of ways through which you can share your invoice to your customers,
                                        like you can WhatsApp, email, or SMS it.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        I am facing trouble in using the software, what should I do?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        No problem, at EquiBillBook we are always set to assist you. Hence, if you are stuck,
                                        please communicate with our support team, they will guide you accordingly.
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        I believe my account has been hacked, what should I do now?
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Please keep in mind, your password must be kept private to rule out any case of cybercrime,
                                        hence kindly adhere to this. Instances of cyber theft are not uncommon nowadays.
                                        Though at EquiBillBook, we do our best to create awareness amongst our clients, so that they
                                        can avoid such issues, but incontrovertibly, such things do happen. Although we rarely
                                        have such instances in our record, still if you contemplate your account has been hacked,
                                        kindly convey the matter to our support executive, so that requisite action can be taken on time.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        What about Support ?
                                    </button>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        If you have any queries, then you can get in touch with our Support Team via email.
                                        Our Support Team tries their best to reply within the same working day, else they will reply within 24
                                        working hours. Support Team works between 10 AM to 8 PM IST.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingNine">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                        Why choose a EquiBillBook over another service?
                                    </button>
                                </h2>
                                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        EquiBillBook is built specifically for all business categories ranging from small to medium size.
                                        Its a initiative to bring people online at a very low cost. We dont believe in predefined subscription
                                        plans, rather we prefer giving the control to you so that you can create your own plan. Just select the modules
                                        which you need. Never pay extra when you have the option to pay for what and how much you need. <br />
                                        It’s simple, secure, quick and easy to use.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEleven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                        What happens after my free trial?
                                    </button>
                                </h2>
                                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
                                     data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        Once your free trial is expired, you need to buy our paid plan to enjoy continuing our service.<br />
                                        You can choose from 1 month to 5 years depending on your requirement.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwelve">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                        Can I customise my plan?
                                    </button>
                                </h2>
                                <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
                                     data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        Yes, EquiBillBook prefers giving the control to you so that you can create and customise
                                        your own plan. Just select the term length for the base plan and then select the modules/ addons
                                        which you need. Never pay extra when you have the option to pay for what and how much you need.
                                        It’s simple, secure, quick and easy to use.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThirteen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                        Can I upgrade my existing plan to any other plan?
                                    </button>
                                </h2>
                                <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
                                     data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        We do not have plan system, rather we have modules/ addons. You can always go to addon menu from
                                        your dashboard and add the extra modules or features which you need. Pricing will depend accordingly.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFourteen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                        What is the billing cycle of EquiBillBook?
                                    </button>
                                </h2>
                                <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
                                     data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        EquiBillBook offers billing in both monthly and annually, ranging from 1 month upto 5 years.<br />
                                        All our pricings are very affordable compared to other billing software available in the market.
                                        Choose the one which suits you the best.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFifteen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                        Can I cancel my subscription?
                                    </button>
                                </h2>
                                <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen"
                                     data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        Yes, you are allowed to cancel your subscription at any time. However, no refund requests are entertained. Kindly refer to our
                                        <a href="/refundpolicy" target="_blank">Refund Policy</a> for more details
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSixteen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                        Can I use this product in my country?
                                    </button>
                                </h2>
                                <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen"
                                     data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        EquiBillBook can be used in any country. You can customise the taxes as per your requirements.
                                        Also we have multiple languages support and multiple timezone.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSeventeen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                        What will happen if i dont renew after my current plan gets expired?
                                    </button>
                                </h2>
                                <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen"
                                     data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        You will get notifications in email/ whatsapp and reminder message in your dasboard from 1 month before
                                        your next renewal date. However, if still the renewal is not done then from the date of expiry all
                                        menus will be hidden and you won't be able to use the software until and unless the renewal is done.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEighteen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                                        I got more questions. How can i reach out to you?
                                    </button>
                                </h2>
                                <div id="collapseEighteen" class="accordion-collapse collapse" aria-labelledby="headingEighteen"
                                     data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        We want our users to clarify all doubts before they start using our service. Kindly get in touch
                                        with our support team anytime through emails. Our team will get back to you and clear all your doubts.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>

<script src="~/Content/JQuery/Website/Pricing.js"></script>