@{
    var count = 1;
    <thead>
        <tr role="row">
            <th>Sln</th>
            <th class="hide noPrint">Action</th>
            <th>Date</th>
            <th>Sales Invoice#</th>
            <th>Reference No</th>
            <th>Customer Name</th>
            <th>Customer Mobile No</th>
            <th>Status</th>
            <th>Total Items</th>
            @*<th>Total Discount</th>*@
            <th>Total Amount</th>
            @*@if (ViewBag.Status == "Sent")
                {*@
            @*<th>Total Paid</th>*@
            <th>Total Due</th>
            @*<th>Total Return Due</th>*@
            @*<th>Payment Status</th>*@
            @*}*@
            @*<th>Added By</th>
                <th>Added On</th>
                <th>Last Modified By</th>
                <th>Last Modified On</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Sales)
        {
            <tr>
                <td>@(ViewBag.PageSize * (ViewBag.PageIndex - 1) + count)</td>
                <td class="hide noPrint">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">Action</button>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            @{
                                if (ViewBag.MenuPermission.IsEdit)
                                {
                                    //if (!item.IsSalesReturn)
                                    //{
                                    if (item.IsCancelled == false)
                                    {
                                        if (item.SalesType.ToLower() == "bill of supply")
                                        {
                                            <a class="dropdown-item" href="/Sales/billofsupplyedit?SalesId=@item.SalesId" id="Edit"><i class="fas fa-edit"></i> Edit</a>
                                        }
                                        else if (item.SalesType.ToLower() == "pos")
                                        {
                                            <a class="dropdown-item" href="/Sales/posedit?SalesId=@item.SalesId" id="Edit"><i class="fas fa-edit"></i> Edit</a>
                                        }
                                        else if (item.SalesType.ToLower() == "debit note")
                                        {
                                            <a class="dropdown-item" href="/Sales/debitnoteedit?SalesId=@item.SalesId" id="Edit"><i class="fas fa-edit"></i> Edit</a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" href="/Sales/edit?SalesId=@item.SalesId" id="Edit"><i class="fas fa-edit"></i> Edit</a>
                                        }
                                    }
                                    //}
                                }
                            }

                            <a class="dropdown-item" href="javascript:void(0)" id="" onclick="View(@item.SalesId)"><i class="fas fa-eye"></i> View</a>

                            @if (item.Status != "Draft")
                            {
                                if (ViewBag.CustomerPaymentPermission.IsAdd)
                                {
                                    if (item.Status != "Paid")
                                    {
                                        @*<a class="dropdown-item" href="javascript:void(0)" id="Pay" onclick="openAvailableCredits(@item.SalesId,@item.CustomerId,@item.GrandTotal,@item.Due,'@item.InvoiceNo')"><i class="fas fa-plus"></i> Apply Credits</a>*@
                                        if (item.IsCancelled == false)
                                        {
                                            <a class="dropdown-item" href="javascript:void(0)" id="Pay" onclick="openPaymentModal(true,@item.SalesId,'@item.SalesType Payment',@item.BranchId)"><i class="fas fa-plus"></i> Add Payment</a>
                                        }

                                    }
                                }
                                @*if (ViewBag.CustomerPaymentPermission.IsView)
            {
                <a class="dropdown-item" href="javascript:void(0)" id="Pay" onclick="openPaymentModal(false,@item.SalesId,'@item.SalesType Payment')"><i class="fas fa-money-bill"></i> View Payments</a>
            }*@
                            }

                            @if (ViewBag.MenuPermission.IsDelete)
                            {
                                <a class="dropdown-item" href="javascript:void(0)" id="Edit" onclick="Delete(@item.SalesId)"><i class="fas fa-trash-alt"></i> Delete</a>
                                @*if (item.IsCancelled == false && item.Status != "Draft")
                                {
                                    <a class="dropdown-item" href="javascript:void(0)" id="Edit" onclick="Cancel(@item.SalesId)"><i class="fas fa-trash-alt"></i> Cancel</a>
                                }*@
                            }
                            @if (item.Status != "Draft")
                            {
                                if (item.SalesType.ToLower() == "bill of supply")
                                {
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="openNotificationModal('Bill Of Supply',@item.SalesId)"><i class="fas fa-envelope"></i> Send Notification</a>
                                }
                                else if (item.SalesType.ToLower() == "pos")
                                {
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="openNotificationModal('Pos',@item.SalesId)"><i class="fas fa-envelope"></i> Send Notification</a>
                                }
                                else if (item.SalesType.ToLower() == "debit note")
                                {
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="openNotificationModal('Sales Debit Note',@item.SalesId)"><i class="fas fa-envelope"></i> Send Notification</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="openNotificationModal('Sales Invoice',@item.SalesId)"><i class="fas fa-envelope"></i> Send Notification</a>
                                }
                            }

                                @if (item.Status != "Paid" && item.Status != "Draft")
                                {
                                    if (item.IsCancelled == false)
                                    {
                                        if (item.Status == "Due" || item.Status == "Partially Paid")
                                        {
                                            <a class="dropdown-item" href="javascript:void(0)" onclick="openReminderModal('Before Due Date',@item.SalesId)"><i class="fas fa-bell"></i> Send Reminder</a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" href="javascript:void(0)" onclick="openReminderModal('After Due Date',@item.SalesId)"><i class="fas fa-bell"></i> Send Reminder</a>
                                        }
                                    }
                                }
                                <div class="dropdown-divider"></div>
                                @if (item.SalesType.ToLower() == "pos")
                                {
                                    if (ViewBag.PosSetting.InvoiceType == 1)
                                    {
                                        @*<a class="dropdown-item" href="javascript:void(0)" id="View" onclick="PrintInvoice('@ViewBag.InvoiceUrl/sales/invoice?InvoiceId=@item.InvoiceId')"><i class="fas fa-file"></i> Invoice</a>
                    <a class="dropdown-item" href="javascript:void(0)" onclick="copyCode('@ViewBag.InvoiceUrl/sales/invoice?InvoiceId=@item.InvoiceId')" id="Edit"><i class="fas fa-copy"></i> Copy Invoice Url</a>*@
                                        <a class="dropdown-item" href="javascript:void(0)" onclick="openInvoiceCopyModal('@ViewBag.InvoiceUrl/sales/invoice?InvoiceId=@item.InvoiceId','@item.InvoiceNo')" id="Edit"><i class="fas fa-copy"></i> Invoice Url</a>
                                    }
                                    else
                                    {
                                        @*<a class="dropdown-item" href="javascript:void(0)" id="View" onclick="PrintInvoice('@ViewBag.InvoiceUrl/sales/receipt?InvoiceId=@item.InvoiceId')"><i class="fas fa-file"></i> Invoice</a>
                    <a class="dropdown-item" href="javascript:void(0)" onclick="copyCode('@ViewBag.InvoiceUrl/sales/receipt?InvoiceId=@item.InvoiceId')" id="Edit"><i class="fas fa-copy"></i> Copy Invoice Url</a>*@
                                        <a class="dropdown-item" href="javascript:void(0)" onclick="openInvoiceCopyModal('@ViewBag.InvoiceUrl/sales/receipt?InvoiceId=@item.InvoiceId','@item.InvoiceNo')" id="Edit"><i class="fas fa-copy"></i> Invoice Url</a>
                                    }
                                }
                                else
                                {
                                    if (ViewBag.SaleSetting.InvoiceType == 1)
                                    {
                                        @*<a class="dropdown-item" href="javascript:void(0)" id="View" onclick="PrintInvoice('@ViewBag.InvoiceUrl/sales/invoice?InvoiceId=@item.InvoiceId')"><i class="fas fa-file"></i> Invoice</a>
                    <a class="dropdown-item" href="javascript:void(0)" onclick="copyCode('@ViewBag.InvoiceUrl/sales/invoice?InvoiceId=@item.InvoiceId')" id="Edit"><i class="fas fa-copy"></i> Copy Invoice Url</a>*@
                                        <a class="dropdown-item" href="javascript:void(0)" onclick="openInvoiceCopyModal('@ViewBag.InvoiceUrl/sales/invoice?InvoiceId=@item.InvoiceId','@item.InvoiceNo')" id="Edit"><i class="fas fa-copy"></i> Invoice Url</a>
                                    }
                                    else
                                    {
                                        @*<a class="dropdown-item" href="javascript:void(0)" id="View" onclick="PrintInvoice('@ViewBag.InvoiceUrl/sales/receipt?InvoiceId=@item.InvoiceId')"><i class="fas fa-file"></i> Invoice</a>
                    <a class="dropdown-item" href="javascript:void(0)" onclick="copyCode('@ViewBag.InvoiceUrl/sales/receipt?InvoiceId=@item.InvoiceId')" id="Edit"><i class="fas fa-copy"></i> Copy Invoice Url</a>*@
                                        <a class="dropdown-item" href="javascript:void(0)" onclick="openInvoiceCopyModal('@ViewBag.InvoiceUrl/sales/receipt?InvoiceId=@item.InvoiceId','@item.InvoiceNo')" id="Edit"><i class="fas fa-copy"></i> Invoice Url</a>
                                    }
                                }
                                @if (ViewBag.SalesStatusUpdate.IsEdit)
                                {
                                    if (item.Status == "Draft")
                                    {
                                        if (item.IsCancelled == false)
                                        {
                                            <a class="dropdown-item" href="javascript:void(0)" onclick="UpdateSalesStatus(@item.SalesId)"><i class="fas fa-check"></i> Mark as Sent?</a>
                                        }
                                    }
                                }
                                @if (item.IsCancelled == false)
                                {
                                    if (item.Status != "Draft")
                                    {
                                        if (ViewBag.SalesReturnPermission.IsAdd)
                                        {
                                            <a class="dropdown-item" href="/sales/salesreturnadd?SalesId=@item.SalesId" id="Edit"><i class="fas fa-undo"></i> Credit Note</a>
                                        }
                                        //if (ViewBag.CustomerDebitNotePermission.IsAdd)
                                        //{
                                        if (item.SalesType.ToLower() != "debit note")
                                        {
                                            <a class="dropdown-item" href="/sales/debitnoteadd?SalesId=@item.SalesId" id="Edit"><i class="fas fa-undo"></i> Sales Debit Note</a>
                                        }
                                        //}
                                    }
                                    {
                                        if (item.Status != "Paid")
                                        {
                                            if (item.IsWriteOff == false)
                                            {
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="openWriteOffModal(@item.SalesId,'@item.Status')"><i class="fa-solid fa-rectangle-xmark"></i> Write Off</a>
                                            }
                                        }
                                        else
                                        {
                                            if (item.IsWriteOff == true)
                                            {
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="CancelWriteOff(@item.SalesId)"><i class="fa-solid fa-rectangle-xmark"></i> Cancel Write Off</a>
                                            }
                                        }
                                    }
                                    if (item.GstTreatment == "Export of Goods / Services (Zero-Rated Supply)" || item.GstTreatment == "Supply to SEZ Unit (Zero-Rated Supply)" || item.GstTreatment == "Supply by SEZ Developer")
                                    {
                                        if (item.ShippingBillId == 0)
                                        {
                                            if (ViewBag.ShippingBillPermission.IsAdd)
                                            {
                                                <a class="dropdown-item" href="/sales/shippingbilladd?salesid=@item.SalesId"><i class="fa-solid fa-rectangle-xmark"></i> Create Shipping Bill</a>
                                            }
                                        }
                                        @*else
                    {
                        <a class="dropdown-item" href="/sales/shippingbilladd?shippingbillid=@item.ShippingBillId"><i class="fa-solid fa-rectangle-xmark"></i> Edit Shipping Bill</a>
                    }*@
                                    }
                                }

                                @*@if (ViewBag.SalesStatusUpdate.IsEdit)
            {
                <a class="dropdown-item" href="javascript:void(0)" onclick="openSalesStatusModal(@item.SalesId,'@item.Status')"><i class="fas fa-edit"></i> Change Status</a>
            }*@
                            </div>
                    </div>
                </td>

                <td>@item.SalesDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
                <td>
                    @item.InvoiceNo
                    @if (item.SalesType == "Debit Note")
                    {
                        <i tabindex="0" class="fa fa-info-circle text-primary hover-q no-print" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Debit Note"></i>
                    }
                    @if (item.IsSalesReturn)
                    {
                        <i tabindex="0" class="fa fa-info-circle text-danger hover-q no-print" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Some quantities are returned from this sale"></i>
                    }
                </td>
                <td>
                    @item.Reference
                </td>
                <td>@item.CustomerName</td>
                <td>@item.CustomerMobileNo</td>
                <td style="white-space:nowrap">
                    @if (item.IsCancelled == true)
                    {
                        <span class='p-1 bg-dark' style='cursor:pointer'>  Cancelled</span>
                    }
                    else if (item.Status == "Draft")
                    {
                        <span class='p-1 bg-gray' style='cursor:pointer'>  @item.Status</span>
                    }
                    else if (item.Status == "Hold")
                    {
                        <span class='p-1 bg-gray' style='cursor:pointer'>  @item.Status</span>
                    }
                    else if (item.Status == "Due")
                    {
                        <span class='p-1 bg-warning' style='cursor:pointer'>  @item.Status</span>
                    }
                    else if (item.Status == "Partially Paid")
                    {
                        <span class='p-1 bg-primary' style='cursor:pointer'>  @item.Status</span>
                    }
                    else if (item.Status == "Overdue")
                    {
                        <span class='p-1 bg-danger' style='cursor:pointer'>  @item.Status</span>
                    }
                    else
                    {
                        <span class='p-1 bg-success' style='cursor:pointer'>  @item.Status</span>
                    }
                </td>
                <td>
                    @item.TotalItems
                    @*@(String.Format("{0:0.##}", item.PaidQuantity))
                        @if (item.FreeQuantity != 0)
                        {
                            <span> + @(String.Format("{0:0.##}", item.FreeQuantity))</span>
                        }*@
                </td>
                @*<td>
                        @{
                            if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                            {
                                @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.TotalDiscount))
                            }
                            else
                            {
                                @(String.Format("{0:0.##}", item.TotalDiscount))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                            }
                        }
                    </td>*@
                <td>
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.GrandTotal))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", item.GrandTotal))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>
                @*@if (ViewBag.Status == "Sent")
                    {*@
                @*<td>
                        @{
                            if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                            {
                                @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.Paid))
                            }
                            else
                            {
                                @(String.Format("{0:0.##}", item.Paid))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                            }
                        }
                    </td>*@
                <td>
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.Due))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", item.Due))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>
                @*<td>
                        @{
                            if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                            {
                                @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.ReturnDue))
                            }
                            else
                            {
                                @(String.Format("{0:0.##}", item.ReturnDue))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                            }
                        }
                    </td>*@
                @*<td>
                        @if (item.Status == "Draft")
                        {
                            <span class='p-1 bg-info' style='cursor:pointer'>  @item.Status</span>
                        }
                        else if (item.Status == "Due")
                        {
                            <span class='p-1 bg-warning' style='cursor:pointer'>  @item.Status</span>
                        }
                        else if (item.Status == "Partially Paid")
                        {
                            <span class='p-1 bg-success' style='cursor:pointer'>  @item.Status</span>
                        }
                        else if (item.Status == "Overdue")
                        {
                            <span class='p-1 bg-danger' style='cursor:pointer'>  @item.Status</span>
                        }
                        else
                        {
                            <span class='p-1 bg-blue' style='cursor:pointer'>  @item.Status</span>
                        }
                    </td>*@
                @*}*@
                @*<td>@item.AddedByCode</td>
                    <td>@item.AddedOn.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
                    <td>@item.ModifiedByCode</td>
                    <td>@(item.ModifiedOn != null ? item.ModifiedOn.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1]) : "")</td>*@
            </tr>
            count++;
        }
    </tbody>
    <tbody>
        <tr>
            <td class="hide noPrint"></td>
            <td colspan="7" data-title="Total" class="text-right"><b>Total</b></td>
            <td data-title="Due Amount">
                @ViewBag.TotalItems
                @*@(String.Format("{0:0.##}", ViewBag.TotalPaidQuantity))
                    @if (ViewBag.TotalFreeQuantity != 0)
                    {
                        <span> + @(String.Format("{0:0.##}", ViewBag.TotalFreeQuantity))</span>
                    }*@
            </td>
            @*<td data-title="Due Amount">
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalDiscount))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", ViewBag.TotalDiscount))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>*@
            <td data-title="Due Amount">
                @{
                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                    {
                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalAmount))
                    }
                    else
                    {
                        @(String.Format("{0:0.##}", ViewBag.TotalAmount))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                    }
                }
            </td>
            @*@if (ViewBag.Status == "Sent")
                {*@

            @*<td data-title="Due Amount">
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalPaid))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", ViewBag.TotalPaid))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>*@
            <td data-title="Due Amount">
                @{
                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                    {
                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalDue))
                    }
                    else
                    {
                        @(String.Format("{0:0.##}", ViewBag.TotalDue))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                    }
                }
            </td>
            @*<td data-title="Due Amount">
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalReturnDue))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", ViewBag.TotalReturnDue))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>*@
            @*}*@
        </tr>
    </tbody>
    <tbody class="hide noPrint">
        <tr></tr>
        <tr>
            <td colspan="18">
                <div class="dataTables_info" id="tblUserRole_info_custom" role="status" aria-live="polite">Showing @(ViewBag.PageSize * (ViewBag.PageIndex - 1) + 1) to @(ViewBag.PageSize * ViewBag.CurrentPageIndex) of @ViewBag.TotalCount entries</div>
                @if (ViewBag.PageCount > 1)
                {
                    int j = 0;
                    <div class="dataTables_paginate paging_simple_numbers" id="tblUserRole_paginate_custom" style="float:right">
                        <ul class="pagination">
                            @if (ViewBag.CurrentPageIndex > 1)
                            {
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                                </li>
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = ViewBag.CurrentPageIndex; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                    <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                                </li>
                                if (j == 10)
                                {
                                    i = ViewBag.PageCount + 1;
                                }
                                j++;
                            }
                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                            {
                                <li class="paginate_button page-item next" id="tblUserRole_next">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    </tbody>
}

<script type="text/javascript">
    $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    $('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));
</script>
