
<div class="table-responsive px-3 p-3" style="max-height: 400px; overflow-y: auto;">
    <table class="table table-sm table-striped table-hover mb-0">
        <thead class="thead-light sticky-top">
            <tr>
                <th>Customer</th>
                <th>Mobile</th>
                <th>Reason</th>
                <th class="text-right">Amount</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.HoldList)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.CustomerMobileNo</td>
                    <td>@(item.HoldReason)</td>
                    <td class="text-right">@item.Subtotal</td>
                    <td class="text-center">
                        <i class="far fa-edit text-success mr-2 cursor-pointer" onclick="EditHoldList(@item.SalesId)" title="Edit"></i>
                        <i class="far fa-trash-alt text-danger cursor-pointer" onclick="DeleteHoldList(@item.SalesId)" title="Delete"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
   