
<style>
    .card .nav a {
        font-size: 1rem;
    }

    .nav-tabs.flex-column .nav-item.show .nav-link, .nav-tabs.flex-column .nav-link.active {
        border-color: #dee2e6 transparent #dee2e6 #dee2e6;
        color: #fff;
        background: #1589ff;
    }

    .note-editor.note-frame {
        border: 1px solid #d0d6db;
    }

    .divEmailBody .card {
        box-shadow: none !important;
    }
</style>

<style>
    .category-heading {
        background-color: #007bff; /* Blue background */
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        display: inline-block;
        margin-top: 10px;
    }

    .tag {
        background-color: #f8f9fa; /* Light gray */
        color: #333;
        padding: 5px 10px;
        margin: 3px;
        border-radius: 4px;
        display: inline-block;
        text-decoration: none;
        border: 1px solid #ddd;
        cursor: pointer;
    }

        .tag:hover {
            background-color: #e2e6ea;
        }
</style>

@if (ViewBag.NotificationModulesDetail != null)
{
    <div class="" role="tabpanel">
        <div id="quickForm">
            <div class="card-body">
                <div class="row">

                    <div class="col-sm-12">
                        <p class="help-block">
                            <b>
                                Available Tags
                                <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "" : "hidden")"
                                   role="button" data-toggle="popover" data-trigger="focus" title=""
                                   data-content="Click on any tag to copy it">
                                </i>
                            </b>
                            <br>

                            @{
                                string json = ViewBag.NotificationModulesDetail.AvailableTags;

                                var categories = Newtonsoft.Json.JsonConvert.DeserializeObject<List<dynamic>>(json);

                                foreach (var category in categories)
                                {
                                    <h6 class="category-heading">@category.Category</h6><br>
                                    foreach (var tag in category.Fields)
                                    {
                                        <a href="javascript:void(0)" onclick="setAvailableTags('@tag')" class="tag">@tag</a>
                                    }
                                    <br>
                                }
                            }
                            <br>
                        </p>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Email Subject <span class="danger">*</span> <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "" : "hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Available Tags can be used to frame a subject.<br><small class='text-muted'>{Business Logo} tag will not work in subject </small>"></i></label>
                            <input type="text" class="form-control" id="txtEmailSubject" placeholder="" value="@(ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting != null ? ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting.EmailSubject : "")">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>CC <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "" : "hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Add as many CC using coma separated<br><small class='text-muted'>Eg: demo1@gmail.com,demo2@gmail.com,demo3@gmail.com </small>"></i></label>
                            <input type="text" class="form-control" id="txtCC" placeholder="" value="@(ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting != null ? ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting.CC : "")">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>BCC <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "" : "hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Add as many Bcc using coma separated<br><small class='text-muted'>Eg: demo1@gmail.com,demo2@gmail.com,demo3@gmail.com </small>"></i></label>
                            <input type="text" class="form-control" id="txtBCC" placeholder="" value="@(ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting != null ? ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting.BCC : "")">
                        </div>
                    </div>

                    <div class="col-sm-12 divEmailBody">
                        <div class="form-group">
                            <label id="lblProductDescription">Email Body <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "" : "hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Available Tags can be used to frame the Email Body"></i></label>
                            <br />
                            <textarea id="txtEmailBody" class="txtEmailBody">@(ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting != null ? ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting.EmailBody : "")</textarea>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="checkbox icheck-turquoise">
                                @if (ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting == null)
                                {
                                    <input type="checkbox" id="chkAutoSendEmail">
                                }
                                else
                                {
                                    if (ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting.AutoSendEmail == true)
                                    {
                                        <input type="checkbox" id="chkAutoSendEmail" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="chkAutoSendEmail">
                                    }

                                }
                                <label for="chkAutoSendEmail" class="mt-2">
                                    Send Email
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">

                    <div class="col-sm-12 ">
                        <div class="form-group">
                            <label id="lblProductDescription">Sms Body <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "" : "hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Available Tags can be used to frame a subject.<br><small class='text-muted'>{Business Logo} tag will not work in subject </small>"></i></label>
                            <br />
                            <textarea id="txtSmsBody" class="form-control">@(ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting != null ? ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting.SmsBody : "")</textarea>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="checkbox icheck-turquoise">
                                @if (ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting == null)
                                {
                                    <input type="checkbox" id="chkAutoSendSms">
                                }
                                else
                                {
                                    if (ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting.AutoSendSms == true)
                                    {
                                        <input type="checkbox" id="chkAutoSendSms" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="chkAutoSendSms">
                                    }
                                }

                                <label for="chkAutoSendSms" class="mt-2">
                                    Send Sms
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">

                    <div class="col-sm-12 ">
                        <div class="form-group">
                            <label id="lblProductDescription">Whatsapp Text <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "" : "hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Available Tags can be used to frame a subject.<br><small class='text-muted'>{Business Logo} tag will not work in subject </small>"></i></label>
                            <br />
                            <textarea id="txtWhatsappBody" class="form-control txtEmailBody">@(ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting != null ? ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting.WhatsappBody : "")</textarea>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="checkbox icheck-turquoise">
                                @if (ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting == null)
                                {
                                    <input type="checkbox" id="chkAutoSendWhatsapp">
                                }
                                else
                                {
                                    if (ViewBag.NotificationModulesDetail.NotificationTemplates[0].NotificationModulesSetting.AutoSendWhatsapp == true)
                                    {
                                        <input type="checkbox" id="chkAutoSendWhatsapp" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="chkAutoSendWhatsapp">
                                    }
                                }
                                <label for="chkAutoSendWhatsapp" class="mt-2">
                                    Send Whatsapp
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
