@{
    var bookings = ViewBag.Bookings as System.Collections.Generic.List<EquiBillBook.Models.ClsTableBookingVm> ?? new System.Collections.Generic.List<EquiBillBook.Models.ClsTableBookingVm>();
    var totalCount = ViewBag.TotalCount ?? 0;
    var pageSize = ViewBag.PageSize ?? 10;
    var currentPageIndex = ViewBag.CurrentPageIndex ?? 1;
    var pageCount = ViewBag.PageCount ?? 0;
}

<thead id="thead">
    <tr>
        <th>Table No</th>
        <th>Table Name</th>
        <th>Total Bookings</th>
        <th>Confirmed</th>
        <th>Cancelled</th>
        <th>Completed</th>
        <th>Total Guests</th>
        <th>Average Guests</th>
        <th>Utilization %</th>
    </tr>
</thead>
<tbody class="table-body">
    @if (bookings != null && bookings.Count > 0)
    {
        var tableGroups = bookings.GroupBy(b => new { TableNo = b.TableNo ?? "-", TableName = b.TableName ?? "-" });
        foreach (var group in tableGroups)
        {
            var tableBookings = group.ToList();
            var totalBookings = tableBookings.Count;
            var confirmed = tableBookings.Count(b => b.Status == "Confirmed");
            var cancelled = tableBookings.Count(b => b.Status == "Cancelled");
            var completed = tableBookings.Count(b => b.Status == "Completed");
            var totalGuests = tableBookings.Sum(b => b.NoOfGuests);
            var avgGuests = totalBookings > 0 ? Math.Round((double)totalGuests / totalBookings, 1) : 0;
            var utilization = totalBookings > 0 ? Math.Round((double)(confirmed + completed) / totalBookings * 100, 1) : 0;
            
            <tr>
                <td>@group.Key.TableNo</td>
                <td>@group.Key.TableName</td>
                <td>@totalBookings</td>
                <td>@confirmed</td>
                <td>@cancelled</td>
                <td>@completed</td>
                <td>@totalGuests</td>
                <td>@avgGuests</td>
                <td>@utilization%</td>
            </tr>
        }
    }
</tbody>
<tbody class="hide noPrint">
    <tr></tr>
    <tr>
        <td colspan="9">
            <div class="dataTables_info" id="tblTableUtilization_info_custom" role="status" aria-live="polite">Showing @((currentPageIndex - 1) * pageSize + 1) to @(Math.Min(currentPageIndex * pageSize, totalCount)) of @totalCount entries</div>
            @if (pageCount > 1)
            {
                int j = 0;
                <div class="dataTables_paginate paging_simple_numbers" id="tblTableUtilization_paginate_custom" style="float:right">
                    <ul class="pagination">
                        @if (currentPageIndex > 1)
                        {
                            <li class="paginate_button page-item previous" id="tblTableUtilization_previous">
                                <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblTableUtilization" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                            </li>
                            <li class="paginate_button page-item previous" id="tblTableUtilization_previous">
                                <a onclick="fetchList(@(currentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblTableUtilization" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                            </li>
                        }
                        @for (int i = currentPageIndex; i <= pageCount; i++)
                        {
                            <li class="@(i == currentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblTableUtilization" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                            </li>
                            if (j == 10)
                            {
                                i = pageCount + 1;
                            }
                            j++;
                        }
                        @if (currentPageIndex < pageCount)
                        {
                            <li class="paginate_button page-item next" id="tblTableUtilization_next">
                                <a onclick="fetchList(@(currentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblTableUtilization" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </td>
    </tr>
</tbody>

