@using System;
@using System.Web;
@{
    var count = 1;
    <thead id="thead">
        <tr>
            <th>Sln</th>
            <th class="hide noPrint">Action</th>
            <th>Coupon Code</th>
            <th>Description</th>
            <th>Discount</th>
            <th>Usage Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Added On</th>
            <th class="hidden">Status</th>
            <th class="hide">Status</th>
        </tr>
    </thead>
    <tbody class="table-body">
        @if (ViewBag.Coupons != null)
        {
            foreach (var item in ViewBag.Coupons)
            {
                <tr>
                    <td>@(Math.Max(1, ViewBag.PageSize * (Math.Max(1, ViewBag.PageIndex) - 1) + count))</td>
                    <td class="hide noPrint">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info">Action</button>
                            <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu">
                                @if (ViewBag.MenuPermission == null || ViewBag.MenuPermission.IsEdit)
                                {
                                    <a class="dropdown-item" href="/admincoupon/edit?CouponId=@item.CouponId"><i class="fas fa-edit"></i> Edit</a>
                                }
                                @if (ViewBag.MenuPermission == null || ViewBag.MenuPermission.IsDelete)
                                {
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="Delete(@item.CouponId,'@Html.Raw(HttpUtility.JavaScriptStringEncode(item.CouponCode))')"><i class="far fa-trash-alt"></i> Delete</a>
                                }
                            </div>
                        </div>
                    </td>
                    <td>@item.CouponCode</td>
                    <td>@(item.CouponDescription ?? "-")</td>
                    <td>@(item.DiscountType == 1 ? "$" + item.Discount.ToString("0.00") : item.Discount.ToString("0.00") + "%")</td>
                    <td>@(item.UsageType == 0 ? "Unlimited" : item.UsageType == 1 ? "Once Per User" : "Limited (" + item.NoOfTimes + ")")</td>
                    <td>@(item.StartDate != null ? ((DateTime)item.StartDate).ToString("dd-MM-yyyy") : "")</td>
                    <td>@(item.EndDate != null ? ((DateTime)item.EndDate).ToString("dd-MM-yyyy") : "")</td>
                    <td>@(item.AddedOn != null ? ((DateTime)item.AddedOn).ToString("dd-MM-yyyy") : "")</td>
                    <td class="hidden">@(item.IsActive == true ? "Active" : "Inactive")</td>
                    <td class="hide">
                        @if (item.IsActive)
                        {
                            if (ViewBag.MenuPermission != null && ViewBag.MenuPermission.IsEdit)
                            {
                                <input class="chkIsActive" type="checkbox" onchange="ActiveInactive(@item.CouponId,false)" checked data-on="Active" data-off="In Active" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-width="100" data-height="25" data-style="design">
                            }
                            else if (ViewBag.MenuPermission == null)
                            {
                                <input class="chkIsActive" type="checkbox" onchange="ActiveInactive(@item.CouponId,false)" checked data-on="Active" data-off="In Active" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-width="100" data-height="25" data-style="design">
                            }
                            else
                            {
                                <input disabled class="chkIsActive" type="checkbox" checked data-on="Active" data-off="In Active" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-width="100" data-height="25" data-style="design">
                            }
                        }
                        else
                        {
                            if (ViewBag.MenuPermission != null && ViewBag.MenuPermission.IsEdit)
                            {
                                <input class="chkIsActive" type="checkbox" onchange="ActiveInactive(@item.CouponId,true)" data-on="Active" data-off="In Active" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-width="100" data-height="25" data-style="design">
                            }
                            else if (ViewBag.MenuPermission == null)
                            {
                                <input class="chkIsActive" type="checkbox" onchange="ActiveInactive(@item.CouponId,true)" data-on="Active" data-off="In Active" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-width="100" data-height="25" data-style="design">
                            }
                            else
                            {
                                <input disabled class="chkIsActive" type="checkbox" data-on="Active" data-off="In Active" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-width="100" data-height="25" data-style="design">
                            }
                        }
                    </td>
                </tr>
                count++;
            }
        }
    </tbody>
    <tbody class="hide noPrint">
        <tr></tr>
        <tr>
            <td colspan="11">
                <div class="dataTables_info" id="tblCoupon_info_custom" role="status" aria-live="polite">Showing @(ViewBag.PageSize * (ViewBag.PageIndex - 1) + 1) to @(ViewBag.PageSize * ViewBag.CurrentPageIndex) of @ViewBag.TotalCount entries</div>
                @if (ViewBag.PageCount > 1)
                {
                    int j = 0;
                    <div class="dataTables_paginate paging_simple_numbers" id="tblCoupon_paginate_custom" style="float:right">
                        <ul class="pagination">
                            @if (ViewBag.CurrentPageIndex > 1)
                            {
                                <li class="paginate_button page-item previous" id="tblCoupon_previous">
                                    <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblCoupon" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                                </li>
                                <li class="paginate_button page-item previous" id="tblCoupon_previous">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblCoupon" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = ViewBag.CurrentPageIndex; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                    <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblCoupon" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                                </li>
                                if (j == 10)
                                {
                                    i = ViewBag.PageCount + 1;
                                }
                                j++;
                            }
                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                            {
                                <li class="paginate_button page-item next" id="tblCoupon_next">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblCoupon" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    </tbody>
}
<script type="text/javascript">
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    $('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));
</script>

