
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Sales Detailed Report";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sales Detailed Report</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/reports/index">Reports</a></li>
                        <li class="breadcrumb-item active">Sales Detailed Report</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                <a id="btnBack" href="/reports" class="btn btn-warning float-sm-right"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
            <div class="col-sm-12">
                <span id="divAsof" class="text-gray"></span>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @*<div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                        <h5><i class="fas fa-info"></i> Note:</h5>
                        This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                    </div>*@
                <div class="card  card-primary card-outline collapsed-card">
                    <div class="card-header" data-card-widget="collapse" title="Collapse">
                        <h3 class="card-title">Filter</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus"></i>
                            </button>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            @*@if (ViewBag.Branchs.Count > 1)
        {*@
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 @(ViewBag.Branchs.Count > 1?"":"hidden")">
                                <div class="form-group">
                                    <label>Business Location</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlBranch" onchange="UsersBranchWise()">
                                        <option value="0">All</option>
                                        @foreach (var item in ViewBag.Branchs)
                                        {
                                            <option value="@item.BranchId">@item.Branch</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            @*}*@

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <label>Date Range:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="txtDateRange" value="@(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) +" - "+ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]))">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group" id="divUser">
                                    <label>Customer </label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomer">
                                        <option value="">All</option>
                                        @foreach (var item in ViewBag.Users)
                                        {
                                            <option value="@item.UserId">
                                                @item.Name
                                                @if (item.MobileNo != null && item.MobileNo != "")
                                                {
                                                    <span>- @item.MobileNo</span>
                                                }
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>

                            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="form-group">
                <label>From Date</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                    <input type="date" class="form-control float-right" id="txtFromDate" value="@(ViewBag.FromDate != null?ViewBag.FromDate.ToString("yyyy-MM-dd"):DateTime.Now)">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="form-group">
                <label>To Date</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                    <input type="date" class="form-control float-right" id="txtToDate" value="@(ViewBag.ToDate != null?ViewBag.ToDate.ToString("yyyy-MM-dd"):DateTime.Now)">
                </div>
            </div>
        </div>*@

                            @*@if (ViewBag.CustomerGroupPermission.IsView)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group">
                    <label>Customer Group</label>
                    <div class="input-group">
                        <select class="form-control select2" id="ddlUserGroup" style="width:100%">
                            <option value="0">Select</option>
                            @foreach (var item in ViewBag.UserGroups)
                            {
                                <option value="@item.UserGroupId">@item.UserGroup</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        }*@

                            @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="form-group">
                <label>Sales Status</label>
                <select class="form-control select2" id="ddlSalesType" style="width:100%">
                    <option value="">All</option>
                    <option value="pos">POS</option>
                    <option value="sales">Sales</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <label>Payment Status</label>
                <select class="form-control select2" id="ddlPaymentStatus" style="width:100%">
                    <option value="">All</option>
                    <option value="Due">Due</option>
                    <option value="Partially Paid">Partially Paid</option>
                    <option value="Paid">Paid</option>
                </select>

            </div>
        </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

                                <div class="form-group">
                                    <label>Invoice No.</label>
                                    <input type="text" class="form-control" id="txtReferenceNo">
                                </div>
                            </div>*@
                            @*@if (ViewBag.ItemSetting.EnableBrands == true)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group">
                    <label>Brand</label>
                    <select class="form-control select2" style="width: 100%;" id="ddlBrand">
                        <option value="">All</option>
                        @foreach (var item in ViewBag.Brands)
                        {
                            <option value="@item.BrandId">@item.Brand</option>
                        }
                    </select>
                </div>
            </div>
        }

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <div class="form-group">
                <label>Category</label>
                <select class="form-control select2" style="width: 100%;" id="ddlCategory" onchange="fetchActiveSubCategories()">
                    <option value="">All</option>
                    @foreach (var item in ViewBag.Categories)
                    {
                        <option value="@item.CategoryId">@item.Category</option>
                    }
                </select>

            </div>
        </div>
        @if (ViewBag.ItemSetting.EnableSubCategory == true)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="p_SubCategories_Dropdown">
                @Html.Partial("PartialSubCategoryDropdown")
            </div>
        }
        @if (ViewBag.ItemSetting.EnableSubSubCategory == true)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="p_SubSubCategories_Dropdown">
                @Html.Partial("PartialSubSubCategoryDropdown")
            </div>
        }*@

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group" id="divItem">
                                    <label>Item</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlItem">
                                        <option value="">All</option>
                                        @foreach (var item in ViewBag.Items)
                                        {
                                            if (item.VariationName == null || item.VariationName == "")
                                            {
                                                <option value="@item.ItemDetailsId">@(item.ItemName)-@item.SKU</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ItemDetailsId">@(item.ItemName)(@item.VariationName)-@item.SKU</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right mt-2" onclick="fetchList(1)">Search</button>
                        <button type="submit" class="btn btn-warning float-right mt-2 mr-2" onclick="window.location.reload()">Refresh</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <div id="tblUserRole_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="dataTables_length noPrint" id="tblUserRole_length">
                                <label>
                                    Show
                                    <select name="tblUserRole_length" aria-controls="tblUserRole" class="custom-select custom-select-sm form-control form-control-sm"
                                            onchange="fetchList(1)" id="txtPageSize">
                                        @{
                                            if (ViewBag.PageSize == 10)
                                            {
                                                <option value="10" selected>10</option>
                                            }
                                            else
                                            {
                                                <option value="10">10</option>
                                            }
                                            if (ViewBag.PageSize == 25)
                                            {
                                                <option value="25" selected>25</option>
                                            }
                                            else
                                            {
                                                <option value="25">25</option>
                                            }
                                            if (ViewBag.PageSize == 50)
                                            {
                                                <option value="50" selected>50</option>
                                            }
                                            else
                                            {
                                                <option value="50">50</option>
                                            }
                                            if (ViewBag.PageSize == 100)
                                            {
                                                <option value="100" selected>100</option>
                                            }
                                            else
                                            {
                                                <option value="100">100</option>
                                            }
                                            if (ViewBag.PageSize == 500)
                                            {
                                                <option value="500" selected>500</option>
                                            }
                                            else
                                            {
                                                <option value="500">500</option>
                                            }
                                        }
                                    </select> entries
                                </label>
                            </div>
                            <div class="dt-buttons btn-group flex-wrap noPrint">
                                <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToCsv('@ViewBag.Title')"><span>CSV</span></button>
                                <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToExcel('@ViewBag.Title')"><span>Excel</span></button>
                                <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToPdf('@ViewBag.Title')"><span>PDF</span></button>
                                <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="tblUserRole" type="button" onclick="printDiv('@ViewBag.Title')"><span>Print</span></button>
                            </div>
                            <div id="tblUserRole_filter" class="dataTables_filter noPrint" style="visibility:hidden"><label>Search:<input type="text" class="form-control form-control-sm" placeholder="" aria-controls="tblUserRole" id="txtSearch" onkeyup="fetchList(1)"></label></div>
                            <div class="row mt-1">
                                <div class="card-body table-responsive no-padding pl-0">
                                    <div class="col-md-12">
                                        <div class="card card-primary card-outline card-outline-tabs">
                                            <div class="card-header p-0 border-bottom-0">
                                                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" onclick="setTaxType('Detailed')" id="custom-tabs-four-home-tab" data-toggle="pill" href="#Detailed" role="tab"
                                                           aria-controls="custom-tabs-four-home" aria-selected="true">Detailed </a>
                                                    </li>
                                                    @if (ViewBag.PurchasePermission.IsView == true)
                                                    {
                                                        <li class="nav-item">
                                                            <a class="nav-link" onclick="setTaxType('DetailedWithPurchase')" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#DetailedWithPurchase" role="tab"
                                                               aria-controls="custom-tabs-four-profile" aria-selected="false">Detailed With Purchase</a>
                                                        </li>
                                                    }

                                                    @*<li class="nav-item">
                                                        <a class="nav-link" onclick="setTaxType('Item')" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#Item" role="tab"
                                                           aria-controls="custom-tabs-four-profile" aria-selected="false">By Item</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" onclick="setTaxType('Category')" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#Category" role="tab"
                                                           aria-controls="custom-tabs-four-profile" aria-selected="false">By Category</a>
                                                    </li>
                                                    @if (ViewBag.ItemSetting.EnableBrands == true)
                                                    {
                                                        <li class="nav-item">
                                                            <a class="nav-link" onclick="setTaxType('Brand')" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#Brand" role="tab"
                                                               aria-controls="custom-tabs-four-profile" aria-selected="false">By Brand</a>
                                                        </li>
                                                    }*@

                                                </ul>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content" id="divPartial">
                                                    @Html.Partial("PartialItemSales")
                                                </div>
                                            </div>
                                            <!-- /.card -->
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card card-outline -->
            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal fade" id="ItemViewModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="divItemView">
            @*@{
                if (ViewBag.Item != null)
                {
                    @Html.Partial("PartialItemView")
                }
            }
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="SaleViewModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="divSaleView">
            @*@Html.Partial("PartialSalesView")
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="CustomerViewModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="divCustomerView">
            @*@Html.Partial("PartialCustomerView")
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="PurchaseViewModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="divPurchaseView">
            @*@Html.Partial("PartialPurchaseView")
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="SupplierViewModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="divSupplierView">
            @*@Html.Partial("PartialSupplierView")
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="StockTransferViewModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="divStockTransferView">
            @*@Html.Partial("PartialStockTransferView")
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="~/Content/JQuery/Customer/Reports/SalesReports/ItemSalesReport.js"></script>