
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Add Payment Link";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Payment Link</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/PaymentLink/index">Payment Link List</a></li>
                        <li class="breadcrumb-item active">Add Payment Link</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
                <a id="btnBack" href="/PaymentLink/index" class="btn btn-warning float-sm-right"><i class="fas fa-arrow-left"></i> Back</a>
                @*<a href="javascript:void(0)" data-toggle="modal" data-target="#faqModal" class="btn btn-secondary float-sm-right mr-2">FAQs</a>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                    @*<h5><i class="fas fa-info"></i> Note:</h5>*@
                    Only the fields which are marked with <span class="text-danger">*</span> is mandatory. Rest all fields are optional and can be skipped
                    @*<button class="btn btn-info btn-sm" onclick="insert()"> Check Mandatory Fields</button>*@
                </div>
                <!-- jquery validation -->
                <div class="card card-primary card-outline">

                    <!-- form start -->
                    <div id="quickForm">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 @(ViewBag.Branchs.Count >1 ? "":"hidden")">
                                    <div class="form-group">
                                        <label>Business Location</label>
                                        <select class="form-control select2" id="ddlBranch" style="width:100%">
                                            @foreach (var item in ViewBag.Branchs)
                                            {
                                                <option value="@item.BranchId">@item.Branch</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Reference# <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Leave blank to auto generate"></i></label>
                                        <input type="text" class="form-control divReferenceNo_ctrl" id="txtReferenceNo">
                                        <small class="text-red font-weight-bold errorText" id="divReferenceNo"></small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Customer Name <span class="danger">*</span></label>
                                        <div class="input-group divSupplier divCustomer_ctrl">
                                            <select class="form-control select2" id="ddlCustomer" onchange="FetchUserCurrency()">
                                                <option value="0">Select</option>
                                                @foreach (var item in ViewBag.Users)
                                                {
                                                    <option value="@item.UserId">
                                                        @item.Name
                                                        @if (item.MobileNo != null && item.MobileNo != "")
                                                        {
                                                            <span>- @item.MobileNo</span>
                                                        }
                                                    </option>
                                                }
                                            </select>
                                            @if (ViewBag.CustomersPermission.IsAdd == true)
                                            {
                                                <span class="input-group-append">
                                                    <a href="javascript:void(0)" class="btn btn-info" onclick="openCustomerModal()">+ </a>
                                                </span>
                                            }
                                        </div>
                                        <small class="text-red font-weight-bold" id="divCustomer"></small>
                                    </div>
                                </div>
                                @if (ViewBag.BusinessSetting.CountryId == 2)
                                {
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 divPlaceOfSupply">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Place Of Supply</label>
                                            <div class="input-group divPlaceOfSupply_ctrl">
                                                <select class="form-control select2" id="ddlPlaceOfSupply" onchange="setTaxList()">
                                                    @*<option value="0">Select</option>*@
                                                    @foreach (var item in ViewBag.PlacesOfSupply)
                                                    {
                                                        <option value="@item.StateId">@item.State</option>
                                                    }
                                                </select>
                                            </div>
                                            <small class="text-red font-weight-bold errorText" id="divPlaceOfSupply"></small>
                                        </div>
                                    </div>
                                }
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Tax </label>
                                        <div class="input-group" id="divTax">
                                            <select class="form-control select2" id="ddlTax">
                                                @*@foreach (var item in ViewBag.Taxs)
                                                    {
                                                        <option selected value="@item.TaxId-@item.TaxPercent.ToString("0")">@item.Tax</option>
                                                    }*@
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label>Payment Amount (Inc. Tax) <span class="danger">*</span></label>
                                        <input type="number" class="form-control divAmount_ctrl" id="txtAmount" placeholder="">
                                        <small class="text-red font-weight-bold errorText" id="divAmount"></small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Link Expiration Date <span class="danger">*</span></label>
                                        <div class="input-group date" id="_LinkExpirationDate" data-target-input="nearest">
                                            <input id="txtLinkExpirationDate" type="text" class="form-control datetimepicker-input divLinkExpirationDate_ctrl" data-target="#_LinkExpirationDate" />
                                            <div class="input-group-append" data-target="#_LinkExpirationDate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                        <small class="text-red font-weight-bold errorText" id="divLinkExpirationDate"></small>
                                    </div>
                                </div>
                                @*@if (ViewBag.SaleSetting.AllowOnlinePayment == true)
                                {
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <label>Send Payment Link  </label>
                                            <div class="input-group">
                                                <select class="form-control" style="width: 100%;" id="ddlOnlinePaymentSettings">
                                                    <option value="0">Dont Send</option>
                                                    @foreach (var item in ViewBag.OnlinePaymentSettings)
                                                    {
                                                        if (item.IsDefault == true)
                                                        {
                                                            <option selected value="@item.OnlinePaymentSettingsId">@item.SaveAs</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.OnlinePaymentSettingsId">@item.SaveAs</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hidden">
                                        <div class="form-group">
                                            <label>Send Payment Link  </label>
                                            <div class="input-group">
                                                <select class="form-control" style="width: 100%;" id="ddlOnlinePaymentSettings">
                                                    <option value="0" selected>Dont Send</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                }*@
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 divLAccount @(ViewBag.IsAccountsAddon == true ? "" : "hidden")">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Deposit To <span class="danger">*</span> </label>
                                        <div class="input-group">
                                            <select class="form-control select2" id="ddlLAccount">
                                                @*<option value="0">Select</option>*@
                                                @{
                                                    if (ViewBag.AccountSubTypes != null)
                                                    {
                                                        foreach (var item in ViewBag.AccountSubTypes)
                                                        {
                                                            if (item.Accounts.Count > 0)
                                                            {
                                                                <optgroup label="@item.DisplayAs">
                                                                    @foreach (var inner in item.Accounts)
                                                                    {
                                                                        if (inner.Type == "Petty Cash")
                                                                        {
                                                                            <option value="@inner.AccountId" selected>@inner.DisplayAs</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@inner.AccountId">@inner.DisplayAs</option>
                                                                        }
                                                                    }
                                                                </optgroup>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            @*@if (ViewBag.AccountsPermission.IsAdd == true)
                                                {
                                                    <span class="input-group-append">
                                                        <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#AccountModal">+ </a>
                                                    </span>
                                                }*@

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Notes</label>
                                        <textarea class="form-control" id="txtNotes" rows="2" placeholder=""></textarea>
                                        <small class="text-red font-weight-bold errorText" id="divNotes"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button id="btnSave" type="submit" class="btn btn-primary float-right" onclick="insert(1)"><i class="fas fa-save"></i> Save</button>
                            <button id="btnSave_AddAnother" type="submit" class="btn btn-success float-right mr-2" onclick="insert(2)"><i class="fas fa-plus-circle"></i> Save & Add Another</button>
                            @*<a id="btnBack" href="/items/PaymentLink" class="btn btn-warning float-sm-right mr-2"><i class="fas fa-arrow-left"></i> Back</a>*@
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<div class="modal fade" id="CustomerModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Customer</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="card card-outline">
                        <div class="card-body">
                            <div class="row">
                                <!--<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">-->
                                <!-- text input -->
                                <!--<div class="form-group">
                                        <label>Customer Code <span class="danger">*</span></label>
                                        <input type="text" class="form-control" id="txtUsername" placeholder="">
                                        <small class="text-red font-weight-bold errorText" id="divUsername"></small>
                                    </div>
                                </div>-->
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Name <span class="danger">*</span></label>
                                        <input type="text" class="form-control divName_M_ctrl" id="txtName" placeholder="" onchange="setName()">
                                        <small class="text-red font-weight-bold errorText" id="divName_M"></small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Mobile <span class="danger">*</span></label>
                                        <div class="input-group">
                                            @*<span class="input-group-append">
                                                    <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                                                </span>*@
                                            <input type="text" class="form-control divMobileNo_M_ctrl" id="txtMobileNo" placeholder="" onkeypress="return onlyNumberKey(event)" maxlength="10" onchange="setMobile()">
                                        </div>
                                        <small class="text-red font-weight-bold errorText" id="divMobileNo_M"></small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control divEmailId_M_ctrl" id="txtEmailId" placeholder="" onchange="setEmail()">
                                        <small class="text-red font-weight-bold errorText" id="divEmailId_M"></small>
                                    </div>
                                </div>

                                @*</div>
                                    <div class="row">*@
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Alternative Mobile</label>
                                        <div class="input-group">
                                            @*<span class="input-group-append">
                                                    <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                                                </span>*@
                                            <input type="text" class="form-control divAltMobileNo_M_ctrl" id="txtAltMobileNo" placeholder="" onkeypress="return onlyNumberKey(event)" maxlength="10" onchange="setAlternativeMobile()">
                                        </div>
                                        <small class="text-red font-weight-bold errorText" id="divAltMobileNo_M"></small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Business Name </label>
                                        <input type="text" class="form-control" id="txtBusinessName" placeholder="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <div class="input-group date" id="_DOB" data-target-input="nearest">
                                            <input id="txtDOB" type="text" class="form-control datetimepicker-input" data-target="#_DOB" />
                                            <div class="input-group-append" data-target="#_DOB" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                        @*<input type="date" class="form-control" id="txtDOB">*@
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Joining Date</label>
                                        <div class="input-group date" id="_JoiningDate" data-target-input="nearest">
                                            <input id="txtJoiningDate" type="text" class="form-control datetimepicker-input divJoiningDate_ctrl_M" data-target="#_JoiningDate" />
                                            <div class="input-group-append" data-target="#_JoiningDate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                        <small class="text-red font-weight-bold errorText" id="divJoiningDate_M"></small>
                                        @*<input type="date" class="form-control" id="txtJoiningDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">*@
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <div class="form-group">
                                        <label>Customer Group</label>
                                        <div class="input-group">
                                            <select class="form-control select2" id="ddlUserGroup">
                                                <option value="0">Select</option>
                                                @foreach (var item in ViewBag.UserGroups)
                                                {
                                                    <option value="@item.UserGroupId">@item.UserGroup</option>
                                                }
                                            </select>
                                            @if (ViewBag.CustomerGroupPermission.IsAdd == true)
                                            {
                                                <span class="input-group-append">
                                                    <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#customerGroupModal">+ </a>
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                @if (ViewBag.CurrencyPermission.IsView == true)
                                {
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <label>Currency</label>
                                            <div class="input-group">
                                                <select class="form-control select2" id="ddlUserCurrency">
                                                    @*<option value="0">Select</option>*@
                                                    @foreach (var item in ViewBag.Currencys)
                                                    {
                                                        if (item.IsMain == true)
                                                        {
                                                            <option selected value="@item.CurrencyId">@item.CurrencyName (@item.CurrencyCode)</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.CurrencyId">@item.CurrencyName (@item.CurrencyCode)</option>
                                                        }

                                                    }
                                                </select>
                                                @if (ViewBag.CurrencyPermission.IsAdd == true)
                                                {
                                                    <span class="input-group-append">
                                                        <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#currencyModal">+ </a>
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Credit Limit</label>
                                        <input type="number" class="form-control" id="txtCreditLimit" placeholder="" value="@ViewBag.BusinessSetting.CreditLimitForCustomer">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <div class="form-group">
                                        <label>Opening Balance</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" id="txtOpeningBalance" placeholder="">
                                            @*<select class="form-control select2" style="width: 50%;" id="ddlOpeningBalanceType">
                                                    <option value="0" selected="selected">Select</option>
                                                    <option value="1">To Collect</option>
                                                    <option value="2">To Pay</option>
                                                </select>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Payment Term</label>
                                        <div class="input-group">
                                            <select class="form-control select2" id="ddlPaymentTerm">
                                                @{
                                                    @*<option value="0" selected>Select </option>*@
                                                    foreach (var item in ViewBag.PaymentTerms)
                                                    {
                                                        <option value="@item.PaymentTermId"> @item.PaymentTerm </option>
                                                    }
                                                }
                                            </select>
                                            @if (ViewBag.PaymentTermPermission.IsAdd == true)
                                            {
                                                <span class="input-group-append">
                                                    <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#paymentTermModal">+ </a>
                                                </span>
                                            }

                                        </div>
                                    </div>
                                </div>

                                @if (ViewBag.BusinessSetting.CountryId == 2)
                                {
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <label>GST Treatment</label>
                                            <div class="input-group divGstTreatment_ctrl">
                                                <select class="form-control" id="ddlGstTreatment" onchange="toggleGstTreatment()">
                                                    <option value="Taxable Supply (Registered)">Taxable Supply (Registered)</option>
                                                    <option value="Composition Taxable Supply">Composition Taxable Supply</option>
                                                    <option value="Taxable Supply to Unregistered Person">Taxable Supply to Unregistered Person</option>
                                                    <option value="Taxable Supply to Consumer" selected>Taxable Supply to Consumer</option>
                                                    <option value="Export of Goods / Services (Zero-Rated Supply)">Export of Goods / Services (Zero-Rated Supply)</option>
                                                    <option value="Supply to SEZ Unit (Zero-Rated Supply)">Supply to SEZ Unit (Zero-Rated Supply)</option>
                                                    <option value="Deemed Export">Deemed Export</option>
                                                    <option value="Supply by SEZ Developer">Supply by SEZ Developer</option>
                                                </select>
                                            </div>
                                            <small class="text-red font-weight-bold errorText" id="divGstTreatment_M"></small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" style="display:none">
                                        <div class="form-group">
                                            <label>Business Registration Name <span class="danger">*</span></label>
                                            <div class="input-group divBusinessRegistrationName_M_ctrl">
                                                <select class="form-control select2" id="ddlBusinessRegistrationName">
                                                    @foreach (var item in ViewBag.BusinessRegistrationNames)
                                                    {
                                                        <option value="@item.BusinessRegistrationNameId">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <small class="text-red font-weight-bold errorText" id="divBusinessRegistrationName_M"></small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 divGst">
                                        <div class="form-group">
                                            <label class="lblBusinessRegistrationName">@ViewBag.BusinessRegistrationNames[0].Name <span class="danger">*</span></label>
                                            <input type="text" class="form-control divBusinessRegistrationNo_M_ctrl" id="txtBusinessRegistrationNo" placeholder="">
                                            <small class="text-red font-weight-bold errorText" id="divBusinessRegistrationNo_M"></small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 divGst">
                                        <div class="form-group">
                                            <label>Business Legal Name</label>
                                            <input type="text" class="form-control" id="txtBusinessLegalName" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 divGst">
                                        <div class="form-group">
                                            <label>Business Trade Name</label>
                                            <input type="text" class="form-control" id="txtBusinessTradeName" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <label>PAN</label>
                                            <input type="text" class="form-control" id="txtPanNo" placeholder="">
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if (ViewBag.BusinessRegistrationNames != null && ViewBag.BusinessRegistrationNames.Count > 0)
                                    {
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                            <br>
                                            <div class="form-group">
                                                <div class="checkbox icheck-turquoise">
                                                    <input type="checkbox" id="chkIsBusinessRegistered" onchange="toggleBusinessRegistered()">
                                                    <label for="chkIsBusinessRegistered" class="mt-2">
                                                        Is Business Registered?
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        if (ViewBag.BusinessRegistrationNames.Count == 1)
                                        {
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" style="display:none">
                                                <div class="form-group">
                                                    <label>Business Registration Name <span class="danger">*</span></label>
                                                    <div class="input-group divBusinessRegistrationName_M_ctrl">
                                                        <select class="form-control select2" id="ddlBusinessRegistrationName">
                                                            @foreach (var item in ViewBag.BusinessRegistrationNames)
                                                            {
                                                                <option value="@item.BusinessRegistrationNameId">@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <small class="text-red font-weight-bold errorText" id="divBusinessRegistrationName_M"></small>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 divBusinessRegistered" style="display:none">
                                                <div class="form-group">
                                                    <label>@ViewBag.BusinessRegistrationNames[0].Name <span class="danger">*</span></label>
                                                    <input type="text" class="form-control divBusinessRegistrationNo_M_ctrl" id="txtBusinessRegistrationNo" placeholder="">
                                                    <small class="text-red font-weight-bold errorText" id="divBusinessRegistrationNo_M"></small>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 divBusinessRegistered" style="display:none">
                                                <div class="form-group">
                                                    <label>Business Registration Name <span class="danger">*</span></label>
                                                    <div class="input-group divBusinessRegistrationName_M_ctrl">
                                                        <select class="form-control select2" id="ddlBusinessRegistrationName" onchange="setBusinessRegistrationName()">
                                                            @foreach (var item in ViewBag.BusinessRegistrationNames)
                                                            {
                                                                <option value="@item.BusinessRegistrationNameId">@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <small class="text-red font-weight-bold errorText" id="divBusinessRegistrationName_M"></small>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 divBusinessRegistered" style="display:none">
                                                <div class="form-group">
                                                    <label class="lblBusinessRegistrationName">@ViewBag.BusinessRegistrationNames[0].Name <span class="danger">*</span></label>
                                                    <input type="text" class="form-control divBusinessRegistrationNo_M_ctrl" id="txtBusinessRegistrationNo" placeholder="">
                                                    <small class="text-red font-weight-bold errorText" id="divBusinessRegistrationNo_M"></small>
                                                </div>
                                            </div>
                                        }
                                    }

                                }

                                @if (ViewBag.BusinessSetting.CountryId == 2)
                                {
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 divPlaceOfSupply_M">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Place Of Supply <span class="danger">*</span></label>
                                            <div class="input-group divPlaceOfSupply_M_ctrl">
                                                <select class="form-control select2" id="ddlPlaceOfSupply_M">
                                                    <option value="0">Select</option>
                                                    @foreach (var item in ViewBag.PlacesOfSupply)
                                                    {
                                                        if (ViewBag.MainBranch.StateId == item.StateId)
                                                        {
                                                            <option value="@item.StateId" selected>@item.State</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.StateId">@item.State</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <small class="text-red font-weight-bold errorText" id="divPlaceOfSupply_M"></small>
                                        </div>
                                    </div>
                                }

                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 divTaxPreference">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Tax Preference</label>
                                        <div class="input-group">
                                            <select class="form-control" id="ddlTaxPreference" onchange="toggleTaxPreference()">
                                                @foreach (var item in ViewBag.Taxs)
                                                {
                                                    if (item.Tax == "Taxable" || item.Tax == "Non-Taxable")
                                                    {
                                                        <option value="@item.TaxId">@item.Tax</option>
                                                    }
                                                }
                                                @*<option value="Taxable">Taxable</option>
                                                    <option value="Non-Taxable">Tax Exempt</option>*@
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 divNonTaxable" style="display:none">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Tax Exemption <span class="danger">*</span></label>
                                        <div class="input-group divTaxExemption_M_ctrl">
                                            <select class="form-control select2" id="ddlTaxExemption">
                                                <option value="0">Select</option>
                                                @foreach (var item in ViewBag.TaxExemptions)
                                                {
                                                    <option value="@item.TaxExemptionId">@item.Reason</option>
                                                }
                                            </select>
                                            @if (ViewBag.TaxExemptionPermission.IsAdd == true)
                                            {
                                                <span class="input-group-append">
                                                    <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#taxExemptionModal">+ </a>
                                                </span>
                                            }
                                        </div>
                                        <small class="text-red font-weight-bold errorText" id="divTaxExemption_M"></small>
                                    </div>
                                </div>
                                @*<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <label>Pay Term</label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" id="txtPayTermNo" placeholder="" style="width:50%">
                                                <select class="form-control select2" style="width: 50%;" id="ddlPayTerm">
                                                    <option value="0" selected="selected">Select</option>
                                                    <option value="1">Days</option>
                                                    <option value="2">Months</option>
                                                    <option value="3">Years</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>*@
                                @*@if (ViewBag.Branchs.Count > 1)
                                    {
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                            <div class="form-group">
                                                <label>Business Location <span class="danger">*</span></label>
                                                <div class="input-group">
                                                    <select class="select2" multiple="multiple" data-placeholder="" id="ddlBranch">
                                                        <option value="0">Select</option>
                                                        @foreach (var item in ViewBag.Branchs)
                                                        {
                                                            <option value="@item.BranchId">@item.Branch</option>
                                                        }
                                                    </select>
                                                </div>
                                                <small class="text-red font-weight-bold errorText" id="divBranch"></small>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 hidden">
                                            <div class="form-group">
                                                <label>Business Location <span class="danger">*</span></label>
                                                <div class="input-group">
                                                    <select class="select2 " multiple="multiple" data-placeholder="" id="ddlBranch">
                                                        @foreach (var item in ViewBag.Branchs)
                                                        {
                                                            <option value="@item.BranchId" selected>@item.Branch</option>
                                                        }
                                                    </select>
                                                </div>
                                                <small class="text-red font-weight-bold errorText" id="divBranch"></small>
                                            </div>
                                        </div>
                                    }*@
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card card-outline collapsed-card m-3">
                    <div class="card-header  bg-info" data-card-widget="collapse" title="Expand/Collapse">
                        <h3 class="card-title">More Info</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool">
                                <i class="fas fa-plus"></i>
                            </button>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h4>
                                <span>Billing Address</span>
                            </h4>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" style="display:none">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" id="txtAddrName">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" style="display:none">
                                <div class="form-group">
                                    <label>Mobile </label>
                                    <div class="input-group">
                                        @*<span class="input-group-append">
                                                <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                                            </span>*@
                                        <input type="text" min="0" class="form-control divAddrMobileNo_M_ctrl" id="txtAddrMobileNo"
                                               onkeypress="return onlyNumberKey(event)" maxlength="10">
                                    </div>
                                    <small class="text-red font-weight-bold errorText" id="divAddrMobileNo_M"></small>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" style="display:none">
                                <div class="form-group">
                                    <label>Alternate Mobile </label>
                                    <div class="input-group">
                                        @*<span class="input-group-append">
                                                <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                                            </span>*@
                                        <input type="text" min="0" class="form-control divAddrMobileNo2_M_ctrl" id="txtAddrMobileNo2"
                                               onkeypress="return onlyNumberKey(event)" maxlength="10">
                                    </div>
                                    <small class="text-red font-weight-bold errorText" id="divAddrMobileNo2_M"></small>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" style="display:none">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" id="txtAddrEmailId">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Landmark</label>
                                    <input type="text" class="form-control" id="txtAddrLandmark">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Country</label>
                                    <div class="input-group divCountry_M_ctrl">
                                        <select class="form-control select2" id="ddlCountry" onchange="fetchActiveStates('')">
                                            <option value="0">Select</option>
                                            @foreach (var item in ViewBag.Countrys)
                                            {
                                                <option value="@item.CountryId">@item.Country</option>
                                            }
                                        </select>
                                        @*<span class="input-group-append">
                                                <a href="javascript:void(0)" class="btn btn-info" onclick="openCountryModal('ddlCountry')">+ </a>
                                            </span>*@
                                    </div>
                                    <small class="text-red font-weight-bold errorText" id="divCountry"></small>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" id="p_States_Dropdown">
                                @Html.Partial("PartialStatesDropdown")
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" id="p_Citys_Dropdown">
                                @Html.Partial("PartialCitysDropdown")
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Pincode</label>
                                    <input type="text" class="form-control" id="txtZipcode" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" id="txtAddress" rows="2" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="checkbox icheck-turquoise">
                                        <input type="checkbox" id="chkIsShippingAddressDifferent" onchange="toggleShippingAddress()" />
                                        <label for="chkIsShippingAddressDifferent">Shipping address is different from billing address</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div style="width:100%;display:none" id="divShippingAddress">
                            <div class="row">
                                <h4>
                                    <span>Shipping Address</span>
                                </h4>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" id="txtAddrAltName">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <div class="form-group">
                                        <label> Mobile </label>
                                        <div class="input-group">
                                            @*<span class="input-group-append">
                                                    <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                                                </span>*@
                                            <input type="text" min="0" class="form-control divAddrAltMobileNo_M_ctrl" id="txtAddrAltMobileNo"
                                                   onkeypress="return onlyNumberKey(event)" maxlength="10">
                                        </div>
                                        <small class="text-red font-weight-bold errorText" id="divAddrAltMobileNo_M"></small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <div class="form-group">
                                        <label>Alternate Mobile </label>
                                        <div class="input-group">
                                            @*<span class="input-group-append">
                                                    <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                                                </span>*@
                                            <input type="text" min="0" class="form-control divAddrAltMobileNo2_M_ctrl" id="txtAddrAltMobileNo2"
                                                   onkeypress="return onlyNumberKey(event)" maxlength="10">
                                        </div>
                                        <small class="text-red font-weight-bold errorText" id="divAddrAltMobileNo2_M"></small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" style="display:none">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" id="txtAddrAltEmailId">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Landmark</label>
                                        <input type="text" class="form-control" id="txtAddrAltLandmark">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Country</label>
                                        <div class="input-group divAltCountry_ctrl">
                                            <select class="form-control select2" id="ddlAltCountry" onchange="fetchActiveStates('alt')">
                                                <option value="0">Select</option>
                                                @foreach (var item in ViewBag.Countrys)
                                                {
                                                    <option value="@item.CountryId">@item.Country</option>
                                                }
                                            </select>
                                            @*<span class="input-group-append">
                                                    <a href="javascript:void(0)" class="btn btn-info" onclick="openCountryModal('ddlAltCountry')">+ </a>
                                                </span>*@
                                        </div>
                                        <small class="text-red font-weight-bold errorText" id="divAltCountry_M"></small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" id="p_Alt_States_Dropdown">
                                    @Html.Partial("PartialAltStatesDropdown")
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" id="p_Alt_Citys_Dropdown">
                                    @Html.Partial("PartialAltCitysDropdown")
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Pincode</label>
                                        <input type="text" class="form-control" id="txtAltZipcode" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label> Address</label>
                                        <textarea class="form-control" id="txtAltAddress" rows="2" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertCustomer()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="customerGroupModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Customer Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Customer Group Name <span class="danger">*</span></label>
                            <input type="text" class="form-control divUserGroup_M_ctrl" id="txtUserGroup" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divUserGroup_M"></small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Price Calculation Type</label>
                            <div class="input-group">
                                <select class="form-control" onchange="togglePriceCalculationType()"
                                        id="ddlPriceCalculationType">
                                    <option value="1">Percentage</option>
                                    <option value="2">Selling Price Group</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 divPercentage">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Calculation Percentage <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="<b>Selling price = Selling price Set For the product + Calculation percentage </b> <br/><br/> You can specify percentage as positive to increase and negtive to decrease selling price."></i></label>
                            <input type="number" class="form-control divCalculationPercentage_M_ctrl" id="txtCalculationPercentage" placeholder="" onkeypress="return onlyDecimalKey(event)">
                            <small class="text-red font-weight-bold errorText" id="divCalculationPercentage_M"></small>
                        </div>
                    </div>
                    <div class="col-sm-4 divSellingPriceGroup hidden">
                        <div class="form-group">
                            <label>Selling Price Group</label>
                            <div class="input-group divSellingPriceGroup_M_ctrl">
                                <select class="form-control select2" id="ddlSellingPriceGroup">
                                    <option value="0">Select</option>
                                    @foreach (var item in ViewBag.SellingPriceGroups)
                                    {
                                        <option value="@item.SellingPriceGroupId">@item.SellingPriceGroup</option>
                                    }
                                </select>
                                @*<span class="input-group-append">
                                        <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#roleModal">+ </a>
                                    </span>*@
                            </div>
                            <small class="text-red font-weight-bold errorText" id="divSellingPriceGroup_M"></small>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Description </label>
                            <textarea class="form-control" id="txtDescription" placeholder=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertGroup()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="cityModal">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add City</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label>City Code <i tabindex="0" class="fa fa-info-circle text-info hover-q no-print @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Leave blank to auto generate"></i></label>
                                <input type="text" class="form-control" id="txtCityCode" placeholder="">
                                <small class="text-red font-weight-bold errorText" id="divCityCode_M"></small>
                            </div>
                        </div>*@
                    @*<div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Country <span class="danger">*</span></label>
                                            <div class="input-group">
                                                <select class="form-control select2" id="ddlCityModalCountry" onchange="fetchCityModalActiveStates()">
                                        <option value="0">Select</option>
                                        @foreach (var item in ViewBag.Countrys)
                                        {
                                            <option value="@item.CountryId">@item.Country</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>*@

                    @*<div class="col-sm-6" id="p_CityModalStates_Dropdown">
                            <label>State <span class="danger">*</span></label>
                            <select class="form-control select2" id="ddlCityModalState" >
                            </select>
                        </div>*@
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>City Name <span class="danger">*</span></label>
                            <input type="text" class="form-control divCity_M_ctrl" id="txtCity" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divCity_M"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertCity()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="currencyModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Currency</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Currency <span class="danger">*</span></label>
                            <div class="input-group divCurrency_ctrl">
                                <select class="form-control select2" id="ddlCurrency" onchange="setCurrencyName()">
                                    <option value="0">Select Currency</option>
                                    @foreach (var item in ViewBag.AllCurrencys)
                                    {
                                        <option value="@item.CurrencyId">@item.CurrencyName (@item.CurrencyCode) </option>
                                    }
                                </select>
                            </div>
                            <small class="text-red font-weight-bold errorText" id="divCurrency"></small>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Exchange Rate</label>
                            <div class="input-group">
                                <span class="input-group-append">
                                    <a href="javascript:void(0)" class="btn bg-gray">1 @ViewBag.Currency.CurrencyCode = </a>
                                </span>
                                <input type="number" class="form-control divExchangeRate_ctrl" id="txtExchangeRate" placeholder="Conversion Rate"
                                       onkeypress="return onlyDecimalKey(event)">
                                <span class="input-group-append">
                                    <a href="javascript:void(0)" class="btn bg-gray " id="txtCurrency"> </a>
                                </span>
                            </div>
                            <small class="text-red font-weight-bold errorText" id="divExchangeRate"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertCurrency()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="paymentTermModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Payment Term</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Term Name <span class="danger">*</span></label>
                            <input type="text" class="form-control divPaymentTerm_M_ctrl" id="txtPaymentTerm_M" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divPaymentTerm_M"></small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Days <span class="danger">*</span></label>
                            <input type="text" class="form-control divDays_M_ctrl" id="txtDays_M" placeholder="" onkeypress="return onlyNumberKey(event)">
                            <small class="text-red font-weight-bold errorText" id="divDays_M"></small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertPaymentTerm()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="taxExemptionModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Tax Exemption</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Reason <span class="danger">*</span></label>
                            <input type="text" class="form-control divReason_TaxExemption_ctrl" id="txtReason_TaxExemption" placeholder="">
                            <small class="text-red font-weight-bold errorText" id="divReason_TaxExemption"></small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Description </label>
                            <textarea class="form-control" id="txtDescription_TaxExemption"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6" style="display:none">
                        <div class="form-group">
                            <label>Type </label>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="rdbCustomer" name="customRadio" checked>
                                <label for="rdbCustomer" class="custom-control-label">Customer</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="rdbItem" name="customRadio">
                                <label for="rdbItem" class="custom-control-label">Item</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
                <button type="button" class="btn btn-primary" onclick="insertTaxExemption()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="faqModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FAQs</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="p-0 pl-2 pr-2">
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How do I add and update product categories?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    •	To add a new product PaymentLink, click on the ‘Add New’ button at the top of the screen
                                    •	To update an existing product PaymentLink, click on 'Edit' button beside the name of product PaymentLink you want to change, make your changes and then click the ‘Save’ button at the bottom of the screen.
                                    •	To delete an existing product PaymentLink, tick the box that is to the left of the product PaymentLink you would like to delete and then click the ‘Delete’ button at the top of the list.
                                </div>
                            </div>
                            <div class="card collapsed-card" data-card-widget="collapse" title="Collapse">
                                <div class="card-header" data-card-widget="collapse" title="Collapse">
                                    <h3 class="card-title">How do I make a product PaymentLink inactive?</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    IMS allows you stop an entire product PaymentLink from displaying in your catalogue, by marking it as inactive. This is sometimes better than deleting all those products since all the product information is retained but the products are not shown in the catalogue. To mark a product PaymentLink as inactive, follow these steps:

                                    •	Click on the name of the product PaymentLink that you want to make active.
                                    •	Change the status field from ‘Active’ to ‘Inactive’.
                                    •	Click the ‘Save’ button at the bottom of the page.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/JQuery/Customer/Sales/PaymentLink.js"></script>