@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reference | @ViewBag.PaymentLink.ReferenceNo</title>
    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
        }

        .tableContent img {
            border: 0 !important;
            display: block !important;
            outline: none !important;
        }

        a {
            color: #382F2E;
        }

        p, h1 {
            color: #382F2E;
            margin: 0;
        }

        p {
            text-align: left;
            color: #999999;
            font-size: 14px;
            font-weight: normal;
            line-height: 19px;
        }

        a.link1 {
            color: #382F2E;
        }

        a.link2 {
            font-size: 16px;
            text-decoration: none;
            color: #ffffff;
        }

        h2 {
            text-align: left;
            color: #222222;
            font-size: 19px;
            font-weight: normal;
        }

        div, p, ul, h1 {
            margin: 0;
        }

        .bgBody {
            background: #fdfdfd;
        }

        .bgItem {
            background: #ffffff;
            border: 1px solid #eee;
        }
    </style>
    <script type="colorScheme" class="swatch active">
        {
            "name":"Default",
            "bgBody":"ffffff",
            "link":"382F2E",
            "color":"999999",
            "bgItem":"ffffff",
            "title":"222222"
        }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body paddingwidth="0" paddingheight="0" style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; " offset="0" toppadding="0" leftpadding="0">

    <div class="tab-pane active" role="tabpanel" style="max-width: 80%; margin: auto;">
        <div id="ember735" class="ember-view">
            <div style="font-size: 15px; text-align: center; max-width: 700px; margin: auto;">
                <div style="margin: 2rem 0 2rem 0">
                    <img src="@ViewBag.BusinessSetting.BusinessLogo" style="width:10rem;" />
                </div>
                <div style="padding-bottom: 10px">
                    <strong>Subject: </strong>Payment request - @ViewBag.PaymentLink.ReferenceNo from @ViewBag.BusinessSetting.BusinessName
                </div>
                <div style="box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10196078431372549);border-top: 5px solid #7F5DE6; color: #000; padding-bottom: 30px;">
                    <div style="background-color: #F7F5FF; border: 1px solid #fff;">
                        <div style="max-width: 80%; margin: auto; padding-top: 30px;">
                            <div>
                                <p style="text-align: center; color: #000; font-size: 1.2rem">Dear <strong>@ViewBag.User.Name,</strong></p><br />
                                <p style="text-align: center; color: #000;font-size:1rem">@ViewBag.BusinessSetting.BusinessName is requesting you to make an online payment of:</p>
                            </div>
                            <div style="padding: 10px 20px; color: #7F5DE6; font-size: 32px; font-weight: 800;">
                                @{
                                    if (ViewBag.BusinessSetting.CurrencySymbolPlacement == 1)
                                    {
                                        @ViewBag.BusinessSetting.CurrencySymbol@(String.Format("{0:0.##}", ViewBag.PaymentLink.Amount))
                                    }
                                    else
                                    {
                                        @(String.Format("{0:0.##}", ViewBag.PaymentLink.Amount))@ViewBag.BusinessSetting.CurrencySymbol
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div style="max-width: 80%; margin: auto;">

                        <div style="margin-top: 20px">
                            <p style="color: #777; font-size: 13px;text-align:center">
                                DESCRIPTION
                            </p>
                            <div>@ViewBag.PaymentLink.Notes</div>
                        </div>
                        <div style="padding-top: 50px">
                            @if (ViewBag.PaymentLink.Status == "Generated")
                            {
                                if (ViewBag.OnlinePaymentSetting != null)
                                {
                                    if (ViewBag.OnlinePaymentSetting.OnlinePaymentService == 1)
                                    {
                                        <div id="divPaypal" style="float: right; margin-left: 10px;">
                                            @*<div class="" id="paypal-button-container"></div>*@
                                        </div>
                                    }
                                    else
                                    {
                                        <a id="btnRazorPay" href="javascript:void(0)" onclick="InitPrice(window.location.href.split('=')[1])" style="color: #fff; background-color: #7F5DE6; font-size: 18px;padding: 10px 80px; text-decoration: none; font-weight: 600;">
                                            Pay Now
                                        </a>
                                    }
                                }
                                <p style="color: #777; padding-top: 15px; font-size: 1rem; text-align: center">
                                    Kindly pay before the link expires on
                                    <span style="color: #000; font-weight: 600;">@ViewBag.PaymentLink.LinkExpirationDate.</span>
                                </p>
                            }
                            else if (ViewBag.PaymentLink.Status == "Paid")
                            {
                                <a href="javascript:void(0)" style="color: #fff; background-color: #008000f0; font-size: 18px; padding: 10px 80px; text-decoration: none; font-weight: 600;">
                                    Paid
                                </a>
                            }
                            else if (ViewBag.PaymentLink.Status == "Expired")
                            {
                                <a href="javascript:void(0)" style="color: #fff; background-color: #adadad; font-size: 18px; padding: 10px 80px; text-decoration: none; font-weight: 600;">
                                    Expired
                                </a>
                            }

                        </div><div style="margin-top: 60px;">
                            <div>Regards,</div>
                            <div>@ViewBag.BusinessSetting.BusinessName</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.OnlinePaymentSetting != null)
    {
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script src="https://www.paypal.com/sdk/js?client-id=@(ViewBag.OnlinePaymentSetting.PaypalClientId)&currency=@(ViewBag.OnlinePaymentSetting.PaypalCurrencyCode)"></script>

        <script>
    var PaymentLinkId = 0;
    var OnlinePaymentSettingsId = @Html.Raw(Json.Encode(ViewBag.OnlinePaymentSetting.OnlinePaymentSettingsId));

    $(document).ready(function () {
        if (@Html.Raw(Json.Encode(ViewBag.OnlinePaymentSetting.OnlinePaymentService)) == 1) {

            InititatePaypal(@Html.Raw(Json.Encode(ViewBag.PaymentLink.Amount)));
            $('#btnRazorPay').hide();
    }
    else {
            $('#paypal-button-container').remove();
            $('#btnRazorPay').show();
    }

    function InititatePaypal(PayableCost) {
        $('#paypal-button-container').remove();
        $('#divPaypal').append('<div class="" id="paypal-button-container" ></div>');

        paypal.Buttons({
            style: {
                layout: 'horizontal',
                color: 'blue',
                shape: 'rect',
                label: 'pay',
                size: 'responsive',
                height: 37,
            },
            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: PayableCost
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (orderData) {
                    // Successful capture! For demo purposes:
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    LiveTransactionId = transaction.id;
                    PaymentSuccess(transaction.id, 'Paypal');
                });
            }

        }).render('#paypal-button-container');
    }
    });

    function InitiateRazorPay(item) {
        var options = {
            "key": item.OnlinePaymentSetting.RazorpayKey,
            "amount": item.PaymentLink.Amount * 100,
            "currency": item.OnlinePaymentSetting.RazorpayCurrencyCode,
            "name": item.BusinessSetting.BusinessName,
            //"description": "@@Equitech Softwares",
            //"description": data.Data.Package.Title,
            "image": item.BusinessSetting.BusinessLogo,
            //"order_id": "order_9A33XWu170gUtm", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                PaymentSuccess(response.razorpay_payment_id, 'Razor Pay');
            },
            "prefill": {
                "name": item.User.Name,
                "email": item.User.EmailId,
                "contact": item.User.MobileNo
            },
            "notes": {
                "address": ""
            },
            "theme": {
                "color": "#F37254"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }

    function InitPrice(InvoiceNo) {
        var det = {
            ReferenceId: InvoiceNo
        };
        $("#divLoading").show();
        $.ajax({
            url: '/paymentlink/InitPaymentGateway',
            datatype: "json",
            data: det,
            type: "post",
            success: function (data) {
                if (data.Status == 0) {
                    //if (EnableSound == 'True') {document.getElementById('error').play();}
                    toastr.error(data.Message);
                }
                else {
                    PaymentLinkId = data.Data.PaymentLink.PaymentLinkId;
                    InitiateRazorPay(data.Data);
                }
                $("#divLoading").hide();
            },
            error: function (xhr) {
                $("#divLoading").hide();
            }
        });
    }

    function PaymentSuccess(LiveTransactionId, PaymentGatewayType) {
        var det = {
            PaymentLinkId: PaymentLinkId,
            ReferenceNo: LiveTransactionId,
            PaymentGatewayType: PaymentGatewayType,
            PaymentMethodType: '',
            OnlinePaymentSettingsId: OnlinePaymentSettingsId,
            Type: 'Customer Payment',
            IsActive: true
        };
        $("#divLoading").show();
        $.ajax({
            url: '/PaymentLink/InsertPaymentOnline',
            datatype: "json",
            data: det,
            type: "post",
            success: function (data) {
                if (data.Status == 0) {
                    //if (EnableSound == 'True') {document.getElementById('error').play();}
                    toastr.error(data.Message);
                }
                else {
                    //alert(data.Message);
                    window.location.reload();
                }
                $("#divLoading").hide();
            },
            error: function (xhr) {
                $("#divLoading").hide();
            }
        });
    }
        </script>
    }

</body>
</html>
