<div class="form-group">
    <label>Account Sub Type @*<span class="danger">*</span>*@</label>
    <div class="input-group">
        <select tabindex="2" class="form-control select2" id="ddlAccountSubType">
            @{
                if (ViewBag.AccountSubTypes != null)
                {
                        <option value="0">Select</option>
                    foreach (var item in ViewBag.AccountSubTypes)
                    {
                        if (ViewBag.Account == null)
                        {
                            <option value="@item.AccountSubTypeId">@item.AccountSubType</option>
                        }
                        else if (ViewBag.Account != null)
                        {
                            if (ViewBag.Account.AccountSubTypeId == item.AccountSubTypeId)
                            {
                                <option value="@item.AccountSubTypeId" selected>@item.AccountSubType</option>
                            }
                            else
                            {
                                <option value="@item.AccountSubTypeId">@item.AccountSubType</option>
                            }
                        }
                    }
                }
            }
        </select>
        @*<span class="input-group-append hideButton">
            <a href="javascript:void(0)" class="btn btn-info" onclick="openAccountSubTypeModal()">+ </a>
        </span>*@
    </div>

</div>

