@{
    var count = 1;
    <thead>
        <tr role="row">
            <th>Sln</th>
            <th class="hide noPrint">Action</th>
            <th>Date</th>
            <th>Parent Invoice No</th>
            <th>Invoice No</th>
            <th>Supplier Name</th>
            <th>Supplier Mobile No</th>
            <th>Status</th>
            @*<th>Purchase Status</th>*@
            @*<th>Branch</th>*@
            <th>Total Items</th>
            <th>Total Amount</th>
            @*<th>Paid</th>*@
            <th>Balance</th>
            @*<th>Added By</th>
                <th>Added On</th>
                <th>Last Modified By</th>
                <th>Last Modified On</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.PurchaseReturns)
        {
            <tr>
                <td>@(ViewBag.PageSize * (ViewBag.PageIndex - 1) + count)</td>
                <td class="hide noPrint">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">Action</button>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            @*<a class="dropdown-item" href="/purchase/view" id="View"><i class="fas fa-eye"></i> View purchase</a>*@
                            @if (ViewBag.MenuPermission.IsEdit)
                            {
                                @*if (item.IsDirectReturn == true)
            {
                <a class="dropdown-item" href="/purchase/purchasereturnadd?PurchaseId=@item.PurchaseId" id="Edit"><i class="fas fa-edit"></i> Edit</a>
            }
            else
            {*@
                                if (item.IsCancelled == false)
                                {
                                    <a class="dropdown-item" href="/purchase/purchasereturnedit?PurchaseReturnId=@item.PurchaseReturnId" id="Edit"><i class="fas fa-edit"></i> Edit</a>
                                }

                                //}
                            }
                            <a class="dropdown-item" href="javascript:void(0)" id="" onclick="View(@item.PurchaseReturnId,@item.SupplierPaymentId)"><i class="fas fa-eye"></i> View</a>
                            @if (item.Status != "Draft")
                            {
                                if (ViewBag.SupplierRefundPermission.IsAdd)
                                {
                                    if (item.Status != "Closed")
                                    {
                                        if (item.IsCancelled == false)
                                        {
                                            <a class="dropdown-item" href="javascript:void(0)" id="Pay" onclick="openRefundModal(true,@item.SupplierPaymentId,'Supplier Refund',@item.BranchId)"><i class="fas fa-plus"></i> Add Refund</a>
                                            <a class="dropdown-item" href="javascript:void(0)" id="Pay" onclick="openUnpaidInvoicesModal(@item.SupplierId,@item.SupplierPaymentId)"><i class="fas fa-money-bill"></i> Apply To Invoices</a>
                                        }
                                    }
                                }
                            }
                            @*@if (ViewBag.SupplierRefundPermission.IsAdd)
        {
            if (item.Status != "Paid")
            {
                <a class="dropdown-item" href="javascript:void(0)" id="Pay" onclick="openRefundModal(true,@item.SupplierPaymentId,'Supplier Refund',@item.BranchId)"><i class="fas fa-plus"></i> Add Refund</a>
            }
        }
        @if (ViewBag.SupplierRefundPermission.IsView)
        {
            <a class="dropdown-item" href="javascript:void(0)" id="Pay" onclick="openRefundModal(false,@item.SupplierPaymentId,'Supplier Refund')"><i class="fas fa-money-bill"></i> View Refunds</a>
        }
        <a class="dropdown-item" href="javascript:void(0)" id="Pay" onclick="openUnpaidInvoicesModal(@item.SupplierId,@item.SupplierPaymentId)"><i class="fas fa-money-bill"></i> Apply To Invoices</a>*@
                            @if (ViewBag.MenuPermission.IsDelete)
                            {
                                <a class="dropdown-item" href="javascript:void(0)" id="Edit" onclick="Delete(@item.PurchaseReturnId,@item.SupplierPaymentId)"><i class="fas fa-trash-alt"></i> Delete</a>
                                @*if (item.IsCancelled == false && item.Status != "Draft")
                                {
                                    <a class="dropdown-item" href="javascript:void(0)" id="Edit" onclick="Cancel(@item.PurchaseReturnId,@item.SupplierPaymentId)"><i class="fas fa-trash-alt"></i> Cancel</a>
                                }*@
                            }
                            @if (item.Status != "Draft")
                            {
                                <a class="dropdown-item" href="javascript:void(0)" onclick="openNotificationModal('Purchase Debit Note',@item.PurchaseReturnId)"><i class="fas fa-envelope"></i> Send Notification</a>
                            }

                            @*<a class="dropdown-item" href="/purchase/edit" id="Pay"><i class="fas fa-hourglass"></i> Payment Receive</a>*@

                            <div class="dropdown-divider"></div>
                            @*<a class="dropdown-item" href="javascript:void(0)" id="View" onclick="PrintInvoice('@ViewBag.InvoiceUrl/purchase/PurchaseReturnInvoice?InvoiceId=@item.InvoiceId')"><i class="fas fa-file"></i> Invoice</a>
        <a class="dropdown-item" href="javascript:void(0)" onclick="copyCode('@ViewBag.InvoiceUrl/purchase/PurchaseReturnInvoice?InvoiceId=@item.InvoiceId')" id="Edit"><i class="fas fa-copy"></i> Copy Invoice Url</a>*@
                            <a class="dropdown-item" href="javascript:void(0)" onclick="openInvoiceCopyModal('@ViewBag.InvoiceUrl/purchase/PurchaseReturnInvoice?InvoiceId=@item.InvoiceId','@item.ReferenceNo')" id="Edit"><i class="fas fa-copy"></i> Invoice Url</a>
                            @if (item.Status == "Draft")
                            {
                                if (ViewBag.PurchaseStatusUpdate.IsEdit)
                                {
                                    if (item.IsCancelled == false)
                                    {
                                        <a class="dropdown-item" href="javascript:void(0)" onclick="UpdatePurchaseReturnStatus(@item.PurchaseReturnId)"><i class="fas fa-edit"></i> Mark Purchase Return as Open?</a>
                                    }
                                }
                            }
                        </div>
                    </div>
                </td>

                <td>@item.Date.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
                <td>@item.PurchaseInvoiceNo</td>
                <td>@item.InvoiceNo</td>
                <td>@item.SupplierName</td>
                <td>@item.SupplierMobileNo</td>
                <td>
                    @*@if (item.Status == "Due")
                        {
                            <span class='p-1 bg-warning' style='cursor:pointer'>  @item.Status</span>
                        }
                        else if (item.Status == "Partially Paid")
                        {
                            <span class='p-1 bg-info' style='cursor:pointer'>  @item.Status</span>
                        }
                        else if (item.Status == "Overdue")
                        {
                            <span class='p-1 bg-danger' style='cursor:pointer'>  @item.Status</span>
                        }
                        else
                        {
                            <span class='p-1 bg-success' style='cursor:pointer'>  @item.Status</span>
                        }*@
                    @if (item.IsCancelled == true)
                    {
                        <span class='p-1 bg-dark' style='cursor:pointer'>  Cancelled</span>
                    }
                    else if (item.Status == "Draft")
                    {
                        <span class='p-1 bg-gray' style='cursor:pointer'>  @item.Status</span>
                    }
                    else if (item.Status == "Open")
                    {
                        <span class='p-1 bg-warning' style='cursor:pointer'>  @item.Status</span>
                    }
                    else
                    {
                        <span class='p-1 bg-success' style='cursor:pointer'>  @item.Status</span>
                    }
                </td>
                <td>
                    @item.TotalItems
                    @*@(String.Format("{0:0.##}", item.PaidQuantity))
                        @if (item.FreeQuantity != 0)
                        {
                            <span> + @(String.Format("{0:0.##}", item.FreeQuantity))</span>
                        }*@
                </td>
                @*<td>
                        <span class="p-1 bg-success" style="cursor:pointer">@item.PurchaseReturnType</span>
                    </td>*@
                @*<td>@item.Branch</td>*@
                <td>
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.GrandTotal))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", item.GrandTotal))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>
                @*<td>
                        @{
                            if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                            {
                                @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.Paid))
                            }
                            else
                            {
                                @(String.Format("{0:0.##}", item.Paid))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                            }
                        }
                    </td>*@
                <td>
                    @{
                        if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                        {
                            @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", item.AmountRemaining))
                        }
                        else
                        {
                            @(String.Format("{0:0.##}", item.AmountRemaining))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                        }
                    }
                </td>

                @*<td>@item.AddedByCode</td>
                    <td>@item.AddedOn.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1])</td>
                    <td>@item.ModifiedByCode</td>
                    <td>@(item.ModifiedOn != null ? item.ModifiedOn.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1] + " " + Request.Cookies["BusinessSetting"].Value.Split('&')[1].Split('=')[1]) : "")</td>*@
            </tr>
            count++;
        }
    </tbody>
    <tbody>
        <tr>
            <td class="hide noPrint"></td>
            <td colspan="7" data-title="Total" class="text-right"><b>Total</b></td>
            <td data-title="Due Amount">
                @ViewBag.TotalItems
                @*@(String.Format("{0:0.##}", ViewBag.TotalPaidQuantity))
            @if (ViewBag.TotalFreeQuantity != 0)
            {
                <span> + @(String.Format("{0:0.##}", ViewBag.TotalFreeQuantity))</span>
            }*@
            </td>
            <td data-title="Due Amount">
                @{
                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                    {
                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalGrandTotal))
                    }
                    else
                    {
                        @(String.Format("{0:0.##}", ViewBag.TotalGrandTotal))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                    }
                }
            </td>
            @*<td data-title="Due Amount">
            @{
                if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                {
                    @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalPaid))
                }
                else
                {
                    @(String.Format("{0:0.##}", ViewBag.TotalPaid))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                }
            }
        </td>*@
            <td data-title="Due Amount">
                @{
                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                    {
                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.TotalAmountRemaining))
                    }
                    else
                    {
                        @(String.Format("{0:0.##}", ViewBag.TotalAmountRemaining))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                    }
                }
            </td>
            @*<td colspan="8"></td>*@
        </tr>
    </tbody>
    <tbody class="hide noPrint">
        <tr></tr>
        <tr>
            <td colspan="14">
                <div class="dataTables_info" id="tblUserRole_info_custom" role="status" aria-live="polite">Showing @(ViewBag.PageSize * (ViewBag.PageIndex - 1) + 1) to @(ViewBag.PageSize * ViewBag.CurrentPageIndex) of @ViewBag.TotalCount entries</div>
                @if (ViewBag.PageCount > 1)
                {
                    int j = 0;
                    <div class="dataTables_paginate paging_simple_numbers" id="tblUserRole_paginate_custom" style="float:right">
                        <ul class="pagination">
                            @if (ViewBag.CurrentPageIndex > 1)
                            {
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(1)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                                </li>
                                <li class="paginate_button page-item previous" id="tblUserRole_previous">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex - 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            }
                            @for (int i = ViewBag.CurrentPageIndex; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPageIndex ? "paginate_button page-item active" : "paginate_button page-item")">
                                    <a onclick="fetchList(@i)" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="1" tabindex="0" class="page-link">@(i)</a>
                                </li>
                                if (j == 10)
                                {
                                    i = ViewBag.PageCount + 1;
                                }
                                j++;
                            }
                            @if (ViewBag.CurrentPageIndex < ViewBag.PageCount)
                            {
                                <li class="paginate_button page-item next" id="tblUserRole_next">
                                    <a onclick="fetchList(@(ViewBag.CurrentPageIndex + 1))" href="javascript:void(0)" aria-controls="tblUserRole" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </td>
        </tr>
    </tbody>
}
<script type="text/javascript">
    $('#divAsof').text('Showing Results: (' + @Html.Raw(Json.Encode(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) + " - " + ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))+')');
    $('#divTotalCount').text('Total : '+@Html.Raw(Json.Encode(ViewBag.TotalCount)));
    $('#divActiveCount').text('Active : '+@Html.Raw(Json.Encode(ViewBag.ActiveCount)));
    $('#divInactiveCount').text('In-Active : '+@Html.Raw(Json.Encode(ViewBag.InactiveCount)));
</script>

