
@{
    ViewBag.Title = Request.Cookies["data"].Value.Split('&')[8].Split('=')[1] + " | Supplier Ledger";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Supplier Ledger @(ViewBag.SupplierName != null ? "By "+ViewBag.SupplierName : "")</h1>
                <div class="float-left">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard/index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/reports/index">Reports</a></li>
                        <li class="breadcrumb-item active">Supplier Ledger</li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 noPrint">
                @*<div class="callout callout-info @(Request.Cookies["SystemSetting"].Value.Split('&')[0].Split('=')[1] == "True" ? "":"hidden")">
                        <h5><i class="fas fa-info"></i> Note:</h5>
                        This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                    </div>*@
                <div class="card  card-primary card-outline collapsed-card">
                    <div class="card-header" data-card-widget="collapse" title="Collapse">
                        <h3 class="card-title">Filter</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-plus"></i>
                            </button>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">

                            <div class="col-sm-3 @(ViewBag.Branchs.Count > 1 ? "":"hidden")">
                                <div class="form-group">
                                    <label>Business Location</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlBranch">
                                        <option value="0">All</option>
                                        @foreach (var item in ViewBag.Branchs)
                                        {
                                            <option value="@item.BranchId">@item.Branch</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Date Range:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="txtDateRange" value="@(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) +" - "+ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]))">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right mt-2" onclick="fetchList(1)">Search</button>
                        <button type="submit" class="btn btn-warning float-right mt-2 mr-2" onclick="window.location.reload()">Refresh</button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            Account Summary (@(ViewBag.FromDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) +" - "+ViewBag.ToDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1])))
                        </h3>
                        @if (ViewBag.LedgerDiscountPermission.IsView)
                        {
                            <a class="btn btn-primary float-sm-right" href="javascript:void(0)" id="Pay" onclick="openLedgerDiscountModal(false)"> Ledger Discounts</a>
                        }
                    </div>

                    <div class="card-body">
                        <div class="row invoice-info">
                            <!-- /.col -->
                            <div class="col-sm-6 invoice-col">
                                <strong>Opening Balance: </strong>
                                @{
                                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                                    {
                                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.User.OpeningBalance))
                                    }
                                    else
                                    {
                                        @(String.Format("{0:0.##}", ViewBag.User.OpeningBalance))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                                    }
                                }
                                <br />
                                <strong>Opening Balance Paid: </strong>
                                @{
                                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                                    {
                                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.User.TotalOpeningBalancePaid))
                                    }
                                    else
                                    {
                                        @(String.Format("{0:0.##}", ViewBag.User.TotalOpeningBalancePaid))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                                    }
                                }
                                <br />
                                <strong>Total Sales: </strong>
                                @{
                                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                                    {
                                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.User.TotalSales))
                                    }
                                    else
                                    {
                                        @(String.Format("{0:0.##}", ViewBag.User.TotalSales))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                                    }
                                }
                                <br />
                                <strong>Total Sales Paid: </strong>
                                @{
                                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                                    {
                                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.User.TotalSalesPaid))
                                    }
                                    else
                                    {
                                        @(String.Format("{0:0.##}", ViewBag.User.TotalSalesPaid))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                                    }
                                }
                                <br />
                                <strong>Total Purchase Return: </strong>
                                @{
                                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                                    {
                                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}",  ViewBag.User.TotalPurchaseReturn))
                                    }
                                    else
                                    {
                                        @(String.Format("{0:0.##}", ViewBag.User.TotalPurchaseReturn))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                                    }
                                }
                                <br />
                                <strong>Total Purchase Return Paid: </strong>
                                @{
                                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                                    {
                                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.User.TotalPurchaseReturnPaid))
                                    }
                                    else
                                    {
                                        @(String.Format("{0:0.##}", ViewBag.User.TotalPurchaseReturnPaid))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                                    }
                                }
                                <br />
                                <strong>Advance Balance: </strong>
                                @{
                                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                                    {
                                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.User.AdvanceBalance))
                                    }
                                    else
                                    {
                                        @(String.Format("{0:0.##}", ViewBag.User.AdvanceBalance))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                                    }
                                }
                                <br />
                                <strong>Ledger discount: </strong>
                                @{
                                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                                    {
                                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}", ViewBag.User.LedgerDiscount))
                                    }
                                    else
                                    {
                                        @(String.Format("{0:0.##}", ViewBag.User.LedgerDiscount))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                                    }
                                }
                                <br />
                                <strong>Balance due: </strong>
                                @{
                                    if (Request.Cookies["BusinessSetting"].Value.Split('&')[2].Split('=')[1] == "1")
                                    {
                                        @Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]@(String.Format("{0:0.##}",(ViewBag.User.OpeningBalance + ViewBag.User.TotalPurchase + ViewBag.User.TotalPurchaseReturnPaid) -(ViewBag.User.TotalOpeningBalancePaid + ViewBag.User.TotalPurchaseReturn + ViewBag.User.TotalPurchasePaid+ ViewBag.User.LedgerDiscount + ViewBag.User.AdvanceBalance)))
                                    }
                                    else
                                    {
                                        @(String.Format("{0:0.##}",(ViewBag.User.OpeningBalance + ViewBag.User.TotalPurchase + ViewBag.User.TotalPurchaseReturnPaid) -(ViewBag.User.TotalOpeningBalancePaid + ViewBag.User.TotalPurchaseReturn + ViewBag.User.TotalPurchasePaid+ ViewBag.User.LedgerDiscount + ViewBag.User.AdvanceBalance)))@Request.Cookies["data"].Value.Split('&')[5].Split('=')[1]
                                    }
                                }
                            </div>
                            <!-- /.col -->
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.card-body -->

                </div>
            </div>
            <div class="col-12">
                <!-- /.card -->
                <div class="card  card-primary card-outline">
                    @*<div class="card-header">
                            <h5>
                                <span class="success" id="divTotalCount">
                                    Total : 0
                                </span>
                                |
                                <span class="primary" id="divActiveCount">
                                    Active : 0
                                </span>
                                |
                                <span class="danger" id="divInactiveCount">In-Active : 0</span>
                            </h5>
                        </div>*@
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="tblUserRole_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="dataTables_length noPrint" id="tblUserRole_length">
                                <label>
                                    Show
                                    <select name="tblUserRole_length" aria-controls="tblUserRole" class="custom-select custom-select-sm form-control form-control-sm"
                                            onchange="fetchList(1)" id="txtPageSize">
                                        @{
                                            if (ViewBag.PageSize == 10)
                                            {
                                                <option value="10" selected>10</option>
                                            }
                                            else
                                            {
                                                <option value="10">10</option>
                                            }
                                            if (ViewBag.PageSize == 25)
                                            {
                                                <option value="25" selected>25</option>
                                            }
                                            else
                                            {
                                                <option value="25">25</option>
                                            }
                                            if (ViewBag.PageSize == 50)
                                            {
                                                <option value="50" selected>50</option>
                                            }
                                            else
                                            {
                                                <option value="50">50</option>
                                            }
                                            if (ViewBag.PageSize == 100)
                                            {
                                                <option value="100" selected>100</option>
                                            }
                                            else
                                            {
                                                <option value="100">100</option>
                                            }
                                            if (ViewBag.PageSize == 500)
                                            {
                                                <option value="500" selected>500</option>
                                            }
                                            else
                                            {
                                                <option value="500">500</option>
                                            }
                                        }
                                    </select> entries
                                </label>
                            </div>
                            @if (ViewBag.MenuPermission.IsExport)
                            {
                                <div class="dt-buttons btn-group flex-wrap noPrint">
                                    <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToCsv('@ViewBag.Title')"><span>CSV</span></button>
                                    <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToExcel('@ViewBag.Title')"><span>Excel</span></button>
                                    <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="tblUserRole" type="button" onclick="exportToPdf('@ViewBag.Title')"><span>PDF</span></button>
                                    <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="tblUserRole" type="button" onclick="printDiv('@ViewBag.Title')"><span>Print</span></button>
                                </div>
                            }
                            <div id="tblUserRole_filter" class="dataTables_filter noPrint" style="visibility:hidden"><label>Search:<input type="text" class="form-control form-control-sm" placeholder="" aria-controls="tblUserRole" id="txtSearch" onkeyup="fetchList(1)"></label></div>
                            <div class="row mt-1">

                                <div class="col-sm-12 table-responsive">
                                    <table id="tblData" class="table table-bordered table-striped">
                                        @Html.Partial("PartialSupplierLedger")
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal fade bd-example-modal-lg" id="ledgerDiscountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ledgerDiscountModalLabel">Ledger Discount</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- left column -->
                            <div class="col-md-12">
                                <!-- jquery validation -->
                                <div class="card card-primary card-outline">
                                    <div class="card-body" id="divLedgerDiscounts">
                                        @*@if (ViewBag.OpenDiscountModal == true)
                                        {
                                            @Html.Partial("PartialLedgerDiscounts");
                                        }*@
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!--/.col (left) -->

                        </div>
                        <!-- /.row -->
                    </div><!-- /.container-fluid -->
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary hidden paymentAdd" onclick="insertLedgerDiscount()">Submit</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/JQuery/Reports/SupplierLedger.js"></script>