@{
    if (ViewBag.User != null)
    {
        <div class="modal-header">
            <h4 class="modal-title">Customer Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card card-primary card-outline">
                <!-- form start -->
                <div id="quickForm">
                    <div class="card-body">
                        <div class="card card-outline">
                            <div class="card-body">

                                <div class="row">
                                    <!--<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">-->
                                    <!-- text input -->
                                    <!--<div class="form-group">
                                            <label>Customer Code</label>
                                            <input disabled type="text" class="form-control" id="txtUsername" placeholder="Enter Supplier Code" value="@ViewBag.User.Username">
                                        </div>
                                    </div>-->
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Name </label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.Name</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Mobile </label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.MobileNo</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Email</label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.EmailId</span>
                                            </div>
                                        </div>
                                    </div>

                                    @*</div>
                                        <div class="row">*@
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Alternative Mobile</label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.AltMobileNo</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Business Name </label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.BusinessName</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Date of Birth</label>
                                            <div class="input-group date" id="_DOB" data-target-input="nearest">
                                                <span>@(ViewBag.User.DOB != null?ViewBag.User.DOB.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]):"")</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Joining Date</label>
                                            <div class="input-group date" id="_JoiningDate" data-target-input="nearest">
                                                <span>@(ViewBag.User.JoiningDate!=null ? ViewBag.User.JoiningDate.ToString(Request.Cookies["BusinessSetting"].Value.Split('&')[0].Split('=')[1]) : "")</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <div class="form-group">
                                            <label>Customer Group</label>
                                            <div class="input-group">
                                                @foreach (var item in ViewBag.UserGroups)
                                                {
                                                    if (ViewBag.User.UserGroupId == item.UserGroupId)
                                                    {
                                                        <span>@item.UserGroup</span>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    @if (ViewBag.CurrencyPermission.IsView == true)
                                    {
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                            <div class="form-group">
                                                <label>Currency</label>
                                                <div class="input-group">
                                                    @foreach (var item in ViewBag.Currencys)
                                                    {
                                                        if (ViewBag.User.CurrencyId == item.CurrencyId)
                                                        {
                                                            <span>@item.CurrencyName (@item.CurrencyCode) </span>
                                                        }
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    }
                                    @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 @(ViewBag.Branchs.Count > 1?"":"hidden")">
                                            <div class="form-group">
                                                <label>Business Location </label>
                                                <select class="select2" multiple="multiple" data-placeholder="" style="width: 100%;" id="ddlBranch">
                                                    <option value="0">Select</option>
                                                    @foreach (var item in ViewBag.Branchs)
                                                    {
                                                        <option value="@item.BranchId">@item.Branch</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>*@
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Credit Limit</label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.CreditLimit</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Opening Balance</label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.OpeningBalance</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Payment Term</label>
                                            <div class="input-group">
                                                @{
                                                    foreach (var item in ViewBag.PaymentTerms)
                                                    {
                                                        if (ViewBag.User.PaymentTermId == item.PaymentTermId)
                                                        {
                                                            <span> @item.PaymentTerm</span>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    @if (ViewBag.BusinessSetting.CountryId == 2)
                                    {
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                            <div class="form-group">
                                                <label>GST Treatment </label>
                                                <div class="input-group divGstTreatment_ctrl">
                                                    @if (ViewBag.User.GstTreatment == "Taxable Supply (Registered)")
                                                    {
                                                        <span>Taxable Supply (Registered)</span>
                                                    }
                                                    @if (ViewBag.User.GstTreatment == "Composition Taxable Supply")
                                                    {
                                                        <span>Composition Taxable Supply</span>
                                                    }
                                                    @if (ViewBag.User.GstTreatment == "Taxable Supply to Unregistered Person")
                                                    {
                                                        <span>Taxable Supply to Unregistered Person</span>
                                                    }
                                                    @if (ViewBag.User.GstTreatment == "Taxable Supply to Consumer")
                                                    {
                                                        <span>Taxable Supply to Consumer</span>
                                                    }
                                                    @if (ViewBag.User.GstTreatment == "Export of Goods / Services (Zero-Rated Supply)")
                                                    {
                                                        <span>Export of Goods / Services (Zero-Rated Supply)</span>
                                                    }
                                                    @if (ViewBag.User.GstTreatment == "Supply to SEZ Unit (Zero-Rated Supply)")
                                                    {
                                                        <span>Supply to SEZ Unit (Zero-Rated Supply)</span>
                                                    }
                                                    @if (ViewBag.User.GstTreatment == "Deemed Export")
                                                    {
                                                        <span>Deemed Export</span>
                                                    }
                                                    @if (ViewBag.User.GstTreatment == "Supply by SEZ Developer")
                                                    {
                                                        <span>Supply by SEZ Developer</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" style="display:none">
                                            <div class="form-group">
                                                <label>Business Registration Name </label>
                                                <div class="input-group divBusinessRegistrationName_ctrl">
                                                    @foreach (var item in ViewBag.BusinessRegistrationNames)
                                                    {
                                                        if (ViewBag.User.BusinessRegistrationNameId == item.BusinessRegistrationNameId)
                                                        {
                                                            <span>@item.Name</span>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 divGst"
                                             style="display:@((ViewBag.User.GstTreatment == "Taxable Supply (Registered)"
                                                || ViewBag.User.GstTreatment == "Composition Taxable Supply"
                                                || ViewBag.User.GstTreatment == "Supply to SEZ Unit (Zero-Rated Supply)"
                                                || ViewBag.User.GstTreatment == "Deemed Export"
                                                || ViewBag.User.GstTreatment == "Supply by SEZ Developer") ? "":"none")">
                                            <div class="form-group">
                                                <label class="lblBusinessRegistrationName">@ViewBag.BusinessRegistrationNames[0].Name </label>
                                                <div class="input-group">
                                                    <span>@ViewBag.User.BusinessRegistrationNo</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 divGst"
                                             style="display:@((ViewBag.User.GstTreatment == "Taxable Supply (Registered)"
|| ViewBag.User.GstTreatment == "Composition Taxable Supply"
|| ViewBag.User.GstTreatment == "Supply to SEZ Unit (Zero-Rated Supply)"
|| ViewBag.User.GstTreatment == "Deemed Export"
|| ViewBag.User.GstTreatment == "Supply by SEZ Developer") ? "":"none")">
                                            <div class="form-group">
                                                <label>Business Legal Name</label>
                                                <div class="input-group">
                                                    <span>@ViewBag.User.BusinessLegalName</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 divGst"
                                             style="display:@((ViewBag.User.GstTreatment == "Taxable Supply (Registered)"
|| ViewBag.User.GstTreatment == "Composition Taxable Supply"
|| ViewBag.User.GstTreatment == "Supply to SEZ Unit (Zero-Rated Supply)"
|| ViewBag.User.GstTreatment == "Deemed Export"
|| ViewBag.User.GstTreatment == "Supply by SEZ Developer") ? "":"none")">
                                            <div class="form-group">
                                                <label>Business Trade Name</label>
                                                <div class="input-group">
                                                    <span>@ViewBag.User.BusinessTradeName</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                            <div class="form-group">
                                                <label>PAN</label>
                                                <div class="input-group">
                                                    <span>@ViewBag.User.PanNo</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        if (ViewBag.BusinessRegistrationNames != null && ViewBag.BusinessRegistrationNames.Count > 0)
                                        {
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                                <br>
                                                <div class="form-group">
                                                    <div class="checkbox icheck-turquoise">
                                                        @if (ViewBag.User.IsBusinessRegistered == 1)
                                                        {
                                                            <input disabled type="checkbox" id="chkIsBusinessRegistered" onchange="toggleBusinessRegistered()" checked>
                                                        }
                                                        else
                                                        {
                                                            <input disabled type="checkbox" id="chkIsBusinessRegistered" onchange="toggleBusinessRegistered()">
                                                        }
                                                        <label for="chkIsBusinessRegistered" class="mt-2">
                                                            Is Business Registered?
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            if (ViewBag.BusinessRegistrationNames.Count == 1)
                                            {
                                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" style="display:none">
                                                    <div class="form-group">
                                                        <label>Business Registration Name </label>
                                                        <div class="input-group divBusinessRegistrationName_ctrl">
                                                            @foreach (var item in ViewBag.BusinessRegistrationNames)
                                                            {
                                                                if (ViewBag.User.BusinessRegistrationNameId == item.BusinessRegistrationNameId)
                                                                {
                                                                    <span>@item.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 divBusinessRegistered" style="display:@(ViewBag.User.IsBusinessRegistered == 1 ? "":"none")">
                                                    <div class="form-group">
                                                        <label>@ViewBag.BusinessRegistrationNames[0].Name </label>
                                                        <div class="input-group">
                                                            <span>@ViewBag.User.BusinessRegistrationNo</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 divBusinessRegistered" style="display:@(ViewBag.User.IsBusinessRegistered == 1 ? "":"none")">
                                                    <div class="form-group">
                                                        <label>Business Registration Name </label>
                                                        <div class="input-group divBusinessRegistrationName_ctrl">
                                                            @foreach (var item in ViewBag.BusinessRegistrationNames)
                                                            {
                                                                if (ViewBag.User.BusinessRegistrationNameId == item.BusinessRegistrationNameId)
                                                                {
                                                                    <span>@item.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 divBusinessRegistered" style="display:@(ViewBag.User.IsBusinessRegistered == 1 ? "":"none")">
                                                    <div class="form-group">
                                                        <label class="lblBusinessRegistrationName">@ViewBag.BusinessRegistrationNames[0].Name </label>
                                                        <div class="input-group">
                                                            <span>@ViewBag.User.BusinessRegistrationNo</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                    @if (ViewBag.BusinessSetting.CountryId == 2)
                                    {
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 divPlaceOfSupply" style="display:@(ViewBag.User.GstTreatment == "Export of Goods / Services (Zero-Rated Supply)" ? "none":"")">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Place Of Supply </label>
                                                <div class="input-group divPlaceOfSupply_ctrl">
                                                    @foreach (var item in ViewBag.PlacesOfSupply)
                                                    {
                                                        if (ViewBag.User.PlaceOfSupplyId == item.StateId)
                                                        {
                                                            <span>@item.State</span>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 divTaxPreference"
                                         style="display:@((ViewBag.User.GstTreatment != "Export of Goods / Services (Zero-Rated Supply)") ? "":"none")">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Tax Preference </label>
                                            <div class="input-group">
                                                @foreach (var item in ViewBag.Taxs)
                                                {
                                                    if (item.Tax == "Taxable" || item.Tax == "Non-Taxable")
                                                    {
                                                        if (ViewBag.User.TaxPreferenceId == item.TaxId)
                                                        {
                                                            <span>@item.Tax</span>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 divNonTaxable" style="display: @(ViewBag.User.TaxPreference == "Non-Taxable" ? "" : "none")">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Tax Exemption </label>
                                            <div class="input-group divTaxExemption_ctrl">
                                                @foreach (var item in ViewBag.TaxExemptions)
                                                {
                                                    if (ViewBag.User.TaxExemptionId == item.TaxExemptionId)
                                                    {
                                                        <span>@item.Reason</span>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-outline collapsed-card m-3">
                        <div class="card-header  bg-info" data-card-widget="collapse" title="Expand/Collapse">
                            <h3 class="card-title">More Info</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool">
                                    <i class="fas fa-plus"></i>
                                </button>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h4>
                                    <span>Billing Address</span>
                                </h4>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" style="display:none">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Name</label>
                                        <div class="input-group">
                                            <span>@ViewBag.User.Addresses[0].Name</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" style="display:none">
                                    <div class="form-group">
                                        <label>Mobile </label>
                                        <div class="input-group">
                                            @*<span class="input-group-append">
                        <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                    </span>*@
                                            <span>@ViewBag.User.Addresses[0].MobileNo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" style="display:none">
                                    <div class="form-group">
                                        <label>Alternate Mobile </label>
                                        <div class="input-group">
                                            @*<span class="input-group-append">
                        <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                    </span>*@
                                            <span>@ViewBag.User.Addresses[0].MobileNo2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" style="display:none">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Email</label>
                                        <div class="input-group">
                                            <span>@ViewBag.User.Addresses[0].EmailId</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Landmark</label>
                                        <div class="input-group">
                                            <span>@ViewBag.User.Addresses[0].Landmark</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Country</label>
                                        <div class="input-group">
                                            @foreach (var item in ViewBag.Countrys)
                                            {
                                                if (ViewBag.User.Addresses[0].CountryId == item.CountryId)
                                                {
                                                    <span>@item.Country</span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>State</label>
                                        <div class="input-group">
                                            @foreach (var item in ViewBag.States)
                                            {
                                                if (ViewBag.User.Addresses[0].StateId == item.StateId)
                                                {
                                                    <span>@item.State</span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>City</label>
                                        <div class="input-group">
                                            @foreach (var item in ViewBag.Citys)
                                            {
                                                if (ViewBag.User.Addresses[0].CityId == item.CityId)
                                                {
                                                    <span>@item.City</span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Pincode</label>
                                        <div class="input-group">
                                            <span>@ViewBag.User.Addresses[0].Zipcode</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Address</label>
                                        <div class="input-group">
                                            <span>@ViewBag.User.Addresses[0].Address</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="checkbox icheck-turquoise">
                                            @if (ViewBag.User.IsShippingAddressDifferent == true)
                                            {
                                                <input disabled type="checkbox" id="chkIsShippingAddressDifferent" checked onchange="toggleShippingAddress()" />
                                            }
                                            else
                                            {
                                                <input disabled type="checkbox" id="chkIsShippingAddressDifferent" onchange="toggleShippingAddress()" />
                                            }
                                            <label for="chkIsShippingAddressDifferent">Shipping address is different from billing address</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div style="width:100%;" id="divShippingAddress" class="@(ViewBag.User.IsShippingAddressDifferent == true?"block": "hidden")">
                                <div class="row">
                                    <h4>
                                        <span>Shipping Address</span>
                                    </h4>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Name</label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.Addresses[1].Name</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <div class="form-group">
                                            <label> Mobile </label>
                                            <div class="input-group">
                                                @*<span class="input-group-append">
                        <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                    </span>*@
                                                <span>@ViewBag.User.Addresses[1].MobileNo</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <div class="form-group">
                                            <label>Alternate Mobile </label>
                                            <div class="input-group">
                                                @*<span class="input-group-append">
                        <a href="javascript:void(0)" class="btn bg-gray-light"> @Request.Cookies["data"].Value.Split('&')[6].Split('=')[1] </a>
                    </span>*@
                                                <span>@ViewBag.User.Addresses[1].MobileNo2</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Email</label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.Addresses[1].EmailId</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Landmark</label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.Addresses[1].Landmark</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Country</label>
                                            <div class="input-group">
                                                @foreach (var item in ViewBag.Countrys)
                                                {
                                                    if (ViewBag.User.Addresses[1].CountryId == item.CountryId)
                                                    {
                                                        <span>@item.Country</span>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>State</label>
                                            <div class="input-group">
                                                @foreach (var item in ViewBag.States)
                                                {
                                                    if (ViewBag.User.Addresses[1].StateId == item.StateId)
                                                    {
                                                        <span>@item.State</span>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>City</label>
                                            <div class="input-group">
                                                @foreach (var item in ViewBag.Citys)
                                                {
                                                    if (ViewBag.User.Addresses[1].CityId == item.CityId)
                                                    {
                                                        <span>@item.City</span>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Pincode</label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.Addresses[1].Zipcode</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label> Address</label>
                                            <div class="input-group">
                                                <span>@ViewBag.User.Addresses[1].Address</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    }
}


